@import '/styles/global/guide';
@import '/styles/global/rem.scss';

section.membership_top {
  padding: rem(80) 0;
}

section.membership_alarm {
  padding: rem(80) 0;
  background-color: rgba(241, 241, 241, 0.2);
}

//////////////////

//*------ TOP ------*
.membership_top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(80);
  .membership_left {
    width: 50%;
    display: flex;
    flex-direction: column;

    .membership_title {
      display: flex;
      margin-bottom: rem(20);
      gap: rem(20);

      h1 {
        font-size: rem(42);

        span {
          font-weight: bold;
        }
      }

      .img_wrap {
        width: rem(250);
      }
    }

    .membership_text {
      border-radius: rem(4);
      font-size: rem(20);
    }
  }

  .membership_right {
    width: rem(500);
  }
}

//*------ ALARM ------*

.membership_alarm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .alarm_title {
    font-size: rem(26);
    font-weight: bold;
    border-bottom: rem(1) solid black;

    margin-bottom: rem(40);
  }

  .alarm_text {
    text-align: center;
    margin-bottom: rem(40);
  }
}

@media (max-width: rem(1200)) {
  .membership_top {
    flex-direction: column;

    .membership_left {
      align-items: normal;
      width: rem(570);
    }

    .membership_title_wrap {
      display: flex;
      align-items: normal;
      justify-content: space-between;
      padding: 0 rem(10);

      .img_wrap {
        width: rem(200);
      }
    }
  }
}

@media (max-width: rem(600)) {
  .membership_top {
    .membership_left {
      width: rem(450);

      .membership_title {
        h1 {
          font-size: rem(30);
        }
      }
      .membership_text {
        font-size: rem(15);
      }
    }
  }
}

@media (max-width: rem(480)) {
  .membership_top {
    .membership_left {
      width: rem(350);

      .membership_title {
        h1 {
          font-size: rem(26);
        }
      }
      .membership_text {
        font-size: rem(15);
      }
    }
  }
}
