
$browser-context:16;
@function rem($px, $context: $browser-context){
  @return #{$px / $context}rem;
}




.flex_container {
  margin: rem(50) auto rem(241);
  width: rem(415);
}


.box {
  display: flex;
  justify-content: center;
  margin: rem(47) 0 rem(40);

 
}

.linebox {
  padding: rem(40);
  padding-top: rem(50);
  width: 100%;
  height: rem(183);
  border-color: black;
  border: rem(1) solid black;
  box-sizing: border-box;  

 

  .frontline {
    display: flex;
    width:100%;
    margin-bottom: rem(28);
    &.pwline{
      display: flex;
      justify-content: center;
      width:100%;
      margin: rem(10) 0 rem(5);
    }
    p {
      margin-left: rem(20);
    }
  }
  .secondline {
    display: flex;
    width: 100%;
    &.pwline{
      display: flex;
      justify-content: center;
      width: 100%;
      margin-bottom: rem(5);
    }
    p {
      margin-left: rem(30);
    }
    .image {
      width: rem(32);
      aspect-ratio: 1/1;
    }
  }
}
.btnbox {
  margin-bottom: rem(10);
}


@media (max-width: rem(600)) {

  .flex_container {
    width: 100%;
  }

  .linebox {
    height: auto;

    .frontline {
      display: grid;
      grid-template-columns: 1fr;
      color: #aaa;
      p {
        margin-left: 0;
        color: black;
      }
    }
    .secondline {
      color: #aaa;
      display: grid;
      grid-template-columns: 1fr;
      p {
        margin-left: 0;
        color: black;
      }
    }
  }
}