@import '/styles/global/rem';
@import '/styles/global/guide';


// layout
.form-section{
  border-bottom: rem(1) solid var(--color-line-03);
  padding-bottom: rem(40);
  .create_title{
    @include char(t24);
     padding : rem(5) 0 rem(35);
  }
}

.btn-section{
  margin-top: rem(34);
}

ul{
  .form-row{
    margin-bottom: rem(15);
    
  }
}
// styles
.form-row{
  display: grid;
  grid-template-columns: rem(160) 1fr;
  gap: rem(15);
  &:not(:last-child){
    margin-bottom: rem(15);
  }


  &:nth-last-child(2), &:last-child{
    .form-row-title{
      align-items: flex-start;
      margin-top: rem(10);
    }
  }

  .form-row-title{
    @include char(l18);
    font-weight: 600;
    display: flex;
    align-items: center;
  }

  .form-row-cont{
    font-weight: 500;

    p{
      font-size: 0.75rem;
      color: var(--color-font-medium);
      cursor: default;
      word-break: keep-all;
      font-weight: 400;
    }
  }

  .fileInput{
    font-size: rem(12);
    color: var(--color-font-light)
  }
  select{
    font-size: rem(14);
    max-width: rem(160);
    width: 100%;
    min-width: auto;
    padding: 0 rem(15);
    font-weight: 500;
    height: rem(38);

    &:focus{
      outline: none;
      border: rem(1) solid var(--color-main);
    }
  }
  input{
    border-radius: 0;
    padding: rem(5) rem(15);
    height: rem(38);
    font-size: rem(16);
  }
  textarea{
    border-radius:0;
    min-height: rem(260);
    padding: rem(10) rem(15);
    overflow: scroll;
    font-size: rem(16);
  }
  ::placeholder{
    font-size: rem(14);
    color: var(--color-font-light);
    word-break: keep-all;
  }
}

.input-wrap{
  position: relative;
  line-height: 0;
  &.contents{
    .length-indicator{
      position: absolute;
      bottom: rem(20);
      right: rem(15);
      color: var(--color-font-light);
      pointer-events: none;
      font-weight: 300;
    }
  }
}





.btn-section {
  display: grid;
  column-gap: rem(10);
  justify-content: center;
  grid-template-columns: rem(160) rem(160);
  grid-template-rows: rem(50);
  align-items: center;
  @include char(l16);
  button {
    max-height: rem(50);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: rem(160);
    border-radius: rem(4);
    height: 100% !important;
    box-sizing: border-box;
  }

  button.cancel {
    border: rem(1) solid var(--color-line-03);
    color: var(--color-font-def);
  }

  button.save {
    border: rem(1) solid transparent;
    color: #fff;
    background-color: var(--color-main);
  }
}


@media (max-width: rem(900)) {
  .form-section{
    ul{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: rem(20);
      .form-row{
        &:first-child{
          order: 2;
          > * {
            width: rem(160);
          }
        }
        .form-row-cont{
          select{
            max-width: 100%;
          }
        }
      }
    }

    .form-row{
      grid-template-columns: 1fr;
      .form-row-title{
        margin-top: rem(20);
      }
    }
  }
}

@media (max-width: rem(600)) {
  .form-section{
    border-bottom: 0;
    padding-bottom: 0;
    .create_title{
      display: none;
    }
    .form-row{
      .form-row-cont{
        select{
          padding: 0 rem(10);
          background-position-x: calc(100% - rem(4));
          background-position-y: 50%;
          height: rem(44);
        }
        input{
          padding: rem(5) rem(10);
          height: rem(44);
        }
        .input-wrap{
          textarea{
            padding: rem(10);
          }
          ::placeholder{
            font-size: rem(12);
          }
        }
      }
    }
  }
  .btn-section {
    grid-template-columns: 1fr;
    gap: rem(10);
    margin-bottom: rem(50);
    button{
      height: rem(54) !important;
      width: 100% !important;
      max-width: 100%;

      &:first-child{
        order: 2;
      }
    }
  }
}