@import '/styles/global/rem';
@import '/styles/global/guide';
@import './inquiry[id].module.scss';
// Layout
section.title { padding : rem(5) 0 rem(20) }



.title-section {
  padding-bottom: rem(30);

  .inquiry_title{
    @include char(t24);
     padding : rem(5) 0 rem(20);
  }
}
.item-section {
  margin-bottom: rem(20);
}

.search-section{
  margin: rem(20) 0 rem(40);
  display: flex;
  align-items: center;
  justify-content: flex-end;

  input{
    border-radius: 0;
  }
}

.pagination_box {
  margin-top: rem(20);
}


// styles
.title-section {
  display: grid;
  grid-template-columns: 1fr;
  > * {
    // height: 100% !important;
  }
  ul{
    display: flex;
    justify-content: space-between;

    .desc-box{
      // height: rem(73);

      .subtitle{
        font-size: rem(16);
        line-height: 120%;
        font-weight: 700;
        padding-bottom: rem(5);
      }
      .subtext{
        display: flex;
        gap: rem(10);
        font-size:rem(12); color: #636363;
        span:not(:last-child){padding-right: rem(10);}
      }
    }
    .inquiry-btn{
      height: rem(50);
      border-radius: rem(4);
      width: rem(160);
    }
  }
}
.item-section {
  .table {
    width: 100%;
    font-size: rem(14);
  }

  // 공통 레이아웃
  .tr {
    display: grid;
    grid-template-columns: rem(160) 1fr rem(160);
  }
  .thead > span,
  tbody .tr span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /////////////////////////////////////////////////////////

  .thead {
    background-color: #f1f2f3;
    color: var(--color-font-sub);
    span {
      text-align: center;
      position: relative;
      padding: rem(10.8) 0;
      &:not(:last-child):after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        height: calc(100% - #{rem(10)});
        background-color: var(--color-line-03);
        width: rem(1);
      }
    }
  }

  .tbody {
    background-color: #fff;
    color: #333;
    li.tr {
      position: relative;
      height: rem(120);
      box-sizing: border-box;
      border-bottom: 1px solid var(--color-line-04);
      //&:not(:last-child) {
      //  border-bottom: 1px solid var(--color-line-04);
      //}

      > * {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .status {
        flex-direction: column;
        gap: rem(6);
      }
      .title {
        padding: 0 rem(30);
        overflow: hidden;
        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
        }
      }
      .date {
      }
    }
  }
}

.icon {
  border: rem(1) solid var(--color-main);
  border-radius: rem(20);
  padding: rem(1) rem(10) rem(0);
  font-size: rem(12);
  font-weight: 500;

  &.UNANSWERED {
    color: var(--color-main);
    background-color: #fff;
  }
  &.ANSWERED {
    color: #fff;
    background-color: var(--color-main);
  }

  &.MULTIPLE_ANSWERED {
    color: var(--color-main);
    background-color: #fff;
  }
}


.pagination_box{
  padding-bottom: rem(40);
}




.divider {
  position: relative;
  &:not(:last-child):after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    // height: calc(100% - #{rem(10)});
    height: rem(13);
    background-color: var(--color-line-03);
    width: rem(1);
  }
}


@media (max-width: rem(900)) {
  .title-section {
    ul{
      display: grid;
      grid-template-columns: 1fr;
      .desc-box{
        padding-bottom: rem(30);
      }
      .inquiry-btn{
        width: 100%;
      }
    }
  }
  .item-section {
    .table{
      .thead{
        ul{
          grid-template-columns: 1fr rem(105);
        }
        span{
          &:first-child{
            order: 3;
            &::after{
              display: none;
            }
          }
          &:last-child{
            display: none;
          }
        }
      }

      .tbody{
        ul{
          li.tr{
            display: grid;
            grid-template-columns: 1fr rem(110);
            row-gap: 0;
            .status{
              grid-column: 2 / span 1;
              grid-row: 1 / span 2;
              align-items: flex-end;
              padding-right: rem(20);
            }
            .title{
              grid-column: 1 / span 1;
              grid-row: 1 / span 1;
              justify-content: flex-start;
              align-items: flex-end;
              padding: 0 rem(20);
            }
            >span:last-child{
              padding: 0 rem(20);
              grid-column: 1 / span 1;
              grid-row: 2 / span 1;
              justify-content: flex-start;
              align-items: flex-start;
              font-size: rem(11);
              font-weight: 300;
              color: #A7A7A7;
            }
          }
        }
      }
    }
  }

}


@media (max-width: rem(700)) {
  .title-section {
    ul{
      .desc-box{
        .subtext{
          display: grid;
          grid-template-columns: 1fr;
          row-gap: 0;
          span{
            &::after{
              display: none;
            }
          }
        }
      }
    }
  }
}



@media (max-width: rem(600)) {
  .title-section {
    padding-bottom: rem(30);
  
    .inquiry_title{
      display: none;
    }
    ul{
      padding-top: rem(30);
    }
  }
  .item-section {
    .table{
      .thead{
        ul{
          height: rem(10);
          position: relative;

          &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: rem(1000);
            height: rem(10);
            background-color: #F1F1F4;
          }

          span{
            display: none;
          }
        }
      }

      .tbody{
        ul{
          li.tr{
            grid-template-columns: 1fr rem(100);

            .status{
              padding-right: rem(10);
            }
            .title{
              padding: 0 rem(10);
            }
            >span:last-child{
              padding: 0 rem(10);
            }
          }
        }
      }
    }
  }
}