@import '/styles/global/rem';


// Layout

.title-section {
  margin-top: rem(10);
  margin-bottom: rem(30);
}
.item-section {
  margin-bottom: rem(20);
}

.search-section{
  margin-top: rem(20);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.pagination_box {
  margin-top: rem(20);
}


// styles
.title-section {
  display: flex;
  justify-content: space-between;
  height: rem(50);
  > * {
    height: 100% !important;
  }
  .desc-box{
    .title{font-size: rem(16); font-weight: 600; margin-bottom: rem(4)}
    .subtitle{
      display: flex;
      gap: rem(10);
      font-size:rem(12); color: var(--color-font-sub2);
      span:not(:last-child){padding-right: rem(10);}
    }
  }
  .inquiry-btn{
    height: 100%;
  }

}
.item-section {
  .table {
    width: 100%;
    font-size: rem(14);
  }

  // 공통 레이아웃
  .tr {
    display: grid;
    grid-template-columns: rem(160) 1fr rem(160);
  }
  .thead > span,
  tbody .tr span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /////////////////////////////////////////////////////////

  .thead {
    background-color: #f1f2f3;
    color: var(--color-font-sub);
    span {
      text-align: center;
      position: relative;
      padding: rem(10) 0;
      &:not(:last-child):after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        height: calc(100% - #{rem(10)});
        background-color: var(--color-line-03);
        width: rem(1);
      }
    }
  }

  .tbody {
    background-color: #fff;
    color: #333;
    li.tr {
      position: relative;
      height: rem(120);
      box-sizing: border-box;
      border-bottom: 1px solid var(--color-line-04);
      //&:not(:last-child) {
      //  border-bottom: 1px solid var(--color-line-04);
      //}

      > * {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .status {
        flex-direction: column;
        gap: rem(5);
      }
      .title {
        padding: 0 rem(30);
        overflow: hidden;
        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
        }
      }
      .date {
      }
    }
  }
}

.icon {
  border: rem(1) solid var(--color-main);
  border-radius: rem(20);
  padding: rem(4) rem(10);

  &.UNANSWERED {
    color: var(--color-main);
    background-color: #fff;
  }
  &.ANSWERED {
    color: #fff;
    background-color: var(--color-main);
  }

  &.MULTIPLE_ANSWERED {
    color: var(--color-main);
    background-color: #fff;
  }
}







.divider {
  position: relative;
  &:not(:last-child):after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    height: calc(100% - #{rem(10)});
    background-color: var(--color-line-03);
    width: rem(1);
  }
}