@import '/styles/global/rem';

.contents-wrap {
  padding: rem(120) 0 rem(140);
  .ql-editor {
    padding: 0;

    p {
      cursor: default;
    }
  }
}

@media (max-width: rem(600)) {
  .contents-wrap {
    padding: rem(50) rem(20) rem(140) rem(20);
  }
}
