@import '/styles/global/rem';
@import '/styles/module/zIndex.module';

// 자기 높이만큼 왔다갔다해야한다.

#shop-optionBar {
  position: fixed;
  // width: 100%;
  background-color: #fff;
  border-bottom: rem(1) solid var(--color-main);
  min-height: rem(100);
  // overflow-y: auto;
  top: 0;
  z-index: $shopOptionBar;
}

.product_info {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  // close
  svg {
    width: rem(40);
    height: rem(40);
    margin-right: rem(20);
    fill: var(--color-line-01);
    cursor: pointer;
  }
  .spinner_wrapper {
    display: flex;
    justify-content: center;
    width: rem(80);
    svg {
      fill: var(--color-main) !important;
    }
  }
  .image {
    padding: rem(20) 0;
    display: flex;
    gap: rem(20);

    img {
      aspect-ratio: 1/1;
    }

    .product_info_text {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .product_name {
        font-size: rem(20);
        font-weight: bold;
      }
      .product_original_price {
        font-size: rem(20);
        font-weight: bold;
        color: var(--color-main);
      }
    }
  }
}

// 탭
.tab_container {
  ul {
    display: flex;

    li {
      background-color: grey;
      width: rem(300);
      padding: rem(20);
      color: white;
      text-align: center;
    }
  }
}

.optionBar-visibility-button {
  font-size: rem(16);
  position: absolute;
  top: 60%;
  // top: 0;
  left: -3%;
  color: #fff;
  background-color: var(--color-main);
  padding: rem(5);
  transform: translateX(-50%) translateY(-100%);
  width: 100%;
  border-radius: rem(4);
  max-width: rem(70);
  height: rem(100);
  text-align: left;
  z-index: 0;
  display: flex;
  align-items: center;
  gap: rem(5);
  svg {
    width: rem(30);
    height: rem(30);
  }
}

.container {
  .container_info {
    display: flex;
    justify-content: space-between;
    section {
      padding-right: rem(30);
      width: rem(370);
    }
    .container_select_wrapper {
      border-right: rem(1) solid var(--color-line-03);
      display: flex;
      flex-direction: column;
      gap: rem(20);
      padding-right: rem(20);
      margin-bottom: rem(20);
      width: rem(210);
      .container_select_input {
        display: flex;
        gap: rem(20);
        flex-direction: column;
        .quantity_input_wrapper {
          div {
            max-width: rem(400) !important;
          }
        }
        .title_text {
          font-weight: bold;
          margin: rem(10) 0;
        }
      }
    }
  }

  z-index: 1;
}

.selector {
  width: 100%;
  max-width: rem(640);
  height: rem(38) !important;

  &.disabled_select {
    cursor: not-allowed !important;
    background-color: #ddd;
    color: #9c9c9c;
    border: none !important;
  }

  select {
    width: 100%;
    min-width: initial;
    font-size: rem(16);
    height: rem(38) !important;
    background-position-y: center;
    padding-left: rem(10);
    border: rem(1) solid #909090;
    border-radius: rem(4);
  }
}

.item {
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(10);
  text-align: center;
  box-sizing: border-box;
  padding: rem(7) 0;
  margin-bottom: rem(14);
  // display: grid;
  // grid-template-columns: 1fr rem(120) rem(130) rem(50);
  .title {
    // text-align: left;
    justify-content: flex-start;
    padding-left: rem(20);
    padding-right: rem(20);
  }
  > span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: rem(16);
    color: var(--color-font-def);
  }
  .input-quantity {
    box-sizing: border-box;
  }

  .bottom_price_close {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(10);
    margin-top: rem(12);
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--color-font-def);
    }
  }
}

.price-indicator {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: rem(10);
  margin-bottom: rem(10);
  padding-right: rem(30);
  .title {
    font-size: rem(14);
  }
  .totalPrice {
    font-size: rem(28);
    font-weight: 700;
  }
  .unit {
    font-size: rem(16);
  }
}

.delivery_info {
  .delivery_text {
    color: var(--color-line-02);
    margin-bottom: rem(20);
    padding-right: rem(30);
    font-size: rem(14);
    text-align: right;
  }
}

.shop-btn-section,
.product_info {
  margin: 0 rem(20);
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-content: center;

  &.on-optionBar {
    .grid-box {
      max-width: rem(310);
    }
  }
  .grid-box {
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(10);
  }
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: rem(1) solid var(--color-main);
    height: rem(50);
    box-sizing: border-box;
    border-radius: rem(4);
    font-size: rem(16);
    &.cart {
      color: var(--color-main);
    }
    &.buy {
      background-color: var(--color-main);
      color: #fff;
    }
    &.open_buy {
      background-color: var(--color-main);
      color: #fff;
      width: rem(140);
    }
  }

  .cart-shortcut {
    position: absolute;
    left: 50%;
    top: rem(10);
    transform: translate(-50%, -100%);
    background-color: #fff;
    border: rem(1) solid var(--color-main);
    padding: rem(20) rem(60);
    aspect-ratio: 1.618;
    border-radius: rem(4);
    white-space: nowrap;
    display: inline-flex;
    flex-direction: column;
    gap: rem(10);
    align-content: center;
    justify-content: center;
    min-width: rem(200);
    box-shadow: 0 rem(5) rem(10) 0 rgba(0, 0, 0, 0.15);
    color: var(--color-font-def);
    p {
      font-size: rem(17);
    }

    &.active {
      display: inline-flex;
      align-content: center;
      justify-content: center;
    }
    .close {
      position: absolute;
      right: rem(10);
      top: rem(10);
      width: rem(20);
      height: rem(20);
      border-color: var(--color-line-03);
    }
  }
}

@media (max-width: rem(1200)) {
  .item {
    .title {
      width: rem(200);
    }
  }
}

@media (max-width: rem(600)) {
  .product_info {
    svg {
      margin-right: rem(0);
    }
  }
  .btn-active {
    right: rem(20);
    max-width: rem(160);
  }

  .price-indicator {
    padding: 0 rem(30) 0 0;
    gap: 0;
  }

  .product_info {
    .image {
      img {
        width: rem(60) !important;
      }
    }
  }

  .container {
    .container_info {
      section {
        padding-left: rem(0);
        width: rem(220);
      }
      .container_select_wrapper {
        padding: 0 rem(20);
      }
    }
  }

  .item {
    padding: rem(15);
    grid:
      'title title span'
      'input-quantity price price'/1fr 1fr rem(40);
    row-gap: rem(10);

    .title {
      grid-column: 1 / span 2;
      padding-left: 0;
      padding-right: 0;
    }

    .input-quantity {
      order: 4;
      width: rem(120);
    }

    span:nth-child(3) {
      order: 6;
      grid-column: 2 / span 2;
      justify-content: flex-end;
    }

    span:last-child {
      padding-top: rem(4);
      align-items: flex-start;
      justify-content: flex-end;
      grid-column: 3 / span 1;
      grid-row: 1 / span 1;
    }
  }

  .btn-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: rem(10);

    button {
      width: 100%;
      height: rem(54);
      border: rem(1) solid var(--color-main);
      border-radius: rem(4);
    }

    .cart {
      color: var(--color-main);
      margin-right: 0;
    }

    .buy {
      color: #fff;
      background-color: var(--color-main);
    }
  }

  .right_box {
    width: rem(235) !important;
  }
}
