@import '/styles/global/rem';
@import '/styles/module/zIndex.module';

// 자기 높이만큼 왔다갔다해야한다.

#shop-optionBar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  transition: transform 0.3s var(--transition-cubic);
  transform: translateY(calc(100% - rem(10)));
  border-top: rem(1) solid var(--color-main);
  z-index: $shopOptionBar;
  &.active {
    transform: translateY(0);
  }
}

.optionBar-visibility-button {
  font-size: rem(16);
  position: absolute;
  top: 0;
  left: 50%;
  color: #fff;
  background-color: var(--color-main);
  padding: rem(10);
  transform: translateX(-50%) translateY(-100%);
  width: 100%;
  border-radius: rem(4) rem(4) 0 0;
  max-width: rem(240);
}

.container {
  padding: rem(20) 0 rem(30);
  display: grid;
  gap: rem(20);
  align-items: center;
}

.selector {
  width: 100%;
  max-width: rem(640);
  height: rem(40) !important;

  &.disabled_select {
    cursor: not-allowed !important;
    background-color: #ddd;
    color: #9c9c9c;
    border: none !important;
  }

  select {
    padding-left: rem(10);
    width: 100%;
    min-width: initial;
    font-size: rem(16);
    height: rem(38) !important;
    background-position-y: center;
  }
}

.item {
  background-color: var(--color-bg);
  display: grid;
  box-sizing: border-box;
  padding: rem(7) 0;
  grid-template-columns: 1fr rem(120) rem(130) rem(50);
  .title {
    justify-content: flex-start;
    padding-left: rem(20);
    padding-right: rem(20);
  }
  margin-bottom: rem(2);
  > span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: rem(16);
    color: var(--color-font-def);
  }
  .input-quantity {
    box-sizing: border-box;
  }
}

.price-indicator {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: rem(4);
  .title {
    font-size: rem(14);
  }
  .totalPrice {
    font-size: rem(28);
    font-weight: 700;
  }
  .unit {
    font-size: rem(16);
  }
}

.shop-btn-section {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-content: center;

  &.on-optionBar {
    .grid-box {
      max-width: rem(490);
    }
  }
  .grid-box {
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(10);
  }
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: rem(1) solid var(--color-main);
    height: rem(54);
    box-sizing: border-box;
    border-radius: rem(4);
    font-size: rem(16);
    &.cart {
      color: var(--color-main);
    }
    &.buy {
      background-color: var(--color-main);
      color: #fff;
    }
    &.soldOut {
      color: #fff;
      background-color: black;
      border: none;
      cursor: default;
    }
  }

  .cart-shortcut {
    position: absolute;
    left: 50%;
    top: rem(10);
    transform: translate(-50%, -100%);
    background-color: #fff;
    border: rem(1) solid var(--color-main);
    padding: rem(20) rem(60);
    aspect-ratio: 1.618;
    border-radius: rem(4);
    white-space: nowrap;
    display: inline-flex;
    flex-direction: column;
    gap: rem(10);
    align-content: center;
    justify-content: center;
    min-width: rem(200);
    box-shadow: 0 rem(5) rem(10) 0 rgba(0, 0, 0, 0.15);
    color: var(--color-font-def);
    p {
      font-size: rem(17);
    }

    &.active {
      display: inline-flex;
      align-content: center;
      justify-content: center;
    }
    .close {
      position: absolute;
      right: rem(10);
      top: rem(10);
      width: rem(20);
      height: rem(20);
      border-color: var(--color-line-03);
    }
  }
}

@media (max-width: rem(600)) {
  .btn-active {
    right: rem(20);
    max-width: rem(160);
  }

  .item {
    padding: rem(15);
    grid:
      'title title span'
      'input-quantity price price'/1fr 1fr rem(40);
    row-gap: rem(10);

    .title {
      grid-column: 1 / span 2;
      padding-left: 0;
      padding-right: 0;
    }

    .input-quantity {
      order: 4;
      width: rem(120);
    }

    span:nth-child(3) {
      order: 6;
      grid-column: 2 / span 2;
      justify-content: flex-end;
    }

    span:last-child {
      padding-top: rem(4);
      align-items: flex-start;
      justify-content: flex-end;
      grid-column: 3 / span 1;
      grid-row: 1 / span 1;
    }
  }

  .btn-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: rem(10);

    button {
      width: 100%;
      height: rem(54);
      border: rem(1) solid var(--color-main);
      border-radius: rem(4);
    }

    .cart {
      color: var(--color-main);
      margin-right: 0;
    }

    .buy {
      color: #fff;
      background-color: var(--color-main);
    }
  }
}
