@import '/styles/global/rem';
@import '/styles/global/guide';

section.title {
  padding: rem(5) 0 rem(20);
}
section.coupon_state_section {
  padding: rem(78) 0 rem(50) 0;
}
section.pageline {
  padding: rem(40) 0 0 0;
}

.title {
  @include char(t24);
  text-align: center;
  font-weight: bold;
}

.prev_btn {
  margin: rem(30) 0 0 rem(30);
}

.coupon_code {
  margin: 0 rem(20);
  .coupon_code_row1 {
    @include char(l16);
    line-height: 120%;
    font-weight: 500;
    padding-bottom: rem(10);
    color: var(--color-font-sub);
  }

  .flex_box {
    display: flex;
    width: 100%;

    .input_box {
      width: rem(280);
      border-radius: rem(4);
      padding: rem(13);
      @include char(l15);
      margin-right: rem(5);
    }

    .btn_box {
      .btn {
        width: rem(76);
        height: rem(45);
        background-color: var(--color-main);
        color: #fff;
        border-radius: rem(4);
        padding: rem(15) 0;
        @include char(l15);
        text-align: center;
        cursor: pointer;
      }
    }
  }
}

.coupon_state_flex_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  max-width: rem(235);
  min-width: rem(230);
  @include char(l16);
  position: relative;
  span {
    color: var(--color-main);
    font-weight: 700;
  }
  .line {
    transform: rotate(90deg);
    width: rem(14);
  }
}

.horizon {
  padding: rem(11) 0 rem(20);
  hr {
    border: 0;
    border-top: rem(1) solid var(--color-line-02);
  }
}

.coupon_content_grid_box {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  column-gap: rem(16);
  row-gap: rem(16);

  .grid_box {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr rem(150);
    border: rem(1) solid var(--color-line-04);
    padding: rem(20) rem(25);
    // row-gap: rem(10);
    border-radius: rem(10);
    box-shadow: rem(3) rem(3) rem(8) rgba(0, 0, 0, 0.08);
    word-break: keep-all;
    transition: background-color 0.3s ease, color 0.3s ease;
    user-select: none;

    &.expiredCoupon {
      background-color: #f1f2f3;
      div {
        color: var(--color-disabled);
      }
    }
    &:not(.expiredCoupon):hover,
    &:not(.expiredCoupon):active {
      border: rem(1) solid var(--color-main);
      // .left_top, .right_top, .left_bot, .pointColor {
      //   // color: #fff;
      // }
      // .left_bot{
      //   .inner_flex_box {
      //     .line {
      //       hr {
      //         // border-color: #fff;
      //       }
      //     }
      //   }
      // }
    }

    .left_top {
      @include char(t24);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: rem(40);
      .name {
        font-weight: 500;
        font-size: rem(15);
        line-height: 100%;
      }
      .discount {
        font-weight: 700;
        font-size: rem(38);
        letter-spacing: rem(-1);
        line-height: rem(50);
      }
      .availableMaxDiscount {
        font-weight: 400;
        font-size: rem(13);
        line-height: 100%;
      }
    }
    .right_top {
      font-size: rem(36);
      // line-height: 140%;
      text-align: right;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
    }
  }
  .left_bot {
    display: flex;
    @include char(l15);
    color: var(--color-font-sub);
    align-items: flex-end;
    line-height: 80%;
    // font-weight: 500;

    .left_bot_text {
      display: flex;
      flex-direction: column;
      gap: rem(9);
      font-size: rem(13);
    }
    .inner_flex_box {
      //padding-top: rem(9);
      display: flex;
      align-items: center;
      font-size: rem(13);

      .line {
        padding: 0 rem(2) rem(1);
        hr {
          // color: var(--color-line-02);
          transform: rotate(90deg);
          width: rem(12);
          height: rem(1);
          border: 0;
          border-top: rem(1) solid var(--color-line-02);
          transition: border 0.3s ease;
        }
      }
    }
  }

  .right_bot {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: rem(13);
    > em {
      display: flex;
      align-items: center;
      &:last-child {
        min-width: max-content;
      }
    }
    .line {
      padding: 0 rem(2) rem(1);
      hr {
        // color: var(--color-line-02);
        transform: rotate(90deg);
        width: rem(12);
        height: rem(1);
        border: 0;
        border-top: rem(1) solid var(--color-line-02);
        transition: border 0.3s ease;
      }
    }
    b {
      font-weight: 600;
    }
  }

  button.useCoupon {
    font-size: rem(15);
    color: #fff;
    background-color: #000;
    border-radius: rem(100);
    // width: rem(106);
    height: fit-content;
    padding: rem(6) rem(16);
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover,
    &:active {
      background-color: var(--color-main);
      // color: #000;
      // font-weight: 600;
    }
  }
}

.divider {
  margin: 0 rem(7);
}

.pointColor {
  color: var(--color-main);
}

// @media (max-width: rem(1100)) {
.horizon {
  hr {
    // max-width: rem(560);
    width: 100%;
  }
}
.coupon_content_grid_box {
  grid-template-columns: 1fr;
  max-width: rem(472);
  margin: 0 auto;
}
// }

// @media (max-width: rem(700)) {
.coupon_content_grid_box {
  .grid_box {
    grid-template-columns: 1fr;
    padding: rem(20);
    .left_top {
      font-size: rem(20);
    }

    .right_top {
      font-size: rem(22);
      order: 3;
      button.useCoupon {
        width: 100%;
        height: rem(45);
        border-radius: rem(5);
      }
    }

    .right_bot {
      margin: rem(20) 0;
    }
  }

  .left_bot {
    font-size: rem(14);
  }
}
// }

// @media (max-width: rem(600)) {
section.coupon_state_section {
  padding: rem(50) rem(20) 0 rem(20);
}
section.coupon_code {
  margin-top: rem(30);
}
section.pageline {
  padding: rem(40) 0 rem(80);
}

.title {
  display: none;
}

.coupon_code {
  .flex_box {
    .input_box {
      width: 100%;
      margin-right: rem(5);
    }
  }
}

.coupon_content_grid_box {
  max-width: 100%;
  .grid_box {
    .left_top {
      @include char(t24);
      font-weight: 600;
    }

    .right_top {
      font-size: rem(36);
    }
  }

  .left_bot {
    @include char(l15);
  }
}

.pagination_box {
  padding-top: rem(40);
  padding-bottom: rem(50);
}
// }

@media (max-width: rem(450)) {
  // .coupon_content_grid_box {
  //   .grid_box {
  //     grid-template-columns: 1fr rem(120);
  //     padding: rem(20) rem(20) rem(30) rem(20);

  //     .left_top {
  //       font-size: rem(20);
  //     }

  //     .right_top {
  //       font-size: rem(22);
  //     }
  //   }

  //   .left_bot {
  //     font-size: rem(14);
  //   }
  // }
}
