@import '/styles/global/rem';
$input-height: rem(44);


//
//
///////////// STYLE EXAMPLE /////////
//// EditUserInfoInputList.jsx 파일에서 , className을 삽입 시, 현재 scss파일에 적용됨// .
//.ex1{
//  background-color: red;
//}
//.ex2{
//  border-radius: rem(6);
//  background-color: rgba(0,0,0,0.15);
//  animation: test 3s ease infinite;
//}
//@keyframes test {
//  0%, 100%{background-color:  rgba(0,0,0,0)}
//  50%{background-color:  rgba(0,0,0,0.45)}
//}
///////////// STYLE EXAMPLE /////////




.main {
  max-width: rem(490); //크기를 변경시 무너짐
  margin: rem(50) auto rem(111);

  .title-wrap{
    margin-bottom: rem(57);
    .main-title {
      font-weight: 500;
      text-align: center;
    }
  }
}



.input-section {
  padding-bottom: rem(34);
  border-bottom: rem(1) solid var(--color-line-03)
}

.inp-title {
  position: relative;

  &:after {
    content: '*';
    color: var(--color-main);
    position: absolute;
    right: rem(-8);
    top: 0;
    display: none;
  }

  &.required:after {
    display: block;
  }
}




.join__wrap {

  display: grid;
  grid-template-columns: rem(150) calc(100% - #{rem(150)});
  &.align-items-center{
    align-items: center;
  }
  &:not(:last-child) {
    margin-bottom: rem(20);
  }

  .input-title-wrap {
    cursor: default;
    label {
      display: flex;
      align-items: center;
      height: $input-height;
      font-size: rem(14);
    }
  }

  .input-cont-wrap {
    display: flex;
    align-items: center;
    .input-wrap {
      width: 100%;
      position: relative;


    }

    input:not([type="radio"]) {
      width: 100%;
      height: $input-height;
      padding: rem(8) rem(16);
      &[disabled]{
        background-color: var(--color-bg-02);
        color: var(--color-font-sub2);
        cursor: default;
      }
    }
    ::placeholder {
      font-size: rem(14) !important;
      color: var(--color-font-light);
      font-weight: 300;
    }



    &.add-btn-section {
      display: grid;
      grid-template-columns: 2.3fr 1fr;
      column-gap: rem(10);
      align-items: flex-start;
      button{width: 100%;}
    }

    &.hide-input{
      grid-template-columns: 1fr;
      input{display: none}
    }

    &.active-address{
      row-gap: rem(10);
      input{padding-right: rem(30);}

      > *:nth-child(1){
        grid-column: 1 / 2;
      }
      > *:nth-child(2){
        grid-column: 2 / 3;
      }
      > *:nth-child(3){
        grid-column : 1 / 3;
      }
      > *:nth-child(4){
        grid-column : 1 / 3;
      }
    }

    .btn.bigbtn {
      height: $input-height;
    }
  }
  .gender{
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .checkbox-wrap {
    display: grid;
    grid-template-columns: 1fr;
    
    label {
      left: 50%;
      position: relative;
      transform: translateX(-50%);
      font-size: rem(15);
    }
  }
}





.btn {
  height: 100%;
  max-height: $input-height;
  border: rem(1) solid var(--color-main);
  border-radius: rem(4);
  color: var(--color-main);
  font-size: rem(14);
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
}





.policy-section {
  .title-wrap {
    margin-bottom: 0;
    .main-title{
      text-align: center;
      margin-top: rem(25);
      margin-bottom: rem(34);
      font-size: rem(16);
    }
  }

  .title{
    font-size: rem(15);
    color:var(--color-font-def);
    position: relative;
    top:rem(-1);
  }

  .checkbox-wrap{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: rem(2);
    margin-bottom: rem(13);
    label[for='agree-all']{
      align-items: flex-start;
    }

    &.space-between{
      justify-content: space-between;
    }

    &.select-all {
      .agree-all span{position:relative; top:rem(3);}

      .title{
        font-size: rem(18);
        font-weight: 500;
      }
    }


    .desc-section{
      .title{margin-bottom: rem(5);}
      .desc{font-size:rem(13); color:var(--color-font-medium) }
    }

    &.receive-event{
      display: block;
    }

    .terms__view {
      display: flex;
      align-items: center;
      color: var(--color-main);
      font-size: rem(14);
      svg {
        width: rem(20);
        height: rem(20);
      }
    }

  }
}



.select-channel {
  margin-top: rem(12);
  padding: 0 rem(28);
  .flex-wrap{
    display:flex;
    align-items: center;
    column-gap:rem(80);
  }

  .guidetext {
    margin-top: rem(13);
    left: rem(10);
    color: var(--color-main);
    position: relative;
    font-size: rem(13);
    padding-left:rem(18);
    &.inMypage{
      margin-left:0;
      width: 100%;
    }
    .icon {
      position:absolute;
      width:rem(8);
      height:rem(8);
      border-left: rem(1) solid var(--color-line-02);
      border-bottom: rem(1) solid var(--color-line-02);
      left:0;
      top:rem(6);
      transform:translateY(-50%);
    }
  }
}

.btn-section {
  display: flex;
  justify-content: center;
  margin-top: rem(56);

  .btn.join {
    max-width: rem(240);
    width: 100%;
    height: rem(50);
    background-color: var(--color-main);
    color: white;
    font-weight: bold;
    font-size: rem(15);
  }
}








.msg{
  display: block !important;
  position: relative;
  color: var(--color-main);
  margin-top:rem(8);

  &.loading{
    color: var(--color-checked);
    &:before{
      content: "";
      color: inherit;
    }
  }

  &.siblings{
    margin-top: 0;
  }

  &:not(.loading) {
    padding-left: rem(14);
    &:before{
      content: "✕";
      color: inherit;
      position: absolute;
      left: 0;
    }

  }
  &.valid {
    color: var(--color-checked);
    &:before{
      content:"✓";
    }

  }
}



.addressToolTip{
  position: absolute !important;
  right: rem(10);
  top:50%;
  transform:translateY(-50%);
  border-radius: rem(4);
  color: #fff;
  font-size: rem(13);
  padding: 0;
  animation: show var(--ani-default);
}




@media (max-width: rem(800)) {

  .join__wrap {
    grid-template-columns: 1fr;

    > h4 {
      text-align: center;
      font-size: rem(17);
      font-weight: 700;
    }
    
    .gender{
      > label {
        justify-content: center !important;
      }
    }

    .checkbox-wrap {
      margin: rem(20) auto 0;
    }
  }

}



@media (max-width: rem(600)) {
  
.main {
  margin: rem(35) auto rem(111);

  .title-wrap{
    margin-bottom: rem(20);
  }
}

.policy-section {
  .title-wrap {
    .main-title{
      margin-top: rem(34);
      font-size: rem(19);
      font-weight: 700;
    }
  }
}

  .input-section {
    border-bottom: rem(1) solid var(--color-line-03);
    
    .join__wrap{
      display: grid;
      grid-template-columns: 1fr;

    }
  }
}