
$browser-context:16;
@function rem($px, $context: $browser-context){
  @return #{$px / $context}rem;
}




.flex_container {
  margin: rem(100) auto rem(240);
}


.title{
  font-size: rem(28);
  text-align: center;
  margin-bottom: rem(47);
}


.cont {
  text-align: center;
  font-size: rem(16);
  margin-bottom: rem(60);
  width: 100%;

  p {
    width: 100%;
  }
}

.btn-section{
  max-width: rem(315);
  margin: 0 auto;
  a{
    background-color: var(--color-main);
    height: rem(50);
    color: #fff;
    font-size: rem(16);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: rem(4);
  }

}


.btnbox {
  margin-bottom: rem(10);
}



@media (max-width: rem(600)) {

  .flex_container {
    margin: rem(85) auto rem(240);
  }

  .cont {
    margin-bottom: rem(50);
  }
}