@import '/styles/module/itemList.module';

.cont_viewer {
  .table {
    .table_header,
    .item {
      text-align: center;
      grid-template-columns:
        rem(60)
        rem(90)
        rem(90)
        rem(100)
        rem(240)
        rem(140)
        rem(140)
        rem(140)
        rem(140)
        rem(140)
        rem(90)
        rem(120)
        rem(300)
        rem(140)
        rem(160)
        rem(120)
        rem(120)
        rem(140)
        rem(140)
        rem(120)
        rem(120)
        rem(120)
        rem(120)
        rem(200);
    }
    span {
      justify-content: center !important;
    }
  }
}
