@import '/styles/global/rem';

.empty_box {
  width: 100%;
  text-align: center;
  padding: rem(60) 0;

  span {
    color: #636363;
    font-size: rem(16);
  }

  .button_box_shop,
  .button_box_ai {
    margin-top: rem(20);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .emty_button {
      display: flex;
      justify-content: center;
      align-items: center;

      font-size: rem(16);
      width: rem(218);
      height: rem(42);
      border: rem(1) solid var(--color-main);
      border-radius: rem(4);
      color: var(--color-main);
    }
  }

  .button_box_shop:hover,
  .button_box_ai:hover {
    .emty_button {
      border: rem(1) solid var(--color-main);
      background-color: var(--color-main);
      color: #fff;
      transition: 0.3s all;
    }
  }

  .button_box_shop {
    margin-top: rem(50);
  }
}
