$browser-context:16; // html font-size
@function rem($px, $context: $browser-context){
  @return #{$px / $context}rem;
}
@import '../../../../styles/global/guide';


section.title{ padding : rem(8) 0 rem(17);}


.toggleBox {
  margin-top: rem(20);
  border: rem(1) solid var(--color-line-03);
  padding: rem(16) rem(40);
  border-radius: rem(12);

  &.active .clickTrigger .title i {
    transform: translateY(-50%) rotate(-90deg);
  }
  .clickTrigger {
    padding: rem(16) 0;
    cursor: pointer;
    .title {
      cursor: inherit;
      position: relative;
      font-size: rem(20);
      font-weight: 600;
      width: 100%;
      i {
        position: absolute;
        display: flex;
        right: 0;
        top: 50%;
        transform: translateY(-50%) rotate(90deg);
        
        transition: transform var(--ani-default); 
      }
    }
  }
  .cont {
    padding: rem(27) 0 rem(16);
    border-top: rem(1) solid var(--color-line-04);
  }
}


.title {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: rem(20);
  align-items: center;

  .title_text{
    @include char(t24);
  }

  .flex_box {
    @include char(l15);
    display: flex;
    width: 100%;
    justify-content: right;
    box-sizing: border-box;
    
    
    .text {
      width: rem(350);
      text-align: center;
      background: #F9EDEC;
      border-radius: rem(8);
      padding: rem(11) 0;
      box-sizing: border-box;
      span {
        color: var(--color-main);
        font-weight: 700;
        padding-right: rem(10);
      }

      br {
        display: none;
      }
    }
  
    .btn_box {
      width: rem(100);
      .btn {
        position: relative;
        border: rem(1) solid var(--color-line-03);
        padding: rem(10) 0;
        border-radius: rem(4);
        width: 100%;
        max-width: rem(100);
        box-sizing: border-box;
        text-align: center;
        cursor: pointer;
      }
    }
  } 
}

.content_box {
  .top_flex_box {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: rem(15);
    .top_left_box {
      box-shadow: 0 0 rem(20) rgba(0, 0, 0, 0.08);
      border-radius: rem(12);
      max-width: rem(300);
      box-sizing: border-box;
      padding : rem(37) rem(30);

      @include char(l16);      
      .top_flex_box2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: rem(1) solid var(--color-line-03);
        @include char(b16);

        &:last-child {
          border-bottom: rem(0);
        }

        .left {
          color: var(--color-font-sub);
          font-weight: 500; 
        }
        .right {
          font-weight: 600;
        }

        &.first {
          padding-bottom: rem(12);
          align-self: flex-start ;
        }

        &.second {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: rem(15) 0 rem(12);
          .right {
            text-align: right;
            line-height: rem(19.2);
          }
        }

        &.third {
          padding-top: rem(15);
        }
      }
    }

    .right_box {
      box-shadow: 0 0 rem(20) rgba(0, 0, 0, 0.08);
      border-radius: rem(12);
      display: flex;
      align-items: center;
      justify-content: center;

      .flex_box3 {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: rem(40);
        padding-top: rem(8); 
        @include char(l15);

        .image {
          width: 100%;
          max-width: rem(60);
          aspect-ratio: 1/1;
        }
        
        .row_1 {
          padding: rem(7) 0 rem(8);
        }
        
        .row_2 {
          @include char(l20);
          padding-bottom: rem(10);
        }
        .row_3 {
          display: flex;
          justify-content: center;
          align-items: center;
          height: rem(25);
          
        }

        .inner_left_box {
          width: rem(140);
          display: flex;
          align-items: center;
          flex-direction: column;
          
          
          .row_3 {
            background-color: var(--color-line-04);
            color: var(--color-font-sub);

            width: rem(94);
            border-radius: rem(4);
            padding: 0 rem(10);
          }
        }
        
        .inner_mid_box {
          width: rem(140);
          display: flex;
          align-items: center;
          flex-direction: column;
          text-align: center;

          br {
            display: none;
          }
          
          .row_3 {
            border: rem(1) solid var(--color-main);
            border-radius: rem(4);
            color: var(--color-main);
            width: rem(71);
          }

        }

        .inner_right_box {
          width: rem(140);
          display: flex;
          align-items: center;
          flex-direction: column;

        }
      }
    }
  }
}


.grid_box {
  .image{transition: transform 0.3s ease;}
  &.open{
    .image{transform:rotate(-180deg)}
  }
  .inner_box {
    padding: rem(32) rem(40) rem(16) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .text {
      @include char(l20);
      font-weight: 700;
    }
    .image {
      width: rem(28);
      aspect-ratio: 1/1;
    }
  }
}

.border_box {
  border: rem(1) solid var(--color-line-03);
  border-radius: rem(12);
  box-sizing: border-box;
  margin-top: rem(20);
  padding-bottom: rem(16);

  //슬라이드 내용부분
  .content_box {
    border-top: rem(1) solid var(--color-line-04);
    margin : 0 rem(40) 0;       
    
  }
}





.custom_input_wrapper {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  $transitionValues : 0.15s ease;
  display: block;
  overflow: hidden;
  border-radius: rem(12);
  border: rem(1) solid var(--color-line-04);
  padding: rem(15) rem(25);
  transition: border-color, box-shadow $transitionValues;
  cursor: pointer;
  
  &:hover{
    box-shadow: 0 0 rem(30) rgba(0,0,0,0.1);
  }

  .custom_input_cont{
    // * CONTENTS CSS
    margin-bottom: rem(20);
  }

  .fake_checkbox {
    border-radius: rem(4);
    overflow:hidden;
    display: block;
    width: 100%;
    // height: 100%;
    text-align: center;
    font-size: rem(18);
    padding: rem(13);
    box-sizing: border-box;
    font-weight: 500;
    background-color: var(--color-bg);
    color: #4d4d4d;
    position: relative;
    transition: background-color $transitionValues;
  }

  .icon_checked {
    position: absolute;
    left: rem(15);
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    opacity: 0;
    transition: opacity $transitionValues;
  }

  &.checked{

    border-color: var(--color-main);
     .fake_checkbox{
        background-color: var(--color-main);
        color: #fff;
     }
     .icon_checked{opacity: 1;}
  }

  input{ 
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    line-height: 0;
    opacity: 0;
    text-indent: rem(-9999);
  }
}




//구독 그람수 변경
.content_inner_box {
  padding: 0 0 rem(16);
  
  .flex_box {
    display: flex;
    @include char(l14);
    column-gap: rem(0);
    .content_left_box {
      padding-right: rem(6);
    }
    .content_right_box {
      width: 100%;
      padding-top: rem(3);
      .flex_box {
        display: flex;
        align-items: center;
        .text1 {
          @include char(l18);
          font-weight: 600;
          padding-right: rem(6);
        }
        .text2 {
          font-weight: 600;
          @include char(l16);
          color: var(--color-font-sub);
          padding-top: rem(2);
        }
      }
      
      .text3 {
        @include char(l15);
        padding-top: rem(10);
      }

      .grid_box {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-top: rem(30);
        padding-bottom: rem(43);
        
        span {
          padding-left: rem(16);
          color: var(--color-main);
          @include char(l14);
        }

        row-gap: rem(32);
        column-gap: rem(40);
        .top_text {
          @include char(l15);
          color: var(--color-font-sub);
          padding-bottom: rem(8);
        }

        .bot_1 {
          display: flex;
          align-items: center;
          @include char(l18);
          background-color: var(--color-bg-02);
          padding: rem(14) 0 rem(14) rem(20);
        }
        .bot_2 {
          border: rem(1) solid var(--color-main);
          border-radius: rem(8);
          @include char(l18);
          padding: rem(14) 0;
          text-align: center;
          position: relative;

          .image2 {
            position: absolute;
            right: rem(16);
            width: rem(16);
            aspect-ratio: 1/1;

          }
        }
      }
    
      .red_btn_box {
        width: rem(300);
        padding-bottom: rem(30);
        .red_btn {
          width: 100%;
          max-width: rem(300);
          background-color: var(--color-main);
          border-radius: rem(4);
          color: #fff;
          padding: rem(14) 0;
          text-align: center;
          @include char(l15);
          font-weight: 400;
          cursor: pointer;
        }
      }
    }
    .btn {
      display: flex;
      justify-content: center;

      width: rem(56);
      padding: rem(5) 0;
      
      background: #219F94;
      border-radius: rem(30);
      color: #fff;
      font-weight: 700;
    }
  }

  // B유형 css
  .flex_box.second {
    border-top: rem(1) solid var(--color-line-04);

    .content_left_box {
      margin-top: rem(31);
    }

    .content_right_box {
      margin-top: rem(31);

      .red_btn_box2 {
        width: rem(300);
        padding-top: rem(21);
        padding-left: rem(1);

        .red_btn2 {
          width: 100%;
          max-width: rem(300);
          background-color: #F9EDEC;
          border-radius: rem(4);
          color: var(--color-main);
          padding: rem(14) 0;
          text-align: center;
          @include char(l15);
          font-weight: 400;
          cursor: pointer;
        }
      }
    }
  }
}

// 구독팩수 변경
//라디오 박스 마진 값
.flex_box {
  display: flex;
  column-gap: rem(15);
  //justify-content: center;
}


.plan_box {
  max-width: rem(220);
  box-sizing: border-box;
  width: 100%;
  .img_box {
    display: flex;
    justify-content: center;
    padding-top: rem(4);
    .image {
      width: 100%;
      max-width: rem(80);
      aspect-ratio: 1/1;
    }
  }
  h2 {
    padding-top: rem(10);
    @include char(d28);
    text-align: right;
    font-weight: 500;
    text-align: center;
  }
  p {
    padding: rem(9) 0 rem(13);
    @include char(l16);
    text-align: center;
    letter-spacing: -0.06em;

  }
  .grid_box {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
  
    background-color: #f9f9f9;
    border-top: rem(1) solid var(--color-disabled);
    border-bottom: rem(1) solid var(--color-disabled);

    div {
   
      border-bottom: rem(1) dashed var(--color-line-03);
      padding: rem(12) 0;
      text-align: center;
      &:last-child {
        border-bottom: rem(0);
      }

    }
    .row{
      color: var(--color-font-sub);
    }
    
    * {
      @include char(l16);      

    }
    span {
      font-weight: 700;
    }
    .row_3 {
      @include char(l14);
      span {
        @include char(l16);
      }
    }
  }
  .text1 {
    display: flex;
    justify-content: center;
    align-items: center;
    @include char(t24);
    font-weight: 600;
    color: var(--color-main);

    padding: rem(9) 0 0 0;
    span {
      @include char(l18);
      color: var(--color-font-sub2);
      text-decoration: line-through;

    }
  }
  .text2 {
    @include char(d32);
    text-align: center;
    line-height: 100%;
    padding-top: rem(1);

  }
}
.recipe_btn_box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: rem(40);
 
  .btn {
    width: rem(300);
    @include char(l15);
    padding : rem(15) 0; 
    text-align: center;
    background-color: var(--color-main);
    border-radius: rem(4);
    color : #fff;
    cursor: pointer;
  }
}


//구독 레시피 종류 변경


.notice {
  text-align: center;
  .notice_row_1 {
    @include char(l18);
    padding-bottom: rem(9);
  }
  .notice_row_2 {
    @include char(l16);
    color: var(--color-font-sub);
    padding-bottom: rem(29);
  }
  .notice_row_3 {
    display: flex;
    justify-content: center;
    .color_box {
      width: 80%;
      max-width: rem(560);
      background-color: #F9EDEC;
      border-radius: rem(8);
      padding: 0 rem(19) rem(19);
      .color_box_row_1 {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-main);
        @include char(l18);
        padding: rem(16) 0 rem(13);
        font-weight: 700;
        .picture_box {
          display: flex;
          justify-content: center;
          .image {
            width: rem(20);
            aspect-ratio: 1/1;
          }
        }
      }

      .color_box_row_2 {
        @include char(b16);
        color: var(--color-font-sub);
      }
    }
  }
}


.flex_box2{
  margin-top: rem(30);
  display: flex;
  grid-gap: rem(10);
  // max-width: rem(200) ;
  .recipe_choice_box {
    // max-width: rem(200) ;
    .img_box {
      .image {
        width: 100% ;
        max-width: rem(170);
        aspect-ratio: 0.91/1;
      }
    }
  }
  .row_1 {
    padding-top: rem(9);
    @include char(l18);
    font-weight: 500;
    font-family: var(--font-Gmarket-bold);

  }
  .row_2 {
    padding-top: rem(7);
    @include char(l18);
    font-weight: 500;
    font-family: var(--font-Gmarket-bold);
  }
  .row_3 {
    padding-top: rem(10);
    @include char(l16);
    line-height: 120%;
  }
  .row_4 {
    padding-top: rem(15);
    @include char(l15);
    color: var(--color-main);
    font-weight: 600;
    text-decoration-line: underline;
  }

}




// 구독건너뛰기 css
.content_inner_box4 {
  text-align: center;
  .text {
    padding-bottom : rem(30);
    @include char(l18);
    line-height: 140%;
  }
  .radio_box {
    display: flex;
    justify-content: center;
    column-gap: rem(60);
    padding-bottom: rem(45);
    
    @include char(l16);
    font-weight: 600;
    label {
      display: flex;
      align-items: center;
      column-gap: rem(10);

      &:nth-child(2) {
        color : var(--color-font-sub);
      }
    }
  }
  .d_day_text {
    display: flex;
    align-items: center;
    justify-content: center;
    @include char(l18);
    padding-bottom: rem(10);
    >span {
      @include char(t28);
      color: var(--color-font-sub);
      padding: 0 rem(10);
    }
  }
  .d_day_text2 {
    display: flex;
    align-items: center;
    justify-content: center;
    @include char(l18);
    >span {
      @include char(t28);
      color: var(--color-main);
      padding: 0 rem(10);
    }
  }

  .picture_box {
    padding-top: rem(24);
    .image {
      width: 100%;
      max-width: rem(520);
      aspect-ratio: 1.3/1;
    }
  }

  .btn_box {
    display: flex;
    justify-content: center;
    padding-top: rem(23);
    
    .btn {
      width: 100%;
      max-width: rem(300);
      background-color: var(--color-main);
      border-radius: rem(4);
      color: #fff;

      @include char(l15);
      padding: rem(14) 0;
      cursor: pointer;
    }
  }
}




// 구독취소
.content_inner_box5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .title_text {
    padding: rem(40) 0 rem(27);
    @include char(l20);
    font-weight :500;
  }
  .text {
    padding-bottom: rem(60);
    @include char(b16);
    text-align: center;
    line-height: rem(22.4);
    color: var(--color-font-sub);
  }

  .check_box{
    width: 50%;
    position: relative;

    .chk__box {
      margin-bottom: rem(25);
      display: flex;
      cursor: pointer;
      height: 100%;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      padding-bottom: rem(1);
      .sub {
        place-items: center;
        @include char(l15);
        color: var(--color-font-sub);
        padding-left: rem(10);
        line-height: 130%;
      };
    } /* 기본 체크박스 숨기기 */ 
    .chk__box input[type='checkbox'] {
      display: none;
      
    } /* 선택되지 않은 체크박스 스타일 꾸미기 */ 
    .chk__box .on {
      width: rem(20);
      height: rem(20);
      background: #ddd;
      position: relative;
      display: flex;
      top: 0;
      left: 0;
    } /* 선택된 체크박스 스타일 꾸미기 */ 
    .chk__box input[type="checkbox"]:checked + .on {
      background:var(--color-main);
    } 
    .on:after { 
      content: "";
      width: rem(6);
      height: rem(10);
      border: solid #fff;
      border-width: 0 rem(2) rem(2) 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      left: rem(6);
      top: rem(2);
    } 
    .chk__box input[type="checkbox"]:checked + .on:after {
      display: flex;
    } 
    .on:after {
      width: rem(6);
      height: rem(10);
      border: solid #fff;
      border-width: 0 rem(2) rem(2) 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      left: rem(6);
      top: rem(2);
    }

    .input_bg{
      width: 100%;
    }
    
    .input_box {
      border: rem(1) solid var(--color-line-03);
      color: var(--color-font-sub2);
      width: rem(300);
      padding: rem(13) 0 rem(13) rem(20);
      border-radius: rem(5);
    }
  }

  .btn {
    width: 100%;
    max-width: rem(300);
    border: rem(1) solid var(--color-line-03);
    text-align: center;
    @include char(l15);
    padding: rem(14) 0;
    margin-top : rem(80);
    border-radius: rem(5);
    cursor: pointer;
  }
}


.add_page {
  width: 100%;
  // min-width: ;
  max-width: rem(640);
  .page_box {
    display: grid;
    grid-template :
    "header" 
    "main1"
    "main2"
    "footer"
    / 1fr;
    row-gap: rem(20);
    padding: rem(30) rem(40) rem(30);

    div.title {
      padding-bottom:rem(2) ;
      @include char(l20);
      font-weight: 600;
    }

    div.grid_box {
      display: grid;
      grid-template:
      "header"
      "main"
      / 1fr;

      .row_flex {
        font-weight: 600;
        display: grid;
        grid-template-columns: 1fr rem(100) rem(100) rem(100);
    
        justify-content: space-between;
        padding: rem(15) 0;
        text-align: center;

        border-top : rem(1) solid var(--color-line-01);
        border-bottom : rem(1) solid var(--color-line-01);

        @include char(l15);
        div {
          padding: rem(3) 0;
          &:nth-child(1){
            width: 50%;
            text-align: start;
            padding-left: rem(20);
          }
        }
      }

      .row_flex2 {
        font-weight: 600;
        display: grid;
        grid-template-columns: 1fr rem(100) rem(100) rem(100);
    
        justify-content: space-between;
        padding: rem(15) 0;
        text-align: center;
        align-items: center;

        border-bottom : rem(1) solid var(--color-line-03);
        @include char(l15);

        div {
          padding: rem(3) 0;
          &:nth-child(1){
            display: flex;
            padding-left: rem(5);
            text-align: start;
            
            label {
              display: flex;
              margin-right: rem(10);

              div {
                padding-left: rem(10);
              }
            }
          }

          span{
            display: none;
          }

          &:nth-child(4){
            color: var(--color-main);
          }
        }
      }
    }

    .price {
      padding-top: rem(10);
      .price_flex_box {
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        padding: 0 rem(20);

        p {
          @include char(l15);
          font-weight: 400;
          padding-bottom: rem(10);
        }
        .text_price {
          @include char(l18);
          font-weight: 500;
        }
        .col_3 {
          font-weight: 700;
          span {
            padding-left: rem(18) ;
            color: var(--color-main);
            @include char(l20);
            font-weight: 600;
          }
        }
        .line {
          border: rem(1) solid color var(--color-line-04);
          width: rem(16);
        }
        .vertical_line {
          border: rem(1) solid color var(--color-line-04);
          width: rem(40);
          transform: rotate(90deg);
        }
      }
    }

    .coupon_btn_box {
      display: flex;
      @include char(l15);
      column-gap: rem(10);
      justify-content: center;
      text-align: center;
      padding-top: rem(40);

      .btn {
        width: rem(120);
        min-width: rem(60);
        max-width: rem(120);
        border: rem(1) solid var(--color-line-03);
        border-radius: rem(4);
        padding: rem(14) 0;
        cursor: pointer;
      }
      .red_btn {
        width: rem(120);
        min-width: rem(60);
        max-width: rem(120);
        border: rem(1) solid var(--color-main);
        border-radius: rem(4);
        color: #fff;
        background-color: var(--color-main);;
        padding: rem(14) 0;
        cursor: pointer;
      }
    }
  }
}


.add_page2 {
  width: rem(420);

  background-color: rosybrown;
  .page_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: rem(20);
    
    .text{
      @include char(l16);
      padding : rem(80) 0 rem(69);
    }

    .red_btn {
      width: rem(120);
      min-width: rem(60);
      max-width: rem(120);
      border: rem(1) solid var(--color-main);
      border-radius: rem(4);
      color: #fff;
      background-color: var(--color-main);;
      padding: rem(14) 0;
      text-align: center;
      cursor: pointer;
    }
  }
}

@media (max-width: rem(1200)) {

  .content_box {
    .top_flex_box {
      
      .top_left_box {
        .top_flex_box2 {
          display: grid;
          grid-template-columns: 1fr;
          .right {
            text-align: right;
          }

          &.second {
            display: grid;
            grid-template-columns: 1fr;
          }
        }
      }

      .right_box {
        .flex_box3 {
          column-gap: rem(20);
        }
      }
    }
  }

  .content_inner_box {
    .flex_box {
      .content_right_box {
        .grid_box {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }

  .flex_box2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    .recipe_choice_box {
      margin-top: rem(20);
    }
  }

}


@media (max-width: rem(1000)) {

  .title {
    .flex_box {
      .btn_box {
        display: none;
      }
    }
  }
  .custom_input_wrapper {
    padding: rem(15) rem(15);
  }

  .flex_box {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: rem(10);
    position: relative;

    .plan_box {
      max-width: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      position: relative;

      li:first-child{
        transform: translateY(rem(40));

        h2{
         padding-top: 0;
        }
      }
     
      li:nth-child(2){
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
        em{
          color: var(--color-main);
        }
      }

      li:nth-child(3){
        order: 2;
        transform: translateY(rem(60));
      }

      li:last-child{
        order:3;

        .text1{
          font-size: rem(18);
          line-height: rem(26);
          
          span{
            font-size: rem(16);
          }
        }
        .text2{
          font-size: rem(24);
        }
      }
    }
  }

  .flex_box2{
    grid-template-columns: 1fr;
  }
}


@media (max-width: rem(900)) {

  .toggleBox {
    padding: rem(16) rem(30);
  }

  .title {
    grid-template-columns: 1fr;
    grid-gap: rem(10);

    .flex_box {

      .text {
        width: 100%;
      }
    }
  }

  .content_box {
    .top_flex_box {
      grid-template-columns: 1fr;
      grid-row-gap: rem(20);
      .top_left_box {
        order: 2;
        max-width: 100%;
      }
      
      .right_box {
        padding: rem(20) rem(10);

        .flex_box3 {
          column-gap: rem(10);
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          width: 100%;

          .inner_mid_box{
            text-align: center;
          }

          .inner_left_box, .inner_mid_box, .inner_right_box {
            width: auto;
            .row_2 {
              font-size: rem(16);
            }
          }
        }
      }
    }
  }

  
  .content_inner_box {
      .flex_box {
        display: grid;
        grid-template-columns: 1fr;

        .content_right_box {
          padding-top: 0;
          margin-top: rem(-10);

          .grid_box {
            grid-template-columns: 1fr;

            .bot_1 {
              display: block;
              text-align: center;
            }
          }
  
          .red_btn_box {
            width: 100%;
            .red_btn {
              max-width: 100%;
            }
          }

          .flex_box {
            display: grid;
            grid-template-columns: 1fr;

            .text1 {
              transform: translate(rem(65), rem(-10));
            }
          }
          
          .text3 {
            padding-top: rem(12);
          }
        }
      }


    .flex_box.second {
      .content_right_box {
        margin-top: rem(-10);
        .red_btn_box2 {
          width: 100%;
  
          .red_btn2 {
            max-width: 100%;
          }
        }
      }
    }
  }





  .add_page {
    .page_box {
      padding: rem(30) rem(20) rem(30);

      div.grid_box {
        .row_flex {
          display: none;
        }
  
        .row_flex2 {
          grid-template-columns: rem(150) rem(40) 1fr;
          border: rem(1) solid var(--color-line-03);
          border-radius: rem(5);
          padding: rem(10) rem(15) rem(10) rem(5);
          margin-bottom: rem(10);
  
          div {
            &:nth-child(1){
              
              label{
                transform: translateY(rem(10));
                
              }
            }
            
            span{
              display: inline-block;
            }
  
            &:nth-child(2){
              text-align: left;
            }

            &:nth-child(3){
              order: 4;
              color: var(--color-font-sub2);
              font-weight: normal;
            }
  
            &:nth-child(4){
              text-align: right;
              transform: translateY(50%);
            }
          }
        }
      }
  
      .price {
        .price_flex_box {
          display: grid;
          grid-template-columns: 1fr;
          padding: 0;
  
          .col_1, .col_2, .col_3 {
            display: flex;
            justify-content: space-between;
          }

          .line {
            display: none;
          }

          .vertical_line {
            width: 100%;
            transform: rotate(0deg);
            margin: rem(10) 0;
          }
        }
      }
    }
  }

  .content_inner_box4 {
    .radio_box {
      column-gap: rem(30);
    }
    .d_day_text {
      font-size: rem(16);
      >span {
        font-size: rem(20);
        padding: 0 rem(5);
      }
    }
    .d_day_text2 {
      font-size: rem(16);
      >span {
        font-size: rem(20);
        padding: 0 rem(5);
      }
    }
  }
  .content_inner_box5 {
    .check_box{
      width: 100%;
    }

    .input_bg{
      width: 100%;
    }
    
    .input_box {
      width: 100%;
    }
  }

  


}




@media (max-width: rem(600)) {
  .title_text{
    text-align: center;
  }

  .toggleBox {
    padding: rem(8) rem(20);
  }
  .add_page2 {
    width: 100%;
  }

}


@media (max-width: rem(400)) {

  .title {
    .flex_box {
      .text {
        line-height: rem(20);

        br {
          display: block;
        }
      }
    }
  }

}