@import '/styles/global/rem';
@import '/styles/global/guide';
// @import './responsive_subscribe.module';
@import './subscrbieDashboard.module';
@import './subscrbieGram.module';
@import './subscrbiePlan.module';
@import './subscrbieRecipe.module';
@import './subscrbieSkipPayment.module';
@import './subscrbieCancle.module';

section.title {
  padding: rem(8) 0 0;
  display: flex;
  justify-content: center;
}

section.title_delivery_skip {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(20);
  font-size: rem(22);
  margin-bottom: rem(30);
  .title_text {
    font-weight: bold;
  }
  .title_benefit_info {
    font-size: rem(18);
    text-align: center;
    span {
      color: #be1a21;
    }
  }
}

section.title_delivery_skip_content {
  padding-bottom: rem(150);
}

.prev_btn {
  margin: rem(30) 0 0 rem(30);
}

.toggleBox {
  margin: rem(20) rem(50) 0 rem(50);
  border: rem(1) solid var(--color-line-04);
  padding: rem(16) rem(40);
  border-radius: rem(12);
  box-shadow: 0 rem(6) rem(20) rgb(0 0 0 / 5%);

  &.active .clickTrigger .title i {
    transform: translateY(-50%) rotate(-90deg);
  }
  &.disable {
    background-color: #e2e2e2;
    color: #9b9b9b;
  }
  .clickTrigger {
    padding: rem(16) 0;
    cursor: pointer;
    text-align: left;
    width: 100%;
    .title {
      cursor: inherit;
      position: relative;
      font-size: rem(20);
      font-weight: 600;
      width: 100%;
      i {
        position: absolute;
        display: flex;
        right: 0;
        top: 50%;
        transform: translateY(-50%) rotate(90deg);

        transition: transform var(--ani-default);
      }
    }
    &.disable {
      cursor: default;
    }
  }

  .cont {
    padding: rem(27) 0 rem(16);
    border-top: rem(1) solid var(--color-line-04);
    display: none;
  }
}

.title {
  // display: grid;
  // grid-gap: rem(20);
  // grid-template-columns: 1fr rem(100);
  align-items: flex-start;

  .title_text {
    display: flex;
    align-items: center;
    gap: rem(4);
    @include char(t24);
  }

  .flex_box {
    @include char(l15);
    display: flex;
    width: 100%;
    justify-content: flex-start;
    box-sizing: border-box;

    .title_text {
      @include char(t24);
      padding-right: rem(20);
    }

    .text {
      width: rem(335);
      text-align: center;
      background: #f9edec;
      border-radius: rem(8);
      padding: rem(11) 0;
      box-sizing: border-box;
      span {
        color: var(--color-main);
        font-weight: 700;
        padding-right: rem(10);
      }

      br {
        display: none;
      }
    }
  }

  .btn_box {
    width: rem(100);
    .btn {
      position: relative;
      border: rem(1) solid var(--color-line-03);
      padding: rem(10) 0;
      border-radius: rem(4);
      width: 100%;
      max-width: rem(100);
      box-sizing: border-box;
      text-align: center;
      cursor: pointer;
    }
  }
}

.content_inner_box {
}

.btn-box {
}
.info_text {
  color: #eee;
}

// @media (max-width: rem(900)) {
.toggleBox {
  padding: rem(16) rem(30);
}

.title {
  grid-template-columns: 1fr;
  grid-gap: rem(10);

  .flex_box {
    flex-direction: column;

    .title_text {
      text-align: center;
    }

    .text {
      width: 100%;
    }
  }
}
// }

// @media (max-width: rem(600)) {
.title_text {
  text-align: center;
}

.toggleBox {
  padding: rem(8) rem(20);

  &:last-child {
    margin-bottom: rem(150);
  }
}
//.add_page2 {
//  width: 100%;
//}
// }

// @media (max-width: rem(400)) {
.title {
  .flex_box {
    .text {
      line-height: rem(20);

      br {
        display: block;
      }
    }
  }
}
// }

//*** 플랜 선택 ***
.plan_select_price {
  display: flex;
  padding: rem(20) rem(10) 0 rem(10);
  margin-top: rem(20);
  border-top: rem(1) solid #c6c6c6;
  justify-content: space-between;
}

.plan_container {
  .plan_title {
    font-size: rem(23);
    padding-bottom: rem(20);
    text-align: center;

    span {
      background-color: rgba(255, 228, 157, 1);
    }
    .plan_title_info {
      font-size: rem(18);
      font-weight: normal;
      color: #4f4f4f;
    }
  }

  .plan_list {
    display: flex;
    flex-direction: column;
    width: rem(460);

    label {
      border: rem(1) solid #858585;
      margin: rem(12);
      height: rem(41 * 1.4);
      border-radius: rem(50);
      padding: 0;
    }
    ul {
      flex-direction: row;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .plan_grid_2 {
        width: 100%;
        display: flex;
        gap: rem(4);

        margin-right: rem(16);
        font-size: rem(18);
      }
      li {
        border: none;
        font-weight: normal;
        font-size: rem(16);
        padding: 0;

        h2 {
          font-size: rem(20);
          width: rem(156);
          padding: 0 rem(16) 0 rem(26);
          justify-content: space-between;
          border-right: rem(1) solid #858585;
          font-weight: bold;
          display: flex;
          align-items: center;
        }
      }
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: rem(10);
    width: 100%;
    justify-content: center;
    li {
      border: rem(1) solid #858585;
      height: rem(41 * 1.3);
      padding: rem(10);
      display: flex;
      justify-content: center;
      align-items: center;
      border: rem(1) solid #858585;
      border-radius: rem(30);

      // background-color: #ffe0e1;
      // border: rem(1) solid #af3d3d;
      .plan_name {
        font-size: rem(22);
        width: rem(180);
        border-right: rem(1) solid #858585;
      }

      .plan_info {
        font-size: rem(16);
        font-weight: normal;
        width: rem(260);
      }
    }
  }

  .pack_box {
    padding: rem(60) rem(20);
    display: flex;
    flex-direction: column;
    gap: rem(30);

    .one_pack_row {
      display: flex;
      gap: rem(30);
      margin-right: rem(16);

      .one_pack_text {
        font-size: rem(20);
        font-weight: normal;
        display: flex;
        flex-direction: column;
        line-height: 1.1;
        justify-content: center;
        width: rem(120);
        align-items: flex-end;
      }

      .maximum_discount_text {
        font-size: rem(20);
        display: flex;
        line-height: 1.1;
        justify-content: center;
        align-items: center;
        gap: rem(10);
      }

      .recipe_single_wrapper {
        .recipe_text {
          width: rem(280);
        }
      }

      .recipe_double_wrapper {
        display: flex;
        gap: rem(20);
        .recipe_text {
          width: rem(130);
          line-height: 1.1;
          padding-bottom: rem(10);
        }
      }

      .recipe_text {
        border-bottom: rem(1) solid #4d4d4d;
        padding-bottom: rem(10);
      }

      .tinyText {
        font-weight: normal;
        font-size: rem(16);
      }

      .recipe_text_single {
        border-bottom: rem(1) solid #4d4d4d;
        width: rem(280);
        padding: 0 rem(30) rem(6) rem(30);

        .recipe_name {
          font-weight: normal;
          font-size: rem(16);
        }
      }

      .recipe_text_double {
        border-bottom: rem(1) solid #4d4d4d;
        width: rem(120);
        padding-bottom: rem(6);

        .recipe_name {
          font-weight: normal;
          font-size: rem(16);
        }
      }
    }

    .discount_price_row {
      display: flex;
      margin: 0 rem(16);
      gap: rem(40);

      .one_pack_text {
        font-size: rem(20);
        display: flex;
        width: rem(100);
        align-items: flex-end;
      }
      .recipe_text_single {
        border-bottom: rem(1) solid #4d4d4d;
        width: rem(280);
        padding-bottom: rem(6);
      }
    }
  }
}

.skip_list_wrapper {
  display: flex;
  justify-content: center;
  gap: rem(30);
  margin-top: rem(20);

  .skip_box {
    border: rem(1) solid #d4d4d4;
    border-radius: rem(10);
    padding: rem(10) rem(20);
    cursor: pointer;

    h4 {
      padding: rem(10) rem(30);
      border-bottom: rem(1) solid #d4d4d4;
      font-weight: bold;
      font-size: rem(20);
    }

    .skip_content {
      padding: rem(20);
      display: flex;
      flex-direction: column;
      gap: rem(10);
    }
  }

  // 미루기 클릭 시
  .active {
    border-color: #be1a21;
    color: #be1a21;
    box-shadow: 0 rem(4) rem(16) 0 rgba(0, 0, 0, 0.1);
    background-color: #ffe0e1;

    h4 {
      border-color: #be1a21 !important;
    }
  }
}

.benefit_box {
  border: rem(1) solid #e2e2e2;
  border-radius: rem(10);
  box-shadow: 0 0 rem(3) rgba(0, 0, 0, 0.1);
  padding: rem(30);
  width: rem(400);
  margin: 0 auto rem(50) auto;

  button {
    border: rem(1) solid #be1a21;
    color: #be1a21;
    border-radius: rem(4);
    // color: #fff;
    padding: rem(2) rem(5);
    font-size: rem(14);
    margin: rem(8);
  }
}

.no_package {
  color: #be1a21;
  font-weight: bold;
  margin-bottom: rem(140);
}

.calendar_label {
  // font-weight: bold;
  margin: rem(50) 0 rem(10) 0;
  font-size: rem(20);
}

@media (max-width: rem(600)) {
  .skip_list_wrapper {
    gap: rem(20);

    .skip_box {
      h4 {
        padding: rem(10);
      }
    }
  }

  .plan_container {
    .plan_title {
      font-size: rem(23);
      padding-bottom: rem(20);
      text-align: center;

      .plan_title_info {
        font-size: rem(18);
      }
    }

    .plan_list {
      display: flex;
      flex-direction: column;
      width: rem(250);

      label {
        border: rem(1) solid #858585;
        margin: rem(10);
        height: rem(41 * 2.3);
        border-radius: rem(10);
        padding: 0;
      }
      ul {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .plan_grid_2 {
          width: 100%;
          display: flex;
          gap: rem(4);
          font-size: rem(15);
          margin: 0;
          height: rem(10);
        }
        li {
          border: none;
          font-weight: normal;
          font-size: rem(16);
          padding: 0;

          h2 {
            font-size: rem(20);
            width: rem(156);
            padding: 0 rem(16) 0 rem(26);
            justify-content: space-between;
            border-right: none;
            display: flex;
            align-items: center;
          }
        }
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: rem(10);
      width: 100%;
      justify-content: center;
      li {
        border: rem(1) solid #858585;
        height: rem(41 * 1.3);
        padding: rem(10);
        display: flex;
        justify-content: center;
        align-items: center;
        border: rem(1) solid #858585;
        border-radius: rem(30);

        .plan_name {
          font-size: rem(22);
          width: rem(180);
          border-right: rem(1) solid #858585;
        }

        .plan_info {
          font-size: rem(16);
          font-weight: normal;
          width: rem(260);
        }
      }
    }
  }
}
