@import '/styles/global/rem';
@import '/styles/global/guide';




@media (max-width: rem(1200)) {
  .content_box {
    .top_flex_box {
      .right_box {
        .flex_box3 {
          column-gap: rem(20);
        }
      }
    }
  }

  .content_inner_box {
    .subscribePlan {
      .content_right_box {
        .grid_box {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }

  .flex_box2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .recipe_choice_box {
      margin-top: rem(20);
    }
  }
}

@media (max-width: rem(1000)) {
  .title {
    .btn_box {
      display: none;
    }
  }
  .custom_input_wrapper {
    padding: rem(15) rem(15);
  }

  .flex_box {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: rem(10);
    position: relative;

    .plan_box {
      max-width: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      position: relative;

      li:first-child {
        transform: translateY(rem(40));

        h2 {
          padding-top: 0;
        }
      }

      li:nth-child(2) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
        em {
          color: var(--color-main);
        }
      }

      li:nth-child(3) {
        order: 2;
        transform: translateY(rem(60));
      }

      li:last-child {
        order: 3;

        .text1 {
          font-size: rem(18);
          line-height: rem(26);

          span {
            font-size: rem(16);
          }
        }
        .text2 {
          font-size: rem(24);
        }
      }
    }
  }

  .flex_box2 {
    grid-template-columns: 1fr;
  }

  .content_box {
    .top_flex_box {
      grid-template-columns: 1fr;
      grid-row-gap: rem(20);
      .top_left_box {
        order: 2;
        max-width: 100%;
      }

      .right_box {
        padding: rem(20) rem(10);

        .flex_box3 {
          column-gap: 0;
          grid-column-gap: 0;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          width: 100%;

          .inner_mid_box {
            text-align: center;
          }

          .inner_left_box,
          .inner_mid_box,
          .inner_right_box {
            width: auto;
            .row_2 {
              font-size: rem(16);
            }
          }
        }
      }
    }
  }
}

@media (max-width: rem(900)) {
  .toggleBox {
    padding: rem(16) rem(30);
  }

  .title {
    grid-template-columns: 1fr;
    grid-gap: rem(10);

    .flex_box {
      flex-direction: column;

      .title_text{
        text-align: center;
      }

      .text {
        width: 100%;
      }
    }
  }

  .content_inner_box {
    .flex_box {
      display: grid;
      grid-template-columns: 1fr;

      .content_right_box {
        padding-top: 0;
        margin-top: rem(-10);

        .grid_box {
          grid-template-columns: 1fr;

          .bot_1 {
            display: block;
            text-align: center;
          }
        }

        .red_btn_box {
          width: 100%;
          .red_btn {
            max-width: 100%;
          }
        }

        .flex_box {
          display: grid;
          grid-template-columns: 1fr;

          .text1 {
            transform: translate(rem(65), rem(-10));
          }
        }

        .text3 {
          padding-top: rem(12);
        }
      }
    }

    .flex_box.second {
      .content_right_box {
        margin-top: rem(-10);
        .red_btn_box2 {
          width: 100%;

          .red_btn2 {
            max-width: 100%;
          }
        }
      }
    }
  }


  .add_page {
    .page_box {
      padding: rem(30) rem(20) rem(30);

      div.grid_box {
        .row_flex {
          display: none;
        }

        .row_flex2 {
          grid-template-columns: rem(150) rem(40) 1fr;
          border: rem(1) solid var(--color-line-03);
          border-radius: rem(5);
          padding: rem(10) rem(15) rem(10) rem(5);
          margin-bottom: rem(10);

          div {
            &:nth-child(1) {
              label {
                transform: translateY(rem(10));
              }
            }

            span {
              display: inline-block;
            }

            &:nth-child(2) {
              text-align: left;
            }

            &:nth-child(3) {
              order: 4;
              color: var(--color-font-sub2);
              font-weight: normal;
            }

            &:nth-child(4) {
              text-align: right;
              transform: translateY(50%);
            }
          }
        }
      }

      .price {
        .price_flex_box {
          display: grid;
          grid-template-columns: 1fr;
          padding: 0;

          .col_1,
          .col_2,
          .col_3 {
            display: flex;
            justify-content: space-between;
          }

          .line {
            display: none;
          }

          .vertical_line {
            width: 100%;
            transform: rotate(0deg);
            margin: rem(10) 0;
          }
        }
      }
    }
  }

  .content_inner_box4 {
    .radio_box {
      column-gap: rem(30);
    }
    .d_day_text {
      font-size: rem(16);
      > span {
        font-size: rem(20);
        padding: 0 rem(5);
      }
    }
    .d_day_text2 {
      font-size: rem(16);
      > span {
        font-size: rem(20);
        padding: 0 rem(5);
      }
    }
  }
  .content_inner_box5 {
    .check_box {
      width: 100%;
    }

    .input_bg {
      width: 100%;
    }

    .input_box {
      width: 100%;
    }
  }
}

@media (max-width: rem(600)) {
  .title_text {
    text-align: center;
  }

  .toggleBox {
    padding: rem(8) rem(20);

    &:last-child {
      margin-bottom: rem(100);
    }
  }
  //.add_page2 {
  //  width: 100%;
  //}
}

@media (max-width: rem(400)) {
  .title {
    .flex_box {
      .text {
        line-height: rem(20);

        br {
          display: block;
        }
      }
    }
  }
}