@import '/styles/global/rem';
@import '/styles/global/guide';



//구독 그람수 변경
.content_inner_box {
  padding: 0 0 rem(16);
  // CSS 코드 추가 (220808 월)
  .selectBox {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    .customSelect {
      border: rem(1) solid var(--color-main);
      border-radius: rem(8);
      width: 100% !important;
      box-sizing: border-box;
      height: rem(50);
      //max-width: rem(180);
      input {
        border-bottom: 0;
        background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
        background-repeat: no-repeat;
        background-position-x: calc(100% - 8px);
        background-position-y: center;
        &:focus{
          border:0 !important;
        }
      }
      em {
        pointer-events: none;
        right: calc(50% - #{rem(12)});
        transform: translate(100%, -50%);
      }
    }
  }

  .flex_box {
    display: flex;
    @include char(l14);
    column-gap: rem(0);
    .content_left_box {
      padding-right: rem(6);
    }
    .content_right_box {
      width: 100%;
      padding-top: rem(3);
      .flex_box {
        display: flex;
        align-items: center;
        .text1 {
          @include char(l18);
          font-weight: 600;
          padding-right: rem(6);
        }
        .text2 {
          font-weight: 600;
          @include char(l16);
          color: var(--color-font-sub);
          padding-top: rem(2);
        }
      }

      .text3 {
        @include char(l15);
        padding-top: rem(10);
      }

      .grid_box {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-top: rem(30);
        padding-bottom: rem(43);

        span {
          padding-left: rem(16);
          color: var(--color-main);
          @include char(l14);
        }

        row-gap: rem(32);
        column-gap: rem(40);
        .top_text {
          @include char(l15);
          color: var(--color-font-sub);
          padding-bottom: rem(8);
        }

        .bot_1 {
          cursor:default;
          display: flex;
          align-items: center;
          @include char(l18);
          background-color: var(--color-bg-02);
          padding: rem(14) 0 rem(14) rem(20);
          border-radius: rem(8);
        }
        .bot_2 {
          border: rem(1) solid var(--color-main);
          border-radius: rem(8);
          @include char(l18);
          padding: rem(14) 0;
          text-align: center;
          position: relative;

          .image2 {
            position: absolute;
            right: rem(16);
            width: rem(16);
            aspect-ratio: 1/1;
          }
        }
      }

      .red_btn_box {
        width: rem(300);
        padding-bottom: rem(30);
        .red_btn {
          width: 100%;
          max-width: rem(300);
          background-color: var(--color-main);
          border-radius: rem(4);
          color: #fff;
          padding: rem(14) 0;
          text-align: center;
          @include char(l15);
          font-weight: 400;
          cursor: pointer;
        }
      }
    }
    .btn {
      display: flex;
      justify-content: center;

      width: rem(56);
      padding: rem(5) 0;
      background: #219F94;
      border-radius: rem(30);
      color: #fff;
      font-weight: 700;
    }
  }

  // B유형 css
  .flex_box.second {
    border-top: rem(1) solid var(--color-line-04);

    .content_left_box {
      margin-top: rem(31);
    }

    .content_right_box {
      margin-top: rem(31);

      .red_btn_box2 {
        width: rem(300);
        padding-top: rem(21);
        padding-left: rem(1);

        .red_btn2 {
          width: 100%;
          max-width: rem(300);
          background-color: #F9EDEC;
          border-radius: rem(4);
          color: var(--color-main);
          padding: rem(14) 0;
          text-align: center;
          @include char(l15);
          font-weight: 400;
          cursor: pointer;
        }
      }
    }
  }
}


@media (max-width: rem(1200)) {

  .content_inner_box {
    .flex_box {
      .content_right_box {
        .grid_box {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}

@media (max-width: rem(900)) {
  .content_inner_box {
    .flex_box {
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 0;
      .content_right_box {
        padding-top: 0;
        margin-top: rem(-10);

        .grid_box {
          grid-template-columns: 1fr;

          .bot_1 {
            display: block;
            text-align: center;
          }
        }

        .red_btn_box {
          width: 100%;
          .red_btn {
            max-width: 100%;
          }
        }

        .flex_box {
          display: grid;
          grid-template-columns: 1fr;

          .text1 {
            transform: translate(rem(65), rem(-10));
          }
        }

        .text3 {
          padding-top: rem(12);
        }
      }
    }

    .flex_box.second {
      .content_right_box {
        margin-top: rem(-10);
        .red_btn_box2 {
          width: 100%;

          .red_btn2 {
            max-width: 100%;
          }
        }
      }
    }
  }
}
