@import '/styles/global/guide';
$browser-context:16; // html font-size
@function rem($px, $context: $browser-context){
  @return #{$px / $context}rem;
}


section.title{ padding : rem(8) 0 rem(19);}
section.pagination_box{ padding: rem(80) 0 0}


.title {
  @include char(t24);
}




.content {
  @include char(l16);
  border-bottom: rem(1) solid var(--color-line-03);
    &:last-child {
      border-bottom: rem(0);
    }

  .flex_box {
    *:not(button, a){cursor: default}
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: rem(30) 0;
    width: 100%;

    &:hover .col_1 .image .dogName{
      opacity: 1;
    }

    .text2 {
      color: var(--color-font-sub);
    }
    .text3{
      padding-top: rem(10);
    }

    .col_1 {
      display: flex;
      max-width: rem(440);
      align-items: center;
      padding-left : rem(20);

      .image {
        width: 100%;
        max-width: rem(80);
        aspect-ratio: 1/1;
        border-radius:50%;
        background-color: var(--color-bg-ghostWhite);
        .dogName{
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,0.6);
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          opacity: 0;
          transition: opacity .2s var(--transition-cubic);
        }
      }
      .text {
        display: inline-flex;
        align-items: flex-start;
        flex-direction: column;
        padding-left: rem(30);

        .red_box_text{
          display: inline-flex;
          background-color : var(--color-main);
          text-align: center;
          color: #fff;
          //width: rem(94);
          min-width: rem(94);
          box-sizing: border-box;
          border-radius: rem(4);
          padding: rem(5) rem(10) rem(5);
          @include char(l15);
          font-weight: 600;
          margin-bottom: rem(9);
        }

        > p {
          font-weight: 500;
          padding-bottom: rem(10);
        }
      }
    }

    .grid{
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr rem(120);

      .col_2 {
        text-align: center;
        display: flex;
        flex-direction: column;
      }
      .col_3 {
        text-align: center;
        display: flex;
        flex-direction: column;
      }
      .col_4 {
        .btn {
          width: rem(120);
          background-color: #fff;
          color: var(--color-main);
          border: rem(1) solid var(--color-main);
          text-align: center;
          @include char(l15);
          padding: rem(14) 0;
          border-radius: rem(4);
        }
      }
    }
  }
}


@media (max-width: rem(900)) {

  .content {
    .flex_box {
      grid-template-columns: 1fr;

      .col_1{
        padding-left: 0;

        .text{
          padding-left: rem(20);
        }
      }

      .grid{
        margin-top: rem(20);
        grid-template-columns: 1fr 1fr;
        grid-row-gap: rem(15);
        position: relative;
        
        &::after{
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) translateY(rem(-28));
          width: rem(1);
          height: rem(40);
          background-color: #dddddd;
        }

        .col_2, .col_3 {
          background-color: #f1f1f4;
          padding: rem(10) 0;
        }
        
        .col_4 {
          .btn {
            width: 200%;
          }
        }
      }
    }
  }
}

@media (max-width: rem(600)) {
  section.content:last-child{ padding : 0 0 rem(100);}
  section.pagination_box{ padding: rem(50) 0}
  

  .title{
    display: none;
  }

  .content {
    .flex_box {
      .col_1{
        .image {
          max-width: rem(60);
        }
        
        .text{
          padding-left: rem(15);
        }
      }
    }
  }

}