@import '/styles/global/rem';
@import '/styles/global/guide';

// 구독취소
.content_inner_box5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .title_text {
    padding: rem(40) 0 rem(27);
    @include char(l20);
    font-weight: 500;
  }
  .text {
    padding-bottom: rem(60);
    @include char(b16);
    text-align: center;
    line-height: rem(22.4);
    color: var(--color-font-sub);
  }

  .checkbox-container {
    width: 100%;
    max-width: rem(300);
    margin-bottom: rem(80);
    display: flex;
    flex-direction: column;
    gap: rem(17);
    li {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
    }
    .checkbox {
      font-size: rem(17);
    }
    input {
      margin-top: rem(10);
      height: rem(44);
      width: 100%;
      padding: 0 rem(20);
      font-size: rem(16);
      &::placeholder {
        font-size: rem(14);
        color: var(--color-disabled);
      }
    }
  }

  .btn {
    width: 100%;
    max-width: rem(300);
    text-align: center;
    @include char(l15);
    padding: rem(14) 0;
    border-radius: rem(5);
    cursor: pointer;
    background-color: var(--color-main);
    color: #fff;
  }
}

// @media (max-width: rem(900)) {
.content_inner_box5 {
  .check_box {
    width: 100%;
  }

  .input_bg {
    width: 100%;
  }

  .input_box {
    width: 100%;
  }
}
// }
