@import '/styles/global/rem';
@import '/styles/global/guide';

//  SUBSCRIBE DASHBOARD
.content_box {
  .top_flex_box {
    .top_left_box {
      box-shadow: 0 0 rem(20) rgba(0, 0, 0, 0.08);
      border-radius: rem(12);
      box-sizing: border-box;
      padding: rem(30);
      margin: rem(50);

      h3 {
        font-weight: bold;
        font-size: rem(20);
        text-decoration: underline;
        text-align: center;
        margin-bottom: rem(18);
      }

      @include char(l16);
      .top_flex_box2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: rem(1) solid var(--color-line-03);
        @include char(b16);

        &:last-child {
          border-bottom: rem(0);
        }

        .left {
          color: var(--color-font-sub);
          font-weight: 500;
          word-break: keep-all;
          margin-right: rem(10);
        }
        .right {
          font-weight: 600;
          display: flex;
          > * {
            text-align: right;
          }
        }

        &.first {
          padding-bottom: rem(12);
          align-self: flex-start;
        }

        &.second {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: rem(15) 0 rem(12);
          .right {
            text-align: right;
            line-height: rem(19.2);
          }
        }

        &.third {
          padding-top: rem(15);
        }
      }
    }

    .right_box {
      box-shadow: 0 0 rem(20) rgba(0, 0, 0, 0.08);
      border-radius: rem(12);
      display: flex;
      align-items: center;
      justify-content: center;

      .flex_box3 {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        column-gap: rem(40);
        padding-top: rem(8);
        @include char(l15);

        .image {
          width: 100%;
          max-width: rem(60);
          aspect-ratio: 1/1;
        }

        .row_1 {
          padding: rem(7) 0 rem(8);
        }

        .row_2 {
          @include char(l20);
          padding-bottom: rem(10);
        }
        .row_3 {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: rem(4);
          span {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--color-line-04);
            color: var(--color-font-sub);
            width: rem(100);
            height: rem(25);
            border-radius: rem(4);
          }
        }

        .inner_left_box {
          width: rem(140);
          display: flex;
          align-items: center;
          flex-direction: column;

          .row_3 {
            cursor: default;
          }
        }

        .inner_mid_box {
          width: rem(140);
          display: flex;
          align-items: center;
          flex-direction: column;
          text-align: center;

          br {
            display: none;
          }
        }

        .inner_right_box {
          width: rem(140);
          display: flex;
          align-items: center;
          flex-direction: column;
        }
      }
    }
  }
  .coupon-btn {
    box-sizing: border-box;
    height: rem(25);
    border: rem(1) solid var(--color-main);
    border-radius: rem(4);
    color: var(--color-main);
    font-size: rem(15);
    width: rem(71);
  }
}

.grid_box {
  .image {
    transition: transform 0.3s ease;
  }
  &.open {
    .image {
      transform: rotate(-180deg);
    }
  }
  .inner_box {
    padding: rem(32) rem(40) rem(16);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .text {
      @include char(l20);
      font-weight: 700;
    }
    .image {
      width: rem(28);
      aspect-ratio: 1/1;
    }
  }
}

.border_box {
  border: rem(1) solid var(--color-line-03);
  border-radius: rem(12);
  box-sizing: border-box;
  margin-top: rem(20);
  padding-bottom: rem(16);

  //슬라이드 내용부분
  .content_box {
    border-top: rem(1) solid var(--color-line-04);
    margin: 0 rem(40) 0;
  }
}

.custom_input_wrapper {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  $transitionValues: 0.15s ease;
  display: block;
  overflow: hidden;
  border-radius: rem(12);
  border: rem(1) solid var(--color-line-04);
  padding: rem(15) rem(25);
  transition: border-color, box-shadow $transitionValues;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 rem(30) rgba(0, 0, 0, 0.1);
  }

  .custom_input_cont {
    // * CONTENTS CSS
    margin-bottom: rem(20);
  }

  .fake_checkbox {
    border-radius: rem(4);
    overflow: hidden;
    display: block;
    width: 100%;
    // height: 100%;
    text-align: center;
    font-size: rem(18);
    padding: rem(13);
    box-sizing: border-box;
    font-weight: 500;
    background-color: var(--color-bg);
    color: #4d4d4d;
    position: relative;
    transition: background-color $transitionValues;
  }

  .icon_checked {
    position: absolute;
    left: rem(15);
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    opacity: 0;
    transition: opacity $transitionValues;
  }

  &.checked {
    border-color: var(--color-main);
    .fake_checkbox {
      background-color: var(--color-main);
      color: #fff;
    }
    .icon_checked {
      opacity: 1;
    }
  }

  input {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    line-height: 0;
    opacity: 0;
    text-indent: rem(-9999);
  }
}

@media (max-width: rem(1200)) {
  .content_box {
    .top_flex_box {
      .right_box {
        .flex_box3 {
          column-gap: rem(20);
        }
      }
    }
  }
}

@media (max-width: rem(1000)) {
  .content_box {
    .top_flex_box {
      grid-template-columns: 1fr;
      grid-row-gap: rem(20);
      .top_left_box {
        order: 2;
        max-width: 100%;
      }

      .right_box {
        padding: rem(20) rem(10);

        .flex_box3 {
          column-gap: 0;
          grid-column-gap: 0;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          width: 100%;

          .inner_mid_box {
            text-align: center;
          }

          .inner_left_box,
          .inner_mid_box,
          .inner_right_box {
            width: auto;
            .row_2 {
              font-size: rem(16);
            }
          }
        }
      }
    }
  }
}
