@import '/styles/global/guide';
$browser-context: 16; // html font-size
@function rem($px, $context: $browser-context) {
  @return #{$px / $context}rem;
}

section.title {
  padding: rem(8) 0 rem(19);
}
section.pagination_box {
  padding: rem(30) 0 rem(120);
}

.title {
  @include char(t24);
  text-align: center;
  font-weight: bold;

  .title_info {
    font-weight: normal;
    color: #be1a21;
    font-size: rem(18);
    line-height: 1.4;
    margin: rem(30) 0;
  }
}

.content_container {
  display: flex;
  flex-direction: column;
  gap: rem(20);
  margin: 0 rem(60);
}

.content {
  @include char(l16);
  display: flex;
  flex-direction: column;
  border: rem(1) solid #bdbdbd;
  border-radius: rem(4);
  padding: rem(30);

  .flex_box {
    display: flex;
    gap: rem(8);
    flex-direction: column;
    margin-bottom: rem(20);
  }

  .title_box {
    h3 {
      font-weight: bold;
      font-size: rem(20);
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .tags {
      i {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        border-radius: rem(30);
        width: rem(56);
        padding: rem(5) 0;
        // color: #fff;
        color: #be1a21;
        background-color: transparent;
        border: rem(1) solid #be1a21;
        @include char(l14);
        cursor: default;
        white-space: nowrap;
      }
      i:not(:last-child) {
        margin-right: rem(8);
      }
    }
    // .representative {
    //   color: #f2890e;
    // }
    // .subscribe {
    //   color: #219f94;
    // }
    // .before_pay {
    //   color: #ababab;
    // }
    // .pending {
    //   color: #6f6ac9;
    // }
  }

  .date_wrapper {
    background-color: rgba(217, 217, 217, 0.3);
    margin: rem(22) auto;
    display: flex;
    gap: rem(20);
    padding: rem(4);
    width: 100%;
    justify-content: center;
  }

  .col_4 {
    display: flex;
    margin: auto;
    gap: rem(20);

    a {
      width: rem(120);
      display: flex;
      justify-content: center;
      gap: rem(10);
      padding: rem(10);
      border: rem(1) solid #5c5c5c;
      border-radius: rem(30);
    }
  }
}

.apply_btn {
  background-color: #eeeeee;
  height: rem(56);
  width: rem(600);
  color: #fff;
  border-radius: rem(30) rem(30) 0 0;
  position: fixed;
  bottom: rem(88);
  z-index: 100;
  font-size: rem(24);
  font-weight: bold;
}

.apply_btn.activated {
  background-color: #be1a21;
  transition: 0.3s all;
}

.toggle_container {
  margin-bottom: rem(200);
}
