@import '/styles/global/rem';
@import '/styles/global/guide';


//구독 레시피 종류 변경

section.recipe,
.notice {
  text-align: center;
  .notice_row_1 {
    @include char(l18);
    padding-bottom: rem(9);
  }
  .notice_row_2 {
    @include char(l16);
    color: var(--color-font-sub);
    padding-bottom: rem(29);
  }
  .notice_row_3 {
    display: flex;
    justify-content: center;
    .color_box {
      width: 80%;
      max-width: rem(560);
      background-color: #F9EDEC;
      border-radius: rem(8);
      padding: 0 rem(19) rem(19);
      .color_box_row_1 {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-main);
        @include char(l18);
        padding: rem(16) 0 rem(13);
        font-weight: 700;
        .picture_box {
          display: flex;
          justify-content: center;
          .image {
            width: rem(20);
            aspect-ratio: 1/1;
          }
        }
      }

      .color_box_row_2 {
        @include char(b16);
        color: var(--color-font-sub);
      }
    }
  }
}

.flex_box2 {
  margin-top: rem(30);
  display: flex;
  grid-gap: rem(10);
  // max-width: rem(200) ;
  .recipe_choice_box {
    // max-width: rem(200) ;
    .img_box {
      .image {
        width: 100%;
        max-width: rem(170);
        aspect-ratio: 0.91/1;
      }
    }
  }
  .row_1 {
    padding-top: rem(9);
    @include char(l18);
    font-weight: 500;
    font-family: var(--font-Gmarket-bold);
  }
  .row_2 {
    padding-top: rem(7);
    @include char(l18);
    font-weight: 500;
    font-family: var(--font-Gmarket-bold);
  }
  .row_3 {
    padding-top: rem(10);
    @include char(l16);
    line-height: 120%;
  }
  .row_4 {
    padding-top: rem(15);
    @include char(l15);
    color: var(--color-main);
    font-weight: 600;
    text-decoration-line: underline;
  }
}
