@import '/styles/global/rem';
@import '/styles/global/guide';



// ---------- 구독팩수 변경 > REFACTORING (22.08)
.subscribePlan {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(15);

  ul li {
    display: block;
  }
  .price {
    display: flex;
    flex-direction: column;
  }
  .text2 {
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: -0.02em;
    text-align: center;
    padding-top: 0.0625rem;
  }
  .desc {
    color: var(--gray10);
  }
  .accent {
    color: var(--color-main);
    font-weight: 400;
  }
}

.plan_box {
  box-sizing: border-box;
  width: 100%;
  .img_box {
    display: flex;
    justify-content: center;
    padding-top: rem(4);
    .image {
      width: 100%;
      max-width: rem(80);
      aspect-ratio: 1/1;
    }
  }
  h2 {
    padding-top: rem(10);
    @include char(d28);
    font-weight: 500;
    text-align: center;
  }
  p {
    padding: rem(9) 0 rem(13);
    @include char(l16);
    text-align: center;
    letter-spacing: -0.06em;
  }
  .grid_box {
    display: grid;
    //grid-template-rows: repeat(4, 1fr);

    background-color: #f9f9f9;
    border-top: rem(1) solid var(--color-disabled);
    border-bottom: rem(1) solid var(--color-disabled);

    div {
      border-bottom: rem(1) dashed var(--color-line-03);
      padding: rem(12) 0;
      text-align: center;
      &:last-child {
        border-bottom: rem(0);
      }
    }
    .row {
      color: var(--color-font-sub);
    }

    * {
      @include char(l16);
    }
    span {
      font-weight: 700;
    }
    .row_3 {
      @include char(l14);
      span {
        @include char(l16);
      }
    }
  }
  .text1 {
    display: flex;
    justify-content: center;
    align-items: center;
    @include char(t24);
    font-weight: 600;
    color: var(--color-main);

    padding: rem(9) 0 0 0;
    span {
      @include char(l18);
      color: var(--color-font-sub2);
      text-decoration: line-through;
    }
  }
  .text2 {
    @include char(d32);
    text-align: center;
    line-height: 100%;
    padding-top: rem(1);
  }
}
.recipe_btn_box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: rem(40);

  .btn {
    width: rem(300);
    @include char(l15);
    padding: rem(15) 0;
    text-align: center;
    background-color: var(--color-main);
    border-radius: rem(4);
    color: #fff;
    cursor: pointer;
  }
}



@media (max-width: rem(1000)) {

  .flex_box {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: rem(10);
    position: relative;

    > label {
      padding: rem(15) !important;
    }

    .plan_box {
      max-width: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      position: relative;

      li:first-child {
        transform: translateY(rem(40));

        h2 {
          padding-top: 0;
        }
      }

      li:nth-child(2) {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
        em {
          color: var(--color-main);
        }
      }

      li:nth-child(3) {
        order: 2;
        transform: translateY(rem(60));
      }

      li:last-child {
        order: 3;

        .text1 {
          font-size: rem(18);
          line-height: rem(26);
          padding: 0;

          span {
            font-size: rem(16);
          }
        }
        .text2 {
          font-size: rem(24);
        }
      }
    }
  }

}
