$browser-context:16; // html font-size
@function rem($px, $context: $browser-context){
  @return #{$px / $context}rem;
}
@import '../../../../styles/global/guide';

section.title { padding : rem(8) 0 rem(18) }
section.text { padding : 0 0 rem(30)}
section.count_box {padding : rem(50) 0 rem(30)}
section.pageline { padding-top : rem(40)}


.title {
  @include char(t24);
}

.text {
  div {
    @include char(l15);
    line-height: rem(21);
    color: var(--color-font-sub);
    span {
      font-weight: 700;
    }
  }
}

.referral_code {
  
  .referral_code_row1 {
    color: var(--color-font-sub);
    @include char(l16);
    line-height: 120%;
    font-weight: 500;
    padding-bottom: rem(10);
  }

  .grid_box {
    display: flex;
    height: rem(44);


    .input_box, .fake_input {
      width: rem(280);
      border-radius: rem(4);
      padding: rem(13) 0 rem(13) rem(20);
      @include char(l15);
      margin-right: rem(5);

    }
    .fake_input{
      color: var(--color-disabled);
      box-sizing: border-box;
      border: rem(1) solid #ccc !important;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }


    .btn{
      width: rem(76);
      background-color: var(--color-main);
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: rem(4);
      padding: rem(15) 0;
      @include char(l15);
    }
  }
}

.count_box {
  display: flex;
  width: 100%;
  justify-content: center;

  .mid {
    width: 100%;
    // max-width: rem(788);
    .count_grid_box {
      display : grid;
      grid-template-columns: 2fr 1fr;
      text-align: center;

      .count_flex_box {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      p {
        @include char(l15);
        color: var(--color-font-sub);
        font-weight: 400;
        padding-top: rem(10);
        padding-bottom: rem(13);
      }
     
      .count_text {
        font-weight: 500;
        @include char(t24);
      }

    }

  }

}


.line {
  hr {
    border: 0;
    border-bottom: rem(1) solid var(--color-line-03);
  }
}

.content {
  .grid_box {
    display: grid;
    grid-template-columns: 1fr rem(75);
    align-items: center;
    padding: rem(30) 0;

    border-bottom: rem(1) solid var(--color-line-03);
    &:last-child {
    border-bottom: rem(0);
    }
    .flex_box{
      display: grid;
      grid-template-columns: rem(80) 1fr;
      gap: rem(10);
      width: 100%;
      .day_text {
        //width: rem(70);
        @include char(l14);
        color: #909090;
      }
      .content_text {
        @include char(l16);
        text-align: left;
      }
    }

    .price_text {
      //width: rem(80);
      text-align: right;
      @include char(l18);
      color: #50A057;
    }
    .price_text_grey {
      //width: rem(80);
      text-align: right;
      @include char(l18);
      color: var(--color-disabled);
    }
  }
}


@media (max-width: rem(800)) {

  .count_box {
    display: grid;
    width: 100%;
    justify-content: center;
  
    .mid {
      .count_grid_box {
        grid-template-columns: 1fr;
        grid-gap: rem(20);
        
        .count_flex_box {
          order: 2;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: rem(40);
          position: relative;

          &::after{
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) translateY(rem(3));
            width: rem(1);
            height: rem(16);
            background-color: #ddd;
          }

          
          .left_box, 
          .mid_box{
            display: flex;
          }

          .count_text {
          font-size: rem(16);
          padding-top: rem(6);
          margin-left: rem(10);
          }
          
        }

        p {
          padding-bottom: 0;
        }
      }
    }
  }

  .content {
    .grid_box {
      grid-template-columns: 1fr rem(75);

      
      .flex_box{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: rem(10);
      }
    }
  }

}

@media (max-width: rem(600)) {

  
  .title {
    display: none;
  }


  .text {
    margin-top: rem(30);
    div {
      font-size: rem(13);
    }
  }

  .referral_code {
    .grid_box, .fake_input {
      width: 100%;

      
      .input_box {
        width: 100%;
      }
    }
  }

}