$browser-context: 16;
@function rem($px, $context: $browser-context) {
  @return #{$px / $context}rem;
}

.calculator {
  font-size: rem(14);
  max-width: rem(500);
  display: inline-grid;
  align-items: center;
  grid-template-columns: rem(40) minmax(rem(50), rem(120)) minmax(rem(50), rem(120));
  column-gap: rem(10);

  .discountPrice {
    text-align: right;
    word-break: break-all;
    b {
      font-weight: 400;
      font-size: rem(18);
    }
    > *:not(:last-child) {
      margin-right: rem(4);
    }
  }
  .discountAmount {
    display: grid;
    align-items: center;
    grid-template-columns: rem(80) 1fr rem(30);
    gap: rem(4);
    justify-content: flex-start;
    em {
      font-size: rem(16);
      text-decoration: dotted #333;
    }
  }
}
