$browser-context:16; // html font-size:
@function rem($px, $context: $browser-context){
  @return #{$px / $context}rem;
}


.container_outer{
  display:flex;
  justify-content: center;
  align-items: center;
  .container{
    width: rem(1200);
    .row{
      padding: 0 rem(0);
    }
  }
}




/* RESPONSIVE */
@media (max-width:1200px){
    
  .container__outer{
    .container{
      width: 100%;
      .row{
        padding: 0 rem(20);
      }
    }
  }

}
@media (max-width:1080px){

}

@media (max-width:768px){

}

@media (max-width:600px){
    .container__outer{
    .container{
      .row{
        padding: 0 rem(20);
      }
    }
  }


}



@media (max-width:320px){

}

