@import '/styles/module/itemList.module';

.cont_viewer {
  .table {
    .table_header,
    .item {
      grid-template-columns:
        rem(60)
        rem(120)
        rem(120)
        rem(180)
        minmax(rem(400), 1fr)
        rem(80)
        rem(120)
        rem(160)
        rem(160)
        rem(70);
    }
  }
}
