$browser-context:16; // html font-size
@function rem($px, $context: $browser-context){
  @return #{$px / $context}rem;
}
@import '../../../../styles/global/guide';



section.title{ padding : rem(8) 0 rem(31);}
section.content_body { padding : rem(18) 0 0}

.title {
  @include char(t24);
}


.content_title {
  .flex_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: rem(1) solid var(--color-line-03);
    text-align: center;
    @include char(l16);
    .left_box {
      width: 50%;
      
      display: flex;
      justify-content: center;
      div {
        width: 25%;
        min-width: rem(100);
        padding-bottom: rem(10);
        border-bottom: rem(2) solid var(--color-main);
      }
    }
    .right_box {
      width: 50%;
      padding-bottom: rem(10);
    }
  }
}


.content_body {
  .grid_box {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr rem(160);
    justify-items: center;
    align-items: center;

    border-bottom: rem(1) solid var(--color-line-03);
    &:last-child {
      border-bottom: rem(0);
    }

    p {
      @include char(l14);
      color: var(--color-font-sub);
      margin-bottom: rem(10);
    }
    div {
      @include char(l16);
    }


    .col_1 {
      justify-self: start;
      display: grid;
      grid-template-columns: 1fr;

      div {
        @include char(l16);
      }

      .text {
        width: 100%;
        align-items: center;
        color : var(--color-main);
        padding-top: rem(10);

        > div{
          cursor: pointer;
          width: rem(80);
          display: flex;
          
          .image {
            width: 100%;
            max-width: rem(16);
            aspect-ratio: 1/1;
          }
        }
      }
    }

    .col_5 {
      width: 100%;
      padding: rem(38) 0 rem(38) rem(20);
      justify-self: start;
      .btn {
        width: 88.9%;
        border: rem(1) solid var(--color-main);
        border-radius: rem(4);
        color :var(--color-main);
        text-align: center;

        padding: rem(14) 0 rem(14);
        cursor: pointer;
        
        @include char(l15);

      }
    }
  }
}


@media (max-width: rem(900)) {
  .content_body {
    .grid_box {
      row-gap: rem(10);
      grid:
        "col_4 col_4"
        "col_1 col_1"
        "col_2 col_3"
        "col_5 col_5" /1fr 1fr;
      
      .col_1 {
        display: grid;
        grid-template-columns: 1fr rem(80);
        margin-top: 0;
        grid-column: 1/span 2;
        order: 2;

        .text{
          padding: 0 0 0 rem(10);
          cursor: pointer;
        }
      }

      .col_2, .col_3{
        padding: rem(10) 0;
        text-align: center;
        width: 100%;
        background-color: #f1f1f4;
      }

      .col_2{
        order: 3;
        position: relative;

        &::after{
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          width: rem(1);
          height: rem(40);
          background-color: #dddddd;
        }
      }

      .col_3{
        order: 4;
      }

      .col_4{
        order: 1;
        left: 0;
        font-weight: bold;
        grid-column: 1/span 2;
        width: 100%;
        padding: rem(15) 0 rem(5);
      }

      .col_5 {
        order: 5;
        padding: 0 0 rem(20) 0;
        grid-column: 1/span 2;

        .btn {
          width: 100%;
          cursor: pointer;
        }
      }
    }
  }
}


@media (max-width: rem(600)) {
    
  .title {
    display: none;
  }

  .content_body {
    .grid_box {
      .col_1 {
        .text{
          > div {
            font-size: rem(15);
          }

          .image {
            transform: tlanslateY(rem(-2));
          }
        }
      }
    }
  }
}