$browser-context:16; // html font-size
@function rem($px, $context: $browser-context){
  @return #{$px / $context}rem;
}
@import '../../../styles/global/guide';

section.top { padding : 0;}
section.recipe_introduce { padding : rem(80) 0 rem(90) 0; }
section.ingredients { margin-bottom :rem(20); }
section.health_care { margin-bottom : rem(20);}
section.subscribe_discount { margin-bottom: rem(80);}

.top {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100%;
    background-color: #FFF7F3;
    z-index: -9;
  }

  // .color {
  //   width: 500px;
  //   height: 300px;
  //   border: 1px solid #555;
  //   margin: 0 auto;
  //   border-radius: .5em;
  // }
  
  // .toolbox li {
  //   display: inline-block;
  //   margin: .5em 0 0 .7em;
  //   border-radius: .5em;
  //   height: 24px;
  //   width: 24px;
  //   &:hover {
  //   cursor: pointer;
  // }
  // }
  
  
  
  // .yellow {
  //   background-color: Gold;
  // }
  
  // .red {
  //   background-color: Coral;
  // }
  
  // .blue {
  //   background-color: RoyalBlue;
  // }
  
  // .green {
  //   background-color: PaleGreen;
  // }
  
  // .white {
  //   background-color: WhiteSmoke;
  // }


  .top_title {
    font-family: 'Gmarketsansbold';
    font-weight: 700;
    font-size: rem(32);
    line-height: rem(32);
    color: var(--color-main);
    padding: rem(40) 0 rem(24);
  }
  .top_text {
    @include char(l16);
    padding-bottom: rem(8);
  }
  .top_text2 {
    @include char(l20);
    span {
      font-weight: 700;
    } 
  }
  .btn {
    color: var(--color-main);
    border: rem(1) solid var(--color-main);
    background-color: #fff;
    border-radius: rem(100);
    padding : rem(8) rem(26) rem(8) rem(26);
    @include char(l15);
    font-weight: 500;
    margin-top: rem(20);
    pointer-events: none;
    user-select: none;
  }
  
  .swiper_card_outerWrap{
    transform: rotate(2deg);
    padding: rem(50);
    cursor: pointer;

    > div {
      overflow: visible;
    }

    .swiper_card_box{
      display: flex;
      justify-content: center;
      cursor: pointer;
      user-select: none;
      .swiper_sns_img{
        transition: transform .3s ease;
      }
    }
  }

  .image_box {
    width: 100%;
    display: flex;
    justify-content: center;
    margin : rem(24) 0 rem(40);
    .image {
    width: 100%;
    max-width: rem(591);
    aspect-ratio: 1.5/1;
    }
  }
}

.recipe_title {
  @include char(d32);
  font-family: 'Gmarketsansbold';
  // font-weight: 700;
  font-size: rem(32);
  line-height: 140%;
  width: rem(600);
  text-align: center;

    br{
      display: none;
    }
  } 
.line {
  padding: rem(6) 0 rem(22);

  hr {
    width: rem(600);
    border-top: rem(1) solid var(--color-line-01);
  }
}

.recipe_title2 {
  @include char(l18);
  text-align: center;
  word-break: keep-all;
}


.recipe_introduce {
  display: flex;
  flex-direction: column;
  align-items: center;

    br{
      display: none;
    }

  .recipe_grid_box {
    width: 100%;
    max-width: rem(1160);
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: rem(60);
    column-gap: rem(40);
    padding: rem(60) 0 rem(90);
    text-align: center;

    p {
      @include char(t28);
      font-family: 'GmarketSansbold';
      padding: rem(17) 0 rem(8);
    }
    .recipe_text {
      @include char(l20);
      padding-bottom: rem(15);
    }

    .left_top {
      max-width: rem(560);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        color: var(--color-main);
      }
    }

    .right_top {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        color: #FF3232;
      }
    }

    .left_bot {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .image_box {
        overflow-y: hidden;
        .gif{
          transform: translate(rem(-0.5), rem(0));
        }
      }
  
      p {
        color: #FF4921;
      }
    }

    .right_bot {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .image_box {
      overflow-y: hidden;

        .gif{
          transform: translate(rem(-0.5), rem(0.2));
        }
      }

      p {
        color: #FF8C16;
      }
    }

    .image_box {
      width: 100%;
      display: flex;
      justify-content: center;
      position: relative;
      cursor: pointer;
      border: rem(1) solid #fff;

      .image {
        width: 100%;
        max-width: rem(560);
        aspect-ratio: 1.333/1;
      }
      @supports not (aspect-ratio: 1.333/1) {
        .image {
          padding-top: 73.206%;
        }
      }
      .gif {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-width: rem(560);
        aspect-ratio: 1.333/1;
      }
    }
  }
}
.left_top{
  .image_box {
    &:hover{
      border: rem(1) solid var(--color-main);
    }
  }
  .showModal_btn{
    &:hover{
      background-color: var(--color-main);
      border: rem(1) solid var(--color-main);
    }
  }
}
.right_top{
  .image_box {
    &:hover{
      border: rem(1) solid #FF3232;
    }
  }
  .showModal_btn{
    &:hover{
      background-color: #FF3232;
      border: rem(1) solid #FF3232;
    }
  }
}
.left_bot{
  .image_box {
    &:hover{
      border: rem(1) solid #FF4921;
    }
  }
  .showModal_btn{
    &:hover{
      background-color: #FF4921;
      border: rem(1) solid #FF4921;
    }
  }
}
.right_bot{
  .image_box {
    &:hover{
      border: rem(1) solid #FF8C16;
    }
  }
  .showModal_btn{
    &:hover{
      background-color: #FF8C16;
      border: rem(1) solid #FF8C16;
    }
  }
}

.showModal_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: rem(100);
  border: rem(1) solid var(--color-line-03);
  color: var(--color-font-sub);
  font-size: rem(15);
  padding: rem(5) rem(26);
  font-weight: 500;
  transition: background-color .1s ease, color .1s ease, border .1s ease;

  &:hover{
    color: #fff;
  }
}

// ------------------- 모달 레시피 내용
// ------------------- 영양포인트111111
.modal_text_box:not(:last-child) {
  padding-bottom: rem(24);
}
.modal_recipe_text {
  display: flex;
  align-items: center;
  @include char(l16);
  font-weight: 600;
  
  .image {
    width: rem(15);
    aspect-ratio: 1/1;
  }
  p {
    padding-left: rem(4);
  }
}

.modal_content_text {
  padding: rem(8) 0 rem(6) rem(19);
  @include char(l15);
  line-height: 160%;
  letter-spacing: -0.01em;
  color: rgba(99, 99, 99, 0.85);
  word-break: keep-all;
}
// ------------------- 영양성분22222
.modal_text_box2 {
  .title {
    @include char(l15);
    color :#4D4D4D;
    padding-bottom: rem(8);
  }
  .grid_box {
    display: grid;
    // grid-template-columns: 56% 41%;
    grid-template-columns: 1fr;
    column-gap: rem(10);
    @include char(l15);
    

    .left_side {
      margin-bottom: rem(10);

      .left_title, .left_title2, .left_title3, .left_title4 {
        color: #fff;
        padding: rem(6) 0 rem(4) rem(8);
        margin-bottom: rem(10);
        text-align: center;
        font-weight: 600;
        
        span {
          font-size: rem(12);
          font-weight: 400;
        }
      }
      .left_title {
        background-color : var(--color-main);
      }
      .left_title2 {
        background-color : #FF3232;
      }
      .left_title3 {
        background-color : #FF4921;
      }
      .left_title4 {
        background-color : #FF8C16;
      }

      ul{
        display: flex;
        gap: rem(10);
        width: 100%;
        justify-content: space-between;
      }

      .flex_box {
        @include char(l14);
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        position: relative;
        align-items: center;
        gap: rem(5);
        margin-bottom: rem(10);
        .first_text {
          width: auto;
          z-index: 10;
          background-color: #fff;
          font-size: rem(14);
          font-weight: 600;
        }
        .last_text {
          font-size: rem(12);
          width: auto;
          z-index: 10;
          background-color: #fff;
          word-break: keep-all;
          color: #4D4D4D;
          word-spacing: rem(-2);
        }
        // &::before {
        //   content: "";
        //   width: 100%;
        //   height: rem(10);
        //   position: absolute;
        //   top : rem(10);
        //   left : 0;
        //   bottom: 0;
        //   margin: auto;
        //   z-index: 10;
        //   border-top: rem(0.25) dashed #202020;
        // }
      } 
    }

    .right_side {
      .right_title, .right_title2, .right_title3, .right_title4 {
        color: #fff;
        padding: rem(6) 0 rem(4) rem(8);
        margin-bottom: rem(10);
        text-align: center;
        font-weight: 600;
        
        span {
          font-size: rem(12);
          font-weight: 400;
        }
      }
      .right_title {
        background-color : var(--color-main);
      }
      .right_title2 {
        background-color : #FF3232;
      }
      .right_title3 {
        background-color : #FF4921;
      }
      .right_title4 {
        background-color : #FF8C16;
      }
      ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: rem(30);
        row-gap: rem(8);
      }
      .flex_box {
        @include char(l14);
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        // align-items: center;
        // margin-bottom: rem(12);
        font-size: rem(12);
        column-gap: rem(3);

        .hr{
          width: 100%;
          height: rem(1);
          min-width: rem(7);
          // background-color: #dedede;
          // border-left: rem(2) solid #8f8f8f;
          // border-right: rem(2) solid #8f8f8f;
          border-bottom: rem(0.25) dashed #8f8f8f;
        }
        .first_text{
          width: auto;
          z-index: 10;
          background-color: #fff;
          font-weight: 500;
          letter-spacing: rem(-0.3);
        }
        .last_text {
          width: auto;
          z-index: 10;
          background-color: #fff;
          font-weight: 400;
          letter-spacing: rem(-0.3);
        }
        // &::before {
        //   content: "";
        //   width: 100%;
        //   height: rem(10);
        //   position: absolute;
        //   top : rem(10);
        //   left : 0;
        //   bottom: 0;
        //   margin: auto;
        //   z-index: 10;
        //   border-top: rem(0.25) dashed #202020;
        // }
      }
    }
  }

}




// ------------------- 전성분333333

.modal_image_box3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: rem(16);

  .image_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include char(l15);

    .image {
      width: rem(72);
      aspect-ratio: 0.818/1;
    }
    .image2 {
      width: rem(72);
      aspect-ratio: 1/1;
      margin-top : rem(16);
    }
  }
  p {
    padding-top: rem(8)  ;
    text-align: center;
  }
  

}


// ------------------- 전성분444444

.modal_text_box4 {
  .text_row_1 {
    @include char(b15);
    line-height: 160%;
    letter-spacing: -0.01em;
    color: #666666;
    word-break: keep-all;
  }
  .text_row_2 {
    font-family: 'Pretendard Variable';
    font-style: normal;
    font-weight: 400;
    font-size: rem(12);
    line-height: 100%;
    color: #919191;
    padding-top: rem(16);
    word-break: keep-all;
  }
  .text_row_2_1 {
    font-family: 'Pretendard Variable';
    font-style: normal;
    font-weight: 400;
    font-size: rem(12);
    line-height: 100%;
    color: #919191;
    padding-top: rem(4);
    padding-bottom: rem(40);
  }

  .text_row_3 {
    width: 100%;
    max-width: rem(420);
    background-color: var(--color-bg-02);
    padding: rem(12);
    box-sizing: border-box;
    .inner_text_row_1  {
      @include char(l15);
      color: var(--color-main);
     
      font-weight: 600;
      padding-bottom: rem(8);

    }
    .inner_text_row_2 {
      @include char(b14);
      color: #919191;
    }
  }

}

.note {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: rem(1200);

  .recipe_title2 {
    margin-bottom: rem(124);
  }

  .note_content_box {
    width: 100%;
    max-width: rem(1160);
    position: relative;

    br{
      display: none;
    }
  
    .box_title {
      text-align: center;
      width: rem(550);
      left: 50%;
      transform: translateX(-50%);
      top:rem(-15);
      font-weight: 700;
      position: absolute;
      @include char(t24);
      background-color: #fff;
      margin-bottom: rem(20);
    }

    .pic_box {
      border: rem(1) solid #c4c4c4;
      display: grid;
      grid-template-columns: 1fr 1fr ;
      width: 100%;
      max-width: rem(1160);
      padding: rem(40);
      column-gap: rem(40);
      box-sizing: border-box;

      .image_box {
        width: 100%;
        max-width: rem(520);
        display: flex;
        position: relative;

        &::after {
          position: absolute;
          bottom: 0;
          right: 0;
          font-size: rem(16);
          font-weight: 500;
          padding: rem(2) rem(10);
          border-top-left-radius: rem(7);
          background-color: rgba(255, 255, 255, 0.7);
        }

        &:first-child {
          &::after {
            content: "100% 풀만 먹은 방목 소";
          }
        }

        &:last-child {
          &::after {
            content: "100% 방목 어린 양";
          }
        }

        .image {
          width: 100%;
          max-width: rem(520);
          aspect-ratio: 1.498/1;
        }
        @supports not (aspect-ratio: 1.498/1) {
          .image {
            padding-top: 64.798%;
          }
        }
      } 
    }
  }

  .note_content_box2 {
    margin-top: rem(108);
    width: 100%;
    max-width: rem(1160);
    position: relative;

    &::after {
      content: "※ GMO 및 중국산 원료 등은 절대 사용하지 않습니다 ※";
      position: absolute;
      width: calc(100% - rem(80));
      left: 50%;
      bottom: rem(20);
      transform: translateX(-50%);
      text-align: center;
      border-top: rem(1) solid #cecece;
      padding-top: rem(20);
      font-size: rem(16);
    }

    .box_title2 {
      text-align: center;
      width: rem(460);
      left: 50%;
      transform: translateX(-50%);
      top : rem(-15);
      font-weight: 700;
      position: absolute;
      @include char(t24);
      background-color: #fff;

      br{
        display: none;
      }
    }

    .pic_box2 {
      border: rem(1) solid #c4c4c4;
      display: grid;
      //grid-template-columns: repeat(auto-fill, minmax(rem(120), 1fr));
      grid-template-columns: repeat(6, 1fr);
      width: 100%;
      max-width: rem(1160);
      padding: rem(80) rem(70) rem(100);
      column-gap: rem(35);
      box-sizing: border-box;
      justify-content: center;

      .image_box {
        width: 100%;
        //max-width: rem(140);
        display: flex;
        padding-bottom: rem(20);
        justify-content: center;

        .image {
          width: 100%;
          max-width: rem(120);
          aspect-ratio: 1/1;
        }
      }
    }
  }
}

.text_box {
  text-align: center;
  @include char(l18);
  font-family: 'GmarketSansMedium';
  font-style: normal;
}

.btn_box {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: rem(65) 0 rem(103);

  .image_box {
    width: 100%;
    display: flex;
    justify-content: center;
    
    .image {
      // height: rem(40);
      cursor: pointer;
      width: 100%;
      max-width: rem(238);
      aspect-ratio: 5.95/1;
    }
  }
}

.ingredients {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: rem(80) 0 rem(100) ;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100%;
    background-color: rgba(230, 230, 230, 0.29);
    z-index: -9;
  }

  .recipe_title2 {
    @include char(b16);
    text-align: center;
    margin-bottom: rem(50);
    word-break: keep-all;
  }
  .image_box {
    width: 100%;
    display: flex;
    justify-content: center;

    
    .image {
      width: 100%;
      max-width: rem(760);
      aspect-ratio: 1.538/1;
    }
    @supports not (aspect-ratio: 1.538/1) {
      .image {
        padding-top: 42.32%;
      }
    }
  }
}


.health_care {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100%;
    background-color: #FFF7F3;
    z-index: -9;
  }

  .health_grid_box {
    width: 87%;
    display: grid;
    grid-template-columns: 48% 52%;
    justify-content: center;
    padding-top: rem(80);
    padding-bottom:  rem(75);
    .left_side {
      .health_row_1 {
        @include char(t28);
        font-weight: 600;

      }
      .health_row_2 {
        padding-top: rem(8);
        font-family: 'Pretendard Variable';
        font-style: normal;
        font-weight: 700;
        font-size: rem(40);
        line-height: 140%;
        letter-spacing: -0.02em;
      }

      .health_btn_box {
        padding-top: rem(30);
        .health_btn {
          background-color: var(--color-main);
          width: rem(160);
          border-radius: rem(4);
          color: #fff;
          text-align: center;
          padding : rem(14) 0;
          @include char(l16);
          font-weight: 700;
          cursor: pointer;
        }
      }
    }

    .right_side {
      width: 100%;

      .image_box {
        width: 100%;
        display: flex;
        justify-content: center;

        .image {
          width: 100%;
          max-width: rem(520);
          aspect-ratio: 1.04/1;
        }
      }
    }
  } 
}

.subscribe_discount {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100vw;
      height: 100%;
      background-color: rgba(230, 230, 230, 0.29);
      z-index: -9;
    }

  .sub_row_1 {
    padding-top: rem(70);
    padding-bottom: rem(4);
    @include char(d28);
    font-weight: 500;
  }

  .sub_row_2 {
    @include char(d32);
    position: relative;
    &::before{
      content: "";
      width: rem(316);
      height: rem(8);
      background-color: #FF8C16;
      position: absolute;
      top : rem(31);
      z-index: -10;
    }

    br{
      display: none;
    }
  }

  .image_box {
    padding: rem(32) 0 rem(60);
    width: 100%;
    display: flex;
    justify-content: center;

    .image {
      width: rem(300);
      aspect-ratio: 4.225/1;
      cursor: pointer;
    }
  }

  

  
}

@media only screen and (min-width:rem(100)) and (max-width: rem(1200)) {
  
  .note {
    .note_content_box {
      br{
        display: inline-block;
      }

      .box_title {
        width: rem(320);
        top:rem(-30);
      }

      .pic_box {
        padding-top: rem(60);
      }
    }

    .note_content_box2 {

      .box_title2 {
        width: rem(270);
        top: rem(-30);

        br{
          display: inline-block;
        }
      }

      .pic_box2 {
        grid-template-columns: repeat(3, rem(180));
        grid-gap: rem(30);
      }
    }
  }

}



@media only screen and (min-width:rem(100)) and (max-width: rem(900)) {

  .recipe_introduce {
    br{
      display: inline-block;
    }
  }

  .note {
    .note_content_box {
      .box_title {
        width: rem(300);
      }

      .pic_box {
        grid-template-columns: 1fr;
        grid-gap: rem(40);

        .image_box {
          max-width: none;
  
          .image {
            max-width: none;
          }
        } 
      }
    }

    .note_content_box2 {
      .box_title2 {
        width: rem(250);
        top:rem(-30);
      }

      .pic_box2 {
        grid-template-columns: repeat(2, rem(180));
        grid-gap: rem(30);
      }
    }
  }

  .health_care {
    .health_grid_box {
      grid-template-columns: 1fr;
      grid-gap: rem(30);
    }
  }
  

  .subscribe_discount {
    .sub_row_1 {
      font-size: rem(20);
      margin-bottom: rem(20);
    }
    .sub_row_2 {
      margin-bottom: rem(20);
      &::before{
        width: rem(200);
      }

      br{
        display: inline-block;
      }
    }
  }


 //모달 
  .modal_text_box:not(:last-child) {
    padding-bottom: rem(16);
  }

  .modal_text_box2 {
    .grid_box {
      .left_side {
        max-width: rem(315);

        ul{
          display: grid;
          grid-template-columns: repeat(7, 1fr);
        }
      }
      .right_side {
        max-width: rem(315);

        ul{
          grid-template-columns: repeat(2, 1fr);

          .flex_box{
            &:nth-last-child(3){
              display: none;
            }
          }
        }
      }
    }
  }

  .modal_image_box3 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .modal_text_box4 {
    .text_row_1 {
      @include char(b14);
    }

    .text_row_2_1 {
      padding-bottom: rem(20);
    }

    .text_row_3 {
      .inner_text_row_1  {
        padding-bottom: 0;
      }
      .inner_text_row_2 {
        display: none;
      }
    }
  }

}



@media only screen and (min-width:rem(100)) and (max-width: rem(600)) {

  .top {
    .top_title {
      padding: rem(50) 0 rem(24);
    }
    .top_text {
      padding-bottom: rem(8);
    }
    .btn {
      padding : rem(8) rem(26) rem(8) rem(26);
      margin-top: rem(20);
    }
    .image_box {
      margin : rem(40) 0 rem(40);
    }
  }

  .note_content_box2 {
    &::after {
      font-size: rem(13);
    }
  }

  .recipe_title {
      br{
        display: inline-block;
      }
    } 
    
  .line{
    margin: 0 auto;
    hr {
      width: rem(315);
    }
  }

  .recipe_introduce {
    .recipe_grid_box {
      grid-template-columns: 1fr;
      .left_top, .left_bot, .right_top, .right_bot{
        .image_box{
          .gif{
            display: none;
          }
        }
      }
    }
  }

  .note {
    .note_content_box {
      .box_title {
        width: rem(320);
      }

      .pic_box {
        grid-template-columns: 1fr;
        grid-gap: rem(40);
        padding: rem(60) rem(10) rem(10);

        .image_box {
          max-width: none;
  
          .image {
            max-width: none;
          }
        } 
      }
    }

    .note_content_box2 {
      .pic_box2 {
        column-gap: 0
      }
    }
  }

  .health_care {
    .health_grid_box {
      .left_side {
        .health_row_1 {
          @include char(t24);
  
        }
        .health_row_2 {
          font-size: rem(35);
        }
      }
    }
  }

  
}

@media only screen and (min-width:rem(100)) and (max-width: rem(400)) {

  .note {
    .note_content_box {

      .box_title {
        width: rem(300);
      }
    }

    .note_content_box2 {
      &::after {
        width: calc(100% - rem(30));
      }
      .pic_box2 {
        grid-template-columns: repeat(2, rem(120));
        .image_box {
          .image {
            width: 80%;
          }
        }
      }
    }
  }

  .health_care {
    .health_grid_box {
      .left_side {
        .health_row_1 {
          @include char(t20);
  
        }
        .health_row_2 {
          font-size: rem(26);
        }
      }
    }
  }


  
  .subscribe_discount {
    .sub_row_2 {
      font-size: rem(24);
      
      &::before{
        width: rem(150);
        top: rem(20);
      }
    }
  }
  
}