$browser-context:16;
// convert px to rem
@function rem($px, $context: $browser-context){
  @return #{$px / $context}rem;
}



// *  ------- COMMON ------- * //
$backgroundColorDef: #F8F8FF;


#popup{background-color: $backgroundColorDef;}

.header{
  background-color:#23242E;
  color:#fff;
  .cont{
    height: rem(66);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

  .popup-title{font-size:rem(24);cursor:default;}
}

.row{padding: 0 rem(20);}


.body{
  padding: rem(20) 0 rem(30);
}







// * ------- TABLE ------- * //
.table  {
  .t-header  {
    margin-bottom: rem(15);
  }
  .title{
    font-size:rem(16);
    color:var(--color-font-def);
    font-weight:500;
  }
  .t-body{
    .t-box{
      display:grid;
      grid-template-columns: 37.5% 62.5%;
      align-items: center;
      .innerBox{border: rem(1) solid var(--color-line-03); height: rem(48); display: grid; align-items: center; padding: 0 rem(20); box-sizing:border-box;}
      .innerBox:nth-child(2){margin-left:rem(-1);}
      .innerBox.label{background-color: $backgroundColorDef;}
      .innerBox.cont{background-color: #fff;}
    }

  }
}
