@import '/styles/global/guide';
@import '/styles/global/rem';

$inputHeight: rem(46);

section.title_box {
  padding: rem(60) 0 rem(35);
}
section.content_box {
  padding-bottom: rem(50);
}
// section.line { padding : rem(50) 0 rem(20) ;}
section.orderer_info {
  padding: 0 0 rem(50);
}
section.reciever {
  padding: rem(20) 0 rem(41);
}
section.shipping {
  padding: rem(30) 0 rem(50);
}
section.reserves {
  padding: rem(38) 0 rem(50);
}
section.method {
  padding: rem(30) 0 rem(50);
}
section.payment {
  padding: rem(30) 0 rem(50);
  border-bottom: rem(1) solid var(--color-line-04);;
}
section.final_btn {
  padding: rem(30) 0 rem(63);
}

.container_outer {
  display: flex;
  justify-content: center;
  align-items: center;
  span, div, p{
    cursor:default;
  }
  span{
    height: 100%;
  }

  .Wrapper {
    width: rem(760);
    max-width: rem(760);
  }
}

.check_box {
  display: flex;
  align-items: center;
  justify-content: center;
    .chk__box {
      display: flex;
      cursor: pointer;
      height: 100%;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      padding-bottom: rem(1);
      .text {
        display: grid;
        place-items: center;
        @include char(l15);
        color: var(--color-font-sub);
        padding-left: rem(10);
      }
    } /* 기본 체크박스 숨기기 */
    .chk__box input[type='checkbox'] {
      display: none;
    } /* 선택되지 않은 체크박스 스타일 꾸미기 */
    .chk__box .on {
      width: rem(20);
      height: rem(20);
      background: #ddd;
      position: relative;
      display: flex;
      top: 0;
      left: 0;
    } /* 선택된 체크박스 스타일 꾸미기 */
    .chk__box input[type='checkbox']:checked + .on {
      background: var(--color-main);
    }
    .on:after {
      content: '';
      width: rem(6);
      height: rem(10);
      border: solid #fff;
      border-width: 0 rem(2) rem(2) 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      left: rem(6);
      top: rem(2);
    }
    .chk__box input[type='checkbox']:checked + .on:after {
      display: flex;
    }
    .on:after {
      width: rem(6);
      height: rem(10);
      border: solid #fff;
      border-width: 0 rem(2) rem(2) 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      left: rem(6);
      top: rem(2);
    }
}

.title_box {
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    @include char(t24);
  }
}

.title {
  @include char(t20);
}

.content_box {
  .title {
    padding-bottom: rem(8);
  }

  .flex_title_box {
    display: grid;
    grid-template-columns: 1fr rem(60) repeat(3, rem(100));
    border-bottom: rem(1) solid var(--color-line-01);
    > div {
      text-align: center;
      padding: rem(18) 0;
      @include char(l14);
      font-weight: 500;
      height: 100%;

      &:nth-child(1) {
        padding-left: rem(10);
      }
    }
  }

  .flex_box {
    display: grid;
    grid-template-columns: 1fr rem(60) repeat(3, rem(100));
    border-bottom: rem(1) solid var(--color-line-04);
    align-items: center;
    text-align: center;
    padding: rem(20) 0;
    @include char(l15);
    font-weight: 400;

    .title_col {
      display: none;
    }

    .info_col {
      text-align: left;
      padding-left: rem(10);
      font-weight: 700;
      display: flex;
      flex-direction: column;
      gap: rem(10);

      .recipeName{font-weight:400; color: var(--color-font-sub2)}
      .info_inner {
        @include char(l14);
        color: var(--color-font-sub);
        font-weight: 400;
        padding-top: rem(8);
        padding-bottom: rem(6);
        &:last-child {
          padding-bottom: 0;

        }
      }
    }
    .price_col {
      .price_inner {
        color: var(--color-font-sub);
        text-decoration: line-through;
      }
    }
    .del_col {
      display: none;
    }
    .coupon_col {
      color: var(--color-font-sub);
    }
    .coupon_col_red {
      color: var(--color-main);
    }
    .apply_coupon_col {
      display: flex;
      justify-content: center;

      .btn {
        width: rem(81);
        height: rem(37);
        max-height: rem(37);
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border: rem(1) solid var(--color-line-03);
        border-radius: rem(2);
        cursor: pointer;
        font-size: rem(15);
        font-weight: 500;
        background-color: #fff;
        &.applied{
          transition: border .2s var(--transition-cubic);
          transition-padding: border, color,;
          color: var(--color-main);
          &:hover{border-color: var(--color-main);;}
        }
      }
    }
  }
}

.orderer_info {
  .title {
    padding-bottom: rem(30);
  }
  .grid_box {
    display: grid;
    grid-template-columns: rem(120) 1fr;
    // grid-template-rows: repeat(2, 1fr);
    row-gap: rem(10);
  }
}

.line {
  > hr {
    border: 0;
    border-bottom: rem(1) solid var(--color-line-04);
  }
}

.reciever {
  .title {
    padding-bottom: rem(30);
  }
  .check_box {
    display: flex;
    justify-content: left;
    align-items: center;
    .text {
      @include char(l16);
      color: var(--color-font-def);
      //padding: rem(2) 0 rem(2) rem(8);
    }
  }
  $grid-row-gap: rem(16);

  .grid_box {
    width: 100%;
    max-width: rem(500);
    display: grid;
    align-items: center;
    grid-template-columns: rem(120) 1fr;
    //grid-template-rows: repeat(4, 1fr);
    row-gap: $grid-row-gap;
    column-gap: rem(10);
    padding: rem(22) 0 0;

    @include char(l15);
    .input_col {
      width: 100%;
      .input_box {
        width: 100%;
        @include char(l15);
        padding: rem(13) 0 rem(13) rem(16);
      }
    }

    .row_title{
      display: flex;
      align-content: flex-start;
      height: 100%;
      padding-top:rem(30)
    }
    .adress_box {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      gap: $grid-row-gap;
      .input_col{
        height: $inputHeight;
        input{
          height: 100%;}

        &.zipcode{
          display:grid;
          gap: rem(10);
          grid-template-columns: 1fr 2fr;
          input{text-align:left;
          padding:0 rem(16);
          }
        }
        button{
          height: 100%;
          display: flex; width: 100%;
          .btn{width: 100%; padding:0;
            height: 100%; display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      .input_box {
        padding: rem(9.2) 0 rem(9.2) rem(16);
      }

      .btn_box {
        text-align: center;
        padding: rem(14.5) 0;
        border: rem(1) solid var(--color-main);
        border-radius: rem(5);
        color: var(--color-main);
        cursor: pointer;
        &.disabled{
          color: var(--color-disabled);
          border-color: var(--color-disabled);
          cursor: default;
        }
      }

    }
  }
}

.shipping {
  .title {
    padding-bottom: rem(30);
  }
  .box {
    border: rem(1) solid var(--color-line-03);
    .grid_box {
      display: grid;
      grid-template-columns: 1fr rem(120) 1fr;
      margin: rem(14) rem(20) rem(14) rem(20);
      @include char(b15);
      p {
        margin-top: rem(3);
      }

      .left_box {
        border-right: rem(1) solid var(--color-line-03);
        padding-right: rem(20);

        > span {
          color: var(--color-font-sub);
        }
      }
      .mid_box {
        color: var(--color-font-sub);
        padding-left: rem(20);
      }
      .right_box {
        > p {
          color: var(--color-main);
          > span {
            font-weight: 600;
          }
        }
      }
    }
  }
  .bundleShipping {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    column-gap: rem(10);
    padding-top: rem(20);
    label{
      margin:0 !important;
      padding: rem(16) rem(15) rem(16) !important;
      border: rem(1) solid var(--color-line-03);
      border-radius: rem(4);
      transition: border-color .2s var(--transition-cubic);
      cursor: pointer;
      .text {
        width: 100%;
        padding-left: rem(5);
        font-size:rem(16);
        font-weight: 600;
        > p {
          @include char(b14);
          font-weight: 400;

        }
      }
    }
    &.active {
      label:nth-child(1) {
        border-color: var(--color-main);
        color: var(--color-font-def);

        .text {
          color: var(--color-font-def);
        }
      }
      label:nth-child(2) {
        border-color: var(--color-line-03);
        color: var(--color-font-def);
        .text {
          color: var(--color-font-sub2);
        }
      }
    }
    &.inActive {
      label:nth-child(2) {
        border-color: var(--color-main);
        color: var(--color-font-def);

        .text {
          color: var(--color-font-def);
        }
      }
      label:nth-child(1) {
        border-color: var(--color-line-03);
        color: var(--color-font-def);
        .text {
          color: var(--color-font-sub2);
        }
      }
    }






    .flex_box {
      display: flex;
      align-items: center;
      // justify-content: space-around;
      padding: rem(16) rem(3) rem(16);
      border: rem(1) solid var(--color-main);
      border-radius: rem(4);
      cursor: pointer;

      .image {
        margin: 0 3%;
        width: 20%;
        max-width: rem(20);
        min-width: rem(20);
        aspect-ratio: 1/1;
      }
      &:nth-child(2) {
        border: rem(1) solid var(--color-line-01);
        color: var(--color-font-sub);
      }
      .text {
        width: 100%;
        padding-left: rem(5);
        font-weight: 600;
        > p {
          @include char(b14);
          font-weight: 400;
        }
      }
    }
  }
}



.reserves {
  .title {
    padding-bottom: rem(30);
  }

  .flex_box {
    display: grid;
    grid-template-columns: 7.5rem 1fr;
    grid-gap: rem(10);
    align-items: flex-start;
    @include char(l15);
    p{display: flex;
      align-items: center;
      height: $inputHeight;
    }

    > p {
      @include char(l16);
      font-weight: 600;
      max-width: rem(120);
    }

    .input_box {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: rem(10);

      .input-wrap{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        gap: rem(10);
        position: relative;

        &::after{
          content: "P";
          position: absolute;
          top: 50%;
          right: rem(10);
          transform: translateY(-50%);
          font-size: rem(16);
        }

        input {
          width: 100%;
          height: $inputHeight;
          padding-right: rem(20);
        }

        pre {
          position: absolute;
          top: calc(100% + 10px);
        }
      }

      button{
        min-width: rem(105);
      }
    }

    .btn_box {
      height: rem(44);
      display: inline-grid;
      place-items: center;
      width: rem(105);
      border-radius: rem(2);

      background-color: var(--color-main);
      color: #fff;
      cursor: pointer;
    }
    
    .point {
      height: $inputHeight;
      display: flex;
      align-items: center;
      color: var(--color-font-sub);
      font-size: rem(14);
      font-weight: 600;
      min-width: rem(135);

      > p {
        font-weight: 400;
        margin-right: rem(5);
      }
    }
  }
}

.method {
  .title {
    padding-bottom: rem(30);
  }

  .grid_box {
    display: grid;
    justify-content: flex-start;
    grid-template-columns: repeat(auto-fill, minmax(rem(240), rem(240)));
    column-gap: rem(10);
    row-gap: rem(8);

    .inner_box {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: rem(18) 0;

      border: rem(1) solid var(--color-line-03);
      color: var(--color-font-sub);
      @include char(l15);
      cursor: pointer;
      transition: border-color .2s var(--transition-cubic);

      .image {
        width: 100%;
        max-width: rem(24);
        aspect-ratio: 1/1;
        border: 0;
      }
    }
    .selected {
      border: rem(1) solid var(--color-line-01);
      color: var(--color-font-def);
    }
  }
}

section.payment {
  .title {
    padding-bottom: rem(32);
  }

  @include char(l15);

  .flex_box {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  hr {
    border: 0;
    border-bottom: rem(1) solid var(--color-line-04);
  }

  .flex_box2 {
    display: flex;
    justify-content: space-between;
    color: var(--color-font-sub);
    padding: rem(15) 0 0 rem(20);
  }

  .flex_box3 {
    display: flex;
    justify-content: space-between;
    color: var(--color-font-sub);

    padding: rem(12) 0 rem(20) rem(20);
    div:nth-child(2) {
      color: var(--color-main);
    }
  }
  .flex_box4 {
    display: flex;
    justify-content: space-between;
    padding: rem(25) 0 0;
  }
  .flex_box5 {
    display: flex;
    justify-content: space-between;
    padding: rem(25) 0 0;
  }
  .flex_box6 {
    display: flex;
    justify-content: space-between;
    padding: rem(25) 0 rem(25);
  }

  .last_flex_box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: rem(25) 0 rem(45);
    > *:not(:last-child){margin-bottom:rem(10);}

    div:nth-child(2) {
      @include char(l20);
    }
  }


  .check_box {
    display: flex;
    justify-content: flex-start;
    font-size: rem(15);
    margin-bottom: rem(16);
    span{margin:0;}
    color: var(--color-font-def);
    button.termsOfService{
      color: var(--color-main);
      font-size: inherit;
      margin-top: rem(-1);
    }
  }
}

.final_btn {
  display: flex;
  flex-direction: column;
  align-items: center;

  > p {
    text-align: center;
    @include char(l15);
    font-weight: 500;
    padding-bottom: rem(20);
    cursor: default;
  }
  .btn_box {
    display: grid;
    place-items: center;
    height: rem(50);
    width: rem(315);
    background-color: var(--color-main);
    border-radius: rem(4);
    color: #fff;
    padding: rem(17) 0;
    @include char(l16);
  }
}


@media (max-width: rem(800)) {
  .container_outer {
    .Wrapper {
      padding: 0 rem(20);
    }
  }
}

@media (max-width: rem(600)) {
  section.title_box {
    padding: rem(20) 0;
  }
  section.orderer_info {
    padding: 0 0 rem(20);
  }
  section.reciever {
    padding: rem(20) 0 rem(20);
  }
  section.shipping {
    padding: rem(30) 0 rem(30);
  }

 .content_box {
    .title {
      border-bottom: rem(1) solid var(--color-line-02);
    }

    .flex_title_box {
      display: none;
    }

    .flex_box {
      position: relative;
      grid: 
      "info_col info_col info_col count_col"
      "price_col price_col price_col price_col"
      "coupon_col_red coupon_col_red coupon_col_red apply_coupon_col"/1fr 1fr 1fr 1fr;
      row-gap: rem(20);
      padding-bottom: rem(30);

      &::before {
        content: "";
        position: absolute;
        bottom: rem(20);
        left: 0;
        width: 100%;
        height: rem(90);
        background-color: #F1F1F4;
        z-index: -99;
      }

      .info_col {
        grid-column: 1/span 3;
        position: relative;

        &::after {
          content: "총 주문금액";
          position: absolute;
          bottom: rem(-46);
          left: rem(20);
          font-weight: 400;
        }
        &::before {
          content: "쿠폰할인";
          position: absolute;
          bottom: rem(-88);
          left: rem(20);
          font-weight: 400;
        }
      }

      .count_col {
        grid-column: 4/span 1;
        text-align: right;
        padding-right: rem(10);
      }
      .price_col {
        grid-column: 1/span 4;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        padding-top: rem(10);
        padding-right: rem(20);

        .price_inner {
          padding-right: rem(10);
        }
      }

      .coupon_col_red {
        grid-column: 1/span 3;
        text-align: right;
      }

      .apply_coupon_col {
        grid-column: 4/span 1;
        justify-content: flex-end;
        padding-left: rem(10);
        padding-right: rem(20);

        .btn {
          min-width: rem(80);
          max-height: rem(32);
        }
      }
    }
  }

  .reciever {
    .grid_box {
      max-width: 100%;
      grid-template-columns: 1fr;
      grid-template-rows: none;
      row-gap: rem(5);

      .row_title{
        padding-top: rem(10);
        height: auto;
      }

      .adress_box {
        grid-template-columns: 1fr;
        row-gap: 0;
        margin-bottom: rem(10);
      }

      .input_col {
        margin-bottom: rem(10);

        &:nth-child(8) {
          margin-bottom: 0;
        }
      }
    }
  }

  .shipping {
    .box {
      .grid_box {
        grid-template-columns: rem(100) 1fr;
        margin: rem(14) rem(20);
        column-gap: 0;
        row-gap: rem(10);

        .left_box {
          border: none;
          grid-column: 1 /span 2;
          padding-right: 0;
        }
        .mid_box {
          padding-top: rem(10);
          padding-left: 0;
          border-top: rem(1) solid var(--color-line-03);
        }
        .right_box {
          padding-top: rem(10);
          border-top: rem(1) solid var(--color-line-03);
        }
      }
    }
  }

  .shipping {
    .bundleShipping {
      grid-template-columns: 1fr;
      row-gap: rem(10);
    }
  }

  .reserves {
    .flex_box {
      //grid-template-columns: rem(80) 1fr rem(105);
      grid-template-columns: rem(80) 1fr;

      .input_box{
        display: grid;
        grid-template-columns: 1fr rem(105);
        > * {
          width: 100%;
        }

      }
      .point {
        grid-column: 1 / span 2;
      }
    }
  }

  .method {
    .title {
      padding-bottom: rem(30);
    }

    .grid_box {
      display: grid;
      justify-content: flex-start;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .final_btn {
    .btn_box {
      width: 100%;
    }
  }
}
