@import '/styles/global/guide';
@import '/styles/global/rem';
@import 'subscribeOrderHistory.module';

// 취소, 교환, 반품 정보가 존재할 경우의 Section
.additional-info-section {
  ul li {
    width: 100%;
    display: grid;
    grid-template-columns: rem(150) 1fr;
    grid-row-gap: 1.5rem;
    row-gap: 1.5rem;
    padding: rem(40) 0;
  }
  ul li:not(:last-child) {
    border-bottom: rem(1) solid var(--color-line-04);
  }

  .orderStatus{
    &:nth-child(2){
      font-size: rem(12);
      color: var(--color-font-sub2);
      font-weight: 400;
    }
  }
}

// 취소신청, 반품신청, 교환신청 버튼이 존재하는 controller
.order-button-controller {
  display: flex;
  align-items: center;
  gap: rem(10);
}

button.btn {
  border: rem(1) solid var(--color-line-03);
  border-radius: rem(4);
  color: var(--color-font-def);
  width: rem(100);
  @include char(l15);
  text-align: center;
  padding: rem(10) 0;
  &.cancel,
  &.confirm {
    color: var(--color-main);
    border-color: var(--color-main);
  }
}

section.title {
  padding: 0 0 rem(30);
}
section.content_title {
  padding: 0 0 rem(31);
}

.title {
  @include char(t24);
}

.content_title {
  .flex_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: rem(1) solid var(--color-line-03);
    text-align: center;
    @include char(l16);
    .left_box {
      width: 50%;

      display: flex;
      justify-content: center;
      div {
        width: 25%;
        min-width: rem(100);
        padding-bottom: rem(10);
        border-bottom: rem(2) solid var(--color-main);
      }
    }
    .right_box {
      width: 50%;
      padding-bottom: rem(10);
    }
  }
}

.body_title {
  @include char(l20);
  font-weight: 600;
  padding-bottom: rem(12);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: rem(1) solid var(--color-line-01);
}

.flex_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//.body_content_4 {
.generalItemInfoBox {
  @include char(l16);
  margin-bottom: rem(60);
  $grid-template-column-ratio: 45.7% 10.8% 15.2% 15.2% 13%;

  .grid_title {
    width: 100%;
    display: grid;
    //grid-template-columns: 45.7% 10.8% 15.2% 15.2% 13%;
    grid-template-columns: $grid-template-column-ratio;
    padding: rem(16) 0 rem(16);
    align-items: center;
    text-align: center;
    border-bottom: rem(1) solid var(--color-line-01);

    .col_1 {
      text-align: left;
      padding-left: rem(10);
    }
  }

  //.grid_box2 {
  .item {
    display: grid;
    //grid-template-columns: 45.7% 26% 15.2% 13%;
    grid-template-columns: $grid-template-column-ratio;
    padding: rem(18) 0;
    align-items: center;
    text-align: center;
    &:not(:last-child) {
      border-bottom: rem(1) solid var(--color-line-04);
    }

    //.col_1 {}
    .itemInfo {
      display: flex;
      padding-left: rem(10);
      column-gap: rem(20);
      .image {
        width: 100%;
        max-width: rem(60);
        min-width: rem(50);
        max-height: rem(60);
        aspect-ratio: 1/1;
      }

      .inner_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: rem(5);
        text-align: left;
        .top_text {
          margin-bottom: rem(5);
        }
        .mid_text {
          display: flex;
          @include char(l14);
          color: var(--color-font-sub);
          &:not(:last-child) {
            margin-bottom: rem(2);
          }
        }
      }
    }

    //.col_2{}
    .count {
      color: var(--color-font-def);
    }

    //.col_3 {
    //  &:not(:first-child) {
    //    padding-left: rem(10);
    //  }
    //}

    //.col_4{}
    .discountAmount {
      color: var(--color-font-sub);
      &.discount {
        color: var(--color-main);
      }
    }

    //.col_5{}
    .orderStatus {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: rem(8);
      flex-direction: column;
      .text {
        > *:nth-child(1) {
        }
        > *:nth-child(2) {
          font-size: rem(12);
          color: var(--color-font-sub2);
          font-weight: 400;
        }
      }
    }

    //.col_7 {
    //  color: var(--color-main);
    //}
    //.col_8 {
    //  color: var(--color-font-sub);
    //}
    //.col_9 {
    //  width: 100%;
    //  display: grid;
    //  grid-template-columns: 1fr 1.5fr;
    //}
  }
}

@media (max-width: rem(900)) {
  //.flex_box {
  //  .btn {
  //    cursor: pointer;
  //  }
  //}

  //.body_content_4 {
  .generalItemInfoBox {
    .grid_title {
      display: none;
    }

    //.grid_box2 {
    .item {
      grid-template-columns: 1fr;
      text-align: left;
      grid-gap: rem(10);

      > *:not(.col_1) {
        padding-left: rem(80);
      }
      .orderStatus {
        > * {
          width: 100%;
        }
        .text {
          font-weight: 600;
        }
      }
      //.col_5,
      //.col_7,
      //.col_8,
      //.col_9 {
      //  padding-left: rem(80);
      //}
      //.col_5 {
      //  font-weight: bold;
      //}
      //.col_6 {
      //  padding: rem(10) 0 rem(10) rem(0);
      //}
      //.col_9 {
      //  display: flex;
      //}
    }
  }

  //.line1{
  //  display: none;
  //}
}

@media (max-width: rem(600)) {
  .title {
    display: none;
  }

  .item > *:not(.col_1) {
    padding-left: rem(80);
  }
}
