@import '/styles/global/guide';
$browser-context:16; // html font-size
@function rem($px, $context: $browser-context){
  @return #{$px / $context}rem;
}



section.title{ padding : rem(8) 0 rem(30);}


.title {
  @include char(t24);
}

.content {
  padding :rem(105) 0;

  p {
    @include char(l16);
    
    color : var(--color-font-sub);
    text-align: center;
    padding-bottom: rem(30);
  }
  
  .btn_box {
    display: flex;
    justify-content: center;
    .btn {
      width: rem(155);
      background-color: var(--color-main);
      color: #fff;
      text-align: center;
      @include char(l15);
      padding : rem(14) 0 rem(14);
      border-radius: rem(4);
    }
  }
}



.item-container {
  display: grid;
  grid-template-columns: 1fr 0.15fr rem(140);
  align-items: center;
  padding: rem(10) 0 rem(20);

  .left_box {
    display: grid;
    grid-template-columns: rem(100) 1fr;
    width: 100%;
    align-items: center;
    column-gap: rem(20);

    .image {
      width: 100%;
      max-width: rem(100);
      aspect-ratio: 1/1;
    }

    .flex_box {
      .text {
        display: flex;

        .last_text {
          @include char(l18);
          font-weight: 500;
        }
      }
      
      .text2 {
        display: grid;
        grid-template-columns: rem(60) 1fr;
        row-gap: rem(1);
        column-gap: rem(20);
        padding-top: rem(10);
        color: var(--color-font-sub);
      }
    }
  }


  .mid_box {
    text-align: left;
  }
  .right_box {
    @include char(l15);
    .btn {
      padding: rem(14) 0;
      text-align: center;
      border: rem(1) solid var(--color-main);
      border-radius: rem(4);
      color: var(--color-main);
    }
    .btn2 {
      padding: rem(14) 0;
      margin-top: rem(8);
      text-align: center;
      border: rem(1) solid var(--color-line-02);
      border-radius: rem(4);
      
    }
  } 
}




.subscribeItem-container {
  .day {
    @include char(l16);
    font-weight: 600; 
    padding-bottom: rem(7);
  }
  > hr {
    border: 0;
    border-bottom: rem(1) solid var(--color-line-04);
  }

  .hr1{
    display: block;
  }

  .hr2{
    display: none;
  }

  .content_body {
    display: grid;
    grid-template-columns: 1fr 0.15fr rem(140);
    align-items: center;
    padding-bottom: rem(10);

    .left_box {
      display: grid;
      grid-template-columns: rem(100) 1fr;
      width: 100%;
      align-items: center;
      column-gap: rem(20);
      padding: rem(10) rem(0);
      
      .image {
        width: 100%;
        max-width: rem(100);
        aspect-ratio: 1/1;
      }

      .flex_box {
        .text {
          display: grid;
          grid-template-columns: minmax(rem(34), auto) rem(18) 1fr;
          margin-bottom: 0;

          > p {
            @include char(l18);
            color : var(--color-main);
            font-weight: 500;
            padding-bottom: 0;
            width: 100%;
            max-width: rem(96);
            text-overflow: ellipsis;
            text-align: left;
          }

          .line_box{
            > hr {
              position: relative;
              top: rem(8);
              // transform: translateX(%);
              border: 0;
              border-bottom: rem(1) solid var(--color-line-02);
              width : rem(15);
              transform:rotate(90deg);
            }
          }
          
          .last_text {
            @include char(l18);
            font-weight: 500;
          }
        }

        .text2 {
          display: grid;
          grid-template-columns: rem(60) 1fr;
          row-gap: rem(1);
          column-gap: rem(20);
          padding-top: rem(10);
          color: var(--color-font-sub);
        }
      }
    }

    .mid_box {
      text-align: left;
    }

    .right_box {
      width: rem(140);
      @include char(l15);

      .btn {
        padding: rem(14) 0;
        text-align: center;
        border: rem(1) solid var(--color-main);
        border-radius: rem(4);
        color: var(--color-main);
      }

      .btn2 {
        padding: rem(14) 0;
        margin-top: rem(8);
        text-align: center;
        border: rem(1) solid var(--color-line-02);
        border-radius: rem(4);
      }
    } 
  }

}

.pagination_box {
  display: flex;
  justify-content: center;
  padding-top: rem(40);
  padding-bottom : rem(44);
  .content {
    width: 23%;
    display: flex;
    justify-content: space-between;
    @include char(l16);
    color: var(--color-font-sub);
  }
}


@media (max-width: rem(900)) {

  
  .title {
    display: none;
  }




  .item-container {
    grid-template-columns: 1fr;
    position: relative;
    padding: rem(10) 0;
  
    .mid_box {
      text-align: left;
      top: 0;
      left: 0;
      position: absolute;
      transform: translate(rem(90), rem(-28))
    }

    .right_box {
      width: 100%;
      padding: rem(10) 0;

      .btn {
        padding: rem(14) 0;
        text-align: center;
        border: rem(1) solid var(--color-main);
        border-radius: rem(4);
        color: var(--color-main);
      }
      .btn2 {
        padding: rem(14) 0;
        margin-top: rem(8);
        text-align: center;
        border: rem(1) solid var(--color-line-02);
        border-radius: rem(4);
        
      }
    } 
  }




  .subscribeItem-container {
    .hr1{
      display: none;
    }
    .hr2{
      display: block;
      margin-bottom: rem(20);
    }

    .content_body {
      grid-template-columns: 1fr;
      position: relative;

      .mid_box {
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        transform: translate(rem(90), rem(-28));
      }
      .right_box {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: rem(10);
        padding-bottom: rem(10);

        .btn2 {
          margin-top: rem(0);
          cursor: pointer;
        }
      }
    }
  }
}


@media (max-width: rem(600)) {

  .item-container {
    .left_box {
      grid-template-columns: rem(60) 1fr;
      column-gap: rem(10);
  
      .image {
        width: rem(60);
        max-width: rem(60);
      }

      .flex_box {
        .text {
          .last_text {
            font-size: rem(16);
          }
        }
        
        .text2 {
          grid-template-columns: rem(50) 1fr;
          column-gap: rem(20);
          row-gap: 0;
          padding-top: rem(8);
          font-size: rem(14);
          line-height: 1.3;
          color: var(--color-font-sub);
        }
      }
    }
  }



  
  .subscribeItem-container {
    .content_body {
      .left_box {
        grid-template-columns: rem(60) 1fr;
        column-gap: rem(10);

        .image {
          min-width: rem(60);
          width: rem(60);
        }

        .flex_box {
          .text {
            display: grid;
            grid-template-columns: minmax(rem(30), auto) rem(15) 1fr;
            margin-bottom: 0;

            > p {
              width: 100%;
              padding-bottom: 0;
              font-size: rem(16);
            }

            .line_box{
              > hr {
                width : rem(12);
                top: rem(6);
              }
            }

            .last_text {
              font-size: rem(16);
            }
          }

          .text2 {
            grid-template-columns: rem(50) 1fr;
            column-gap: rem(20);
            row-gap: 0;
            padding-top: rem(8);
            font-size: rem(14);
            line-height: 1.3;
            color: var(--color-font-sub);
          }
        }
      }
    }
  }
}