@import '/styles/global/guide';
@import '/styles/global/rem';

// 구독 주문 변경내용 안내 메시지
.change {
  display: block;
  width: 100%;
  padding-top: rem(15);
  color: var(--color-main);
  font-size: rem(14);
}

.info_autoConfirmation{
  color: var(--color-font-sub2);
  font-size: rem(14);
  margin-top:rem(10);
  height: 100%;
  &.general{
    text-align: right;
  }
}

// SUBSCRIBE ORDERSHEET - 주문상품
.body_content {
  display: grid;
  grid-template-columns: rem(100) 1fr;
  @include char(l16);
  padding: rem(20) 0 rem(60);

  .left_box {
    width: rem(80);
    padding-right: rem(20);
    .image {
      width: 100%;
      aspect-ratio: 1/1;
    }
  }

  .right_box {
    width: 100%;
    .grid_box {
      display: grid;
      grid-template-columns: rem(90) 1fr;
      column-gap: rem(3);
      row-gap: rem(18);
      width: 100%;
    }
  }

  .beforeData{
    text-decoration: line-through;
    color: var(--color-disabled);
    // margin-right: rem(8);
  }
}
// SUBSCRIBE ORDERSHEET - 주문정보
.body_content_2 {
  @include char(l16);
  .grid_box {
    width: 100%;
    display: grid;
    grid-template-columns: rem(150) 1fr;
    row-gap: rem(24);
    padding: rem(20) 0 rem(60);
    word-break: break-all;
    span{
      height: 100%;
    }
    .desc {
      color: var(--color-font-light);
    }
  }
}

// SUBSCRIBE ORDERSHEET - 배송조회
.body_content_3 {
  padding: rem(10) 0 rem(75);

  > * {
    height: rem(48);
  }
  > p.emptyCont {
    color: var(--color-font-sub);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: rem(16);
  }

  .content_grid {
    width: 100%;
    display: grid;
    // grid-template-columns: rem(120) rem(80) 1fr rem(100) rem(140);
    grid-template-columns: rem(150) 1fr rem(110) rem(140);
    text-align: left;
    align-items: center;
    font-size: rem(16);

    li {
      text-align: left;
      &.deliveryStatus {
        text-align: left;
      }
    }
    button {
      color: var(--color-main);
      border: rem(1) solid var(--color-main);
      border-radius: rem(5);
      padding: rem(8) 0;
      width: 100%;
    }
  }
}

@media (max-width: rem(900)) {
  .body_content_3 .content_grid {
    grid-template-columns: minmax(rem(150), auto) 1fr rem(140);
    li:first-child {
      span:nth-child(2) {
        display: none;
      }
    }
    li:nth-child(2) {
      > span {
        display: none;
      }
    }
    li:nth-child(3) {
      display: none;
    }
  }
}



@media (max-width: rem(750)) {
  
  .body_content_3 .content_grid {
    padding-top: rem(11);
    grid-template-columns: minmax(rem(150), auto) 1fr;
    row-gap: rem(10);

    li:last-child{
      grid-column: 1 / span 2;
    }  
  }

}



@media (max-width: rem(600)) {
  .body_content {
    grid-template-columns: rem(80) 1fr;

    .left_box {
      width: rem(60);
    }

    .right_box {
      .grid_box {
        grid-template-columns: rem(80) 1fr;
      }
    }
  }

  .body_content_3 {
    .content_grid {
      li:first-child {
        font-size: rem(15);
      }
    }
  }
}
