@import '/styles/global/rem';
@import '/styles/global/guide';




section.title {padding : rem(60) 0 rem(40) 0 ; }
section.mid_image_box { padding: rem(25) 0 rem(25) 0;}
section.btn_section { padding : rem(40) 0 rem(98) 0;}

.title {
  text-align: center;
  .title_text {
    @include char(t24);
    font-weight: 700;
    margin-bottom:rem(10);
  }
  .title_text_2  {
    @include char(l16);
    font-weight: 500;
    color: var(--color-font-sub2);
  }
  .notice{
    color:var(--color-main);
    font-size: rem(12);
    margin-top:rem(4);
  }
}

.before_result {
  display: flex;
  justify-content: center;
  .before_result_content {
    display: flex;
    flex-direction: column;
    align-items: center;  
    width: rem(360);


    box-shadow: 0 0 rem(20) rgba(0, 0, 0, 0.08);
    border-radius: rem(12);

    .inner_content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      .line_box {
        width: 100%;
        max-width: rem(280);
        display: flex;
        @include char(l16);
        line-height: 140%;
        justify-content: space-between;
        border-bottom: rem(1) solid var(--color-line-03);
        padding : rem(20) 0 rem(20) 0;

        &:first-child {
          padding-top: rem(40);
        }
        &:last-child {
          padding-bottom: rem(40);
          border-bottom: none;
        }
        .left_box {
          display: grid;
          place-items: center;
          color: var(--color-font-sub);
          font-weight: 500;
        }
        .right_box {
          text-align: right;
          font-weight: 600;
        }

      }  
    }
  }
}


.mid_image_box {
  display: flex;
  justify-content: center;

  .image {
    width: rem(60);
    aspect-ratio: 1/1;
  }
}

.after_result {
  display: flex;
  justify-content: center;
  .after_result_content {
    display: flex;
    flex-direction: column;
    align-items: center;  
    width: rem(360);


    box-shadow: 0 0 rem(20) rgba(0, 0, 0, 0.08);
    border-radius: rem(12);

    .inner_content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      .line_box {
        width: 100%;
        max-width: rem(280);
        display: flex;
        @include char(l16);
        line-height: 140%;
        justify-content: space-between;
        border-bottom: rem(1) solid var(--color-line-03);
        padding : rem(20) 0 rem(20) 0;

        &:first-child {
          padding-top: rem(40);
        }
        &:last-child {
          padding-bottom: rem(40);
          border-bottom: none;
        }
        .left_box {
          display: grid;
          place-items: center;
          align-items: flex-start;
          color: var(--color-font-sub);
          font-weight: 500;
        }
        .right_box {
          text-align: right;
          font-weight: 600;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
        }

      }  
    }
  }
}
.btn_section {
  display: flex;
  justify-content: center;
  .box_btn {
    display: grid;
    place-items: center;
    @include char(l16);
    text-align: center;
    width: 100%;

    .top_btn {
      margin-bottom: rem(10);
      width: rem(315);
      padding: rem(17) 0;

      background-color: var(--color-main);
      color: #fff;
      border-radius: rem(4);
      cursor: pointer;
    }
    .bot_btn {
      width: rem(315);
      padding: rem(17) 0;

      border: rem(1) solid var(--color-line-03);
      border-radius: rem(4);
      cursor: pointer;
    }
  }
}

@media (max-width: rem(600)) {
  
  .btn_section {
    .box_btn {
      .top_btn, .bot_btn {
        width: 100%;
        max-width: rem(315);
      }
    }
  }

}


@media (max-width: rem(400)) {

  .before_result {
    .before_result_content {
      .inner_content {
        .line_box {
          width: calc(100% - rem(40));
        }
      }
    }
  }

  .after_result {
    .after_result_content {
      .inner_content {
        .line_box {
          width: calc(100% - rem(40));
        }
      }
    }
  }
}