$browser-context:16; // html font-size
@function rem($px, $context: $browser-context){
  @return #{$px / $context}rem;
}
@import 'styles/global/guide.scss';



section.top_content{ padding: rem(80) 0 rem(8) 0;}
section.image_box { padding: 0 0 rem(70) 0; }
section.mid_content { padding: 0 0 rem(70) 0;}
section.image_box2 { padding: 0 0 rem(70) 0; }
section.btn_section { padding : 0 0 rem(62) 0;}

.top_content {
  .top_text_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      font-size: rem(22);
      font-weight: 700;
      line-height: 140%;
      letter-spacing: -0.02em;
      padding-bottom: rem(20);
    }
    .text_row2{
      @include char(t24);
      line-height: 100%;
      color: var(--color-font-sub);
      padding-bottom: rem(12);
      span {
        color: var(--color-main);
        font-weight: 700;
        font-size : rem(30);
        line-height: 100%;
      }
    }
    .text_row3 {
      color: var(--color-font-sub);
      @include char(l18);
    }
  }
}

.image_box {
  display: flex;
  justify-content: center;
  .image{
    width: 100%;
    max-width: rem(560);
    aspect-ratio: 1.3/1;
  }
}

.image_box2 {
  display: flex;
  justify-content: center;
  .image{
    width: 100%;
    max-width: rem(560);
    aspect-ratio: 0.79/1;
  }
}

.mid_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  .mid_content_title {
    font-size: rem(22);
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -0.02em;
    padding-bottom: rem(30);

  }
  .mid_content_box {
    background-color: #f1f1f4;
    width: 82.8%;
    max-width: rem(960);
    // height: rem(360);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: rem(15);
    // place-items: center;
    .mid_content_inner_box {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: rem(54) 0;
      .image {
        width : rem(120);
        aspect-ratio: 1/1;
      }
      .mid_content_inner_box_text {
        padding: rem(23) 0 rem(15);
        @include char(l20);
        font-weight: 600;
        line-height: 140%;
      }
      .mid_content_inner_box_text2 {
       @include char(l16);
       text-align: center;
       line-height: 140%;
       letter-spacing: -0.04em;
       color : var(--color-font-sub);
      }
    }

  }
}



.btn_section {
  display: flex;
  justify-content: center;
  .box_btn {
    display: flex;
    width: 50%;
    justify-content: center;
    @include char(l15);
    text-align: center;
    column-gap: rem(10);
    .left_btn {
      width: 100%;
      max-width: rem(200);
      padding: rem(17) 0;

      border: rem(1) solid var(--color-line-03);
      border-radius: rem(4);
    }
    .right_btn {
      width: 100%;
      max-width: rem(200);
      padding: rem(17) 0;


      background-color: var(--color-main);
      color: #fff;
      border-radius: rem(4);

    }
  }
}