$browser-context:16;
@function rem($px, $context: $browser-context){
  @return #{$px / $context}rem;
}


$windowWidthForRightSideBorder: rem(1214);


.cont_viewer {
  .table{
    font-size: rem(15);
    /* border line */
    .table_header{border: rem(1) solid var(--color-line-03); box-sizing: border-box}
    .table_th, .item > span{border-right: rem(1) solid var(--color-line-03);}
    .item:not(:last-child){border-bottom: rem(1) solid var(--color-line-03);}

    .table_header, .item{
      display:grid;
      grid-gap:0;
      grid-template-rows: minmax(rem(60), auto);
      grid-template-columns:
        rem(50)
        minmax(rem(30), rem(160))
        minmax(rem(80), rem(160))
        minmax(rem(30), rem(180))
        minmax(rem(30), rem(120))
        minmax(rem(30), rem(120));
      overflow: hidden;

      .table_th, span{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .table_th{
        font-weight: 600;
        background-color:#f1f1f4;
        height: 100%;
      }
      input[type="checkbox"] ~ span{padding: 0}
      span{
        padding: rem(5) rem(10);
      }
    }

    .item{
      background-color: #fff;
      border: rem(1) solid var(--color-line-03);
      margin-top:rem(-1);
    }


  }
}




@media (max-width: ($windowWidthForRightSideBorder)) {
  .cont_viewer{
    .table {
      .table_th:last-child, span:last-child{border-right: 0}
    }
  }

}
