/* ADMIN COMMON STYLE */
$browser-context: 16;
@function rem($px, $context: $browser-context) {
  @return #{$px / $context}rem;
}

#searchBar {
  color: var(--color-font-def);

  .search-section {
    margin-bottom: rem(20);
  }

  .search-row {
    display: grid;
    grid-template-columns: rem(160) calc(100% - rem(160));
    justify-content: flex-start;
    border-bottom: rem(1) solid var(--color-line-04);
    padding-bottom: rem(15);
    gap:rem(10) 0;

    > *:nth-child(1){
      grid-column: 1 / 2;
      grid-row:1 / 2;

      display: flex;
      align-items: center;
    }
    > *:nth-child(2){
      grid-column: 2 / auto;
      grid-row:1 /2;
    }
    > *:nth-child(3){
      grid-column: 2 / auto;
      grid-row:2 /3;
    }

    .title {
      font-size: rem(15);
      cursor: default;
    }
    &:not(:first-child) {
      padding-top: rem(15);
    }
  }
  .btn-section {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      &:not(:last-child) {
        margin-right: rem(10);
      }
    }
  }
}

/* 공통 */

/* 조회기간 */
.inp-wrap.term {
  button {
    width: rem(80);
    margin-left: rem(-1);
    &.active {
      color: var(--color-primary04);
      position: relative;
      z-index: 1;
      border-color: var(--color-primary04);
    }
  }

  input[type="date"] {
    width: rem(160);
    height: rem(38);
    color: #4d4d4d;
    &::-webkit-datetime-edit {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: rem(14);
      cursor: pointer;
    }
    &::-webkit-datetime-edit-fields-wrapper {
      background: transparent;
    }
    &::-webkit-datetime-edit-text {
      color: inherit;
    }
    &::-webkit-datetime-edit-month-field {
      color: inherit;
    }
    &::-webkit-datetime-edit-day-field {
      color: inherit;
    }
    &::-webkit-datetime-edit-year-field {
      color: inherit;
    }
    &::-webkit-inner-spin-button {
      display: none;
    }
    &::-webkit-calendar-picker-indicator {
      opacity: 1;
      cursor: pointer;
    }
  }
  .icon-wrap {margin-left: rem(10);}
}






// * 라디오버튼
.inp-wrap.radio {
  display: flex;
  align-items: center;


  color: var(--color-font-def);
  label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: rem(14);
    &:not(:last-child){margin-right: rem(24);}
    input{margin-right:rem(6)}
    
  }

}


// * 기본 Input
.inp-wrap.plainText{
  input{width: rem(200); border-radius:0;}
}




// * 기본 Input
.inp-wrap.textWidhCategory{
  input{width: rem(200); border-radius:0; height: rem(38);}
  select{width: rem(120) !important; min-width: auto; border-radius:0; height: rem(38);}
  & *:not(:last-child){margin-right:rem(5);}
}



// * Tooltip-wrap
.tooltip-wrap{display: flex; align-items: center; justify-content: center; margin-left:rem(4);}