@import '/styles/global/guide.scss';
@import '/styles/global/rem';

$browser-context: 16;
// convert px to rem
@function rem($px, $context: $browser-context) {
  @return #{$px / $context}rem;
}

// *  ------- COMMON ------- * //
$backgroundColorDef: #f8f8ff;

#popup {
  background-color: $backgroundColorDef;
  position: absolute;
  left: 0;
  right: 0;
}

.header {
  background-color: #23242e;
  color: #fff;
  .cont {
    height: rem(66);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .popup-title {
    font-size: rem(24);
    cursor: default;
  }
}

.row {
  padding: 0 rem(20);
}

.body {
  padding: rem(20) 0 rem(30);
}

// * ------- TABLE ------- * //
.table {
  .table-list:not(:last-child) {
    margin-bottom: rem(20);
  }

  .t-header {
    margin-bottom: rem(15);
  }
  .title {
    font-size: rem(16);
    color: var(--color-font-def);
    font-weight: 500;
    cursor: default;
  }
  .t-body {
    .t-row {
      display: grid;
      grid-template-columns: 50% 50%;
      &.fullWidth {
        grid-template-columns: 1fr;
      }
      &.threeCells {
        grid-template-columns: 1fr 1fr 1fr;
      }
      &.multiLines {
        .label,
        .innerBox {
          padding: rem(10) rem(20) rem(2);
          height: 100%;
          display: inline-block;
          > span {
            margin-bottom: rem(8);
          }
        }
      }
    }
    .t-row:not(:first-child) {
      margin-top: rem(-1);
    }
    .tooltop-box {
      overflow: unset !important;
    }
    .t-box {
      display: grid;
      grid-template-columns: rem(180) calc(100% - #{rem(180)});
      align-items: center;
      overflow: hidden;

      &:nth-child(2n) {
        margin-left: rem(-1);
      }
      .tooltip {
        em {
          position: relative;
          display: inline-flex;
          align-items: center;
        }
        i {
          position: relative;
          background: #fff;
          z-index: 9;
          border-radius: 50%;
          overflow: hidden;
          border: rem(1) solid #ababab;
          color: #ababab;
          font-size: rem(13) !important;
          margin-left: rem(4);
          line-height: 2;
          width: rem(16);
          height: rem(16);
          display: inline-flex;
          align-items: center;
          justify-content: center;
        }
        pre {
          background-color: #111;
          color: #fff;
          box-shadow: 0 0 rem(10) 0 rgba(0, 0, 0, 0.15);
          border: rem(1) solid var(--color-line-04);
          position: absolute;
          z-index: 10;
          bottom: -70%;
          transform: translate(-50%, 100%);
          border-radius: rem(4);
          box-sizing: border-box;
          width: rem(300);
          font-size: rem(13) !important;
          padding: rem(12) rem(16);
          white-space: nowrap;
          animation: show var(--ani-default);
          right: auto;
          transform: translate(0, 100%);
        }
        .tooltip_text {
          left: -450%;
          bottom: -50%;
          width: rem(260);
        }
      }
      .innerBox {
        border: rem(1) solid var(--color-line-03);
        height: rem(48);
        display: flex;
        align-items: center;
        padding: 0 rem(20);
        box-sizing: border-box;
        .nextPaymentPriceInput {
          width: rem(170);
          margin-right: rem(10);
        }
        .GramsPerRecipeInput {
          width: rem(72);
          margin-right: rem(10);
        }
        span {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          &:not(:last-child) {
            margin-right: rem(10);
          }
        }
        &:nth-child(2) {
          margin-left: rem(-1);
        }
        &.label {
          background-color: $backgroundColorDef;
          color: var(--gray10);
          cursor: default;
        }
        &.cont {
          background-color: #fff;
          color: var(--gray20);
        }
        &.plan_table {
          min-height: rem(200);
          overflow: auto;
        }
        &.plan_content {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .plan_checkbox {
            width: 100%;

            ul {
              width: 100% !important;
              max-width: rem(800) !important;
            }

            div {
              padding-right: rem(20);
            }
          }

          p {
            padding: rem(10) 0;
            // font-weight: bold !important;
          }

          .recipe_change_btn {
            margin-top: rem(14);
          }
        }
      }
    }
  }

  input[type='date'] {
    font-size: rem(14);
    width: rem(140);
    padding: rem(4) rem(10);
    &::-webkit-calendar-picker-indicator {
      display: block;
      // -webkit-appearance:initial;
    }
  }
  input.disabled {
    border: 0;
    font-size: rem(16);
    padding: 0;
    width: rem(100);
    &::-webkit-calendar-picker-indicator {
      display: none;
      // -webkit-appearance: none;
    }
  }
}

.btn-section {
  margin-top: rem(20);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dogName {
  display: inline-flex !important;
  background-color: #f1f2f3;
  border-radius: rem(50);
  padding: rem(2) rem(12);
  font-size: rem(14);
}

.t-gram {
  display: flex;
  gap: rem(6);
  padding-bottom: rem(14);

  .gram {
    font-weight: bold;
  }
}

// * ------- SURVEY ------- * //
.survey-page {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  .inputRadio-wrap {
    text-align: center;
    label {
      max-width: rem(320);
      cursor: pointer;
      font-size: rem(16);
    }
  }
  .inputRadio {
    cursor: pointer;
    border-radius: rem(32.5);
    background-color: #fff;
    width: 100%;
    min-height: rem(42);
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
    padding: rem(10) rem(25);
    box-sizing: border-box;
    // border: rem(2) solid var(--color-line-03) !important;
    border: rem(2) solid black !important;
    transition: border-color 0.2s var(--transition-cubic);
    font-weight: 600;
    max-width: rem(320);
    white-space: normal;
    word-break: keep-all;
    line-height: initial;
    &.checked {
      border-color: var(--color-main);
      color: var(--color-main);
    }
    input {
      position: absolute;
      display: none;
      overflow: hidden;
      width: 0;
      height: 0;
      line-height: 0;
      opacity: 0;
      text-indent: rem(-9999);
    }
  }

  input {
    font-size: 1rem;
    border-radius: 0;
    // border: 0 !important;
    border-bottom: 0.0625rem solid var(--color-line-02) !important;
    cursor: pointer;

    .focus-underline {
      font-size: rem(16);
      border: {
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
      }
      border-radius: 0;
      border-bottom: rem(1) solid var(--color-line-02) !important;
      cursor: pointer;
      &:focus {
        border: {
          top: 0;
          left: 0;
          right: 0;
          border-bottom: rem(1) solid;
        }
        border-color: var(--color-main) !important;
      }
      + .unit {
        position: absolute;
        cursor: default;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: rem(16);
      }
    }
  }
}

.btn-section.in-mypage {
  display: flex;
  align-items: center;
  justify-content: center;
  button.submit {
    background-color: var(--color-main);
    font-size: rem(16);
    color: #fff;
    border-radius: rem(8);
    width: 100%;
    max-width: rem(435);
    height: rem(60);
  }
}

.input-wrap {
  position: relative;
  input {
    width: 100% !important;
  }
}

.checkbox {
  display: inline-grid;
  grid-template-columns: rem(20) 1fr;
  align-items: center;
  column-gap: rem(10);
  cursor: pointer;
  font-size: rem(14);

  &.position-right {
    grid-template-columns: 1fr rem(20);
  }
  &.disabled {
    cursor: default;
    color: var(--color-disabled) !important;
  }
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-wrap {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  &.onlyCheckbox {
    label {
      gap: 0;
    }
    span {
      margin: 0;
    }
  }
  pre {
    margin: 0 !important;
    padding-left: rem(10) !important;
    &:before {
      display: none;
    }
  }
}

/* 기본 체크박스 숨기기 */
.checkbox input[type='radio'] {
  display: none;
}

/* 선택된 체크박스 스타일 꾸미기 */
.checkbox input[type='radio']:checked + .fakeCheckBox {
  background: var(--color-main) !important;
}

.checkbox input[type='radio']:checked + .fakeCheckBox:after {
  display: block;
}

/* THEME */
.circle {
  .fakeCheckBox {
    border-radius: 50%;
  }
  .fakeCheckBox:after {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border-color: transparent;
    background-color: #fff;
    border-width: 0;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
}

/* 선택되지 않은 체크박스 스타일 꾸미기 */
.checkbox .fakeCheckBox {
  width: rem(20);
  height: rem(20);
  margin-right: rem(11);
  border-radius: rem(2);
  background: #ddd;
  position: relative;
  display: block;
  top: 0;
  left: 0;
  transition-timing-function: var(--transition-cubic);
  transition-property: background-color;
  transition-duration: 0.2s;
}

.fakeCheckBox:after {
  content: '';
  position: absolute;
  width: rem(6);
  height: rem(10);
  border: solid #fff;
  border-width: 0 rem(2) rem(2) 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: rem(6);
  top: rem(2);
}
