@import '/styles/global/guide';




$browser-context:16; // html font-size
@function rem($px, $context: $browser-context){
  @return #{$px / $context}rem;
}


section.title { padding : rem(60) 0 rem(20); }
// section.cart_btn{ margin-bottom: rem(10) }
// section.product_list { padding : 0 0 rem(0)}
section.total_price { margin : rem(60) 0 rem(80)}
section.btn_box { margin : 0 0 rem(206)}


.check_box {
  display: flex;
  align-items: center;
  justify-content: center;
  .auto__login__check {
    .chk__box {
      display: flex;
      cursor: pointer;
      height: 100%;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      padding-bottom: rem(1);
      .text {
        display: grid;
        place-items: center;
        @include char(l15);
        color: var(--color-font-sub);
        padding-left: rem(10);
      };
    } /* 기본 체크박스 숨기기 */ 
    .chk__box input[type='checkbox'] {
      display: none;
      
    } /* 선택되지 않은 체크박스 스타일 꾸미기 */ 
    .chk__box .on {
      width: rem(20);
      height: rem(20);
      background: #ddd;
      position: relative;
      display: flex;
      top: 0;
      left: 0;
    } /* 선택된 체크박스 스타일 꾸미기 */ 
    .chk__box input[type="checkbox"]:checked + .on {
      background:var(--color-main);
    } 
    .on:after { 
      content: "";
      width: rem(6);
      height: rem(10);
      border: solid #fff;
      border-width: 0 rem(2) rem(2) 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      left: rem(6);
      top: rem(2);
    } 
    .chk__box input[type="checkbox"]:checked + .on:after {
      display: flex;
    } 
    .on:after {
      width: rem(6);
      height: rem(10);
      border: solid #fff;
      border-width: 0 rem(2) rem(2) 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      left: rem(6);
      top: rem(2);
    }
  }
}

.title {
  .text {
    @include char(t24);
    text-align: center;
  }
}

.cart_btn {
  .content_box {
    display: flex;
    flex-direction: row-reverse;
    border-bottom: rem(1) solid var(--color-line-01);
    padding-bottom: rem(10);

    .btn {
      border: rem(1) solid var(--color-main);
      border-radius: rem(2);
      color: var(--color-main);
      padding: rem(6) rem(13) rem(6);
      @include char(l15);
      margin-left: rem(16);
      cursor: pointer;
    }    
  }
}

.product_list {
  .emty_box{
    width: 100%;
    text-align: center;
    padding: rem(60) 0;

    span {
      color: #636363;
    }

    .button_box{
      margin-top: rem(40);
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .emty_button{
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: rem(218);
        height: rem(42);
        border: rem(1) solid var(--color-main);
        border-radius: rem(4);
        color: var(--color-main);
      }
    }
  }

  .flex_box {
    display: grid;
    grid-template-columns: rem(80) rem(120) 1fr rem(250) rem(40) ;
    padding: rem(20) 0 rem(20);
    border-bottom: rem(1) solid #DDDDDD;
    height: 100%;
    > .check_box {
      // padding-right: rem(32);
    }

    .image {
      width: 100%;
      max-width: rem(120);
      aspect-ratio: 1/1;
    }

    .list_text {
      padding-left: rem(16);
      > p {
        @include char(l16);  
        padding-bottom:  rem(6); 
      }
      > span {
        @include char(l14);
        color: var(--color-font-sub);
        text-decoration: line-through;
      }
      > div {
        @include char(l16);
        font-weight: 600;
        padding-top: rem(4);
      }

    }

    .grid_box{
      display: grid;
      grid-template-columns: rem(130) rem(120);

      .count_box {
        max-width: rem(120);
        max-height: rem(36);
        // margin: rem(0) rem(20);
        display: flex;
        justify-content: space-between;
        border : rem(1) solid #909090;
        border-radius: rem(4);
        
        .minus{
          width: rem(36);
          display: flex;
          justify-content: center;
          align-items: center;
          // padding-left: rem(15);
          flex-grow: 0;
          background-color: rosybrown;
          color: #636363;
          font-size: rem(30);
          cursor: pointer;
        }
        
        .mid_box{
          width: rem(50);
          display: flex;
          justify-content: center;
          flex-grow: 2;
          input {
            width: 100%;
            text-align: center;
            align-items: center;
            border: 0;
          }
        }

        .plus{
          width: rem(36);
          display: flex;
          justify-content: center;
          align-items: center;
          // padding-left: rem(0);
          // padding-right: rem(15);
          flex-grow: 0;
          background-color: rosybrown;
          color: #636363;
          font-size: rem(20);
          cursor: pointer;
        }
      }

      .price {
        line-height: rem(35);
        text-align: center;
      }
    }

    .delete_btn{
      width: rem(36);
      height: rem(36);

      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      .image {
        width: 100%;
        max-width: rem(16);
        aspect-ratio: 1/1;
      }
    }
  }
  &:last-child{

    .flex_box{
      border-bottom: 0;
    }
  }
}

.total_price {
  display: grid;
  place-items: center;
  border: rem(1) solid var(--color-line-03);
  height: rem(160);
  .flex_box {
    display: grid;
    grid-template-columns: rem(100) rem(10) rem(100) rem(10) rem(100) 1fr;
    text-align: center;
    grid-gap: rem(40);
  }
  .up_text {
    @include char(l16);
    padding-bottom: rem(20);
  }
  .down_text {
    @include char(l20);

  }
  .math {
    width: 100%;
    .image {
      width: 100%;
      max-width: rem(16);
      aspect-ratio: 1/1;
    }
  }
  
  .flex_text_box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(20);
    position: relative;
    font-weight: bold;

    &::before {
      content: "";
      width: rem(1);
      height: rem(80);
      background-color: var(--color-line-04);
      position: absolute;
      top : 0;
      left: rem(-30);
      bottom: 0;
      margin: auto;

    }
    .total {
      @include char(l16);
    }
    > p {
      color: var(--color-main);
      @include char(t24);
      font-weight: bold;
    }
  }
}

.btn_box {
  display: flex;
  justify-content: center;
  .btn_box {
    display: grid;
    place-items: center;
    width: rem(315);
    height: rem(50);
    background: #CA1010;
    border-radius: rem(4);
    cursor: pointer;

    @include char(l16);
    color: #fff;
  }
}


@media (max-width: rem(800)) {

  .check_box {
    align-items: normal;

    .auto__login__check {
      .chk__box .on {
        top: rem(4);
      }
    }
  }

  .product_list {
    .flex_box {
      grid-template-columns: rem(24) rem(120) 1fr rem(40);
      grid-gap: rem(10);

      .check_box{
        .auto__login__check{
          .chk__box{
            .on{
              width: rem(24);
              height: rem(24);
              top: rem(4);

              &::after{
                left: rem(8);
                top: rem(4);
              }
            }
          }
        }
      }
  
      .list_text {
        padding-left: 0;
      }

      .grid_box{
        display: flex;
        justify-content: space-between;
        width: 100vw;
        transform: translateX(rem(34));
        order: 6;

        .price {
          transform: translateX(rem(-74));
          font-size: rem(22);
          font-weight: bold;
        }
      }
    
      .delete_btn{
        justify-content: flex-end;
        align-items: flex-start;

        .image {
          width: 100%;
          max-width: rem(16);
          aspect-ratio: 1/1;
        }
      }
    }
    &:last-child{
  
      .flex_box{
        border-bottom: 0;
      }
    }
  }
  section.total_price { margin : rem(30) 0 0}

  .total_price {
    border: 0;
    .flex_box {
      width: 100%;
      grid-template-columns: 1fr;
      grid-gap: 0;
      
      .amount, .shipping, .discount{
        display: flex;
        justify-content: space-between;
        
      }

      .math{
        display: none;
      }

      .flex_text_box {
        justify-content: space-between;

        &::before {
          display: none;
        }
      }
    }
  }
  
  .btn_box {
    margin-top: rem(30);
  }

}


@media (max-width: rem(600)) {

  section.title { padding : rem(20) 0 rem(20); }

  .check_box {
    .auto__login__check {
      .chk__box .on {
        width: rem(24);
        height: rem(24);
        
        &::after{
          left: rem(6);
          top: rem(2);
        }
      }
    }
  }

  .cart_btn {
    .content_box {
      justify-content: space-between;
    }
  }

  .product_list {
    .flex_box {
      grid-template-columns: rem(24) rem(60) 1fr rem(40);

    }
  }

  .btn_box {
    .btn_box {
      width: 100%;
    }
  }
  
}