@import '/styles/global/rem';


.search-box{
  display: inline-grid;
  grid-template-columns: rem(120) rem(240) rem(80);
  align-items: center;
  justify-content: center;
  gap: rem(10);
  height: rem(35);

  > * {
    height: 100% !important;
    font-size: rem(12);
  }
  button{
    border-radius: rem(4);
  }
  select{
    min-width: initial;
  }
}