$browser-context:16; // html font-size
@function rem($px, $context: $browser-context){
  @return #{$px / $context}rem;
}
@import '../../../../styles/global/guide';

section.title { padding : rem(60) 0 rem(80) ; }
section.menu_box { padding : rem(80) 0 rem(60) ; }
section.content_box {padding : 0 0 rem(60) 0}



.title {
  text-align: center;
  .text1 {
    @include char(t24);
    padding-bottom: rem(10);
  }

  .text2 {
    @include char(l18);
    color: var(--color-main);
  }

  br {
    display: none;
  }
}

.article_box {
  width: 100%;

  .article {
    padding : rem(46) 0 0 0  ;
    > p {
      @include char(l18);
      font-weight: 700;
      color : var(--color-font-sub);
    } 
    .flex_box {
      padding-top : rem(26);
      display: flex;
      justify-content: center;
      gap : rem(40);

      > p {
        @include char(l18);
        font-weight: 600;
        color : var(--color-font-sub);
      }
      .article_title {
        @include char(t20);
        padding-bottom : rem(10);
      }
      .day {
        @include char(l15);
        color : var(--color-font-sub2);
        padding-bottom : rem(30);
      }
      .left_box {
        width : 57%;
        cursor: pointer;
;
        .image {
          width: 100%;
          aspect-ratio: 1.57/1;
          margin-bottom: rem(11);          
        }

      }
      .right_box {
        width: 40%;
        cursor: pointer;

        .image {
          width: 100%;
          aspect-ratio: 1.09/1;
          margin-bottom: rem(11);  
        }


      }
    }
  }
}

.menu_box {
  display: grid;
  place-items: center;

  .menu{
    display: flex;
    li{
      position: relative;
      width: rem(120);
      text-align: center;

      &:first-child a{
        color: var(--color-main);
        font-weight: bold;
      } 

      &::before {
        content: "";
        width: rem(1);
        height: rem(16);
        background-color: #ddd;
        position: absolute;
        top: 0;
        left: 0;
      }
      &:first-child::before {
        display: none;
      } 
      a {
        @include char(l16);
        color: #4D4D4D; 

        
      }
    }
  }
}

.content_box {
  width: 100%;
  
  .line {
    border-top: 1px solid var(--color-line-04);
    border-bottom: 1px solid var(--color-line-04);
    margin-bottom: rem(20);
    cursor: pointer;

    .flex_box {
      display: grid;
      grid-template-columns: 1fr rem(240);
      align-items: center;
      gap: rem(40);

      padding: rem(20) rem(20) ;
  
      .left_box {
        padding-top: rem(12);
        > p {
          @include char(l15);
          font-weight: 600;
          color : var(--color-font-sub);

          padding-bottom: rem(8);
        }
        .article_title {
          @include char(t20);
          padding-bottom : rem(16);
        }

        .text {
          @include char(b16);
          color : var(--color-font-sub2);
          padding-bottom: rem(20); 
        }
        .day {
          @include char(l15);
          color : var(--color-font-sub2);
          padding-bottom : rem(30);
        }
      }
  
      .right_box {
        padding-right: rem(20);
  
        .image {
          width: 240px;
          aspect-ratio: 1/1;
        }
      }
    }
  }
}

.pagination_box {
  display: flex;
  justify-content: center;
  padding-top: rem(40);
  padding-bottom : rem(44);
  .content {
    width: 23%;
    display: flex;
    justify-content: space-between;
    @include char(l16);
    color: var(--color-font-sub);
  }
}




@media (max-width: rem(1200)) {

  .article_box {
    .article {
      padding: 0;
      
      .flex_box {
      gap : rem(20);
      }
    }
  }

}


@media (max-width: rem(800)) {

  .content_box {
    width: 100%;
    
    .line {
      border: 1px solid var(--color-line-04);
      
      .flex_box {
        grid-template-columns: 1fr rem(160);
        grid-gap: rem(20);

    
        .left_box {
          padding-top: rem(12);
          > p {
            padding-bottom: rem(8);
          }
          .article_title {
            padding-bottom : rem(16);
          }
  
          .text {
            display: none;
          }
        }
        
        .right_box {
          .image {
            width: rem(160);
          }
        }
      }
    }
  }

}

@media (max-width: rem(600)) {

  section.title { padding : rem(70) 0 rem(30) ; }
  .title {
    br {
      display: block;
    }
  }

  .article_box {
    .article {
      .flex_box {
        .left_box {
          width : 100%;
          position: relative;
          
          .image {
            width: 100%;
            aspect-ratio: 1/1;
            margin-bottom: rem(11);  
            position: relative;

            &::after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);        
            }
          }

          .subject{
            position: absolute;
            bottom: rem(20);
            left: rem(20);
            color: #fff;
            font-size: 3.5vw;

            .article_title {
              width: 80vw;
              font-size: 7vw;
            }
            .day {
              color: #fff;
              font-size: 3.5vw;
              font-weight: 100;
            }
          }
        }
        .right_box {
          display: none;
        }
      }
    }
  }
  
  .menu_box {
    .menu{
      li{
        width: rem(70);
      }
    }
  }

  section.content_box {padding : 0}

  .content_box {
    .line {
      margin-bottom: rem(10);
      
      .flex_box {
        grid-template-columns: 1fr rem(80);
        padding: rem(10);
        grid-gap: rem(10);
    
        .left_box {
          padding-top: 0;
          > p {
            padding-bottom: rem(8);
          }
          .article_title {
            padding-bottom : rem(16);
            font-size: rem(16);
          }
  
          .text {
            display: none;
          }
          .day {
            padding-bottom: 0;
          }
        }
        
        .right_box {
          .image {
            width: rem(80);
          }
        }
      }
    }
  }

}