@import '/styles/global/rem';

$mobileHeight: rem(50);
$pcHeight: rem(60);

#banner {
  a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    text-align: center;
    font-size: rem(20);
    &[data-device='pc'] {
      height: $pcHeight;
    }
    &[data-device='mobile'] {
      height: $mobileHeight;
    }
  }
}

.admin-preview-image {
  &.pc {
    height: $pcHeight;
    width: rem(1200);
  }
  &.mobile {
    height: $mobileHeight;
    width: rem(600);
  }
}
