@import '/styles/global/rem';

$header-height: rem(80);
$nav-width: rem(300);


.cont_header{
  overflow:hidden;
  > * {float:left;}
  > *:first-child {float:left;}
  > *:last-child {float:left;}
  .title {
      font-size:rem(20);
      font-weight:400;
  }
}


.title_section{
  margin-top: rem(10);
  margin-bottom:rem(20);
  padding-bottom: rem(20);
  border-bottom: rem(1) solid var(--color-line)
}
