@import './adminCommon.module.scss';
@import '/styles/global/rem';
@import "/styles/module/zIndex.module";

$menu-Padding: 20;
$list-height: rem(58);

.admin_nav {
  z-index: $adminNav;
  position: fixed;
  top: $header-height;
  background-color: #fff;
  left: 0;
  padding: rem(20) 0 0;
  height: calc(100vh - #{$header-height});
  box-sizing: border-box;
  border: rem(1) solid var(--color-line-04);
  border-top: 0;
  max-width: $nav-width;
  width: $nav-width;

  .menu {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border: 0;
    box-sizing: border-box;
    padding-bottom: $list-height;
  }

  .menu_title {
    color: var(--color-font-medium);
    position: relative;

    &:not(:last-child) a,
    &:not(:last-child) p {
      border-bottom: 0;
    }
    &:not(.submenu_title, .submenu_list):after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: rem(6);
      height: 100%;
      max-height: $list-height;
      background-color: var(--color-main);
      transition: background-color, opacity 0.2s ease;
      opacity: 0;
    }

    &.menu_open:after {
      opacity: 1;
    }

    &[data-current-page] {
      > p,
      > a {
        font-weight: bold;
        color: #4d4d4d !important;
      }
      font-size: rem(18);
      svg {
        fill: #ababab;
      }

      &:after {
        opacity: 1;
      }
      & [data-current-page] {
        color: var(--color-main);
      }
    }

    > a,
    > p {
      padding: {
        top: rem(17);
        right: rem(30);
        bottom: rem(17);
        left: rem(40);
      }
      font-size: rem(18);
      color: #4d4d4d;
      max-height: $list-height;
      box-sizing: border-box;
    }

    .submenu_list {
      position: relative;
    }

    a svg {
      display: none;
    }

    ul {
      font-size: rem(16);
      a,
      p {
        font-size: rem(16);
        padding-left: rem($menu-Padding + 30);
      }
      .submenu_title > * {
        padding-left: rem($menu-Padding + 30);
      }
      .submenu_title ~ .submenu_list > * {
        padding-left: rem($menu-Padding + 45);
      }
    }
  }

  .site_settings {
    background-color: #fff;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: rem(1) solid var(--color-line-04);
    .menu_title[data-current-page='true'] {
      span{
        svg {
          animation: rotate 2s infinite linear;
        }
      }
    }
    a,
    p {
      max-height: $list-height;
      padding:{
        top: rem(12);
        bottom: rem(12);
        left: rem($menu-Padding + 20);
        right: rem(30);
      }
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      position: relative;
      color: #636363;
      //font-size: rem(18);
      transition: color var(--ani-short);
      cursor: pointer;
      span {
        font-weight: normal;
        display: flex;
        align-items: center;
        gap:rem(6);
        svg {
          width: rem(20);
          height: rem(20);
        }
      }
      &:hover {
        span path{
          fill: var(--color-main);
        }
      }
    }

    ul {
      background-color: #f4f4f4;
      display: none;
      transition: height 0s !important;

      a {
        padding-left: rem($menu-Padding + 30);
      }
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
