@import './adminCommon.module.scss';

$browser-context:16; // html font-size:
@function rem($px, $context: $browser-context){
  @return #{$px / $context}rem;
}

$header-height: rem(80);
$nav-width: rem(300);


$container-maxWidth: rem(1920);
$contents-container-maxWidth: rem(1620);


$contents-width: $nav-width;
$contents-maxWidth: rem(1620);




.container_outer{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container{
  width: 100%;
  max-width: $container-maxWidth;
}

.row{
  padding: 0 rem(0);
}
  




.contents_container_outer{
  float:right;
  width: calc(100% - #{$nav-width});
  background-color: var(--color-bg-ghostWhite);
}
.contents_container{
  float:right;
  min-height: calc(100vh - #{$header-height});
  max-width: $contents-container-maxWidth;
  width:100%;
  padding: {
    top: rem(20);
    left: rem(20);
    right: rem(20);
    bottom: rem(80)
  }
  box-sizing: border-box;


}

.contents_row{padding:0;}


.body_container{
  width: $container-maxWidth;
  margin:0 auto;
  overflow: hidden;
}



/* RESPONSIVE */
@media (max-width: $container-maxWidth){

  .body_container{width:100%;}
  .row{padding: 0 rem(30);}

} 

@media (max-width: $contents-maxWidth){

  // .contents_row{
  //   padding-left:rem(20);
  //   padding-right:0;
  // }


} 


@media (max-width:1080px){

}


@media (max-width:768px){

}


@media (max-width:600px){

}


@media (max-width:320px){

}

