@import "/styles/global/rem";
$admin-headerHeight:rem(80);
$logoWidth : rem(180);

#admin_header{
  font-size:rem(15); color:#4d4d4d;
  height: $admin-headerHeight;
  border-bottom: rem(1) solid var(--color-line-03);
  box-sizing: border-box;
  position:fixed;
  z-index: 1000;
  background-color: #fff;
  left:0; top:0;right:0;
  > *{
    height: 100%;
  }
  &+ *{
    padding-top: $admin-headerHeight;
  }
}

.inner{
  display: grid;
  padding-left: rem(10);
  grid-template-columns: rem(30) minmax(100px, $logoWidth) 1fr;
  align-items: center;
  column-gap: rem(20);
  justify-content: center;


  .gnb-toggle-fold-button{
    border-radius:50%;
    box-sizing: border-box;
    background-color:#fff;
    border: rem(1) solid var(--color-line-04);
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    transition: box-shadow 0.3s cubic-bezier(0.58, 0.31, 0.44, 0.94);
    &:hover{
      box-shadow: 0 0 rem(40) 0 rgba(0,0,0,0.25);
    }
  }

  .header_menus{
    $distance: rem(18);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: rem(15);
    & > * {float:left;cursor: default;}
    & > *:not(:last-child) {
      margin-right:$distance;
      padding-right:$distance;
      position:relative;
      &:after{
        content:"";
        position:absolute;
        right:0;
        top:50%;
        transform:translateY(-50%);
        background-color: var(--color-line-03);
        width:rem(1);
        height: rem(18);
      }
    }
    .admin_info{
      position:relative;
      overflow: hidden;
      &:hover{
        overflow: initial;
        .admin_email{
          opacity:1;
        }
      }
      .admin_email{
        position: absolute;
        bottom:0;
        font-weight: initial;
        right:$distance;
        transform:translateY(-100%);
        opacity: 0;
        transition: opacity .3s var(--transition-cubic);
      }

      b{margin-right:rem(4);}
    }
    .btn_logout{cursor: pointer; font-size:inherit;}

  }
}



