@import '/styles/global/rem';
@import '/styles/global/guide';

$border: rem(1) solid var(--color-line-03);

section.title_section {
  padding: rem(8) 0 rem(17);
  .title{
    display: flex;
    align-items: center;
    gap: rem(10);
  }

}
section.content_title {
  padding: 0 0 rem(0);
}
section.how_was {
  padding-top: rem(20);
  border-bottom: rem(1) solid var(--color-line-03);
  padding-bottom: rem(15);
  margin-bottom: rem(21);
}
section.picture_attach {
  padding-top: rem(20);
  padding-bottom: rem(40);
  margin-bottom: rem(30);
  border-bottom: $border;
}


.title {
  @include char(t24);
}

.content_title {
  .title_flex_box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      @include char(l14);
      color: var(--color-font-sub);
    }

    @include char(l16);
    .left_box {
      width: 30%;
      max-width: rem(50);
      display: flex;
      justify-content: center;
      padding-right: rem(16);

      .image {
        width: 100%;
        max-width: rem(50);
        aspect-ratio: 1/1;
      }
    }

    .mid_box {
      width: 85%;
      display: flex;
      flex-direction: column;
      row-gap: rem(8);
    }

    .right_box {
      width: 40%;
      text-align: right;
    }
  }
}

.how_was {
  display: flex;
  gap: rem(42);
  align-items: center;
  .text {
    @include char(l18);
  }
}


.flex {
  display: grid;
  grid-template-columns: rem(160) 1fr;
  justify-content: space-between;

  .left_side {
    max-width: rem(160);
    .left_title {
      padding-top: rem(4);
      @include char(l18);
      font-weight: 600;
    }

  }
  .right_side {
    max-width: rem(745);
    position: relative;

    .input_wrap{
      position:relative;
    }
    textarea {
      padding: rem(20) rem(18) rem(18) rem(18);
      height: rem(260);
      box-sizing: border-box;
      border: rem(1) solid var(--color-line-03);
      position: relative;
      display: block;
      width: 100%;
      overflow: scroll;
      ::placeholder {
        color: var(--color-placeholder);
      }
    }
    .textLength-indicator {
      position: absolute;
      right: rem(12);
      bottom: rem(8);
      color: var(--color-font-sub2);
      background: #fff;
      border-radius: rem(8);
      padding: 0 rem(8);

    }


  }
}






.picture_attach {
  border-bottom: rem(1) solid var(--color-line-03);
  padding-bottom: rem(15);
  margin-bottom: rem(21);
  @include char(l14);
  .outer {
    padding-top: rem(13);
    .red_text {
      color: var(--color-main);
    }
  }
  .square {
    background-color: #4d4d4d;
    width: rem(80);
    height: rem(80);
    position: relative;
    &:after {
      content: '';
      width: rem(2);
      height: rem(28);
      position: absolute;
      top: 33.3%;
      left: 50%;
      background-color: #fff;
    }
    &:before {
      content: '';
      width: rem(28);
      height: rem(2);
      position: absolute;
      top: 50%;
      left: 33.3%;
      background-color: #fff;
    }
  }
  .text_color_sub {
    padding-top: rem(12);
    @include char(l14);
  }
  p{
    font-size: 0.75rem;
    color: var(--color-font-medium);
    padding-top: 0.25rem;
    cursor: default;
  }
}

.btn-section {
  display: grid;
  column-gap: rem(10);
  justify-content: center;
  grid-template-columns: rem(160) rem(160);
  grid-template-rows: rem(50);
  align-items: center;
  @include char(l16);
  button {
    max-height: rem(50);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: rem(160);
    border-radius: rem(4);
    height: 100%;
    box-sizing: border-box;
  }

  button.cancel {
    border: rem(1) solid var(--color-line-03);
    color: var(--color-font-def);
  }
  
  button.save {
    border: rem(1) solid transparent;
    color: #fff;
    background-color: var(--color-main);
  }
}




@media (max-width: rem(900)) {

  .content_title{
    .title_flex_box {
      
      .right_box {
        width: 100%;
      }
    }
  }

  section.how_was {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: rem(10);
  }

  .flex {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: rem(10);
    justify-content: normal;
    .left_side {
      width: 100%;
      max-width: 100%;
      display: flex;
  
      .outer{
        .red_text{
          margin-left: rem(10);
          transform: translateY(rem(-7));
        }
      }
    }
    .right_side {
      width: 100%;
      max-width: 100%;
    }
  
    .btn{
      .flex {
        .left_btn {
          display: grid;
          place-items: center;
          padding: rem(16) 0;
          width: 100%;
          max-width: 100%;
          border: rem(1) solid var(--color-line-03);
          border-radius: rem(4);
        }
    
        .right_btn {
          max-width: 100%;
          padding: rem(16) 0;
        }
      }
    }
  }

  
}


@media (max-width: rem(600)) {
  
  .content_title {
    .title_flex_box {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: rem(10);

      .left_box {
        order: 2;
      }

      .mid_box {
        order: 3;
        transform: translate(rem(60), rem(-54))
      }

      .right_box {
        text-align: left;
      }
    }
  }

  
  .title {
    display: none;
  }

  .content_title{
    margin-top: 0;
    margin-bottom: rem(-50);
  }

  section.how_was {

    .text{
      padding-right: 0;
      text-align: center;
    }

    div{
      margin: 0 auto;
    }
  }

  section.picture_attach {
    margin-bottom: 0;
  }


  .btn-section {
    padding-top: 0;
    grid-template-columns: 1fr;
    width: 100%;
    row-gap: rem(10);
    margin-bottom: rem(50);

    button.cancel {
      order: 1;
    }

    button.cancel, button.save {
      height: rem(50);
      width: 100%;
      max-width: 100%;
    }
  }
}