$browser-context:16; // html font-size
@function rem($px, $context: $browser-context){
  @return #{$px / $context}rem;
}
@import '../../../../styles/global/guide';

section.title{ padding : rem(8) 0 rem(30);}


.title {
  @include char(t24);
}

.content_title {
  .flex_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: rem(1) solid var(--color-line-03);
    text-align: center;
    @include char(l16);
    font-weight: 500;
    .left_box {
      width: 50%;
      display: flex;
      justify-content: center;
      div {
        width: 25%;
        min-width: rem(100);
        padding-bottom: rem(10);
        // border-bottom: rem(2) solid var(--color-main);
      }
    }
    .right_box {
      width: 50%;
      display: flex;
      justify-content: center;
      color: var(--color-font-sub);
      div {
        width: 25%;
        min-width: rem(100);
        padding-bottom: rem(10);
        border-bottom: rem(2) solid var(--color-main);
      }

    }
  }
}

.content {
  >p {
    padding-top: rem(120);
    @include char(l16);
    color : var(--color-font-sub);
    text-align: center;
    padding-bottom: rem(30);
  }
}



section.content_title2{ padding-bottom: rem(30);}

.content_title2 {
  .flex_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: rem(1) solid var(--color-line-03);
    text-align: center;
    @include char(l16);
    .left_box {
      width: 50%;
      
      display: flex;
      justify-content: center;
      div {
        width: 25%;
        min-width: rem(100);
        padding-bottom: rem(10);
        border-bottom: rem(2) solid var(--color-main);
      }
    }
    .right_box {
      width: 50%;
      padding-bottom: rem(10);
      color: var(--color-font-sub);
    }
  }
}

.content {
  padding: rem(20) 0;
  border-bottom: rem(1) solid var(--color-line-03);
  &:last-child {
  border-bottom: 0;
  }

  .flex {
    display: grid;
    grid-template-columns: 1fr rem(160);
  
    
    .left {
      max-width: rem(720);
      display: flex;
      justify-content: flex-start;
      .image {
        width: 100%;
        max-width: rem(100);
        aspect-ratio: 1/1;
      }

      .title_text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: rem(4) 0 0 rem(16);


        @include char(l18);
        font-weight: 600;

        .mid_text {
          color: var(--color-font-sub);
          @include char(l14);
          padding-bottom: rem(25);
        }
        .day_text {
          @include char(l16);
          font-weight: 400;
          color: var(--color-font-sub2);
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      justify-content: right;
      .btn{
        display: flex;
        justify-content: center;
        border: rem(1) solid var(--color-main);
        color: var(--color-main);
        @include char(l15);
        padding: rem(14) 0;
        border-radius: rem(4);
        max-width: rem(140);
        width: 100%;
        cursor: pointer;
      }
    }
  }
}

.pagination_box {
  display: flex;
  justify-content: center;
  padding-top: rem(40);
  padding-bottom : rem(44);
  .content5 {
    width: 23%;
    display: flex;
    justify-content: space-between;
    @include char(l16);
    color: var(--color-font-sub);
  }
}



//////////////////////////////////////

section.content_title5 { padding-bottom: rem(30);}

.title5 {
  @include char(t24);
}

.content_title5 {
  .flex_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: rem(1) solid var(--color-line-03);
    text-align: center;
    @include char(l16);
    font-weight: 500;
    .left_box {
      width: 50%;
      display: flex;
      justify-content: center;
      div {
        width: 25%;
        min-width: rem(100);
        padding-bottom: rem(10);
        // border-bottom: rem(2) solid var(--color-main);
        // color: var(--color-font-sub);
        // 색 바꿔야됨 
      }
    }
    .right_box {
      width: 50%;
      display: flex;
      justify-content: center;
      color: var(--color-font-sub);
      div {
        width: 25%;
        min-width: rem(100);
        padding-bottom: rem(10);
        border-bottom: rem(2) solid var(--color-main);
      }
    }
  }
}

.content {
  // border-bottom: rem(1) solid var(--color-line-03);
  // &:last-child {
  //   border-bottom: 0;
  // }
  .flex_box5 {
    display: grid;
    grid-template-columns: 1fr rem(200) rem(140);

    .left_box {
      max-width: rem(560);
      
      .row_1 {
        display: flex;
        align-items: center;
        padding-bottom: rem(14);
        .pic_box {
          padding-right: rem(16);
          .image {
            display: flex;
            align-items: center;
            width: rem(50);
            aspect-ratio: 1/1;
          }
        }

        .content_inner_title {
          @include char(l16);
          font-weight: 600;
          text-decoration: underline;
          padding-right: rem(10);
        }
        p {
          @include char(l14);
          font-family: 500;
          color: var(--color-font-sub);
        }
      }
      .row_3 {
        padding-top: rem(8);
        color: var(--color-font-sub);
        @include char(l16);
      }

      .row_4 {
        padding-top: rem(8);
        .pic_box {
          .image {
            display: flex;
            align-items: center;
            width: rem(200);
            aspect-ratio: 1/1;
          }
        }

      }
      .row_5 {
        padding-top: rem(11);
        color: var(--color-font-sub2);
        @include char(l14);
      }
    }
    .mid_box {
      max-width: rem(160);
      display: flex;
      align-items: center;
      justify-content: center;
      .mid_box_text {
        @include char(l15);
      }
    }
    .right_box {
      max-width: rem(200);
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: rem(8);
      .btn_box {
        display: flex;
        justify-content: right;
        width: 100%;
        .red_btn{
          display: flex;
          justify-content: center;
          border: rem(1) solid var(--color-main);
          box-sizing: border-box;
          color: var(--color-main);
          @include char(l15);
          padding: rem(14) 0;
          border-radius: rem(4);
          max-width: rem(140);
          width: 100%;
          cursor: pointer;
        }
        .grey_btn{
          display: flex;
          justify-content: center;
          border: rem(1) solid var(--color-line-03);
          box-sizing: border-box;
          color: var(--color-font-sub2);
          @include char(l15);
          padding: rem(14) 0;
          border-radius: rem(4);
          max-width: rem(140);
          width: 100%;
          cursor: pointer;
        }
        .btn2 {
          display: flex;
          justify-content: center;
          border: rem(1) solid var(--color-font-sub);
          box-sizing: border-box;
          @include char(l15);
          padding: rem(14) 0;
          border-radius: rem(4);
          max-width: rem(140);
          width: 100%;
        }
      }
    }
  }
}


.review_del {
  width: rem(420);
  height: rem(240);
  background-color: rosybrown;

  .text {
    @include char(l16);
    padding: rem(80) 0 rem(69);
    text-align: center;
  }
  .btn_box {
    display: flex;
    justify-content: center;
    
    .btn {
      @include char(l15);
      max-width: rem(160);
      background-color: var(--color-main);
      padding: rem(14) 0 rem(15);
      display: flex;
      justify-content: center;
      border-radius: rem(4);
      color: #fff;
    }
  }
}



@media (max-width: rem(900)) {

  .content {
    .flex {
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: rem(10);

      
      .right {
        .btn{
          max-width: 100%;
        }
      }
    }
  }  

  
.content {
  .flex_box5 {
    grid-template-columns: 1fr;
    grid-gap: rem(10);

    
    .mid_box {
      max-width: 100%;
      align-items: normal;
      justify-content: normal;
    }

    .right_box {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: rem(8);
      .btn_box {
        width: 100%;
        .red_btn{
          max-width: 100%;
          width: 100%;
        }
        .grey_btn{
          max-width: 100%;
          width: 100%;
        }
        .btn2 {
          max-width: 100%;
          width: 100%;
        }
      }
    }
  }
}


}

@media (max-width: rem(900)) {
  
  .title {
    visibility: hidden;
    font-size: 0;
  }
}