@import "/styles/global/rem";
@import "/styles/global/guide";



section.recipe, .notice {
  text-align: center;
  .notice_row_1 {
    @include char(l18);
    padding-bottom: rem(9);
  }
  .notice_row_2 {
    @include char(l16);
    color: var(--color-font-sub);
    padding-bottom: rem(29);
  }
  .notice_row_3 {
    display: flex;
    justify-content: center;
    .color_box {
      width: 80%;
      max-width: rem(560);
      background-color: #F9EDEC;
      border-radius: rem(8);
      padding: 0 rem(19) rem(19);
      margin-bottom: rem(30);
      .color_box_row_1 {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-main);
        @include char(l18);
        padding: rem(16) 0 rem(13);
        font-weight: 700;
        .picture_box {
          display: flex;
          justify-content: center;
          .image {
            width: rem(20);
            aspect-ratio: 1/1;
          }
        }
      }

      .color_box_row_2 {
        @include char(b16);
        color: var(--color-font-sub);
      }

      em{
        font-weight:600;
        margin-right:rem(2);
      }
    }
  }
}



.swiper_recipes {
  max-width: rem(1100);
  width: 100%;
  margin: rem(30) auto 0;
  text-align: center;
  &.inMypage{
    overflow: hidden !important;

    .row_1 {
      padding-top: rem(9);
      font-size: rem(12);
    }
    .row_2 {
      font-size: rem(22);
    }
    .row_3 {
      font-size: rem(14);
    }
  }
  .slide{
    label{padding: rem(30) rem(20) rem(20);background-color: #fff;}
  }
  .image {
    width: 100%;
    padding: 0 rem(10);
    box-sizing: border-box;
    > span{
      position:relative !important;
      aspect-ratio:200/215 !important;
    }
  }
  .row_1 {
    padding-top: rem(20);
    @include char(l18);
    font-weight: 500;
    font-family: var(--font-Gmarket-bold);
  }
  .row_2 {
    padding-top: rem(12);
    @include char(l18);
    font-weight: 500;
    font-family: var(--font-Gmarket-bold);
  }
  .row_3 {
    padding-top: rem(10);
    @include char(l16);
    line-height: 140%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:3;
    overflow: hidden;
    height: rem(64);

  }
  .row_4 {
    padding-top: rem(13);
    @include char(l15);
    color: var(--color-main);
    font-weight: 600;
    text-decoration-line: underline;
  }
}


.btn_box {
  display: flex;
  justify-content: center;
  padding-top: rem(40);

  .btn {
    width: 100%;
    max-width: rem(300);
    background-color: var(--color-main);
    border-radius: rem(4);
    color: #fff;

    @include char(l15);
    padding: rem(14) 0;
    cursor: pointer;
  }
}



@media (max-width: rem(1200)) {
  .swiper_recipes {
    left: rem(10);
    width: rem(820);
    overflow: visible !important;
    &.inMypage{
      width: rem(658);
      overflow: visible !important;
      .slide{
        label{
          width: rem(164);
        }
      }
    }

    .slide{
      label{
        width: rem(218);
      }
    }
  }
}

@media (max-width: rem(1000)) {
  .swiper_recipes {
    &.inMypage{
      width: rem(432);
    }
  }
}


@media (max-width: rem(900)) {

  .swiper_recipes {
    width: rem(540);

    .row_1 {
      padding-top: rem(9);
      font-size: rem(12);
    }
    .row_2 {
      font-size: rem(22);
    }
    .row_3 {
      font-size: rem(14);
    }
  }

}





@media (max-width: rem(650)) {

  .swiper_recipes {
    width: rem(280);

    &.inMypage{
      width: rem(226);
    }
  }
}



@media (max-width: rem(600)) {
  
  .swiper_recipes {
    margin: rem(10) auto 0;
    &.inMypage{
      overflow: initial !important;
    }
  }

}
