@import '/styles/global/rem';


.wrapper{
  display: grid;
  gap: rem(10);
  grid-template-areas:
          "m m m m m m"
          "t t t t t t"
          "l l r r r r";

  .title {
    grid-area: m;
  }
  .cont-top{
    grid-area: t;
  }

  .cont-left{
    grid-area: l

  }
  .cont-right{
    grid-area: r
  }

}


.main.title{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap:rem(10);
}

.title-section  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:rem(10);
  padding-bottom: rem(20);

  &:not(:first-child){
    margin-top: rem(40);
  }
  .title{
    display: flex;
    align-items: center;
    font-size: rem(20);
    line-height: rem(26);
    .tooltip{
      margin-left:rem(8);
    }
  }

  border-bottom: rem(1) solid var(--color-line-03);
  margin-bottom:rem(20);
}


.cont-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  .box{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;

    li{
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: default;
      width: 100%;
      font-size: rem(15);
      > * {
        display: flex;
        align-items: center;
      }
      span{
        display: flex; align-items: center;
        position: relative;
      }
      b{
        font-weight: 400;
        font-size: rem(20);
        margin-right:rem(4);
      }
      .select-period{
        margin-left:rem(8);
      }
    }

    .tooltip{
      margin-left: rem(8);
    }
  }
}





.cont-top{
  .cont-section{
    grid-template-columns: repeat(3, 1fr);
    .box{
      padding: rem(0) rem(48) rem(10);
      row-gap: rem(16);
      border-right: rem(1) solid var(--color-line-03);
      &:nth-child(1){
        padding-left: 0 !important;
      }
      &:nth-child(2){
      }
      &:nth-child(3){
        border-right: 0;
        padding-right: 0 !important;
      }
    }
  }
}



.cont-left{
  .cont-section{
    grid-template-columns: repeat(1, 1fr);
    .box{
      gap:rem(16);
    }
  }
}

.cont-right{
  .cont-section{
    .payment-info{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        li:first-child{
          padding-right:rem(16);
          margin-right:rem(16);
          border-right: rem(1) solid var(--color-line-03);
        }
        li{
          font-size: rem(15);
          display: flex;
          align-items: center;
          span:not(:last-child){margin-right:rem(10);}
          b{font-weight: 500;}
        }
      }
    }
    grid-template-columns: repeat(1, 1fr);
    .box{
      gap:rem(16);
    }
  }
}


button.google{
  font-size: rem(12) !important;
  cursor: pointer !important;
}
