@import '/styles/global/rem';

.wrapper {
  display: grid;
  gap: rem(10);

  section {
    margin-bottom: 0 !important;
  }
}

.spinner_wrapper {
  margin: rem(60);
}

.cont_wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: rem(20);
  margin: rem(20) 0;
}

.cont-mid {
  .cont-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    .box {
      row-gap: rem(16);
    }
  }
}

.graph_wrapper {
  display: flex;
  flex-direction: column;
  gap: rem(8);
}

.main.title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: rem(10);
}

.title-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(10);
  padding-bottom: rem(20);

  &:not(:first-child) {
    margin-top: rem(40);
  }
  .title {
    display: flex;
    align-items: center;
    font-size: rem(20);
    line-height: rem(26);
    .tooltip {
      margin-left: rem(8);
    }
  }

  border-bottom: rem(1) solid var(--color-line-03);
  margin-bottom: rem(20);
}

.cont-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  .box {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: default;
      width: 100%;
      font-size: rem(15);
      > * {
        display: flex;
        align-items: center;
      }
      span {
        display: flex;
        align-items: center;
        position: relative;
      }
      b {
        font-weight: 400;
        font-size: rem(20);
        margin-right: rem(4);
      }
      .select-period {
        margin-left: rem(8);
      }
    }

    .tooltip {
      margin-left: rem(8);
    }
  }
}

.cont-top {
  .cont-section {
    grid-template-columns: repeat(3, 1fr);
    .box {
      padding: rem(0) rem(48) rem(10);
      row-gap: rem(16);
      border-right: rem(1) solid var(--color-line-03);
      &:nth-child(1) {
        padding-left: 0 !important;
      }
      &:nth-child(2) {
      }
      &:nth-child(3) {
        border-right: 0;
        padding-right: 0 !important;
      }
    }
  }
}

.cont-left {
  .cont-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .box {
      padding: rem(0) rem(48) rem(10);
      row-gap: rem(16);
      border-right: rem(1) solid var(--color-line-03);
      &:nth-child(1) {
        padding-left: 0 !important;
      }
      &:nth-child(2) {
        border-right: 0;
        padding-right: 0 !important;
      }
    }
  }
}

.cont-row {
  margin: rem(20) 0;
  .cont-section {
    display: flex;
    flex-direction: column;
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    .box_section {
      display: flex;
      width: 100%;
      .box {
        width: 100%;
        padding: rem(0) rem(48) rem(10);
        row-gap: rem(16);
        border-right: rem(1) solid var(--color-line-03);
        &:nth-child(1) {
          padding-left: 0 !important;
        }
        &:nth-child(2) {
          border-right: 0;
          border-right: rem(1) solid var(--color-line-03);
        }
        &:nth-child(3) {
          border-right: 0;
          padding-right: 0 !important;
        }
      }
    }

    .sub_graph_wrapper {
      grid-template-columns: repeat(2, 1fr);
      display: grid;
    }

    .box_graph_one {
      margin-top: rem(30);
      padding: rem(30) rem(0) rem(10);
      border-top: rem(1) solid var(--color-line-03);
      row-gap: rem(16);
      li {
        border-right: rem(1) solid var(--color-line-03);
        span {
          padding: 0 rem(20);
        }
      }
    }
    .box_graph_two {
      padding: rem(30) rem(0) rem(10);
      margin-top: rem(30);
      border-top: rem(1) solid var(--color-line-03);
      li {
        // border-right: rem(1) solid var(--color-line-03);
        span {
          padding: 0 rem(40);
        }
      }
    }
    .box_graph_three {
      padding: rem(30) rem(0) rem(10);
      margin-top: rem(30);
      border-top: rem(1) solid var(--color-line-03);

      li {
        border-right: rem(1) solid var(--color-line-03);
        span {
          padding: 0 rem(40);
        }
      }
    }

    .box_graph_four {
      padding: rem(30) rem(0) rem(10);
      margin-top: rem(30);
      border-top: rem(1) solid var(--color-line-03);

      li {
        span {
          padding: 0 rem(40);
        }
      }
    }
  }
}

.cont-right {
  .cont-section {
    .payment-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 rem(50) 0 rem(20);
      div {
        border: none;
        display: flex;
        align-items: center;
      }
      ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        li:last-child {
          border: none;
        }
        li {
          padding-right: rem(16);
          margin-right: rem(16);
          border-right: rem(1) solid var(--color-line-03);
          font-size: rem(15);
          display: flex;
          align-items: center;
          span:not(:last-child) {
            margin-right: rem(10);
          }
          b {
            font-weight: 500;
          }
        }
      }
    }
    grid-template-columns: repeat(1, 1fr);
    .box {
      gap: rem(16);
    }
  }
}

button.google {
  font-size: rem(12) !important;
  cursor: pointer !important;
}

.chart_container {
  width: 100%;
}

.search_radio {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: rem(20) rem(20) rem(10) 0;
  div {
    border: none;
  }
}

.pie_chart_wrapper {
  flex-direction: column;
  span {
    padding-top: rem(20);
  }
}
