@import '/styles/global/guide';
@import '/styles/global/rem.scss';

section.body_container {
  padding: rem(100) 0;
}

.body_container {
  ul {
    display: flex;
    justify-content: space-between;
  }

  li {
    width: rem(340);
  }

  .box_text {
    padding: rem(30) 0;
    text-align: center;
  }

  .box_wrap {
    height: rem(300);

    padding-bottom: rem(10);
    border-radius: rem(10);
    border: rem(1) solid #d3d3d3;
    box-shadow: 0 0 rem(10) rgba(0, 0, 0, 0.1);

    .box_title {
      padding: rem(6) 0;
    }

    .img_wrap_sub {
      width: rem(300);
      height: rem(205);
      margin: rem(14) auto;
      img {
        border-radius: rem(15);
      }
    }

    .img_wrap {
      border: rem(1) solid #d3d3d3;
      // padding: rem(10) rem(20);
      width: rem(300);
      height: rem(205);
      margin: rem(14) auto;
      border-radius: rem(15);
      // padding: rem(10) rem(20);
      display: flex;
      align-items: center;

      img {
        margin: auto;
        padding: auto;
        border-radius: rem(10);
        width: rem(300);
      }
    }

    .img_wrap_vet {
      border: rem(1) solid #d3d3d3;
      padding: rem(10) rem(20);
      width: rem(300);
      height: rem(205);
      margin: rem(14) auto;
      border-radius: rem(15);
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: rem(220) !important;
      }
    }

    .box_title {
      display: flex;
      justify-content: center;
      gap: rem(20);

      p {
        font-size: rem(24);
        font-weight: bold;
        text-align: center;
      }

      a {
        width: rem(80);
        height: rem(30);
        border-radius: rem(10);
        border: rem(1) solid #d3d3d3;
        color: #d3d3d3;
        font-size: rem(14);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      a:hover {
        background-color: #cb1010;
        border: rem(1) solid #cb1010;
        color: white;
        transition: all 0.3s;
      }
    }
  }
}

@media (max-width: rem(1240)) {
  .body_container {
    display: flex;
    justify-content: center;
    ul {
      flex-direction: column;
      gap: rem(60);
    }
  }
}

@media (max-width: rem(700)) {
}

@media (max-width: rem(600)) {
}
