@import '/styles/global/rem';


$counterBoxWidth: rem(200);

.dashboard {
  display: grid;
  grid-template-columns: rem(450) 1fr;
  column-gap: rem(40);
  overflow-y: hidden;
  p, span, em{
    cursor: default;
  }
  span{
    white-space: nowrap;
  }

  padding: rem(40) 0;
  border: rem(1) solid var(--color-line-03);
  //overflow:hidden;

  .user_info,
  .user_counter {
    min-height: rem(120);
    //overflow:hidden;
  }

  .user_info {
    padding-left: rem(40);
    box-sizing: border-box;
    //width: calc(100% - (#{$counterBoxWidth} * 3));

    .info_row {
      display: grid;
      grid-template-columns: minmax(rem(110), max-content) rem(90) 1fr;
      &:first-child {
        .info_col:nth-child(2) {
          grid-column: 2 / span 2;
          margin-left: rem(30);
          display: flex;
          align-items: center;
        }
      }
      &:nth-child(2) {
        margin-top: rem(14);
        border-top: rem(1) solid var(--color-line-03);
        padding-top: rem(12);
        gap: rem(16);
        .info_col{
          display: inline-flex;
        }

      }
    }

    .info_col {
      align-items: center;
      justify-content: flex-start;

      &:first-child {
        display: grid;
        grid-template-columns: rem(60) 1fr;
        column-gap: rem(24);
        a{
          span{
            cursor: pointer;
          }
        }
      }
    }

    .user_photo {
      width: rem(60);
      height: rem(60);
      border-radius: 50%;
      margin-right: rem(12);
      background-color: var(--color-bg-ghostWhite);
      background-image: url('../../.././public/img/mypage/Dog_basic.png');
      background-repeat: no-repeat;
      background-size: rem(30);
      background-position: center;
    }
    .user_names {
      margin-top: rem(5);
      > * {
        display: block;
      }
      > *:first-child {
        margin-bottom: rem(-4);
      }
      .dog_name {
        font-size: rem(14);
        font-weight: 500;
        max-width: rem(110);
        word-break: keep-all;

        span {
          text-decoration: underline;
          font-weight: 700;
          color: #404040;
          word-break: break-all;
          cursor: pointer;
        }
      }
      .user_name {
        font-size: rem(24);
        font-weight: 500;
        min-height: rem(32);
        
        span {
          cursor: pointer;
        }
      }
    }
    .user_class {
      font-size: rem(20);
      font-weight: 500;
      color: #636363;
      padding: rem(4) 0;
      line-height: 1.3;

      > button{
        font-size: rem(20);
      }

      .grade {
        font-size: rem(20);
        color: #3fcc44;
        cursor: pointer;
      }
    }
  }

  .user_recommand {
    color: #636363;
    display: flex;
    align-items: center;
    // .info_col:nth-child(n + 2){
    //   margin-right: rem(17);
    // }
    .info_col:last-child {
      margin: 0;
    }
    .recommand_code {
      // display:flex;
      // align-items: center;
      font-size: rem(14);
      background-color: #f5f5f5;
      border-radius: rem(6);
      box-sizing: border-box;
      padding: rem(4) rem(10);
      //>*:first-child{margin-right:rem(7);}
      .code {
        color: #000;
        font-size: rem(15);
        max-width: rem(100);
        word-break: break-all;
      }
    }

    button {
      display: block;
      display: flex;
      align-items: center;
      font-size: rem(14);
      color: inherit;
      white-space: nowrap;
      > *:first-child {
        margin-right: rem(4);
      }
      svg {
        fill: #ababab;
        width: rem(20);
        height: rem(20);
      }
    }
  }

  .user_counter {
    float: right;
    margin: auto 0;

    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 0;

      li {
        //width: $counterBoxWidth;
        position: relative;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        border-left: rem(1) solid var(--color-line-03);

        // &:last-child{
        //   border: 0;
        // }

        // &:hover{
        //   color: #fff;

        //   &::after{
        //     content: "";
        //     position: absolute;
        //     top: 50%;
        //     left: 0;
        //     transform: translateY(-50%);
        //     width: 100%;
        //     height: 200%;
        //     background-color: var(--color-main);
        //     z-index: -1;
        //   }
        // }

        i {
        cursor: pointer;
        }
      }
    }
  }
}

.sendMessage {
  * {
    cursor: pointer !important;
  }
}

.copyLink {
  * {
    cursor: pointer !important;
  }
}

@media (max-width: rem(1000)) {
  .dashboard {
    //grid-template-columns: rem(250) 1fr;
    grid-template-columns: 1fr;
    // padding-bottom: rem(20);
    .user_info {
      padding-right: rem(40);
      // .info_row {
      //   grid-template-columns: 1fr;
      // }
      // .info_row:first-child {
      //   .info_col:nth-child(2) {
      //     grid-column: auto;
      //     margin-left: 0;
      //   }
      // }
      // .info_row:not(:first-child) {
      //   display: none;
      // }
    }
    .user_counter{
      padding-top: rem(40);
      ul{
        li{
          &:first-child{
            border: 0;
          }
        }
      }
    }
  }
}

@media (max-width: rem(700)) {
  // .dashboard {
  //   grid-template-columns: 1fr;
  //   padding-bottom: rem(10);
  // }
}
