/* ADMIN COMMON STYLE */
@import '/styles/global/rem';

:root {
  --gray0: #202020;
  --gray10: #4d4d4d;
  --gray20: #7a7a7a;
  --gray30: #ababab;
  --gray40: #dedede;
  --gray50: #efefef;
  --gray-v0: #23242e;
  --gray-v10: #f1f1f4;
  --gray-v20: #f8f8ff;
  --gray-v30: #f8f8f9;
  --highlight: #ed3333;
}

$aniDefault: 0.15s ease;
$aniType_Show: 0.3s ease-in;
$titleSectionWidth: rem(150);
$inputDefaultHeight: rem(38);

// * ---------- LAYOUT ---------- */

.admin_select {
  width: rem(200);
  padding-left: rem(10);
}

#admin_page {
  background-color: var(--color-bg);

  .errorMSG {
    //padding-top: rem(4);
  }
  .desc {
    font-size: rem(12);
    color: var(--color-font-medium);
    padding-top: rem(4);
    cursor: default;
  }
  input::placeholder {
    font-size: rem(13);
    color: var(--color-font-light);
  }
  select {
    font-size: rem(14);
  }

  .title_main {
    font-size: rem(24);
    color: #000;
    line-height: 1.4;
    margin-bottom: rem(10);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: rem(6);

    > * {
      display: inline-flex;
      font-size: inherit;
      align-items: center;
      gap: rem(10);
      cursor: default;
    }
  }

  .cont {
    background-color: #fff;
    overflow: hidden;
    padding: rem(30) rem(40);
    border: rem(1) solid var(--color-line-04);
    &.withMultipleBackgound {
      padding: rem(30) 0;
      .cont_divider {
        margin: {
          left: rem(40) !important;
          right: rem(40) !important;
        }
      }
    }
    &:not(:last-child) {
      margin-bottom: rem(10);
    }

    .cont_header {
      padding-bottom: rem(15);
      .cont_title {
        font-size: rem(20);
        color: #202020;
        display: flex;
        align-items: center;
        height: rem(44);
      }
    }

    .cont_body {
      background-color: #fff;
      .cont_divider {
        padding: rem(15) 0;
        .cont_divider_title {
          margin-bottom: rem(20);
        }
      }
      .optional-section {
        margin-top: rem(-1); // for hide upperside border-bottom;
        padding: 0;
        background-color: #f1f2f3;
        .cont_divider:first-child {
          padding: rem(15) 0;
        }
        .search-box {
          padding: rem(15) rem(40);
          .controls {
            border: 0;
            padding: 0;
            margin: 0 0 rem(15);
          }
        }
      }
      .cont_divider:first-child {
        padding-top: 0;
      }
      .optional-section .cont_divider:not(:last-child) {
        border-color: var(--color-line-03);
      }
      .cont_divider:not(:last-child) {
        border-bottom: rem(1) solid var(--color-line-04);
      }
      b,
      i {
        cursor: default;
      }
      label i,
      label b {
        cursor: inherit;
      }
      .table_body {
        min-height: $inputDefaultHeight;
      }
    }

    .table_body {
      min-height: calc(#{$inputDefaultHeight} * 1);
      background-color: #fff;
    }

    .cont_bottom {
      padding-top: rem(20);
    }
  }

  .btn_section {
    display: flex;
    justify-content: center;
    align-items: center;

    &.outer {
      margin-top: rem(20);
    }
    > *:not(:last-child) {
      margin-right: rem(10);
    }
  }

  .controls {
    width: 100%;
    padding-top: rem(15);
    margin-top: rem(15);
    border-top: rem(1) solid var(--color-line-03);
    display: flex;
    column-gap: rem(5);
    justify-content: flex-start;
    align-items: center;
    //overflow: hidden;
    //button:not(:last-child) {
    //  margin-right: rem(5);
    //}
  }

  .input_row {
    display: flex;
    align-items: center;

    &.multipleLines {
      align-items: flex-start;
      .inp_section {
        margin-top: rem(3);
      }
    }
    &:not(:last-child) {
      margin-bottom: rem(15);
    }
    .title_section {
      width: $titleSectionWidth;
      font-size: rem(15);

      &.fixedHeight {
        height: $inputDefaultHeight;
        display: flex;
        align-items: center;
        gap: rem(10);
      }
      .title {
        display: flex;
        align-items: center;
        font-size: inherit;
        cursor: default;
        position: relative;
      }
    }

    .inp_section {
      width: calc(100% - #{$titleSectionWidth});
      display: flex;
      flex-direction: column;
      gap: rem(10);
      .inp_wrap.file {
        display: block;
      }
      .inp_wrap.radio {
        display: flex;
        align-items: center;

        .inp_box {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          .innerText {
            position: relative;
            top: rem(1);
            cursor: pointer;
          }
        }
      }

      .inp_box {
        position: relative;
        display: flex;
        align-items: center;
        color: #4d4d4d;
        gap: rem(10);
        font-size: rem(14);
        .checkbox-wrap:not(:first-child) {
          margin-left: rem(10);
        }
        &.radio:not(:last-child) {
          margin-right: rem(24);
        }

        input[type='radio'] {
          margin-right: rem(6) !important;
          min-width: rem(20);
        }
        input:not([type='radio'], [type='checkbox']) {
          border-radius: 0;
          min-width: rem(100);
          height: $inputDefaultHeight;
        }
        textarea {
          min-height: rem(300);
          &::placeholder {
            font-size: rem(14);
            color: var(--color-font-light);
          }
        }
      }
    }
  }

  .cont-top {
    border-bottom: rem(1) solid var(--color-line-04);
    padding-bottom: rem(20);
    margin-bottom: rem(40);
    display: grid;
    gap: rem(10);
  }

  .cont-row {
    display: grid;
    grid-template-columns: $titleSectionWidth 1fr;
    align-items: center;
    font-size: rem(15);
    padding: rem(8) 0;
    .left-box,
    .right-box {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: rem(20);
    }
  }

  .unit-box-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    .box {
      display: flex;
      align-items: center;
      justify-content: center;
      aspect-ratio: 50 / 38;
      height: $inputDefaultHeight;
      box-sizing: border-box;
      border: rem(1) solid var(--color-line-03);
      margin-left: rem(-1);
      position: relative;
      font-size: rem(14);
      cursor: pointer;
      transition: border-color var(--ani-default);
      input[type='radio'] {
        display: none;
      }
      &.active {
        z-index: 1;
        border-color: var(--color-main);
        color: var(--color-main);
      }
    }
  }

  .grid-checkbox-health-type {
    margin: rem(15) 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: rem(20);
    column-gap: rem(20);
    li {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: rem(10);
      animation: show var(--ani-default);
    }
  }

  .grid-checkbox-wrap {
    margin: rem(17) 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: rem(20);
    li {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: rem(10);
      animation: show var(--ani-default);
    }
    .btn-wrap {
      cursor: pointer;
      border: rem(1) solid var(--color-line-03);
      border-radius: 50%;
      width: rem(20);
      height: rem(20);
      display: flex;
      align-items: center;
      justify-content: center;
      transition-timing-function: ease;
      transition-duration: 0.3s;
      transition-property: transform;

      &:hover {
        transform: rotate(90deg);
      }
    }
  }
}

.multiImageBox {
  &.modern-theme {
    > .grid-box {
      display: grid;
      grid-template-columns: rem(80) 1fr;
    }
    .preview-wrap {
      display: grid;
      justify-content: flex-start;
      grid-template-columns: repeat(auto-fill, rem(80));
      max-width: initial !important;
      > * {
        width: rem(80);
        aspect-ratio: 1;
      }
    }
  }

  .grid-box {
    display: grid;
    align-items: flex-start;
    gap: rem(10);
    justify-content: center;
    margin-bottom: rem(10);
    @for $i from 1 through 20 {
      &.col-#{$i} {
        grid-template-columns: repeat($i, 1fr);
      }
    }
    > * {
      margin: 0;
      max-width: rem(120) !important;
    }
  }

  .preview-delete-button {
    position: absolute;
    right: rem(4);
    top: rem(4);
    border-radius: 50%;
    border: rem(4) solid transparent;
    box-shadow: rem(1) rem(1) rem(4) 0 rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    background-color: #fff;
    padding: rem(6);
    z-index: 99;
  }
}

.custom_select {
  padding-left: rem(10);
}
