$browser-context:16;
// convert px to rem
@function rem($px, $context: $browser-context){
  @return #{$px / $context}rem;
}





.quill{

  $editorHeight : rem(680);
  $toolbarHeight: rem(45);
  background-color: #fff;
  
  .ql-toolbar{background-color: #fafafa; min-height: $toolbarHeight}
  .ql-container{height: calc(#{$editorHeight} - #{$toolbarHeight});}

  img{width:initial; display:initial;}
  .ql-editor.ql-blank::before {
    font-size: rem(14);
    font-style:normal;
    color: #b5b5b5;
  }
}