/* 전역에서 사용될 CSS */

@charset "utf-8";
@import './reset.css';
@import './font.css';


 // html font-size
$browser-context:16;
// convert px to rem
@function rem($px, $context: $browser-context){
  @return #{$px / $context}rem;
}

html, body{width:100vw; overflow-x:hidden;}



.img-wrap{
  position:relative;
  display:inline-block;
  overflow:hidden;
  min-width: 1px;
  min-height:1px;
}



.flex-wrap{
  display:flex;
  align-items: center;
  justify-content: center;
}


.cont-left{float:left;}
.cont-right{float:right;}


@keyframes show {
  from{opacity:0;}
  to{opacity:1;}
}


@keyframes hide {
  from{opacity:1;;}
  to{opacity:0;;}
}


////////////////////////////////////////////////////
////////////////////////////////////////////////////
////////////////////////////////////////////////////



