/* 전역에서 사용될 CSS */

@charset "utf-8";
@import './reset.css';
@import './font.css';
@import './custom-swiper.scss';
@import './custom-quill-editor.scss';
@import './reset-ckEditor.module.scss';
@import './admin.scss';
@import './input-radio.scss';

 // html font-size
$browser-context:16;
// convert px to rem
@function rem($px, $context: $browser-context){
  @return #{$px / $context}rem;
}




html, body{width:100vw; overflow-x:hidden;}

.img-wrap, .img_wrap{
  position:relative;
  display:inline-block;
  overflow:hidden;
  min-width: 1px;
  min-height:1px;
}



.flex-wrap, .flex_wrap{
  display:flex;
  align-items: center;
  justify-content: center;
}


.cont-left{float:left;}
.cont-right{float:right;}


.animation-show{
  animation: show var(--ani-default) forwards;
}

@keyframes show {
  from{opacity:0; pointer-events: none;}
  to{opacity:1; pointer-events: all;}
}


@keyframes hide {
  from{opacity:1;pointer-events: all;}
  to{opacity:0;pointer-events: none;}
}



// 폰트 설정~~
 
/* ! 부모의 너비에 영향을 끼치지 않ㅇ */
@mixin aspectImage{

}




// *  MOBILE , WEB > Show & Hide

.mobile{display:none !important;}
.web{display:block !important;}

@media (max-width:rem(1200)){
  
}


@media (max-width:rem(600)){
  .mobile{display:block !important;}
  .web{display:none !important;}
}

////////////////////////////////////////////////////
////////////////////////////////////////////////////
////////////////////////////////////////////////////