@import '/styles/global/rem';
@import 'styles/global/guide.scss';


.title_box {
  display: flex;
  justify-content: center;
  padding: rem(100) 0 rem(40) 0;
  .inner_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .image {
      width: rem(150);
      aspect-ratio: 1/1;
      background-color: #fff;
      border-radius: 100%;
    }

    width: rem(560);
    height: rem(276);
    background: #F5F5F5;
    border-radius: rem(12);
    
    .text {
      padding-top: rem(10);
      @include char(l20);
      font-weight: 500;
      text-align: center;
      line-height: 150%;
    }
  }
}

.btn_box {
  display: flex;
  justify-content: center;
  padding-bottom: rem(362);
  button{
    padding: rem(10) rem(20);
    max-width: rem(280);
    height: rem(44);
    background-color: var(--color-main);
    border-radius: rem(4);
    color: #fff;
    box-sizing: border-box;
  }
}

.image {
  width: rem(32);
  aspect-ratio: 1/1;
}