$browser-context:16;
// convert px to rem


@import 'styles/global/guide.scss';

@function rem($px, $context: $browser-context){
  @return #{$px / $context}rem;
}

section.top{padding-top: rem(40); padding-bottom: rem(60);}
section.tab_menu{padding-top: 0; padding-bottom: rem(120);}
section.body_top_content{padding-bottom: rem(109);}
section.body_image{padding-bottom:rem(140);}
section.why_barf{padding-bottom: rem(116);}
section.barf_note{padding-bottom: rem(199);}
section.barf_guide{padding-bottom: rem(180);}
section.barf_tip{padding-bottom: rem(180);}
section.barf_subscription{padding:rem(100) 0 rem(140)}
section.tab_slide_box{}
section.tab_slide_box2{padding: 0 0 rem(130)}
.top {
  .inner {
    .top_box {
      display: grid;
      grid-template-columns: repeat(2, minmax(rem(375), 1fr));
      gap: rem(40);
      .left_box {
        .image {
          width: 100%;
          height: 100%;
          span{
            aspect-ratio: 1/1;
          }
        }
      }
      .right_box {
        // width: 100%;
        .content_title {
          @include char(t24);
          font-weight: 700;
        }
        .price_box {
          padding: rem(25) 0 rem(15); 
          .price {
            @include char(t28);
          }
          .won {
            padding-left: rem(4);
            @include char(l18);
            font-weight: 500;
          }
        }
        .mid_box {
          border-top: rem(1) solid #EFEFEF;
          border-bottom: rem(1) solid #EFEFEF;
          display: grid;
          grid-template-columns: minmax(rem(40),rem(100)) minmax(rem(250),auto);
          row-gap: rem(28);
          width: 100%;
          padding-top : rem(20);
          padding-bottom: rem(28);
          
          //팁
          >div:nth-child(1){
            @include char(l16);
            padding-top: rem(3);
            font-weight: 700;
            color: var(--color-main); 
          }
          //생식을 처음
          >div:nth-child(2){
            @include char(b16);
          }
          //배송 정보
          >div{
            @include char(l16);
            .text {
              @include char(b14);
              color :#636363;
              padding-top: rem(8);
            }
          }
          div:nth-child(5) {
            height: rem(40);
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
          //6번째 박스 숫자버튼
          .count_box {
            display: flex;
            justify-content: space-between;
            border : rem(1) solid #909090;
            border-radius: rem(4);
            

            >div:nth-child(1){
              display: flex;
              justify-content: left;
              align-items: center;
              width: 45%;
              padding-left: rem(30);
              flex-grow: 0;
              background-color: rosybrown;
              color: #636363;
              font-size: rem(30);
            }
            >div:nth-child(2){
              display: flex;
              justify-content: center;
              width: 10%;
              flex-grow: 2;
              input {
                z-index: -3;
                text-align: center;
                align-items: center;
              }
            }
            >div:nth-child(3){
              display: flex;
              justify-content: right;
              align-items: center;
              padding-right: rem(30);
              width: 45%;
              flex-grow: 0;
              background-color: rosybrown;
              color: #636363;
              font-size: rem(20);
            }
          }
        }
      }

      //총 상품 금액
      .total_price {
        padding: rem(12) 0 rem(20);
        overflow: hidden;
        > div{
          float: right;
        }
        //총 상품 금액
        .left_text{
          padding-right: rem(10);
          @include char(l16);
          color: #636363;
        }
        //가격
        .mid_text {
          @include char(d32);
          padding-right: rem(5);
          letter-spacing: 0.02em;
        }
        //원
        .last_text {
          @include char(t20);
        }
      }
      .shop_button_box{
        display: flex;
        .basket_button{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50%;
          height: rem(50);
          background: #FFFFFF;
          border: rem(1) solid var(--color-main);
          box-sizing: border-box;
          border-radius: rem(4); 
          font-size: rem(16);
        }
        .buy_button{
          margin-left: rem(10) ;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50%;
          background: var(--color-main);
          border-radius: rem(4);
          @include char(l16);
          color: #fff;
        }
      }
    }
  }
}

//******************텝메뉴********
.tab_menu{
  .tab_menu_box {
    display: flex;
    justify-content: center;

    //상세정보 탭
    .left_box{
      width:100%;
      .no1 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: rem(60);
        border: rem(1) solid #F0F2F5;
        
        &:hover{
          border: rem(1) solid #F0F2F5;
          background-color: var(--color-bg-02);
        }
      }
    }

    //반품 교환정보 탭
    .mid_box {
      width: 100%;
      .no2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: rem(60);
        background-color: var(--color-bg-02);
        border : rem(1) solid #F0F2F5;
        &:hover {
          border: rem(1) solid #F0F2F5;
          background: #fff;
        }
      }
    }
    
    //리뷰 탭
    .right_box {
      width: 100%;
      .no3{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: rem(60);
        background-color: var(--color-bg-02);
        border : rem(1) solid #F0F2F5;
        &:hover {
          border: rem(1) solid #F0F2F5;
          background: #fff;
        }
      }
    }
  }
}


//  *************바프독 텝 반품/교환정보 ************* //


.tab_slide_box {
  padding-bottom: rem(74);

  .flex_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: rem(54);
    background-color: var(--color-bg-02);
    margin-bottom: rem(40);
    .title {
      @include char(l18);
    }
  }
  .flex_box2 {
    display: flex;
    width: 100%;
    align-items: start;
    border-top: 1px solid #EFEFEF;;
    padding : rem(30) 0 rem(30) rem(21);
    &:nth-child(2) {
      border-top: 0px;
      padding: 0 0 rem(30) rem(21) ;
    }
    &:nth-child(6){
      border-bottom: 1px solid #EFEFEF;;
    }
    .left {
      width: 19%;
      font-weight: 600;
      font-size: 17px;
      line-height: 152%;
    }
    .right {
      widows: 81%;
      @include char(b16);
      color : var(--color-font-sub);
      
    }
  }
}

.tab_slide_box2 {
  .flex_box {
    text-align: center;
    display: flex;
    justify-content: center;
    align-self: center;
    margin : rem(15) rem(10) rem(20);

    background-color: var(--color-bg-02);
    .content {
      

      .title {
        padding: rem(20) 0 rem(7);
        @include char(l16);
      }
      .grade {
        padding-bottom: rem(3);
        @include char(d32);
        >span {
          padding-left: rem(8);
          color: var(--color-font-sub2);

        }

      }
      .star_box {
        display: flex;
        flex-wrap: wrap;
        gap: 0 rem(3);
        padding-bottom: rem(20);
        .image{
          padding-bottom: rem(0);
          width: rem(29);
          aspect-ratio: 1.04/1;
        }
      }
    }
  }
  

  .notice_board {
    .flex_title {
      display: flex;
      border-top: 1px solid var(--color-line-02);
      border-bottom: 1px solid var(--color-line-02);
      align-items: center;
      div{
        display: inline;
        text-align: center;
        @include char(l15);
        color: #4d4d4d;


        //넘버
        &:nth-child(1) {
          width: 6%;
          padding : rem(18) 0;
        }
        // 별점
        &:nth-child(2) {
          width: 10%;
        }
        // 제목
        &:nth-child(3) {
          width: 64%;
          text-align: start; 
          font-size: rem(16);
          padding-top: rem(1);
        }
        &:nth-child(4) {
          width: 10%;
        }
         // 등록일
        &:nth-child(5) {
          width: 10%;
        }
      }
    }
    .grid_box {
      position: relative;
      display: grid;
      grid-template-columns : 6% 10% 64% 10% 10%;
      grid-template-rows : repeat(7, 1fr);
      >div {
        text-align: center;
        display: inline-grid;
        border-bottom: 1px solid var(--color-line-02);
        align-items: center;
        height: rem(80);
        @include char(l15);
        .content {
          display: flex;
          text-align: start;
          font-size: rem(16);
          .image{
            width: rem(20);
            aspect-ratio: 1.25/1;
          }
        }
      }
      .star_box {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0 rem(3);
        .image{
          width: rem(14);
          aspect-ratio: 1/1;
        }
      }
      .content {
        display: flex;
        text-align: start;
        font-size: rem(16);
        .image{
          width: rem(20);
          aspect-ratio: 1.25/1;
          margin-bottom: 2px;
        }
      }
    }
  }

  //< 1 2 3 4 5 6... 11 > 
  .pagenation_box {
    display: flex;
    justify-content: center;
    padding-top: rem(40);
    .content {
      width: 23%;
      display: flex;
      justify-content: space-between;
      @include char(l16);
      color: var(--color-font-sub);
    }
  }
}


// 리뷰 클릭시 슬라이드 
.notice_board_slide{
  .review_box{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    background-color: var(--color-bg-02);
    @include char(b16);
    height: rem(66);
    .text{
      width: 80%;
      color: #4d4d4d;
    }
  }

}





//***********바디 탑 내용문 바프독 15도**************
.body_top_content {
  text-align: center;
  .top_content {
    color: #636363;
    @include char(b16);
    padding-bottom: rem(116);
  }
  .line {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: rem(117);
    >hr {
      min-width: rem(80);
      border-top: rem(1) solid var(--color-line-02);
    }
  }

  .red_title {
    
    @include char(t20);
    color: var(--color-main);
    font-weight: 700;
  }

  //g마켓산스 적용안됨???
  .title_box {
    padding-top: rem(10);
    font-family: 'GmarketSansBold';
    font-weight: 700;
    font-size: rem(50);
    line-height: rem(50);
    color: #202020;
    padding-bottom: rem(60);
  }
  .title_contnet {
    color: var(--color-font-sub);
    @include char(b16);
  }
}

// 바디부분 스타터프리미엄 사진
.body_image{
  .image_box {
    text-align: center;
    .image {
      width: rem(760);
      height: rem(2864); 
    }
    .image2{
      width: rem(1000);
      height: rem(625);
    }
    p {
      padding-top: rem(100);
      padding-bottom: rem(60);      
      @include char(d32);
    }
  }
}

///*************왜 바프독 일까요************
.why_barf {
  text-align: center;
  >p{
    @include char(d32);
    padding-bottom: rem(96);
  }
  .why_content_box{
    margin: 0 rem(70) 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    //왜 바프독일까요? 3가지박스 글자들 속성

    .title_num{
      @include char(d28);
      color: var(--color-main);
      padding-bottom: rem(18);
    }
    .title {
      @include char(d28);
      padding-bottom: rem(10);
    }
    p {
      @include char(l15);
      color: var(--color-font-sub);
      padding-bottom: rem(37);
      font-weight: 400;

    }
    .title_content{

      @include char(t20);
      padding: 0 0 rem(28);
    }
    .left_box_content{
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 20% 80%;
      padding: 0 rem(10) rem(9);
      text-align: start;
      row-gap: rem(20) ;
      >div{
        @include char(l18);
        font-weight: 500;
        color: #4d4d4d;
      }
      >div:nth-child(2n){
        font-weight: 500;
      }
    }

    .last_contain {
      padding:rem(20) rem(5) 0;
      color: #4D4D4D;
      @include char(b16);
    }
    .last_contain {
      box-sizing: border-box;
    }
    
    //3박스 크기조절
    .left{
      width: 100%;
      padding: rem(17) rem(30) rem(36) rem(30);
      border-right: rem(1) solid var(--color-line-03);
    }
    .mid{
      width: 100%;
      padding: rem(17) rem(30) rem(36) rem(30);
      border-right: rem(1) solid var(--color-line-03);
      >.last_contain {
        padding: rem(10) rem(0) 0;
      }
    }
    .right{
      width: 100%;
      padding: rem(17) rem(30) rem(36) rem(30);
      >.last_contain {
        padding: rem(10) rem(5) 0;
      }
    }
  }
}



.barf_note {
  text-align: center;
  .title {
    padding-top: rem(100);
    @include char(d32);
    font-family: 'GmarketSansBold';
    font-weight: 700;
  }
  >p {
    padding-top: rem(32);
    
    @include char(l18);
    // color: #717171;
    color: var(--color-font-sub);
    padding-bottom: rem(125);
  }

  .content_box {
    border: rem(1) solid #C4C4C4;
    // 색깔 체크
    box-sizing: border-box;
    position: relative;
    width: 100%;
    margin-bottom: rem(108);
    &:last-child{
      margin-bottom: 0;
    }
    
    .box_title {
      width: rem(410);//퍼센트로 하니 같이 일그러짐 아래침범
      left: 50%;
      transform: translateX(-50%);
      top:rem(-15);

      position: absolute;
      @include char(t24);
      background-color: #fff;
    }

    .image_box {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: rem(40);
      gap: rem(40);
      .image {  
        width: 100%;
        aspect-ratio: 1.49/1;
      }
    }
    .image2_box {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      padding: rem(80) rem(70);
      gap : rem(46);
      
      .image {
        width: 100%;
        aspect-ratio: 0.75/1;
      }
    }
  }
}


// ************* 바프 가이드 ***************
.barf_guide {
  text-align: center;

  .title {
    font-family: 'GmarketSansBold';
    font-weight: 700;
    font-size: rem(32);
    line-height: rem(32);
    padding-bottom: rem(56);
    letter-spacing: rem(1);
  }
  >p {
    color: #717171;
    @include char(l18);
    line-height: 160%;

  }
  .red_word {
    font-weight: 700;
    @include char(l20);
    color: var(--color-main);
    padding: rem(80) 0 rem(45);
  }


  .mid_box{
    display: flex;
    justify-content: center;
    width: 100%;
    .guide_box{
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: rem(560);
      .guide{
        display: flex;
        justify-content: center;
        align-items: center;
        height: rem(76);
        border-top: rem(1) solid var(--color-line-02);
        .box_text {
          width: 85%;
          text-align: start;
          font-weight: 700;
          @include char(l20);
        }
        .image {
          width: rem(38);
          aspect-ratio: 1/1;
        }
        &:last-child {
          border-bottom: rem(1) solid var(--color-line-02);
        }
      }
    }
  }
}


.barf_tip {
  text-align: center;
  margin:0 rem(200) 0;
  .title{
    font-family: 'GmarketSansBold';
    font-weight: 500;
    font-size: rem(32);
    line-height: rem(32);
  }
  .content_box {
    display: flex;
    justify-content: center;
    padding-top: rem(77);
    gap: rem(40);
    .left_box {
      width: 100%;
      .text_box{
        @include char(t20);
        font-weight: 700;
        letter-spacing: -0.06em;
        padding-bottom: rem(34);
        >span {
          color: var(--color-main);
        }
      }
      .image {
        width: 100%;
        aspect-ratio: 4.5/1;
      }
      .last_contain{
        padding-top: rem(40);
        color: var(--color-font-sub);
        @include char(b16);
        text-align: start;
      }
    }
    .right_box{
      width: 100%;
      .image {
        width: 100%;
        aspect-ratio: 0.71/1 ;
      }
    }
  }
}

.mid_box {
  display: flex;
  justify-content: center;
  .line {
    width: 82%;
    color: var(--color-line-02);
  }
}



.barf_subscription {
  text-align: center;
  .title {
    @include char(t24);
    color: var(--color-font-sub);
  }
  .title2 {
    padding: rem(25) 0 rem(140);
    font-family: 'GmarketSansBold';
    font-size: rem(50);
    line-height: rem(50);
  }
  .image {
    width: rem(320);
    aspect-ratio: 5.3/1;
  }
}


$animationDuration : 0.2s;
// 급여가이드 추가내용 섹션
.bot {
  display:none;
  animation: show $animationDuration ease-out forwards;
  text-align: center;
  &.active{
    display:block;
  }
  .title_box{
    width: 80%;
    display: flex;
    justify-content: center;
    
    padding-bottom: rem(60);
    .title {
      font-family: 'Noto Sans';
      font-weight: 500;
      font-size: rem(30);
      // line-height: rem(41);
      text-align: center;
      width: 80%;//임의로 지정함
      border-top: rem(1) solid var(--color-main);
      border-bottom: rem(1) solid var(--color-main);
      padding: rem(10) 0 rem(10);
    }
  }
  
  .content_title_box{
    display: flex;
    justify-content: start;
    .title {
      background-color: var(--color-main);
      font-family: 'Noto Sans';
      font-style: normal;
      font-weight: 500;
      font-size: rem(19);
      line-height: rem(27);
      color: #FFFFFF;   
    }
  }

  .content {
    .grid{
      display: grid;
      grid-template-columns: 20% 80%;
      grid-template-rows: repeat(3,1fr) ;
      border-top: rem(1) solid var(--color-main);
      border-bottom: rem(1) solid var(--color-main);
    }
   padding-bottom: rem(60); 
  }
  
  .content2 {
    padding-bottom: rem(60);
    .image_box {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #edecec ;
      align-items: center;
      gap: rem(18);
      border-top: rem(1) solid var(--color-main);
      .left_box {
        width: 30%;
        .image{
          display: flex;
          float: right;
          width: rem(75);
          aspect-ratio:1/1;   
        }
      }
      .image_text {
        text-align: start;
        width: 100%;
        color: var(--color-main);
      }
    }
    .content_text {
      text-align: center;
      border-bottom: rem(1) solid var(--color-main);
    }
  }

  .content3 {
    border-top: rem(1) solid var(--color-main);
    border-bottom: rem(1) solid var(--color-main);
    .grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(2, 1fr);
      .image {
        width: rem(107);
        aspect-ratio: 1.13/1;
      }
    }
  }
  .content4 {
    .content {
      .grid {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 1fr;

          .image {
  
            width: rem(88);
            aspect-ratio: 1/1;
          }
      }
    }
  }

  .content5 {
    display: flex;
    justify-content: center;
    align-items: center;
    .left_box {
      .image {
        width: rem(67);
        aspect-ratio: 1.11/1;
  
      }
    }
  }
}
























// // // // // // // // // // // // // // // // 
// // // // // // // // // // // // // // // // 
// // // // // // // // // // // // // // // // 
@media (max-width:rem(600)){

  .top {
    .inner {
      .top_box {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(100%,1fr));
        
        .left_box {
          width: 100%;
          
          .image {
            width: 100%;
            aspect-ratio: 1/1;
          }
        }
        .right_box{
          width: 100%;
          padding-left: rem(0);
        }
      }
    }
  }

  .tab_menu {
    .tab_menu_box{
      display: flex;
      justify-content: space-around;
      .left_box {
        width: 34%;
      }
      .mid_box {
        width: 34%;
      }
      .right_box {
        width: 34%;
      }
    }
  }

  .why_barf {
    .why_content_box {
      display: grid;
      grid-template-columns: repeat(auto-fill,minmax(100%,1fr));
    }
    .left, .mid {
      border-right:0 !important;       
      ////////////////// ! 원인: 선택자 우선순위에서 밀려서 안 먹혔음
    }
  }

  .barf_note {
    .content_box{
      .image_box{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(100%,1fr));

        .image{
          width: 100%;
        }
      }
      .image2_box{
        display: grid;
        grid-template-columns: repeat(3,minmax(33%,1fr));
        gap:rem(20);
        padding: rem(40) rem(35);
        .image{
          width: 100%;
        }
      }
    }
    
  }
}