@import '/styles/global/rem';

// *  ------- COMMON ------- * //
$backgroundColorDef: #f8f8ff;
$popupMainHeaderHeight: rem(66);
$default-row-height: rem(48);
#popup {
  background-color: $backgroundColorDef;
  position: absolute;
  left: 0;
  right: 0;
}

.header {
  background-color: #23242e;
  color: #fff;
  .cont {
    height: $popupMainHeaderHeight;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .popup-title {
    font-size: rem(24);
    cursor: default;
  }
}

.row {
  padding: 0 rem(20);
}

.body {
  padding: rem(20) 0 rem(30);
}

// * ------- TABLE ------- * //
.table {
  .table-list:not(:last-child) {
    > *:last-child {
      margin-bottom: rem(20);
    }
  }

  .t-header {
    margin-bottom: rem(15);
  }
  .title {
    font-size: rem(16);
    color: var(--color-font-def);
    font-weight: 500;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .t-body {
    // display: grid;
    // grid-template-columns: 1fr 1fr;

    &.product-item-info:not(:first-child) {
      margin-bottom: rem(15);
    }
    .t-top-row {
      margin-bottom: rem(10);
      .product-title {
        margin-right: rem(10);
        color: var(--gray20);
      }
      .product-idx {
        color: var(--gray10);
        font-size: rem(15);
      }
    }

    .t-row {
      display: grid;
      grid-template-columns: 50% 50%;
      &.fullWidth {
        grid-template-columns: 1fr;
      }
      &.autoHeight {
        .cont {
          height: 100%;
        }
        .innerBox {
          height: 100%;
          span {
            display: block;
            overflow: initial;
          }
          span:not(:first-child) {
            margin-top: rem(10);
          }
        }
      }
    }
    .t-row:not(:first-child) {
      margin-top: rem(-1);
    }

    .t-box {
      display: grid;
      grid-template-columns: rem(180) calc(100% - #{rem(180)});
      align-items: center;
      overflow: hidden;

      &:nth-child(2n) {
        margin-left: rem(-1);
      }

      .innerBox {
        border: rem(1) solid var(--color-line-03);
        height: rem(48);
        display: grid;
        align-items: center;
        padding: rem(12) rem(20);
        box-sizing: border-box;

        &.button-container {
          padding: 0 rem(20);
        }

        span {
          // display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          // overflow-y: scroll;
          &:not(:first-child) {
            margin-left: rem(10);
          }
        }
        .option {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: rem(10);
          span {
            margin: 0 !important;
          }
        }
      }

      .innerBox:nth-child(2) {
        margin-left: rem(-1);
      }
      .innerBox.label {
        background-color: $backgroundColorDef;
        color: var(--gray10);
        cursor: default;
      }
      .innerBox.cont {
        background-color: #fff;
        color: var(--gray20);
        display: flex;
        .recipientNameInput {
          width: rem(170);
          margin-right: rem(10);
        }
        .requestInput {
          width: rem(700);
          margin-right: rem(10);
        }
      }

      .recipePackCount {
        font-size: rem(14) !important;
        margin-left: rem(6);
      }
    }
  }

  input[type='date'] {
    font-size: rem(14);
    width: rem(140);
    padding: rem(4) rem(10);
    &::-webkit-calendar-picker-indicator {
      display: block;
      // -webkit-appearance:initial;
    }
  }
  input.disabled {
    border: 0;
    font-size: rem(16);
    padding: 0;
    width: rem(100);
    &::-webkit-calendar-picker-indicator {
      display: none;
      // -webkit-appearance: none;
    }
  }

  // 포트원(아임포트) 정보 추가
  .iamport {
    .title {
      cursor: pointer;
      display: flex;
      gap: rem(20);
      align-items: center;
      justify-content: space-between;
      .title-innerText {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: rem(8);
      }

      .alert {
        color: var(--color-warning);
        font-size: rem(12);
      }
    }

    .t-header {
    }

    .t-body {
      transition: height 0.2s ease-in-out;
      height: rem(1);
      overflow: hidden;
    }

    .icon-box {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: rem(4);
      color: #555;
      svg {
        fill: #555;
      }
    }

    &.on {
      .t-body {
        height: calc($default-row-height * 4);
      }

      @for $i from 1 through 10 {
        .has-row-#{$i} {
          height: calc($default-row-height * $i);
        }
      }

      .icon-box svg {
        transform: rotate(180deg);
      }
    }
  }
}

.btn-section {
  margin-top: rem(20);
  display: flex;
  align-items: center;
  justify-content: center;
}

.notice-message {
  color: var(--color-primary04);
  font-size: rem(14);
  margin: rem(4) 0 rem(15);
}

// 주소지 변경
.deliveryInput {
  height: rem(130) !important;

  div {
    display: inline;
  }

  label {
    display: grid;
    grid-template-columns: 5fr 1fr;
    button {
      width: rem(120) !important;
      color: white;
      margin-left: rem(10);
      border-radius: rem(4);
      background-color: #d15353;
    }
    button:hover {
      background-color: var(--color-primary04);
      transition: all 0.3s;
    }
  }
}
