@import '/styles/module/itemList.module';

.cont_viewer {
  .table{
    .table_header, .item{
      grid-template-columns:
        rem(80)
        fillTheRestOfTableWidth(300)
        rem(300)
        rem(120)
        rem(120)
        rem(80)
        rem(80);

    }

  }
}


.sortHandle{
  i:not(:last-child){margin-right:rem(10)}
  svg{
    transition: stroke 0.3s ease;
    &:hover{
      rect{stroke:#333; transition:inherit;}
    }
  }
}
