@import '/styles/module/itemList.module';

.cont_viewer {
  .table{
    .table_header, .item{
      grid-template-columns:
        rem(80)
        minmax(rem(300), rem(1200))
        minmax(rem(120), rem(160))
        rem(120)
        rem(70)
        rem(70);

    }

  }
}


.sortHandle{
  i:not(:last-child){margin-right:rem(10)}
  svg{
    transition: stroke 0.3s ease;
    &:hover{
      rect{stroke:#333; transition:inherit;}
    }
  }
}
