$browser-context: 16; // html font-size
$title-font-size: 38; // 세션별 제목 폰트 크기
$subtitle-font-size: 22; // 세션별 소제목 폰트 크기
$mob-title-font-size: 24; // 세션별 제목 폰트 크기 (모바일)
$mob-subtitle-font-size: 18; // 세션별 소제목 폰트 크기 (모바일)
@function rem($px, $context: $browser-context) {
  @return #{$px / $context}rem;
}

// 2. 맞춤 건강문제
section.recipe_info {
  padding: rem(120) 0 rem(140);
}

// 3. 리뷰
section.review {
  padding: 0 0 rem(50);
}

// 4. 따져볼수록
section.wedo {
  padding: rem(100) 0 rem(100);
}

// 5. 설문조사
section.survey {
  padding: rem(100) 0 rem(100);
  background-color: #fff1f1;
}

// 6. 인증
section.family {
  padding: rem(150) 0 rem(50);
}

.inner {
  margin: 0 auto;
  position: relative;
}

.title {
  font-weight: bold;
  font-size: rem($title-font-size);
  color: #000;
  height: auto;
}

.subtitle {
  font-size: rem($subtitle-font-size);
  color: #717171;
}

.btn {
  padding: rem(5);
  border-radius: rem(32);
  color: #333;
  font-size: rem(16);
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  background-color: rosybrown;
}

//최상위 그림배너
.banner {
  .inner {
    height: rem(400);
    display: flex;
    position: relative;

    a {
      width: 100%;
      height: 100%;
      position: relative;
    }
  }

  .img-wrap {
    width: 100%;
  }
}

//최상위 그림배너 모바일 이미지 테스트
.main_img {
  display: none;
}

//*** 1. 인트로 ***
.intro_top_wrapper {
  position: relative;
  // height: rem(800);

  .video_wrapper {
    position: relative;
    width: rem(1500/2.5);
    height: rem(1966/2.5);
    // height: 100%;
    // width: 100vw;
    // overflow: hidden;
  }

  .video_wrapper video {
    // position: absolute;
    // top: 48%;
    // left: 50%;
    width: 100%;
    // height: 100%;
    // object-fit: cover;
    // transform: translate(-50%, -50%);
    z-index: -1;
  }

  //* 메인 이미지
  .inner {
    color: #fff;
    text-align: center;
    // width: rem(600);
    display: inline-block;
    .text_box {
      position: absolute;
      // left: 15%;
      // margin-bottom: rem(50);
      transform: translate(-50%, -50%);
      top: rem(400);
      left: 50%;
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // align-items: center;
      // gap: rem(10);

      h1 {
        left: 0;
        font-size: rem(40);
        font-weight: bold;
        position: relative;
        z-index: 1;
        height: 100%;
        margin-bottom: rem(30);
        line-height: 1.2;
        text-shadow: 1px 1px 8px gray;
      }

      h2 {
        font-size: rem(24);
        position: relative;
        z-index: 1;
        height: 100%;
        margin-bottom: rem(10);
        line-height: 1.2;

        text-shadow: 1px 1px 8px gray;
      }

      .image_wrap {
        max-width: rem(160);
        margin: auto;
      }

      .btn_box {
        display: flex;
        justify-content: center;
        gap: rem(40);
        font-size: rem(18);
        font-weight: bold;
        margin-top: rem(100);
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          height: rem(47 * 1.2);
          width: rem(172 * 1.2);
          border-radius: rem(30);
          text-align: center;
          background-color: #fff;
          border: rem(2) solid #cc666a;
          color: #be1a21;
        }

        .btn_survey:hover {
          color: #fff;
          background-color: #c22323;
          transition: 0.6s all;
        }

        // .btn_score {
        //   color: #cc666a;
        //   border: rem(2) solid #cc666a;
        //   background-color: #fff;
        // }
        // .btn_score:hover {
        //   color: #fff;
        //   background-color: #e0cfcf9e;
        //   transition: 0.6s all;
        // }
      }
    }

    .leftbox {
      position: relative;
      width: 100%;
      height: rem(360);

      .image_wrap {
        display: none;
      }
    }
  }
}

//*** 2. 맞춤 건강문제 ***
.recipe_info {
  h2 {
    text-align: center;
    font-weight: bold;
    font-size: rem($title-font-size);
    line-height: 120%;
  }

  h4 {
    color: #898989;
    font-size: rem($subtitle-font-size);
    text-align: center;
    margin-top: rem(4);
  }
}

//*** 2. 건강문제별 맞춤 추천 ***
.swiper_recipe_outerWrap {
  position: relative;
  // height: rem(400);
  margin-top: rem(40);

  h3 {
    font-size: rem(28) !important;
    margin-bottom: rem(4);
    text-align: center;
    color: #000 !important;
    span {
      font-weight: bold;
      color: #be1a21;
    }
  }

  h4 {
    font-size: rem(18) !important;
    font-weight: 400;
    color: #717171;
    text-align: center;
  }

  //*** 건강문제 - 상단
  .swiper_slide {
    width: rem(248) !important;
  }

  .recipe_box {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    width: rem(280);
    height: 100%;
    // height: rem(220);
    // background-color: #fff;
    box-sizing: border-box;
    text-align: center;
    border-radius: rem(10);
    margin: rem(10);
  }

  .recipe_a {
    height: 100%;
    position: relative;

    // 건강문제 이미지
    .img_wrap {
      // margin: rem(10);
      position: relative;
      width: rem(139 * 1.6);
      // height: rem(182 * 1.8);
      display: flex;

      // aspect-ratio: 1/1;
      background-color: #fff;
      overflow: hidden;
      border-radius: rem(10);
      cursor: pointer;

      img {
        transform: scale(1);
        transition: transform 0.5s;
      }
    }
  }

  //*** 상품 추천 - 건강문제 하단
  .swiper_recipe_bottom_wrapper {
    // overflow-y: auto;
    margin-top: rem(40);

    .swiper_slide_item {
      // background-color: #c22323;
      width: rem(280) !important;
      height: rem(360) !important;
      // margin: 0 rem(10);
    }

    .recipe_box {
      align-items: center;
      display: flex;
      flex-direction: column;
      position: relative;
      width: rem(220);
      height: 100%;
      // height: rem(220);
      background-color: #fff;
      // box-shadow: rem(10) rem(10) rem(30) rgba(0, 0, 0, 0.1);
      // padding: rem(10);
      box-sizing: border-box;
      text-align: center;
      border-radius: rem(10);
      // margin: auto;
      // padding: 0 rem(20);
      // margin: 0 rem(0);
    }
  }

  .swiper_recipe_bottom_text {
    padding-bottom: rem(40);
  }

  .swiper_recipe_item {
    width: rem(480);
  }

  .swiper_recipe {
    height: 100%;
    width: rem(600);
    // padding: rem(20) rem(20) 0;

    .item_description {
      text-align: left;

      display: flex;
      flex-direction: column;
      width: 100%;
      // padding: rem(10);
      margin-top: rem(20);
      cursor: pointer;
      .item_price_description {
        display: flex;
        justify-content: space-between;
        .item_unit_price {
        }
        // 단위당 가격이 없는 경우
        .item_price {
          padding: rem(10) rem(10) 0 0;
          width: 100%;
          text-align: right;
        }
      }
    }

    .item_name {
      font-size: rem(20);
    }
  }

  .btn_box {
    display: flex;
    justify-content: center;
  }
}

.recipe_a {
  height: 100%;
  position: relative;

  .img_wrap::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: rgba(142, 79, 79, 0.5);
    background-color: rgba(31, 31, 31, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .img_wrap.clicked::after {
    opacity: 1; /* 클릭된 경우 투명도 적용 */
  }

  // 체크 이모티콘
  .icon_check_wrap {
    position: absolute;
    right: 30%;
    bottom: 30%;
    z-index: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // 아이템 이미지
  .img_item_wrap {
    // margin: rem(20);
    position: relative;
    width: rem(240);
    height: rem(240);
    background-color: #fff;
    overflow: hidden;
    // border-radius: rem(20);
    cursor: pointer;

    img {
      transform: scale(1);
      transition: transform 0.5s;
    }
  }

  .swiper_slide_item:hover {
    background-color: #966f6f !important;

    img {
      transform: scale(1);
      transition: transform 0.5s;
    }
  }

  .img_wrap:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
  }

  .uiNameKorean {
    position: absolute;
    top: 10.5%;
    left: 15.5%;
    // margin-top: rem(8);
    // margin-bottom: rem(10);
    font-size: rem(26);
    font-weight: bold;
    color: #fff;
  }

  .desc {
    color: #717171;
    font-size: rem(16);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    word-break: keep-all;
  }

  .pbox {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    bottom: rem(-125);
    text-align: center;
    line-height: 1.35;

    .title_en {
      font-family: 'GmarketSansbold';
      font-size: rem(20);
      margin-bottom: rem(20);
    }
    .title_ko {
      font-family: var(--font-ink);
      font-size: rem(27);
    }
  }

  // .recipe_btn {
  //   color: #ca1010;
  //   font-size: rem(14);
  //   font-weight: bold;
  //   text-align: center;
  //   line-height: rem(35);
  //   position: absolute;
  //   bottom: rem(20);
  //   left: 50%;
  //   transform: translateX(-50%);
  //   width: rem(95);
  //   height: rem(35);
  //   border-radius: rem(32);
  //   background-color: #f9edec;
  //   cursor: pointer;
  //   transition: background-color 0.1s ease, color 0.1s ease;

  //   &:hover {
  //     color: #f9edec;
  //     background-color: #ca1010;
  //   }
  // }
}

//바프생식 바뀌는 점
.barfgood {
  height: rem(500);

  .inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: rem(20);

    .leftbox {
      display: inline-block;
      align-self: center;
      .barfgood_textbox {
        // margin-top: rem(40);
        width: 100%;
      }

      h1 {
        font-size: rem(28);
        top: rem(45);
        font-weight: bold;
      }

      p {
        font-size: rem(16);
        margin-top: rem(40);
        top: rem(165);
        width: rem(350);
        word-break: keep-all;
      }
    }

    .rightbox {
      display: inline-block;
    }

    .barfgood_imgbox {
      width: 100%;

      .barfood1 {
        width: rem(560);
        height: rem(456);
        display: flex;
        align-items: center;
      }
      .barfood2 {
        width: rem(335);
        height: rem(635);
        display: none;
        margin-top: rem(-50);
      }
    }
  }
}

//*** 3. 리뷰 후기
.review {
  position: relative;

  .inner {
    background: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.1),
      rgba(202, 16, 16, 0.2)
    );
    padding: rem(80) 0 rem(60) 0;

    .title {
      text-align: center;
    }

    .cont_body {
      .btn_box {
        display: flex;
        justify-content: center;
        a {
          color: #be1a21;
          border: rem(1) solid #be1a21;
          width: rem(180);
          height: rem(42);
          font-weight: bold;
          background-color: #fff;
          border-radius: rem(21);
          display: flex;
          align-items: center;
          justify-content: center;
          gap: rem(8);
        }

        a:hover {
          color: #fff;
          background-color: #c22323;
          transition: 0.6s all;
        }
      }
    }
  }

  .slide {
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: rem(462);
    background-color: #fff;
    border-radius: rem(8);
    box-shadow: rem(5) rem(5) rem(20) rgba(0, 0, 0, 0.1);

    .img-wrap {
      margin-top: rem(40);
    }

    .img-wrap2 {
      margin-top: rem(20);
    }

    p {
      margin-top: rem(20);
      text-align: center;
      width: rem(280);
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden;
    }
  }
}

// //이용방법
// .Howtouse {
//   .inner {
//     .title {
//       text-align: center;
//       margin-bottom: rem(20);
//       height: 100%;
//     }

//     p {
//       text-align: center;
//       word-break: keep-all;
//       height: 100%;
//       font-size: rem(16);
//     }
//   }

//   .cont_body {
//     > ul {
//       width: 100%;
//       display: grid;
//       grid-template-columns: repeat(3, rem(380));
//       grid-gap: rem(30);

//       > li {
//         width: 100%;
//         margin: 0 auto;

//         &:nth-child(3) {
//           display: none;
//         }

//         &:nth-child(2) {
//           margin-top: rem(100);
//         }
//       }
//     }
//   }

.cont_body {
  ul {
    margin-top: rem(70);

    .card {
      text-align: center;

      .img-wrap {
        width: rem(375);
        height: rem(375);

        .svg_m {
          display: none;
        }
      }

      .details {
        .title_1 {
          color: #d81d1d;
          font-size: rem(14);
          font-weight: bold;
          text-align: left;
        }

        .title_2 {
          padding: rem(5) 0 rem(10);
          text-align: left;
          font-size: rem(18);
          font-weight: bold;
        }

        .main_text {
          font-size: rem(16);
          color: #717171;
          text-align: left;
        }
      }
    }
  }

  .btn_box {
    display: flex;
    justify-content: center;
    margin-top: rem(30);
  }
}
// }

//SNS
.swiper_sns {
  width: 100%;
  .swiper-button-next {
    content: '>';
  }
}

//*** 4. 따져볼수록
.wedo {
  .inner {
    text-align: center;
    > p {
      padding: rem(12) 0 rem(30);
      color: #636363;
      font-size: rem($subtitle-font-size);
    }

    .wedo_cont_body {
      li {
        display: flex;
        gap: rem(20);
        margin: rem(20);

        .wedo_right {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          gap: rem(10);
          width: rem(500);
          padding: 0 rem(0) 0 rem(20);
          .wedo_title {
            font-size: rem(24);
            font-weight: bold;
            text-align: left;
          }
          .wedo_content {
            font-size: rem(16);
            color: #898989;
            text-align: left;
            line-height: 1.4;
          }
          .wedo_link_box {
            a {
              padding-top: rem(10);
              display: flex;
              align-items: center;
              gap: rem(6);
              color: var(--color-main);
              font-size: rem(14);
              font-weight: bold;
            }
          }
        }
      }
    }
  }
  .swiper_sns_box {
  }
  a {
    width: 100%;
    height: 100%;
    transition: opacity 0.25s;

    &:hover {
      .swiper_sns_img {
        position: relative;
        margin-top: rem(2);

        img {
          border: rem(1) solid var(--color-main) !important;
          filter: brightness(1.05);
        }
      }
    }

    .swiper_sns_img {
      position: relative;
      margin-top: rem(2);
      margin-bottom: rem(2);
      aspect-ratio: 1/1;

      img {
        border: rem(1) solid #fff !important;
        transition: filter 0.3s ease, border 0.3s ease;
        aspect-ratio: 1/1;
      }
    }
  }
}

/* // * SWIPER - Main */

.swiper-button-next,
.swiper-button-prev {
  cursor: pointer;
  position: absolute;
  border-radius: 100%;
  width: rem(50);
  height: rem(50);
  transform: translateY(-50%);
  top: 50%;
  z-index: 2;
  box-shadow: none;
  transition-property: box-shadow, opacity;
  transition-timing-function: ease;
  transition-duration: 0.2s;
  opacity: 0.2;
  &:hover {
    opacity: 0.9;
    box-shadow: 0 0 rem(20) 0 rgba(0, 0, 0, 0.2);
  }
}

//*** 5. 설문조사
.survey {
  .inner {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      font-size: rem($title-font-size);
    }
    // > p {
    //   padding: rem(12) 0 rem(30);
    //   color: #636363;
    //   font-size: rem(22);
    // }

    .btn_box {
      background-color: #fff;
      width: rem(180 * 1.3);
      height: rem(42 * 1.3);
      color: #be1a21;
      font-weight: bold;
      border-radius: rem(30);
      border: rem(1) solid #be1a21;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: rem(20);
    }

    .btn_box:hover {
      color: #fff;
      background-color: #c22323;
      transition: 0.6s all;
    }

    .text_box {
      color: #898989;
      margin: rem(50) 0;
      font-size: rem(20);
    }
  }
}

//*** 6. 인증
.family {
  .inner {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    > p {
      padding: rem(12) 0 rem(30);
      color: #636363;
      font-size: rem($subtitle-font-size);
    }
    > h3 {
      font-size: rem(22);
      font-weight: bold;
    }

    // .text_box {
    //   color: #898989;
    //   margin: rem(50) 0;
    // }

    .family_line {
      width: rem(1);
      height: rem(40);
      background-color: #000;
      margin-bottom: rem(30);
    }

    .family_title {
      font-size: rem(24);
      font-weight: bold;
    }
    .family_content {
      font-size: rem(16);
      margin-top: rem(10);
      color: #636363;
    }
    .third_item {
      margin: rem(10) 0 rem(24) 0;
    }

    .img_box {
      width: rem(450);
      border-radius: rem(7);
      overflow: hidden;
      margin: rem(0) 0 rem(40) 0;
    }
  }
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper_main_outerWrap {
  position: relative;
  height: rem(400);
  width: 100%;

  .swiper_navigation_container {
    width: 100%;
    max-width: rem(1320);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  .swiper-pagination__mainSection {
    display: none;
  }
}

//*** [ Swiper ] 리뷰 후기
.swiper_review_outerWrap {
  // padding: 0 rem(50) 0;
  position: relative;
  height: rem(590);

  .swiper_review {
    margin: rem(60) 0 rem(0);
    position: relative;
  }

  .swiper_review_bg {
    position: absolute;
    top: 0;
    left: 0;
    // width: rem(400);
    height: rem(560);
    border-radius: rem(8);
    background-color: #fff;
    box-shadow: 0.3125rem 0.3125rem 1.25rem rgb(0 0 0 / 10%);
    padding: rem(20);
    box-sizing: border-box;
  }

  .swiper_review_box {
    width: rem(370);
    height: rem(600);
  }

  .swiper_review_img {
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    width: rem(320);
    height: rem(320);
    border-radius: rem(8);
    overflow: hidden;
  }

  .swiper_review_txt {
    margin: rem(20) rem(10);
    height: rem(180);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // max-width: rem(14);

    .swiper_review_title {
      span {
        font-weight: bold;
        font-size: rem(20);
        padding-bottom: rem(4);
        border-bottom: rem(1) solid #000;
      }
    }
  }
  .swiper_review_bottom {
  }
  .swiper_review_start {
    text-align: right;
  }
  .swiper_review_info {
    display: flex;
    justify-content: space-between;
    color: #4a4a4a;
  }

  .contents {
    margin: rem(10) auto;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-size: rem(16);
  }
}

//*** [ Swiper ] 설문조사
.swiper_survey_outerWrap {
  position: relative;
  height: rem(680);
  width: rem(600);

  .swiper_survey {
    margin: rem(60) 0 rem(0);
    position: relative;

    .text_box {
      color: #898989;
      margin: rem(60) 0 0 0;
      font-size: rem(20);
    }

    .swiper-pagination__surveySection {
      bottom: 20%;
      span {
        border: rem(1) solid #be1a21;
        background-color: #fff;
        box-shadow: none;
        width: rem(12);
        height: rem(12);
        opacity: 1;
      }
      //! active일 때는 custom-swiper.scss 에서 설정
    }
  }

  .swiper_survey_box {
    width: rem(340);
    height: rem(620);
  }

  .swiper_survey_img {
    position: relative;

    box-sizing: border-box;
    margin: 0 auto;
    width: rem(330);

    border-radius: rem(8);
    overflow: hidden;
  }
}

//SNS swiper
.swiper_button_prev_sns,
.swiper_button_next_sns {
  cursor: pointer;
  position: absolute;
  border-radius: 100%;
  width: rem(28);
  height: rem(28);
  top: 50%;
  left: 50%;
  z-index: 2;
  box-shadow: none;
  transition-property: box-shadow, opacity;
  transition-timing-function: ease;
  transition-duration: 0.2s;
  opacity: 0.2;
  &:hover {
    opacity: 0.9;
    box-shadow: 0 0 rem(20) 0 rgba(0, 0, 0, 0.2);
  }
}

.swiper_sns_outerWrap {
  position: relative;
  .swiper_button_prev_sns {
    transform: translate(-50%, -50%) translateX(rem(-630));
  }

  .swiper_button_next_sns {
    transform: translate(-50%, -50%) translateX(rem(630));
  }
}

.swiper_recipe_outerWrap {
  position: relative;
  .swiper_button_prev_recipe,
  .swiper_button_prev_recipe_clicked {
    transform: translate(-50%, -50%) translateX(rem(-595));
    cursor: pointer;
    position: absolute;
    border-radius: 100%;
    width: rem(28);
    height: rem(28);
    top: 50%;
    // left: 102% !important;
    z-index: 2;
    box-shadow: none;
    transition-property: box-shadow, opacity;
    transition-timing-function: ease;
    transition-duration: 0.2s;
    opacity: 0.2;
    &:hover {
      opacity: 0.9;
      box-shadow: 0 0 rem(20) 0 rgba(0, 0, 0, 0.2);
    }
  }

  .swiper_button_next_recipe,
  .swiper_button_next_recipe_clicked {
    transform: translate(-50%, -50%) translateX(rem(586));
    cursor: pointer;
    position: absolute;
    border-radius: 100%;
    width: rem(28);
    height: rem(28);
    top: 50%;
    // right: 10%;
    z-index: 2;
    box-shadow: none;
    transition-property: box-shadow, opacity;
    transition-timing-function: ease;
    transition-duration: 0.2s;
    opacity: 0.2;
    &:hover {
      opacity: 0.9;
      box-shadow: 0 0 rem(20) 0 rgba(0, 0, 0, 0.2);
    }
  }

  .swiper_button_next_recipe_clicked,
  .swiper_button_prev_recipe_clicked {
    top: 19.6%;
    transform: translate(-50%, -50%) translateX(rem(300));
  }

  // .swiper_button_next_recipe_clicked {
  //   top: 19.6%;
  //   transform: translate(-50%, -50%) translateX(rem(586));
  // }
}

@media (max-width: rem(900)) {
  //최상단 그림배너
  .banner {
    .inner {
      height: rem(220);
    }
  }

  .swiper_main_outerWrap {
    height: rem(220);
  }
  .barfraw {
    &::before {
      display: none;
    }

    .inner {
      display: block;

      .leftbox {
        position: relative;
        width: 100%;
        height: rem(335);

        .image_wrap {
          display: block;
        }
      }

      .rightbox {
        padding: 0;
        margin-top: rem(40);
        width: 100%;
        max-width: 100%;
        &::before {
          display: none;
        }

        p,
        h1,
        h3 {
          position: relative;
          top: initial;
          text-align: center;
          padding: rem(10);
        }

        P {
          display: none;
        }
      }
    }
  }
}

@media (max-width: rem(600)) {
  section.recipe_info {
    padding: rem(60) rem(30) rem(140);
  }

  .video_wrapper {
    position: relative;
    width: 100vw !important;
    height: 70vh !important;
  }

  .inner {
    .text_box {
      top: 50% !important;
      left: 50% !important;
      width: 100%;

      h1 {
        font-size: rem(34) !important;
      }
    }

    .btn_box {
      margin-top: rem(60) !important;
      a {
        height: rem(40) !important;
        font-size: rem(16) !important;
      }
    }
  }

  //*** 2. 맞춤 건강문제 ***
  .recipe_info {
    h2 {
      font-size: rem($mob-title-font-size);
    }

    h4 {
      font-size: rem(16);
    }
  }

  //*** 2. 건강문제별 맞춤 추천 ***
  .swiper_recipe_outerWrap {
    h3 {
      font-size: rem(18) !important;
    }

    h4 {
      font-size: rem(14) !important;
      margin: 0 rem(20);
    }

    //*** 건강문제 - 상단
    .swiper_slide {
      width: rem(216) !important;
    }

    .recipe_box {
      width: rem(240);
      height: 100%;
      margin: rem(10);
    }

    .recipe_a {
      height: 100%;
      position: relative;

      // 건강문제 이미지
      .img_wrap {
        position: relative;
        width: rem(139 * 1.4);
        display: flex;
      }
    }
  }

  .swiper_recipe_item {
    width: rem(320) !important;
  }

  .swiper_main_outerWrap {
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
  }

  //*** [ Swiper ] 리뷰 후기
  .swiper_review_outerWrap {
    position: relative;
    height: rem(500);

    .swiper_review {
      margin: rem(60) 0 rem(0);
      position: relative;
    }

    .swiper_review_bg {
      position: absolute;
      top: 0;
      left: 0;
      // width: rem(400);
      height: rem(480);
      border-radius: rem(8);
      background-color: #fff;
      box-shadow: 0.3125rem 0.3125rem 1.25rem rgb(0 0 0 / 10%);
      padding: rem(20);
      box-sizing: border-box;
    }

    .swiper_review_box {
      width: rem(300);
      height: rem(500);
    }

    .swiper_review_img {
      position: relative;
      box-sizing: border-box;
      margin: 0 auto;
      width: rem(240);
      height: rem(240);
      border-radius: rem(8);
      overflow: hidden;
    }

    .swiper_review_txt {
      margin: rem(20) rem(10);
      height: rem(180);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .swiper_review_title {
        span {
          font-weight: bold;
          font-size: rem(20);
          padding-bottom: rem(4);
          border-bottom: rem(1) solid #000;
        }
      }
    }
    .swiper_review_bottom {
    }
    .swiper_review_start {
      text-align: right;
    }
    .swiper_review_info {
      display: flex;
      justify-content: space-between;
      color: #4a4a4a;
    }

    .contents {
      margin: rem(10) auto;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      font-size: rem(16);
    }
  }

  //*** 4. 따져볼수록
  .wedo {
    padding: 0 rem(40);
    .wedo_cont_body {
      li {
        display: flex;
        flex-direction: column;
        margin: rem(20);
      }
    }
  }

  //*** 5. 설문조사
  .survey {
    .inner {
      h2 {
        font-size: rem($mob-title-font-size);
      }

      .btn_box {
        margin: 0 !important;
        a {
          display: flex;
          align-items: center;
        }
      }
    }
    .swiper_survey_img {
      margin: 0 auto;
      width: rem(280);
      border-radius: rem(8);
      overflow: hidden;
    }

    .swiper-pagination__surveySection {
      bottom: 29% !important;
    }

    .text_box {
      top: 50% !important;
      left: 50% !important;
      width: 100%;
      font-size: rem(16) !important;
    }
  }

  //*** 6. 인증
  .family {
    .inner {
      > p {
        font-size: rem($mob-subtitle-font-size);
      }
      > h3 {
        font-size: rem(22);
      }

      .family_title {
        font-size: rem(20);
      }
      .family_content {
        font-size: rem(14);
      }
    }
    .img_box {
      width: rem(380) !important;
      border-radius: rem(7);
      overflow: hidden;
      margin: rem(0) 0 rem(40) 0;
    }
  }

  ////////////////////////////////////////////////////////////////

  //SNS
  .title {
    font-size: rem(28);
  }

  .sns {
    .inner {
      > p {
        padding: rem(12) 0 rem(50);
      }
    }
  }

  .swiper_sns_outerWrap {
    max-width: rem(340);
    width: 100%;
    margin: 0 auto;

    .swiper_button_prev_sns {
      left: 0;
      transform: translate(-50%, -50%) translateX(rem(0));
    }

    .swiper_button_next_sns {
      left: auto;
      right: 0;
      transform: translate(50%, -50%) translateX(rem(0));
    }
    .swiper_sns {
      max-width: rem(340);
      width: 100%;
    }
    .swiper_sns_img {
      max-width: rem(160);
      width: 100%;
      // height: rem(160);
    }
  }
}

@media (max-width: rem(560)) {
  .difference {
    .inner {
      .scroll {
        .image_wrap {
        }
        ul {
          // height: rem(370);
          gap: 0;
          max-width: rem(367);
          width: 100%;
          aspect-ratio: 1/1;
          li {
            display: flex;
            flex-direction: column;
            &:first-child {
              align-items: flex-start;
              &::after {
                top: rem(45);
                left: rem(10);
                right: 0;
                transform: translate(0%, 0%);
                border-width: 0 0 rem(1) rem(1);
                height: rem(50);
                width: 25vw;
              }
              &::before {
                top: rem(90);
                left: calc(25vw + rem(5));
              }
            }
            &:nth-child(2) {
              align-items: flex-end;
              margin-right: 0;
              justify-content: flex-start;
              &::after {
                top: rem(45);
                right: rem(10);
                transform: translate(0%, 0%);
                border-width: 0 rem(1) rem(1) 0;
                height: rem(50);
                width: 25vw;
              }
              &::before {
                top: rem(90);
                right: calc(25vw + rem(5));
              }
            }
            &:nth-child(3) {
              align-items: flex-start;
              margin-left: 0;
              justify-content: flex-end;
              &::after {
                top: auto;
                bottom: rem(45);
                left: rem(10);
                right: 0;
                transform: translate(0%, 0%);
                border-width: rem(1) 0 0 rem(1);
                height: rem(50);
                width: 25vw;
              }
              &::before {
                top: auto;
                bottom: rem(90);
                left: calc(25vw + rem(5));
              }
            }
            &:last-child {
              align-items: flex-end;
              margin-right: 0;
              &::after {
                top: auto;
                bottom: rem(45);
                right: rem(10);
                transform: translate(0%, 0%);
                border-width: rem(1) rem(1) 0 0;
                height: rem(50);
                width: 25vw;
              }
              &::before {
                top: auto;
                bottom: rem(90);
                right: calc(25vw + rem(5));
              }
            }

            .image_title {
              font-size: rem(14);
            }
            .image_sub {
              font-size: rem(12);
            }
          }
        }
      }
    }
  }
}
