$browser-context: 16; // html font-size
@function rem($px, $context: $browser-context) {
  @return #{$px / $context}rem;
}

section.recipe_info {
  padding: rem(120) 0 rem(170)
}

section.barfraw {
  padding: rem(120) 0 rem(120)
}

section.barfgood {
  padding: rem(150) 0 rem(135)
}

section.difference {
  padding: rem(150) 0 rem(100);
  position: relative;
}

section.difference2 {
  padding: rem(100) 0 rem(100)
}

section.difference3 {
  padding: rem(120) 0 rem(150)
}

section.clientWorry {
  padding: rem(120) 0 rem(120)
}

section.review {
  padding: rem(150) 0 rem(200)
}

section.Howtouse {
  padding: rem(120) 0 rem(120)
}

section.sns {
  padding: rem(114) 0 rem(190)
}



.inner {
  margin: 0 auto; 
  position: relative;
}

.title {
  font-weight: bold;
  font-size: rem(32);
  color: #000;
  height: auto;
}

.subtitle {
  font-size: rem(16);
  color: #717171;
}

.btn {
  padding: rem(5);
  border-radius: rem(32);
  color: #333;
  font-size: rem(16);
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  background-color: rosybrown;
}



//최상위 그림배너
.banner {
  .inner {
    height: rem(400);
    display: flex;
    position: relative;

    a {
      width: 100%;
      height: 100%;
      position: relative;
    }
  }

  .img-wrap {
    width: 100%;
  }
}



//최상위 그림배너 모바일 이미지 테스트
.main_img{
  display: none;
}



//레시피
.swiper_recipe_outerWrap {
  position: relative;
  height: rem(538);
  margin-top: rem(40);

  .swiper_recipe{
    height: 100%;
    padding: rem(20) rem(20) 0;
    
    .swiper_slide{
      &:first-child{
        .img_wrap{
          &::after{
            background-image: url("../.././public/img/recipes/duck_lamb.png");
          }
        }
      }
      &:nth-child(2){
        .img_wrap{
          &::after{
            background-image: url("../.././public/img/recipes/lamb_beef.png");
          }
        }
      }
      &:nth-child(3){
        .img_wrap{
          &::after{
            background-image: url("../.././public/img/recipes/duck_lamb.png");
          }
        }
      }
      &:last-child{
        .img_wrap{
          &::after{
            background-image: url("../.././public/img/recipes/duck_lamb.png");
          }
        }
      }
    }
  }

  .btn_box {
    display: flex;
    justify-content: center;;
  }
}

.recipe_a{
  height: rem(456);
  width: rem(240);
  position: relative;

  .recipe_box{
    position: relative;
    width: rem(260);
    height: rem(456);
    background-color: #fff;
    box-shadow: rem(10) rem(10) rem(30) rgba(0, 0, 0, .1);
    padding: rem(10);
    box-sizing: border-box;
    text-align: center;
  }

  .img_wrap{
    position: relative;
    height: rem(240);
    width: rem(240);
    background-color: #fff;
    overflow: hidden;

    img{
      transform: scale(1.1);
      transition: transform .5s;
    }
  }

  .uiNameKorean {
    margin-top:rem(8);
    margin-bottom:rem(10);
    left: 50%;
    font-size: rem(24);
    font-weight: bold;
    text-align: center;
  }

  .desc{color:#717171;
    font-size: rem(16);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:3;
    overflow: hidden;
    word-break: keep-all;
  }

  .pbox {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    bottom: rem(-125);
    text-align: center;
    line-height: 1.35;

    .title_en {
      font-family: "GmarketSansbold";
      font-size: rem(20);
      margin-bottom: rem(20);
    }
    .title_ko {
      font-family: var(--font-ink);
      font-size: rem(27);
    }
  }
    
  .recipe_btn{
    color: #ca1010;
    font-size: rem(14);
    font-weight: bold;
    text-align: center;
    line-height: rem(35);
    position: absolute;
    bottom: rem(20);
    left: 50%;
    transform: translateX(-50%);
    width: rem(95);
    height: rem(35);
    border-radius: rem(32);
    background-color: #f9edec;
    cursor: pointer;
    transition: background-color .1s ease, color .1s ease;

    &:hover{
      color: #f9edec;
      background-color: #ca1010;
    }
  }
}

.recipe_title{
  text-align: center;
  font-weight: bold;
  font-size: rem(32);
  line-height: 120%;
}



//바프생식이란?
.barfraw {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background-image: url("../.././public/img/barfraw.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: rem(40);
    justify-content: center;
    align-items: center;

    .leftbox {
      position: relative;
      width: 100%;
      height: rem(360);

      .image_wrap{
        display: none;
      }
    }

    .rightbox {
      width: 100%;
      max-width: rem(360);
      word-break: keep-all;
      position: relative;
      padding: rem(50) 0 rem(50) rem(40);

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 50vw;
        height: 100%;
        background-color: #fff;
        border-radius: rem(20) 0 0 rem(20);
        opacity: .9;
      }

      p {
        color: var(--color-main);
        font-size: rem(15);
        font-weight: bold;
        position: relative;
        z-index: 1;
        height: 100%;
      }

      h1 {
        left: 0;
        font-size: rem(28);
        font-weight: bold;
        position: relative;
        z-index: 1;
        height: 100%;
      }

      h3 {
        font-size: rem(16);
        position: relative;
        z-index: 1;
        height: 100%;
      }
    }
  }
}



//바프생식 바뀌는 점
.barfgood {
  height: rem(500);

  .inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: rem(20);

    .leftbox {
      display: inline-block;
      align-self: center;
    .barfgood_textbox{
      // margin-top: rem(40);
      width: 100%;
    }

      h1 {
        font-size: rem(28);
        top: rem(45);
        font-weight: bold;
      }

      p {
        font-size: rem(16);
        margin-top: rem(40);
        top: rem(165);
        width: rem(350);
        word-break: keep-all;
      }
    }

    .rightbox {
      display: inline-block;
    }

    .barfgood_imgbox{
      width: 100%;

      .barfood1 {
        width: rem(560);
        height: rem(456);
        display: flex;
        align-items: center;
      }
      .barfood2 {
        width: rem(335);
        height: rem(635);
        display: none;
        margin-top: rem(-50);
      }
    }
  }
}



//바프독 선택
.difference {
  .inner {
    font-size: rem(15);
    text-align: center;
    position: relative;

    p {
      color: var(--color-main);
      font-weight: bold;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%) !important;
    }

    h1 {
      font-size: rem(32);
      font-weight: bold;
      margin-bottom: rem(80);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%) !important;
    }

    .image_wrap{
      width: 100%;
      position: absolute;
      top: rem(155);
      left: 50%;
      transform: translateX(-50%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%) !important;

      ul {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: rem(200);
        width: 100%;
        max-width: rem(800);

        li {
          display: grid;
          position: relative;
          
          &::after{
            content: "";
            position: absolute;
            top: 50%;
            width: rem(120);
            height: rem(1);
          }
          &::before{
            content: "";
            position: absolute;
            top: 50%;
            width: rem(10);
            height: rem(10);
            border-radius: 100%;
          }

          &:nth-child(odd) {
            text-align: right;
            justify-content: flex-start;

            &::after{
              right: 0;
              transform: translate(-120%, -50%);
            }
            &::before{
              right: rem(130);
              transform: translate(-50%, -50%);
            }
          }
          &:nth-child(even) {
            text-align: left;
            justify-content: flex-end;
            &::after{
              left: 0;
              transform: translate(120%, -50%);
            }
            &::before{
              left: rem(130);
              transform: translate(50%, -50%);
            }
          }

          .image_title{
            font-size: rem(20);
            font-weight: 800;
          }

          .image_sub{
            font-size: rem(16);
          }

          &:first-child{
            &::after, &:before{
              background-color: var(--color-main);
            }
            .image_title{
              color: var(--color-main);
            }
          }
          &:nth-child(2){
            margin-right: rem(65);
            &::after, &:before{
              background-color: #FF4921;
            }
            .image_title{
              color: #FF4921;
            }
          }
          &:nth-child(3){
            margin-left: rem(35);
            &::after, &:before{
              background-color: #FF3232;
            }
            .image_title{
              color: #FF3232
            }
          }
          &:last-child{
            margin-right: rem(55);
            &::after, &:before{
              background-color: #FF8C16;
            }
            .image_title{
              color: #FF8C16;
            }
          }
        }
      }
    }

    .scroll {
      // position: absolute;
      // left: 50%;
      // transform: translateX(-50%);

      // &::after{
      //   content: "";
      //   position: absolute;
      //   bottom: 0;
      //   right: 50%;
      //   width: 100%;
      //   height: 100%;
      //   background-color: #fff;
      // }
      padding-bottom: rem(520);
      > p {
        overflow: visible;
      }

      .magicbox{
        position: absolute;
        top: rem(155);
        left: 50%;
        transform: translateX(-50%);
        aspect-ratio: 1.009615384615385/1;
        // max-width: rem(525);
        max-width: 525px;
        width: 100%;
        margin: 0 auto;
        background-image: url("../.././public/img/halftest_harf.png");
        background-repeat: no-repeat;
        // background-size: 50%;
        background-size: auto;
      }
    }
  }
}



//차별점 그림 3개
.difference2 {
  $marginRight: rem(90);

  ul {
    width: rem(960);
    margin: 0 auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: rem(80);
    align-items: center;

    .title {
      font-size: rem(20);
      font-weight: bold;
      margin-bottom: rem(25);
      height: 100%;
    }

    li {
      // float: left;
      // margin-right: rem(90);
      // width: calc(33.333% - #{rem(60)});
      text-align: center;

      &:last-child {
        margin-right: 0;
      }
    }

    .text {
      padding: rem(40) 0;
      font-size: rem(16);
      font-weight: 500;
      height: rem(80);
      word-break: keep-all;
    }
  }
}



//프리미엄바프
.difference3 {
  position: relative;
  height: rem(824);
  width: 100%;
  box-sizing: border-box;

  .title {
    display: block;
    font-size: rem(32);
    text-align: center;
    width: 100%;
  }

  br{
    display: none;
  }

  .grid{
    display: grid;
    grid-template-columns: 1fr;
    position: relative;

    .image {
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%) translate(rem(-120), rem(45));
      min-width: rem(200);
      width: rem(460);
      height: rem(420);
      margin: 0 auto;
      transform: translateX(rem(-200));
    }
  
    .textbox {
      // position: absolute;
      // top: rem(-5);
      // right: rem(10);
      // transform: translate(calc(100% - #{rem(33)}), 30%);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) translate(rem(230), rem(22.5));
  
      .text {
        //padding-left: rem(130);
        width: 100%;
        li {
          left: 0;
          top: 0;
          //color: var(--color-main);
          font-size: rem(18);
          display: block;
          position: relative;
          margin-bottom: rem(35);
          &:last-child{
            margin-bottom: 0;
          }
        }
  
        // li::before {
        //   content: "";
        //   width: rem(120);
        //   height: rem(1);
        //   background-color: var(--color-main);
        //   position: absolute;
        //   top: 0;
        //   left: 0;
        //   bottom: 0;
        //   margin: auto;
        // }
  
        li::after {
          content: "";
          width: rem(25);
          height: rem(24);
          // background-image: url("../.././public/img/check.png");
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath stroke='%23000' d='M2.5 12.5h11v11h-11z'/%3E%3Cpath fill='%23CA1010' d='M23.441 0H21.3c-.3 0-.585.147-.77.398L7.9 17.433l-4.444-6.035a.995.995 0 0 0-.341-.293.932.932 0 0 0-.428-.105H.546c-.206 0-.319.251-.193.42l6.778 9.184a.947.947 0 0 0 1.54 0L23.635.417C23.76.251 23.646 0 23.441 0Z'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-size: rem(25) rem(24);
          position: absolute;
          top: rem(-2);
          left: rem(-30);
          margin: auto;
        }
      }
    }
  }
}



///@at-root
//고민
.clientWorry {
  .title_section {
    .title {
      margin-bottom: rem(30);
    }

    .subtitle {
      margin-bottom: rem(27);
      width: rem(300);
      word-break: keep-all;
    }
  }

  .cont_section {
    > ul {
      > li {
        width: calc(50% - #{rem(20)});
        float: left;

        &:not(:last-child) {
          margin-right: rem(40);
        }
      }
    }

    > .btn_main {
      display: none;
    }
  }

  .card {
    text-align: center;
    padding: rem(40) rem(30);
    box-sizing: border-box;
    background-color: #fff;;
    border-radius: rem(16);
    box-shadow: rem(20) rem(20) rem(20) rgba(0, 0, 0, .1);
    max-width: rem(360);

    .img-wrap {
      margin-bottom: rem(20);
      width: rem(100);
      height: rem(100);
    }

    .card_title {
      margin-bottom: rem(30);
      font-size: rem(18);
      color: #000;
      text-align: center;
    }

    .details {
      ul {
        height: rem(360);

        li {
          font-size: rem(16);
          color: #717171;
          padding-left: rem(16);
          margin-bottom: rem(20);
          text-align: left;
          position: relative;
          word-break: keep-all;

          &:before {
            content: "";
            position: absolute;
            left: rem(0);
            top: rem(8);
            width: rem(8);
            height: rem(8);
            background-color: #F2994C;
            transform: rotate(45deg);
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

// .btn_main, .btn_worry {
//   display: inline-block;
//   padding: rem(14) 0;
//   color: #fff;
//   font-size: rem(16);
//   border-radius: rem(12);
//   background-color: var(--color-main);
//   width: rem(220);
//   box-sizing: border-box;
//   text-align: center;
// }
.btn_main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: rem(60);
  width: rem(240);
  color: #fff;
  font-size: rem(16);
  font-weight: 600;
  //border-radius: rem(12);
  box-sizing: border-box;
  text-align: center;
  // background-image: url("../.././public/img/subscribeBtn1.png") !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='240' height='60' fill='none'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23CA1010' fill-rule='evenodd' d='M0 0h240v8c-2.2 0-4 1.8-4 4s1.8 4 4 4v4c-2.2 0-4 1.8-4 4s1.8 4 4 4v4c-2.2 0-4 1.8-4 4s1.8 4 4 4v4c-2.2 0-4 1.8-4 4s1.8 4 4 4v8H0v-8c2.2 0 4-1.8 4-4s-1.8-4-4-4v-4c2.2 0 4-1.8 4-4s-1.8-4-4-4v-4c2.2 0 4-1.8 4-4s-1.8-4-4-4v-4c2.2 0 4-1.8 4-4S2.2 8 0 8V0Z' clip-rule='evenodd'/%3E%3Cpath fill='%23fff' d='M211 40.5h-1v3h1v-3ZM211 34.5h-1v3h1v-3ZM211 28.5h-1v3h1v-3ZM211 46.5h-1v3h1v-3ZM211 22.5h-1v3h1v-3ZM211 10.5h-1v3h1v-3ZM211 16.5h-1v3h1v-3ZM210 52.5V54h1v-1.5h-1ZM210 6v1.5h1V6h-1ZM31 34.5h-1v3h1v-3ZM31 40.5h-1v3h1v-3ZM31 28.5h-1v3h1v-3ZM30 52.5V54h1v-1.5h-1ZM31 46.5h-1v3h1v-3ZM31 16.5h-1v3h1v-3ZM31 10.5h-1v3h1v-3ZM31 22.5h-1v3h1v-3ZM30 6v1.5h1V6h-1Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h240v60H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: rem(240) rem(60);
  background-position: center;
}

.btn_worry, .btn_worry2 {
  padding: rem(14) 0;
  color: #fff;
  font-size: rem(16);
  border-radius: rem(12);
  background-color: var(--color-main);
  width: rem(220);
  box-sizing: border-box;
  text-align: center;
}
.btn_worry{
  display: inline-block;
}
.btn_worry2{
  display: none;
}


//리뷰 후기
.review {
  position: relative;

  .inner {
    .title {
      text-align: center;
    }
  }

  .slide {
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: rem(462);
    background-color: #fff;
    border-radius: rem(8);
    box-shadow: rem(5) rem(5) rem(20) rgba(0, 0, 0, .1);

    .img-wrap {
      margin-top: rem(40);
    }

    .img-wrap2 {
      margin-top: rem(20);
    }

    p {
      margin-top: rem(20);
      text-align: center;
      width: rem(280);
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden;
    }
  }

  .redbox {
    position: absolute;
    background-color: var(--color-main);
    left: rem(-39);
    top: rem(324);
    border-radius: rem(28) rem(0) rem(0) rem(28);
    width: rem(1649);
    height: rem(380);
  }
}



//이용방법
.Howtouse {
  .inner {
    .title {
      text-align: center;
      margin-bottom: rem(20);
      height: 100%;
    }

    p {
      text-align: center;
      word-break: keep-all;
      height: 100%;
      font-size: rem(16);
    }
  }

  .cont_body {
    > ul {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, rem(380));
      grid-gap: rem(30);
      
      > li {
        width: 100%;
        margin: 0 auto;

        &:nth-child(3) {
          display: none;
        }

        &:nth-child(2) {
          margin-top: rem(100);
        }
      }
    }
  }

  .cont_body {
    ul {
      margin-top: rem(70);

      .card {
        text-align: center;

        .img-wrap {
          width: rem(375);
          height: rem(375);

          .svg_m{
            display: none;
          }
        }

        .details {
          .title_1 {
            color: #D81D1D;
            font-size: rem(14);
            font-weight: bold;
            text-align: left;
          }

          .title_2 {
            padding: rem(5) 0 rem(10);
            text-align: left;
            font-size: rem(18);
            font-weight: bold;
          }

          .main_text {
            font-size: rem(16);
            color: #717171;
            text-align: left;
          }
        }
      }
    }

    .btn_box {
      display: flex;
      justify-content: center;
      margin-top: rem(90);
    }
  }
}



//SNS
.swiper_sns {
  width: 100%;
  .swiper-button-next {
    content: ">";
  }
}

.sns {
  .inner {
    text-align: center;

    > p {
      padding: rem(12) 0 rem(77);
      color: #636363;
      font-size: rem(16);
    }
  }
  .swiper_sns_box{
  }
  a {
    width: 100%;
    height: 100%;
    transition: opacity .25s;

    &:hover{

      .swiper_sns_img{
        position: relative;
        margin-top: rem(2);
  
        img {
          border: rem(1) solid var(--color-main) !important;
          filter: brightness(1.05);
        }
      }
    }

    .swiper_sns_img{
      position: relative;
      margin-top: rem(2);
      margin-bottom: rem(2);
      aspect-ratio: 1/1;

      img {
        border: rem(1) solid #fff !important;
        transition: filter .3s ease, border .3s ease;
      aspect-ratio: 1/1;
      }
    }
  }
}



/* // * SWIPER - Main */

.swiper-button-next, .swiper-button-prev {
  cursor: pointer;
  position: absolute;
  border-radius: 100%;
  width: rem(50);
  height: rem(50);
  transform: translateY(-50%);
  top: 50%;
  z-index: 2;
  box-shadow: none;
  transition-property: box-shadow, opacity;
  transition-timing-function: ease;
  transition-duration: 0.2s;
  opacity: 0.2;
  &:hover{
    opacity: 0.9;
    box-shadow: 0 0 rem(20) 0 rgba(0,0,0,0.2);
  }
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper_main_outerWrap {
  position: relative;
  height: rem(400);
  width: 100%;

  .swiper_navigation_container {
    width: 100%;
    max-width: rem(1320);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }


  .swiper-pagination__mainSection{
    display: none;
  }
}



//리뷰 후기 swiper
.swiper_review_outerWrap {
  padding: 0 rem(50) 0;
  position: relative;
  height: rem(600);

  .swiper_review {
    padding: rem(60) 0 rem(80);
    position: relative;
  }
  
  .swiper_review_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: rem(340);
    height: rem(460);
    border-radius: rem(8);
    background-color: #fff;
    box-shadow: 0.3125rem 0.3125rem 1.25rem rgb(0 0 0 / 10%);
    padding: rem(40) rem(30);
    box-sizing: border-box;
  }

  .swiper_review_box{
    width: rem(240);
    height: rem(500);
  }

  .swiper_review_img{
    //margin: rem(40) auto 0;
    position:relative;
    padding: 0 rem(20);
    box-sizing: border-box;
    margin: 0 auto;
    width: rem(240);
    height: rem(240);
    border-radius:50%;
    overflow: hidden;
  }

  .swiper_review_txt{
    margin: rem(20) auto;
    text-align: center;
  }

  .contents{
    margin: rem(20) auto;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }

  .swiper-button-prev,
  .swiper-button-next {
    opacity: 0.6;
    width: rem(38);
    height: rem(38);
    box-shadow: rem(1) rem(1) rem(10) rgba(0, 0, 0, 0.15);
    &:hover {
      opacity: 0.9;
    }
  }

  .swiper-button-prev {
    left: rem(-8);
  }

  .swiper-button-next {
    right: rem(-8);
  }

  a {
    // position: absolute;
    // left: 50%;
    // transform: translateX(-50%);
    // bottom: calc(-100% + #{rem(8)});
    // content: "더보기";
    // color: #fff;
    // font-size: rem(14);
    // width: 100%;
    // white-space: nowrap;
  }

  .swiper-pagination__reviewSection {
    bottom: rem(70) !important;

    span {
      width: rem(25);
      height: rem(3);
      margin: 0 !important;
      border-radius: 0;
    }
  }

  .swiper_review_more{
    width: 100%;
    height: 100%;
    min-height: rem(500);
    position: relative;

    a {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) translateY(rem(8));

      &:hover{
        .image_wrap, .more{
          opacity: .9;
        }
      }
    }

    .image_wrap{
      opacity: .6;
      transition: opacity .5s;
    }

    .more{
      color: #fff;
      opacity: .6;
      transition: opacity .5s;
    }
  }
}



//SNS swiper
.swiper_button_prev_sns, .swiper_button_next_sns {
  cursor: pointer;
  position: absolute;
  border-radius: 100%;
  width: rem(28);
  height: rem(28);
  top: 50%;
  left: 50%;
  z-index: 2;
  box-shadow: none;
  transition-property: box-shadow, opacity;
  transition-timing-function: ease;
  transition-duration: 0.2s;
  opacity: 0.2;
  &:hover{
    opacity: 0.9;
    box-shadow: 0 0 rem(20) 0 rgba(0,0,0,0.2);
  }
}
  
.swiper_sns_outerWrap {
  position: relative;

  .swiper_button_prev_sns {
    transform: translate(-50%, -50%) translateX(rem(-595));
  }

  .swiper_button_next_sns {
    transform: translate(-50%, -50%) translateX(rem(595));
  }
}




/* RESPONSIVE */
@media (max-width: rem(1200)) {

  
//최상단 그림배너
  .banner {
    .inner {
      height: rem(300);
    }
  }

  .swiper_main_outerWrap {
    height: rem(300);

    .swiper_navigation_container {
      display: none;
    }
  }


  
  //최상단 swiper pagination
  .swiper_main_outerWrap {
    .swiper-pagination__mainSection{
      display: block;
      color: white;
      font-weight: 300;
      transform: translateX(rem(-30));
      text-align: right;
      pointer-events: none;
    }
    
    .swiper-pagination__mainSection::before{
      content: "";
      position: absolute;
      top: 50%;
      right: rem(-34);
      transform: translate(-50%, -50%);
      width: rem(50);
      height: rem(25);
      border-radius: rem(30);
      background-color: black;
      opacity: .2;
      z-index: -1;
    }
  }

  .swiper_recipe_outerWrap {
    .swiper_recipe{
      overflow: visible !important;
      width: rem(864);
      left: rem(20);
    }
  }


    
//고민
  .clientWorry {
    .cont_section {
      .clearfix{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        column-gap: rem(20);
        > li{
          float: none;
          width: 100%;
        }
      }
    }
    
    .card {
      margin-top: rem(30);
      padding: rem(40) rem(30);
      width: 100%;
      max-width: 100%;
    }
  }

  
    
  .cont-right {
    float: none;
  }

    

//리뷰 후기
  .swiper_review_outerWrap {
    padding: 0 rem(50) 0;
    position: relative;

    .swiper-button-next {
      margin-right: rem(20);
    }

    .swiper-button-prev {
      margin-left: rem(20);
    }

    .swiper_review {
      padding: rem(60) 0 rem(80);
      position: relative;
      width: rem(720);
    }
    
    .swiper_review_bg{
      position: absolute;
      top: 0;
      left: 0;
      width: rem(340);
      height: rem(460);
      border-radius: rem(8);
      background-color: #fff;
      box-shadow: 0.3125rem 0.3125rem 1.25rem rgb(0 0 0 / 10%);
    }
    .swiper_review_box{
      width: rem(240);
      height: rem(500);
    }
  }  



//이용방법
  .Howtouse{
    .cont_body {

      > ul {
        grid-template-columns: repeat(1, 100%);
        
        > li {
          margin-top: rem(50);

          &:nth-child(2) {
            display: none;
          }

          &:nth-child(3) {
            display: block;
            margin-top: rem(85);
          }

          .card{
            .details {
              margin: rem(50) auto 0;
              width: 50%;
              .title_1 {
                text-align: center;
              }
    
              .title_2 {
                text-align: center;
              }
    
              .main_text {
                text-align: center;
              }
            }
          }
        }
      }
    }
  }



//SNS
  .swiper_sns {
    width: rem(500);
  }

  .swiper_sns_outerWrap {
    .swiper_button_prev_sns {
      transform: translate(-50%, -50%) translateX(rem(-250));

    }

    .swiper_button_next_sns {
      transform: translate(-50%, -50%) translateX(rem(250));
    }
  }
}

@media (max-width: rem(1000)) {
  
  //레시피 설명 4가지 사진
  .swiper_recipe_outerWrap {
    .swiper_recipe{
      width: rem(570);
      left: 0;
    }
  }

  .difference2 {
    ul {
      grid-template-columns: 1fr 1fr;
      width: 100%;
      li {
        // &:first-child{
        //   grid-column: span 1 / 1;
        //   grid-row: span 1 / 1;
        // }
        // &:nth-child(2){
        //   grid-column: span 1 / 2;
        //   grid-row: span 1 / 1;
        // }
        &:last-child{
          grid-column: span 2;
        }
      }
    }
  }

}

@media (max-width: rem(900)) {
  
//최상단 그림배너
  .banner {
    .inner {
      height: rem(220);
    }
  }
  

  .swiper_main_outerWrap {
    height: rem(220);
  }
  .barfraw {
    &::before {
      display: none;
    }

    .inner {
      display: block;

      .leftbox {
        position: relative;
        width: 100%;
        height: rem(335);

        .image_wrap{
          display: block;
        }
      }

      .rightbox {
        padding: 0;
        margin-top: rem(40);
        width: 100%;
        max-width: 100%;
        &::before {
          display: none;
        }

        p, h1, h3 {
          position: relative;
          top: initial;
          text-align: center;
          padding: rem(10);
        }

        P {
          display: none;
        }
      }
    }
  }

//바프생식 바뀌는 점
  .barfgood {
    height: rem(700); 

    .inner {
      grid-template-columns: 1fr;
      grid-gap: rem(100);

      .barfgood_imgbox{
        .barfood1 {
          display: none;
        }
        .barfood2 {
          display: block;
        }
      }

      .leftbox {
        margin: 0 auto;
        width: 100%;
        .barfgood_textbox{
          margin-top: 0;
        }

        p {
          width: 100%;
        }
      }
      
      .rightbox {
        margin: 0 auto;
      }
    }
  }

  .difference{
    .inner{
      .scroll{
        .image_wrap{
          ul {
            row-gap: rem(400);
            li{
              &::after{
                height: rem(70);
                top: 50%;
                border-style: solid;
                background-color: transparent;
              }
              &::before{
                transform: translate(0, 0);
              }

              &:first-child{
                &::after{
                  left: rem(135);
                  border-color: var(--color-main);
                  border-width: rem(1) rem(1) 0 0;
                  transform: translate(0%, 0%);
                  width: 14.5vw;
                }
                &::before{
                  top: rem(100);
                  // left: rem(250);
                  left: calc(14.5vw + rem(130));
                }
              }
              &:nth-child(2){
                &::after{
                  right: rem(70);
                  border-color: #FF4921;
                  border-width: rem(1) 0 0 rem(1);
                  transform: translate(0%, 0%);
                  left: auto;
                  width: 14.5vw;
                }
                &::before{
                  top: rem(100);
                  // right: rem(185);
                  left: auto;
                  right: calc(14.5vw + rem(65));
                }
              }
              &:nth-child(3){
                &::after{
                  left: rem(100);
                  border-color: #FF3232;
                  border-width: 0 rem(1) rem(1) 0;
                  transform: translate(0%, -100%);
                  width: 14.5vw;
                }
                &::before{
                  top: auto;
                  bottom: rem(100);
                  left: calc(14.5vw + rem(95));
                }
              }
              &:last-child{
                &::after{
                  right: rem(80);
                  border-color: #FF8C16;
                  border-width: 0 0 rem(1) rem(1);
                  transform: translate(0%, -100%);
                  left: auto;
                  width: 14.5vw;
                }
                &::before{
                  top: auto;
                  bottom: rem(100);
                  right: calc(14.5vw + rem(75));
                  left: auto;
                }
              }
            }
          }
        }
      }
    }
  }



//리뷰 후기
  .swiper_review_outerWrap {
    width: 100%;
    max-width: rem(600);
    margin: 0 auto;
    padding: 0;
    position: relative;

    .swiper-button-prev {
      left: rem(0);
      margin: 0;
    }

    .swiper-button-next {
      right: rem(0);
      margin: 0;
    }

    .swiper_review {
      padding: rem(60) 0 rem(80);
      position: relative;
      width: rem(720);
    }

    .swiper_review {
      width: rem(340);
    }
  }



  section.barfgood {
    padding: rem(120) 0 rem(315)
  }
}


@media (max-width: rem(650)) {
  
  //레시피 설명 4가지 사진
  .swiper_recipe_outerWrap {
    margin-top: rem(20);
    height: rem(520);

    .swiper_recipe{
      width: rem(295);
      left: rem(20);
    }
  }

}


@media (max-width: rem(600)) {


  section.recipe_info {
    padding: rem(60) 0 rem(140)
  }

  
//최상단 그림배너
  .banner {
    .inner {
      height: rem(400);
    }
  }

  .swiper_main_outerWrap {
    height: rem(400);
  }


//최상위 그림배너 모바일 이미지 테스트
  .main_img{
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .difference {
    .inner {
      h1 {
        font-size: rem(28);
      }
      .scroll {
        padding-bottom: 100vw;

        // scroll 이벤트시 Scene duration과 같이 조절 
        // ex) duration={500}, height: rem(600)
        height: rem(2200);
        .image_wrap{

          ul {
            row-gap: rem(200);
            // row-gap: rem(20);
            // row-gap: 70vw;
            // column-gap: rem(20);
            li{
              
              // &:nth-child(odd) {
              //   justify-content: flex-end;
              // }
              // &:nth-child(even) {
              //   justify-content: flex-start;
              // }
              // &::after{
              //   display: none;
              // }
              // &::before{
              //   display: none;
              // }
              // .image_title{
              //   background-color: #fff;
              //   padding: 0 rem(10);
              //   font-size: rem(16);
              // }
              // .image_sub{
              //   color: #fff;
              //   font-size: rem(12);
              //   padding: 0 rem(10);
              // }
            }
          }
        }

        .magicbox{
          background-size: 50%;
          max-width: rem(367);
        }
      }
    }
  }



//차별점 그림 3개
  .difference2 {
    ul {
      display: block;
      width: 100%;

      .title {
        font-size: rem(24)
      }

      li {
        margin: 0;
        width: 100%;
      }

      .text {
        padding: rem(40) rem(50) rem(90);
        font-size: rem(16);
        height: rem(80);
      }
    }
  }



//프리미엄바프
  .difference3 {
    height: 100%;
    .title {
      font-size: rem(28);
      margin: 0 auto;
      letter-spacing: rem(1);
    }

    br{
      display: inline-block;
    }

    .grid{
      position: static;
      row-gap: rem(20);
      .image{
        display: flex;
        transform: translateX(rem(-25));
        max-width: rem(303.5);
        width: 100%;
        height: auto;
      }
      .textbox {
        position: static;
        transform: translate(0, 0);
        margin: 0 auto;

        .text{
          li {
            padding-left: rem(30);
            font-size: rem(14);

            &::after{
              left: 0;
              top: rem(-5);
            }
          }
        }
      }
    }
  }




section.clientWorry {
  padding: rem(85) 0 rem(185)
}

//고민

  .subtitle {
    display: none;
  }


  .btn_worry {
    display: none;
  }
  .btn_worry2 {
    display: block;
    margin: rem(60) auto 0;
    text-align: center;
  }

  .clientWorry {
    height: rem(1500);

    .title_section {
      .title {
        margin-bottom: rem(65);
      }
    }

    .cont-left {
      width: 100%;
      margin-right: 0;
    }

    .cont-right {
      width: 100%;
    }

    .cont_section {
      > ul {
        > li {
          width: 100%;
          float: none;

          &:not(:last-child) {
            margin-right: rem(0);
          }
        }
      }

      > .btn_main {
        display: block;
        margin: rem(60) auto 0;
      }
      
      .clearfix{
        grid-template-columns: 1fr;
        row-gap: rem(40);
      }
    }


    .card {
      width: 100%;
      margin-top: 0;
      padding: rem(40) rem(30);
      max-width: 100%;

      .img-wrap {
        margin-bottom: rem(20);
        width: rem(100);
        height: rem(100);
      }

      .details {
        ul {
          // height: rem(360);
          li {
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }



//리뷰 후기
section.review {
  padding: rem(120) 0 rem(110)
}

.review {
  .inner {
    .title {
      font-size: rem(28);
    }
  }
}

  .swiper_review_outerWrap {
    height: rem(600);

    .swiper-button-prev {
      display: none;
    }

    .swiper-button-next {
      display: none;
    }

    a {
      // position: absolute;
      // left: 50%;
      // transform: translateX(-50%);
      // bottom: calc(-100% + #{rem(8)});
      // content: "더보기";
      // color: #fff;
      // font-size: rem(14);
      // width: 100%;
      // white-space: nowrap;
    }

    .swiper_review_bg{
      width: rem(280);
      height: rem(430);
      border-radius: rem(8);
    }

    .swiper_review{
      position: absolute;
      top: rem(40);
      left: 50%;
      transform: translateX(-50%);
      width: rem(280);
      overflow: visible;
    }
    
    .swiper_box{
      width: 100%;
    }

    .swiper_review_img{
      margin: rem(40) auto 0;
      width: rem(180);
      height: rem(180);
    }

    .swiper-pagination__reviewSection {
      bottom: rem(100) !important;
    }

    .swiper_review_more{
      a {
        transform: translate(-50%, -50%) translateY(rem(-33));
      }
    }
  }



//이용방법
section.Howtouse {
  padding: rem(65) 0 rem(60)
}

  .Howtouse{
    .inner {
      .title {
        font-size: rem(28);
      }
    }

    .cont_body{
      > ul {
        grid-template-columns: repeat(1, 100%);
        margin-top: 0;

        
        > li {
          margin-top: rem(65);
          .card{
            .details {
              width: 70%;
              margin-top: rem(35);
            }

            .img-wrap {
              width: rem(280);
              height: rem(280);

              .svg_pc{
                display: none;
              }

              .svg_m{
                display: block;
              }
            }
          }
        }
      }

      .btn_box {
        margin-top: rem(80);
      }
    }
  }



//SNS
  .title {
    font-size: rem(28);
  }

  .sns {
    .inner {
      > p {
        padding: rem(12) 0 rem(50);
      }
    }
  }

  .swiper_sns_outerWrap {
    max-width: rem(340);
    width: 100%;
    margin: 0 auto;

    .swiper_button_prev_sns {
      left: 0;
      transform: translate(-50%, -50%) translateX(rem(0));
    }

    .swiper_button_next_sns {
      left: auto;
      right: 0;
      transform: translate(50%, -50%) translateX(rem(0));
    }
    .swiper_sns{
      max-width: rem(340);
      width: 100%;
    }
    .swiper_sns_img{
      max-width: rem(160);
      width: 100%;
      // height: rem(160);
    }
  }



  section.barfraw {
    padding: rem(40) 0 rem(80)
  }

  section.difference2 {
    padding: rem(45) 0 rem(50)
  }
}

@media (max-width: rem(560)) {
  .difference {
    .inner {
      .scroll {
        .image_wrap{
          ul {
            height: 100%;
            gap: 0;
            max-width: rem(400);
            li{
              display: flex;
              flex-direction: column;
              &:first-child{
                align-items: flex-start;
                &::after{
                  top: rem(45);
                  left: rem(10);
                  right: 0;
                  transform: translate(0%, 0%);
                  border-width: 0 0 rem(1) rem(1);
                  height: rem(50);
                  width: 30vw;
                }
                &::before{
                  top: rem(90);
                  left: calc(30vw + rem(5));
                }
              }
              &:nth-child(2){
                align-items: flex-end;
                margin-right: 0;
                justify-content: flex-start;
                &::after{
                  top: rem(45);
                  right: rem(10);
                  transform: translate(0%, 0%);
                  border-width: 0 rem(1) rem(1) 0;
                  height: rem(50);
                  width: 30vw;
                }
                &::before{
                  top: rem(90);
                  right: calc(30vw + rem(5));
                }
              }
              &:nth-child(3){
                align-items: flex-start;
                margin-left: 0;
                justify-content: flex-end;
                &::after{
                  top: auto;
                  bottom: rem(45);
                  left: rem(10);
                  right: 0;
                  transform: translate(0%, 0%);
                  border-width: rem(1) 0 0 rem(1);
                  height: rem(50);
                  width: 30vw;
                }
                &::before{
                  top: auto;
                  bottom: rem(90);
                  left: calc(30vw + rem(5));
                }
              }
              &:last-child{
                align-items: flex-end;
                margin-right: 0;
                &::after{
                  top: auto;
                  bottom: rem(45);
                  right: rem(10);
                  transform: translate(0%, 0%);
                  border-width: rem(1) rem(1) 0 0;
                  height: rem(50);
                  width: 30vw;
                }
                &::before{
                  top: auto;
                  bottom: rem(90);
                  right: calc(30vw + rem(5));
                }
              }

              .image_title{
                font-size: rem(14);
              }
              .image_sub{
                font-size: rem(12);
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: rem(370)) {
  //레시피 설명 4가지 사진
  .swiper_recipe_outerWrap {
    .swiper_recipe{
      left: 0;
    }
  }
}

