$browser-context: 16;
@function rem($px, $context: $browser-context) {
  @return #{$px / $context}rem;
}

@mixin insertBackgroundImage {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.swiperSurvey {
  padding: rem(120) 0 0 !important;
  display: grid;
  grid-template-columns: 1fr;
  > div {
    // => '있어요'항목 클릭 시, 새로운 elem들이 나타남으로서, slide의 height값이 변화될 때의 Animation효과를 부드럽게 주기위함
    // (ex. 반려견 못먹는 음식 '있어요' / 기타 특이사항: '있어요')
    transition-duration: 0.3s !important;
    transition-timing-function: var(--transition-cubic) !important;
    order: 2;
  }

  .swiper-pagination {
    $transitionAttr: 0.1s linear;
    $margin-bottom: rem(25);
    position: relative;
    // top: rem(0);
    height: rem(10) !important;
    // left: 16.66666% !important;
    // transform: translateX(-50%);
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // bottom: auto !important;
    max-width: rem(364);
    // margin-bottom: rem(105);
    //margin: 0 auto;
    order: 1;

    // position: absolute !important;
    // top: 90% !important;

    // .swiper-pagination-bullet {
    //   box-shadow: none;
    //   opacity: 1;
    //   padding: rem(10);
    //   width: rem(40);
    //   height: rem(40);
    //   box-sizing: border-box;
    //   margin: 0 !important;
    //   border: rem(5) solid var(--color-line-04);
    //   // background-color: #fff;
    //   position: relative;

    //   // &:before,
    //   // &:after {
    //   //   content: '';
    //   //   position: absolute;
    //   //   top: 50%;
    //   //   left: 50%;
    //   //   width: 100%;
    //   //   height: 100%;
    //   //   border: rem(2) solid transparent;
    //   //   transform: translate(-50%, -50%);
    //   //   border-radius: 50%;
    //   // }
    //   &:after {
    //     width: 100%;
    //     height: 100%;
    //     opacity: 0;
    //     @include insertBackgroundImage;
    //     background-image: url('icon_checked.png');
    //   }

    //   .desc {
    //     font-size: rem(15);
    //     color: var(--color-font-sub2);
    //     position: absolute;
    //     bottom: -$margin-bottom;
    //     left: 50%;
    //     transform: Translate(-50%, 100%);
    //     color: var(--color-font-sub2);
    //     font-size: rem(15);
    //     font-weight: 500;
    //     width: rem(200);
    //   }
    // }
    // .swiper-pagination-bullet-active {
    //   //! 원 2개
    //   // &:before {
    //   //   border-width: rem(2);
    //   //   border-color: var(--color-main);
    //   //   transition: transform $transitionAttr;
    //   //   transition-delay: 0.1s;
    //   //   transform: translate(-50%, -50%) scale(2.1);
    //   //   // background-color: #fff;
    //   //   border-color: var(--color-main);
    //   //   // @include insertBackgroundImage;
    //   //   // background-image: url('pagination-logo.png');
    //   //   // background-size: 80% 80%;
    //   // }

    //   //! [수정]
    //   .bullet-content {
    //     border-width: rem(2);
    //     border-color: var(--color-main);
    //     transition: transform $transitionAttr;
    //     transition-delay: 0.1s;
    //     transform: translate(-50%, -50%) scale(2.1);
    //     // background-color: #fff;
    //     // @include insertBackgroundImage;
    //     // background-image: url('pagination-logo.png');
    //     // background-size: 80% 80%;
    //   }

    //   .desc {
    //     color: var(--color-font-def);
    //   }
    // }

    // * -- indicator Animation
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: rem(4);
    }
    &:before {
      width: 100%;
      background-color: var(--color-line-04);
      z-index: -2;
    }
    &:after {
      width: 0%;
      background-color: var(--color-main);
      z-index: -1;
    }
    &[data-step='1'] {
      .swiper-pagination-bullet:nth-child(1) {
        border-color: var(--color-main);
        background-color: var(--color-main);
      }
      &:after {
        width: 0%;
      }
    }
    &[data-step='2'] {
      .swiper-pagination-bullet:nth-child(1) {
        border-color: var(--color-main);
        background-color: var(--color-main);
        &:after {
          opacity: 1;
        }
      }
      .swiper-pagination-bullet:nth-child(2) {
        border-color: var(--color-main);
        background-color: var(--color-main);
      }
      &:after {
        width: 50%;
      }
    }
    &[data-step='3'] {
      .swiper-pagination-bullet:nth-child(1) {
        border-color: var(--color-main);
        background-color: var(--color-main);
        &:after {
          opacity: 1;
        }
      }
      .swiper-pagination-bullet:nth-child(2) {
        border-color: var(--color-main);
        background-color: var(--color-main);
        &:after {
          opacity: 1;
        }
      }
      .swiper-pagination-bullet:nth-child(3) {
        border-color: var(--color-main);
        background-color: var(--color-main);
      }
      &:after {
        width: 100%;
      }
    }
  }
}

@media (max-width: rem(600)) {
  .swiperSurvey {
    .swiper-pagination {
      max-width: rem(180);

      .swiper-pagination-bullet {
        padding: rem(5);

        .desc {
          font-size: rem(12);
          font-weight: 500;
        }
      }

      .swiper-pagination-bullet-active {
        padding: rem(10);

        .desc {
          transform: Translate(-50%, 100%) translateY(rem(-2));
        }
      }
    }
  }
}
