/* ADMIN COMMON STYLE */
$browser-context: 16;
@function rem($px, $context: $browser-context) {
  @return #{$px / $context}rem;
}

// * 라디오버튼
.inp-wrap.radio {
  display: flex;
  align-items: center;

  color: var(--color-font-def);
  label {
    padding: rem(4) 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: rem(14);
    &:not(:last-child) {
      margin-right: rem(24);
    }
    input {
      margin-right: rem(6);
    }
  }
}

.inp-wrap.radio.letter-in-shape {
  column-gap: rem(18);
  label {
    cursor: pointer;
    border-radius: rem(10);
    background-color: #fff;
    height: rem(42);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: rem(12) rem(24);
    box-sizing: border-box;
    border: rem(1) solid var(--color-line-03);
    transition: border-color 0.2s var(--transition-cubic);
    font-size: rem(16);
    // font-weight: 600;
    margin: 0;

    input {
      position: absolute;
      display: none;
      overflow: hidden;
      width: 0;
      height: 0;
      line-height: 0;
      opacity: 0;
      text-indent: rem(-9999);
    }
    &.checked {
      border-color: var(--color-main);
      color: var(--color-main);
      background-color: #ffe0e2;
    }
  }
}
