@import '/styles/global/rem';
@import '/styles/module/itemList.module';

.cont_viewer {
  .table {
    .table_th:last-child,
    .item > span:last-child,
    .table_body > li > span:not(:last-child) {
      border-right: $border;
    }
    .table_header,
    .item {
      display: grid;
      grid-gap: 0;
      grid-template-rows: minmax(rem(60), auto);
      grid-template-columns:
        rem(60)
        rem(140)
        rem(300)
        rem(180)
        rem(120)
        rem(180);
    }
  }
}
