@import '/styles/global/rem';
@import '/styles/global/guide';

.modal-container {
  padding: rem(30) rem(40) !important;
  width: 100% !important;
  max-width: rem(640);
  // max-height: rem(950);
  max-height: calc(100% - rem(40));
  overflow: scroll !important;

  //* 쿠폰코드 입력란
  .coupon_code_container {
    margin-top: rem(20);
    display: flex;
    flex-direction: column;

    h3 {
      font-weight: 600;
      font-size: rem(16);
      padding: rem(10) 0;
    }

    .flex_box {
      display: flex;
      align-items: center;
      gap: rem(10);
      .btn_box {
        padding: 0;
        background-color: var(--color-main);
        color: #fff;
        padding: rem(4) rem(10);
        border-radius: rem(3);
      }
    }
  }
}

.modal {
  width: 100%;

  .coupon-section {
    &:not(:last-child) {
      padding-bottom: rem(30);
      margin-bottom: rem(30);
      // border-bottom: rem(1) dashed var(--color-line-02);
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% + rem(80));
        height: rem(1);
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        opacity: 0.3;
      }
      // &::after{
      //   content: "";
      //   position: absolute;
      //   bottom: 0;
      //   left: 50%;
      //   transform: translateX(-50%);
      //   width: calc(100% + rem(40));
      //   height: rem(1);
      //   background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='4' stroke-dasharray='4%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
      //   opacity: .3;
      // }
    }
  }

  .title_box {
    width: 100%;
    padding-bottom: rem(20);
    display: grid;
    align-items: center;
    position: relative;

    //&::after{
    //  content: "";
    //  position: absolute;
    //  bottom: 0;
    //  left: 0;
    //  width: 100%;
    //  height: rem(1);
    //  background-color: var(--color-line-01);
    //}

    .title {
      font-size: rem(20);
      width: 100%;
      display: flex;
      justify-content: flex-start;
      font-weight: 600;

      span {
        @include char(l14);
        color: var(--color-font-sub);
        padding-left: rem(10);
        font-weight: 400;
        line-height: 200%;
      }
    }
  }

  .content_box.used-coupon .flex_box {
    grid-template-columns: rem(25) 1fr rem(100);
  }
  .content_box {
    .flex_box {
      display: grid;
      grid-template-columns: rem(25) 1fr rem(80) rem(100) rem(100);
      height: rem(50);
      width: 100%;
      box-sizing: border-box;

      text-align: center;
      align-content: center;
      &.header {
        font-size: rem(15);
        align-items: center;
        border: {
          top: rem(1) solid var(--color-line-01);
          bottom: rem(1) solid var(--color-line-01);
        }
      }

      @include char(l15);
      font-weight: 600;

      .coupon_title {
        grid-column: 1 / span 2;
      }

      > span:nth-child(1) {
        display: flex;
        justify-content: flex-start;
        box-sizing: border-box;
      }

      &.coupons {
        height: 100%;
        min-height: rem(51);
        border-top: 0;
        border-bottom: rem(1) solid var(--color-line-03);
        .radio {
          justify-content: center;
          gap: rem(10);
        }
        > span {
          color: var(--color-font-def);
        }
        .name {
          text-align: left;
          justify-content: flex-start;
          padding-left: rem(5);
        }
        .price {
          color: var(--color-main);
        }
        > * {
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 400 !important;
          font-size: rem(14);
        }
      }
    }

    .flex_box2 {
      width: 100%;
      display: flex;
      flex-direction: row;

      border-bottom: rem(1) solid var(--color-line-03);
      @include char(l15);
      font-weight: 400;

      .check_box {
        padding: rem(15) 0 rem(15);
        justify-content: center;
      }

      .name_box {
        justify-content: flex-start;
        display: grid;
        grid-template-columns: 1fr rem(80);

        .name {
          justify-content: flex-start;
        }
      }

      //
      //span {
      //  display: none;
      //}

      .price {
        color: var(--color-main);
      }
    }
  }
  .btn_box {
    display: flex;
    justify-content: center;
    column-gap: rem(10);
    padding-top: rem(30);
    .cancle_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem(120);
      padding: rem(8.5) 0;
      font-size: rem(16);
      border: rem(1) solid var(--color-line-03);
      border-radius: rem(4);
      cursor: pointer;
    }
    .choice_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem(120);
      padding: rem(8.5) 0;
      font-size: rem(16);
      background: var(--color-main);
      border-radius: rem(4);
      color: #fff;
      cursor: pointer;
    }
  }
}

.calculator {
  margin-top: rem(30);
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;

  p {
    @include char(l15);
    font-weight: 400;
    padding-bottom: rem(10);
    color: var(--color-font-def);
  }
  .text_price {
    @include char(l18);
    font-weight: 500;
  }

  .col_3 {
    font-size: rem(16);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    > h4 {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-size: rem(18);
      > span {
        font-size: rem(24);
        font-weight: 700;
      }
    }

    span {
      padding-left: rem(18);
      color: var(--color-main);
      @include char(l20);
      font-weight: 600;
    }
    .unappliedDiscountAmount {
      font-size: rem(12);
    }
  }
  .line {
    display: flex;
    border-top: rem(1) solid var(--color-line-01);
    width: rem(16);
    height: rem(1);
  }
  .vertical_line {
    display: flex;
    border-right: rem(1) solid var(--color-line-03);
    width: rem(1);
    height: rem(40);
  }
}

@media (max-width: rem(600)) {
  .calculator {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;

    .col_1,
    .col_2,
    .col_3 {
      display: flex;
      justify-content: space-between;

      > h4 {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: rem(18);
        > span {
          font-size: rem(24);
          font-weight: 700;
        }
      }
    }

    .line {
      display: none;
    }

    .vertical_line {
      height: 0;
      width: 100%;
      margin: 0 0 rem(10);
      border-right: 0;
      border-bottom: rem(1) solid var(--color-line-03);
    }
  }

  .modal-container {
    padding: rem(20) rem(25) !important;
    width: 100% !important;
    max-width: rem(340);
  }

  .modal {
    .title_box {
      &::after {
        display: none;
      }

      .title {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
      }
    }

    .content_box {
      .flex_box {
        &.header {
          display: none;
        }

        &.coupons {
          grid:
            'radio name count price'
            'radio date count price' / rem(40) 1fr rem(30) minmax(rem(80), auto);
          border: rem(1) solid var(--color-line-03);
          border-radius: rem(4);
          font-size: rem(15);
          align-items: center;
          min-height: rem(65);
          padding: rem(10) 0;
          margin-bottom: rem(8);

          .radio {
            grid-row: 1 / span 2;

            input {
              min-width: rem(16);
              min-height: rem(16);
            }
          }

          span {
            display: block;
          }

          .name {
            padding-left: 0;
            align-items: flex-start;
          }

          .count {
            color: #909090;
            grid-column: 3 / span 1;
            grid-row: 1 / span 2;
          }

          .date {
            color: #909090;
            grid-column: 2 / span 1;
            text-align: left;
            padding-top: rem(10);
          }

          .price {
            grid-column: 4 / span 1;
            grid-row: 1 / span 2;
            font-size: rem(14);
            padding-right: rem(5);
          }
        }
      }
    }

    .coupon-section {
      &:not(:last-child) {
        &::after {
          width: calc(100% + rem(40));
          background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='4' stroke-dasharray='4%2c 16' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        }
      }
    }
  }
}
