@import '/styles/global/rem';
@import '/styles/global/guide';

.modal-container {
  padding: rem(30) rem(40) !important;
  width: 100% !important;
  max-width: rem(640);
}

.modal {
  width: 100%;

  .title_box {
    width: 100%;
    padding-bottom: rem(20);
    display: flex;
    align-items: center;

    .title {
      width: 100%;
      display: flex;
      justify-content: flex-start;

      @include char(t20);
      span {
        @include char(l14);
        color: var(--color-font-sub);
        padding-left: rem(10);
        font-weight: 400;
        line-height: 200%;
      }
    }
  }
  .content_box {

    .flex_box {
      display: grid;
      grid-template-columns: 1fr rem(80) rem(100) rem(100);
      height: rem(50);
      width: 100%;
      box-sizing: border-box;

      text-align: center;
      align-content: center;
      &.header{
        border: {
          top: rem(1) solid var(--color-line-01);
          bottom: rem(1) solid var(--color-line-01);
        }
      }

      @include char(l15);
      font-weight: 600;
      > span:nth-child(1) {
        display: flex;
        justify-content: flex-start;
        padding-left: rem(20);
        box-sizing: border-box;
      }

      &.coupons {
        border-top:0;
        border-bottom: rem(1) solid var(--color-line-03);
        .radio{
          justify-content: flex-start;
          gap:rem(10);
          padding-left:rem(5);
        }
        .name{text-align:left;}
        .price{
          color: var(--color-main);
        }
        > * {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          font-weight:400 !important;
          font-size:rem(14);
        }
      }
    }



    .flex_box2 {
      width: 100%;
      display: flex;
      flex-direction: row;

      border-bottom: rem(1) solid var(--color-line-03);
      @include char(l15);
      font-weight: 400;

      .check_box {
        padding: rem(15) 0 rem(15);
        justify-content: center;
      }

      .name_box {
        justify-content: flex-start;
        display: grid;
        grid-template-columns: 1fr rem(80);

        .name {
          justify-content: flex-start;
        }
      }
      //
      //span {
      //  display: none;
      //}

      .price {
        color: var(--color-main);
      }
    }
  }
  .btn_box {
    display: flex;
    justify-content: center;
    column-gap: rem(10);
    padding-top: rem(40);
    .cancle_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem(120);
      padding: rem(8.5) 0;

      border: rem(1) solid var(--color-line-03);
      border-radius: rem(4);
      cursor: pointer;
    }
    .choice_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem(120);
      padding: rem(8.5) 0;

      background: var(--color-main);
      border-radius: rem(4);
      color: #fff;
      cursor: pointer;
    }
  }
}

@media (max-width: rem(600)) {
  .modal-container {
    padding: rem(20) rem(25) !important;
    width: 100% !important;
    max-width: rem(340);
  }

  .modal {
    .title_box {
      .title {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
      }
    }

    .content_box {
      .flex_box {
        display: none;
      }

      .flex_box2 {
        grid:
          'check_box name_box price'
          'check_box date price' / rem(40) 1fr rem(100);
        row-gap: rem(10);
        padding: rem(10) 0;
        margin-bottom: rem(10);
        border: rem(1) solid var(--color-line-03);
        border-radius: rem(4);
        font-size: rem(15);

        .check_box {
          grid-row: 1 / span 2;

          input {
            min-width: rem(16);
            min-height: rem(16);
          }
        }

        .name_box {
          display: flex;
        }

        span {
          display: block;
        }

        .count {
          color: #909090;
        }

        .date {
          color: #909090;
          justify-content: flex-start;
        }

        .price {
          grid-column: 3 / span 1;
          grid-row: 1 / span 2;
          justify-content: flex-end;
          margin-right: rem(12);
          font-size: rem(14);
        }
      }
    }
  }
}
