@import '/styles/global/rem';



.modal-changePassword{
  width: 100% !important;
  max-width: rem(400);
  padding: rem(50) rem(24) rem(20) !important;
  border-radius: rem(12) !important;
}


.title{
  text-align: center;
  font-size: rem(16);
  color:#323232;
}



.btn-section{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: rem(10);
  margin-top: rem(40);
  padding: 0 rem(10);
  box-sizing: border-box;

}
.btn{
  width: 100%;
  background-color: #fff;
  border-radius: rem(8);
  height: rem(40);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: rem(16);
  &.confirm{
    background-color: var(--color-main);
  }
  &.cancel{
    background-color: var(--color-line-02);
  }

}