$browser-context: 16;
@function rem($px, $context: $browser-context) {
  @return #{$px / $context}rem;
}

$containerSize: rem(800);
$topLinkBannerHeight : rem(38);

.modal-subscribe {
  position: fixed;
  // ! z-index: 1000 // global zindex에서 관리
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  animation: show var(--ani-default) forwards;
  &.on {
    pointer-events: all;
  }
  &.off {
    animation: hide var(--ani-default) forwards;
    pointer-events: all;
  }
}



.background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}



.body {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: show var(--ani-default) forwards;
}



.btn_close_modal {
  position: fixed;
  right: rem(20);
  top: rem(20);
  display: flex;
  z-index: 1;
}

.container {width: $containerSize;}



.cont {
  position: relative;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 0 rem(30) rgba(0, 0, 0, 0.15);
  border-radius: rem(8);
  padding: rem(22) rem(20);
  box-sizing: border-box;
  ul {
    display: grid;
    align-items: flex-start;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    li:not(:last-child) {
      border-right: rem(1) solid var(--color-line-04);
    }
  }
}




.card {
  padding: rem(35) rem(50) rem(42);
  box-sizing:border-box;
  text-align: center;
  .img-main {
    position: relative;
    width: rem(180);
    aspect-ratio: 180/150;
    overflow: initial;
    margin-bottom: rem(15);
    z-index: 0;
    .img-sale {
      position: absolute;
      right: rem(-61);
      top: rem(-25);
      width: rem(90);
      height: rem(90);
      z-index: 1;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  .title-section{
    margin-bottom:rem(26);
    .title {
      font-family: GmarketSansBold;
      font-size: rem(32);
      letter-spacing: rem(0.2);
      text-align: center;
      margin-bottom:rem(0);
      cursor:default;
    }
    .subtitle {
      font-weight: 500;
      margin-bottom:rem(21);
      letter-spacing: -0.02em;
      cursor:default;
       b{color: var(--color-primary04);}
    }
    .desc {
      font-weight: 400;
      color: var(--color-font-sub);
      cursor:default;
    }
  }
  
  .btn-section {
    a {
      background-color: var(--color-main);
      color: #fff;
      height: rem(50);
      font-size: rem(16);
      width: 100%;
      border-radius: rem(4);
    }
  }
}












@media (max-width: $containerSize) {

  .container {
    width: calc(100vw - #{rem(40)
  })
  }
}




@media (max-width: rem(800)) {

  $marginForBackgroundTouch: rem(26);

  
  .body{
    margin-top: calc(#{ $topLinkBannerHeight
  } + #{$marginForBackgroundTouch
  });
    margin-bottom: $marginForBackgroundTouch;
    box-sizing: border-box;
    height: calc(100vh - #{$topLinkBannerHeight
  });
    top:0;
    transform:translate(-50%,0)
  }
  .container {max-width: rem(335);} 
  .cont {
    max-height: calc(100vh - #{rem(83)
  });
    overflow: scroll;
    &::-webkit-scrollbar {display: none;}

    ul {
      grid-template-columns: 1fr ;
      li:not(:last-child) {
        border-right: 0;
        border-bottom: rem(1) solid var(--color-line-04);
      }
    }
  }

  .card {
    padding: rem(15) rem(8) rem(15);

    .img-main {
      width: rem(150);
      margin-bottom: rem(-4);
      .img-sale {
        right: rem(-55);
        top: rem(-19);
        width: rem(80);
        height: rem(80);
      }
    }

    .title-section{
      margin-bottom:rem(12);
      .title {
        font-size: rem(28);
        margin-bottom:rem(0);
      }
      .subtitle {
        font-size: rem(18);
        margin-bottom:rem(9);
      }
    }
  }

}



@media (max-width: rem(320)) {

  .container {width: calc(100vw - #{rem(16)
  });}
  .cont {
    overflow-y:scroll;
    &::-webkit-scrollbar {display:none;} //  스크롤바 숨김
  }

  .card {
    padding-right: 0;
    padding-left: 0;

    .img-main {
      width: rem(150);
      margin-bottom: rem(-4);
      .img-sale {
        right: rem(-36);
        top: rem(0);
        width: rem(60);
        height: rem(60);
      }
    }
  }
  .btn_close_modal {
    right: rem(16);
    top: rem(16);
  }
}

