$browser-context: 16;
@function rem($px, $context: $browser-context) {
  @return #{$px / $context}rem;
}



.modal_wrap {

  &.global .title_section .text{
      height: auto !important;
      display:block !important;
      font-size: rem(18);
      word-break: break-all;
  }

  .btn_close_modal {
    position: absolute;
    right: rem(10);
    top: rem(10);
    display: flex;
  }

  .title_section {
    text-align: center;
    margin-bottom: rem(30);
    * {cursor:default}
    .title {
      font-size: rem(20);
      margin-bottom: rem(16);
    }
    .text {
      font-size: rem(16);
      text-align: center;
      height: rem(34);
      display: flex;
      align-items: center;
      justify-content: center;
      &.only{
        margin-top:rem(8);
        height: rem(50);
      }
      &:not(:last-child) {
        margin-bottom: rem(43);
      }
    }

  }

  .btn_section {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      &:not(:last-child) {
        margin-right: rem(10);
      }
    }
  }

}




