@import 'styles/global/guide.scss';
@import 'styles/global/rem';

// LAYOUT
#modal-cancle {
  width: calc(100% - #{rem(40)});
  max-width: rem(600);
  padding: rem(20) rem(30) rem(30);
}
.title-section {
  margin-top: rem(10);
  margin-bottom: rem(26);
}
.body-section {
  margin-bottom: rem(30);
}

// CONT
.title-section {
  align-items: center;
  text-align: left;
  line-height: 1.2;
  display: flex;
  column-gap: rem(10);

  .title {
    font-size: rem(33) !important;
    font-weight: 700;
    margin-bottom: rem(4);
    min-width: rem(120);
  }
  .subtitle {
    font-size: rem(12);
    color: var(--gray30);
  }

  cursor: default;
  .itemCount {
    font-size: rem(13);
    color: var(--color-font-sub);
  }
}

.body-section {
  .item-wrap {
    max-height: rem(400);
    overflow-y: scroll;
    li {
      &:not(:last-child) {
        margin-bottom: rem(12);
        padding-bottom: rem(12);
        border-bottom: rem(1) solid var(--color-line-04);
      }
      .itemTitle {
        font-size:rem(20);
        font-weight: 700;
        margin-bottom: rem(4);
      }
      .itemList{
        //padding-left: rem(8);
      }
    }
    margin-bottom: rem(20);
  }
  .input-wrap{
    border-top: rem(1) solid #000 ;
    padding-top: rem(20);
    .input-title{
      font-size: rem(20);
      font-weight: 700;
      margin-bottom:rem(4)
    }
    textarea {
      //font-size: rem(14);
      width: 100%;
      background-color: #F5F5F5;
      min-height: rem(100);
      overflow-y: scroll;
      border-radius: 0;
      font-size: rem(16);
      // border: {
      //   top: 0;
      //   left: 0;
      //   right: 0;
      //   radius: 0;
      // }
      &:focus {
      }
      &::placeholder {
        font-size: rem(14);
      }
    }
  }

}

.btn-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(10);
  button {
    width: 100%;
  }
}

.close-button {
  position: absolute !important;
  right: rem(10);
  top: rem(10);
  width: rem(20) !important;
  height: rem(20) !important;
}
