
@import '/styles/global/rem';


.payment {
  margin:0 auto;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--color-main);
  border-radius: rem(4);
  color: #fff;
  padding: rem(14) 0;
  max-width: rem(315);
  max-height: rem(50);
}