@import '/styles/global/rem';
@import '/styles/module/itemList.module';
@import 'promotionStatus.module';


.cont_viewer {
  .table{
    .table_th:last-child,
    .item > span:last-child,
    .table_body > li > span:not(:last-child) {
      border-right: $border;
    }
    .table_header, .item{
      display:grid;
      grid-gap:0;
      grid-template-rows: minmax(rem(60), auto);
      grid-template-columns:
        rem(60)
        rem(80)
        rem(300)
        rem(140)
        rem(180)
        minmax(rem(600), 1fr);


      .period{
        flex-direction: column;
      }
      .couponInfo{
        flex-direction: column;
        .detail {
          color: var(--color-font-medium);
        }
      }
    }
  }
}



.moreview{
  cursor:pointer;
  position: relative;
}

.seperator{
  color: var(--color-font-medium);
  margin: rem(2);
}


.subtitle {
  font-size: rem(15);
  font-weight: 400;
  letter-spacing:  rem(0.4);

}
