@import '/styles/global/guide.scss';
@import '/styles/global/rem';
// ------------ LAY-OUT
.survey-page {
  margin-bottom: rem(150);

  .dog_title{
    margin-bottom: rem(40);
    margin-top: rem(9);
    @include char(t24);
  }

  .step1Page {
    padding: rem(0) 0 rem(80);
  }
  .step2page {
    padding: rem(0) 0 rem(80);
  }
  .step3page {
    padding: rem(0) 0 rem(80);
  }
}
.input-row:not(:last-child) {
  margin-bottom: rem(60);
}


// ----------- INPUT STYLE
.survey-page {
  .input-wrap{
    position: relative;
    input{width: 100% !important;}
  }
  input.focus-underline {
    border: {
      top: 0 !important;
      left: 0 !important;
      right: 0 !important;
    }
    border-radius: 0;
    border-bottom: rem(1) solid var(--color-line-02) !important;
    cursor: pointer;
    &:focus {
      border: {
        top: 0;
        left: 0;
        right: 0;
        border-bottom: rem(1) solid
      }
      border-color: var(--color-main) !important;
    }
    + .unit {
      position: absolute;
      cursor: default;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

}

.survey-page {
  .step3page {
    .input-row {
      .inputRadio {
          span {
            font-weight: 500;
          }
      }
    }
  }
}


.input_title {
  text-align: center;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:rem(10);
  @include char(l20);
  font-weight: 600;
  padding-bottom: rem(30);
}


.display-flex-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}


// ---------- 1페이지
.step1Page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.input_underLine {
  text-align: center;
  width: rem(360);
  border: rem(0);
  border-radius: rem(0);
  border-bottom: rem(1) solid var(--color-disabled);
}

.radio_gender {
  display: flex;
  column-gap: rem(17);
  @include char(l18);
  font-weight: 600;
}

//반려견성별
.flex_box {
  display: flex;
  column-gap: rem(20);
  .inner {
    width: rem(120);
    display: flex;
    align-items: center;
    text-align: center;
    input {
      border: rem(0);
      width: rem(100);
      text-align: center;
    }
    border-bottom: rem(1) solid var(--color-disabled);
  }
}

.oldDog {
  @include char(l16);
  padding-top: rem(30);
  text-align: center;
  justify-content: center;
  label {
    align-items: center;
    font-size: rem(16);
    line-height: 1.2;
  }
  > *{
    display: inline-flex !important;
  }
}

.dogBirth {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(20);
}

.dog_choice {
  padding: 0 rem(60);
  display: flex;
  justify-content: center;
  column-gap: rem(20);
  @include char(l18);
}

.inner_kg {
  max-width: rem(360);
  width: 100%;
  display: flex;
  align-items: center;
  text-align: right;
  position: relative;
  input {
    border: rem(0);
    width: rem(360);
    text-align: center;
  }
}

.dogStatus{
  padding: 0 rem(60);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: rem(26);
}


// * ------- 2페이지  ------- * //

.step2page {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.flex_box2 {
  display: flex;
  column-gap: rem(20);
  padding-bottom: rem(80);
  align-items: center;
  @include char(l18);
  .inner_flex_box {
    display: flex;
    column-gap: rem(10);
    align-items: center;
  }
  .inner {
    width: rem(120);
    display: flex;
    align-items: center;
    justify-content: space-between;
    input {
      border: rem(0);
      width: rem(80);
      text-align: center;
    }

  }
}

// * ------- 3페이지  ------- * //

.step3page {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .input_box_1 {
    text-align: center;
    width: rem(360);
    border: rem(0);
    border-radius: rem(0);
    border-bottom: rem(1) solid var(--color-disabled);
  }
}

.inedibleFood {
  display: grid;
  max-width: rem(220);
  grid-template-columns: 1fr 1fr;
  column-gap: rem(17);
  justify-content: center;
  row-gap: rem(12);
  @include char(l18);
  label{
    overflow-y: scroll;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    height: rem(42);
    padding-top:rem(10);
    padding-bottom:0;
    &::-webkit-scrollbar {display: none;}
  }
}

.red_text {
  @include char(b14);
  color: var(--color-primary04);
  text-align: center;
}

.recommendRecipeId {
  display: grid;
  row-gap: rem(14);
  @include char(l18);
}

.caution {
  width: rem(220);
  margin:0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: rem(20);
  justify-content: center;
  row-gap: rem(12);
  @include char(l18);
  padding-bottom: rem(30);
  label{
   padding: 0;
  }
}
// * ------- 활동량  ------- * //
.activityLevel {
  display: flex;
  align-items: flex-start;
  width: rem(410);
  // max-width: rem(400);
  padding-bottom: rem(80);

  @include char(l18);
  li {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    width: 20%;
  }
  label {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input {
      margin-bottom: rem(16);
    }
  }
}

// * ------- 건강상태  ------- * //

.healthStatus {
  display: inline-flex;
  flex-direction: column;
  gap: rem(14);
  @include char(l18);
  span {
    display: flex;
  }
}

.snackCountLevel {
  display: inline-flex;
  flex-direction: row;
  gap: rem(14);
  $descHeight : rem(40);
  $descBottomPos: rem(10);
  padding-bottom: calc(#{$descHeight} + #{$descBottomPos});
  .desc {
    position: absolute;
    width: 100%;
    height: $descHeight;
    bottom: -$descBottomPos;
    transform: translateY(100%);
    color: #878787;
    font-size: rem(14);
  }
  label {
    position: relative;
  }
}

// * ------- Custom Input 공통 ------ *
.inputRadio-wrap {
  text-align: center;
  label{cursor: pointer}
}
.inputRadio {
  cursor: pointer;
  border-radius: rem(50);
  background-color: #fff;
  width: 100%;
  height: rem(42);
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
  padding: rem(12) rem(25);
  box-sizing: border-box;
  border: rem(2) solid var(--color-line-03);
  transition: border-color 0.2s var(--transition-cubic);
  font-weight: 600;

  &.checked {
    border-color: var(--color-main);
    color: var(--color-main);
  }
  input {
    position: absolute;
    display: none;
    overflow: hidden;
    width: 0;
    height: 0;
    line-height: 0;
    opacity: 0;
    text-indent: rem(-9999);
  }
}

// * ------- 견종선택 Selct Tag  ------- * //

.selectDogBreed {
  position: relative;
  z-index: 1;
  .viewer {
    cursor: pointer;
    background-color: #f1f1f4;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-font-def);
    border-radius: rem(16);
    height: rem(50);
    max-width: rem(360);
  }
}

.modal-selectDogBreed {
  background-color: #fff;
  border-radius: rem(8);

  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);
  font-size: rem(16);
  overflow: hidden;
  transition-timing-function: cubic-bezier(0.69, 0.06, 0.38, 0.96);
  transition-duration: 0.25s;
  transition-property: height, margin, padding, box-shadow;

  height: 0;
  margin: 0;
  padding: 0 rem(5);
  box-shadow: 0 0 rem(0) rgba(0, 0, 0, 0);
  border: 0;
  pointer-events: none;
  &.active {
    height: rem(200);
    margin: auto;
    padding: rem(10) rem(5);
    border: rem(1) solid var(--color-line-04);
    box-shadow: 0 0 rem(25) rgba(0, 0, 0, 0.1);
    pointer-events: all;
  }

  .search {
    display: flex;
    height: rem(44);
    width: 100%;
  }

  p {
    transition-timing-function: ease;
    transition-duration: 0.1s;
    transition-property: color, background-color;
    padding-left: rem(10);
    font-size: inherit;
    height: rem(38);
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      background-color: var(--color-main) !important;
      color: #fff !important;
    }
    &.searchResult:first-child {
      background-color: #ddd;
    }
  }
  .scrollContainer {
    background-color: #fff;
  }
}





// * ------- Navigation Button  ------- * //
.swiper-navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: rem(560);
  margin: 0 auto 0;
  button {
    display: flex;
    justify-content: center;
    column-gap: rem(4);
    border: rem(1) solid var(--color-main);
    width: rem(120);
    @include char(l16);
    font-weight: 600;
    color: var(--color-main);
    text-align: center;
    padding: rem(19) 0;
    border-radius: rem(4);

    transition-timing-function: ease-out;
    transition-duration: 0.4s;
    transition-property: background-color, box-shadow;

    .image_box {
      position: relative;
      width: rem(12);
      aspect-ratio: 1/1;
      img {
        transition: inherit;
      }
    }
  }
  .swiper-button-prev {
    border-color: var(--color-main);
    background-color: #fff;
    color: var(--color-main);
    box-shadow: 0 rem(2) rem(10) 0 rgba(0, 0, 0, 0.1);
    &[disabled] {
      border-color: var(--color-disabled);
      color: var(--color-disabled);
      box-shadow: none;
      img {
        filter: grayscale(100);
        opacity: 0.5;
      }
    }
  }

  .swiper-button-next {
    border-color: transparent;
    background-color: var(--color-main);
    color: #fff;
    box-shadow: 0 rem(2) rem(10) 0 rgba(202, 16, 16, 0.6);
  }
  .swiper-button-submit{
    border-color: transparent;
    background-color: var(--color-main);
    color: #fff;
    box-shadow: 0 rem(2) rem(10) 0 rgba(202, 16, 16, 0.6);
    display: none;
  }
}


.btn-section.in-mypage{
  display: flex;
  align-items: center;
  justify-content: center;
  button.submit{
    background-color: var(--color-main);
    font-size: rem(16);
    color: #fff;
    border-radius: rem(8);
    width: 100%;
    max-width: rem(435);
    height: rem(60);
  }
}

@media (max-width: rem(650)) {

  // * ------- Custom Input 공통 ------ *
  .inputRadio-wrap {
    width: auto;
  }
  .survey-page {
    .step3page {
      .input-row:last-child {
        width: rem(250);
      }
    }
  }

  .survey-page {
    input.focus-underline {
      width: auto;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }

  
  .dog_choice {
    padding: 0;
    column-gap: rem(10);
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    
    li{
      > .inputRadio {
        padding: rem(12) rem(20);
      }
    }
  }
  

  .flex_box2 {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: rem(25);
    transform: translateX(rem(-8));
    .inner_flex_box {
      justify-content: flex-end;
    }
  }

  
  .dogStatus{
    gap: rem(14);
  }


  .inputRadio {
    padding: rem(12) rem(20);
  }

}