@import '/styles/global/guide.scss';
@import '/styles/global/rem';

// ------------ LAY-OUT
.survey-page {
  margin-bottom: rem(150);

  .dog_title {
    margin-bottom: rem(40);
    margin-top: rem(9);
    @include char(t24);
  }

  .step1Page {
    padding: rem(0) 0 rem(80);
  }
  .step2page {
    padding: rem(0) 0 rem(80);
  }
  .step3page {
    padding: rem(0) 0 rem(80);
  }
}
.input-row:not(:last-child) {
  margin-bottom: rem(60);
}

//////////////////////////////////
// ******** STEP 1. 견명 ********
//////////////////////////////////

.input_name_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: rem(20);
}

.input_name {
  background-color: white;
  width: rem(400);
  height: rem(50);
  position: relative;
}

.input_add_btn {
  background-color: white;
  width: rem(400);
  height: rem(50);
  border: rem(1) solid #dddddd;
  border-radius: rem(5);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(3);

  svg {
    width: rem(30);
    height: rem(30);
  }

  &:hover {
    border: rem(1) solid black;
    transition: 0.4s all;
  }
}
.input_name_wrapper {
  position: relative;
  width: rem(400);
}
.input_remove_button {
  position: absolute;
  right: rem(10);
  font-size: rem(14);
  margin-top: rem(10);
  padding: rem(4) rem(12);

  background-color: #f2f2f2;
  border-radius: rem(30);
  color: #999999;
}

.input_name_guide {
  background-color: rgba(242, 242, 242, 0.6);
  width: rem(400);
  // height: rem(50);
  color: #be1a21;
  text-align: center;
  padding: rem(10) 0;
  border-radius: rem(10);
}

.input_line {
  width: rem(400);
  height: rem(2);
  background-color: #ddd;
  margin: rem(30) 0 rem(20) 0;
}

//////////////////////////////////
// ******** STEP 2. 성별 & 중성화 ********
//////////////////////////////////

.gender_neutralization_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  // height: rem(380);

  .input_gender_container,
  .input_neutralization_container {
    margin-bottom: rem(40);
  }

  .input_gender_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ul {
      li {
        width: rem(180);
      }
    }
  }

  .input_neutralization_box {
    label {
      width: rem(180);
    }
  }
}

//////////////////////////////////
// ******** STEP 3. 크기 & 견종 ********
//////////////////////////////////
.dogSize_dogType_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: rem(400);

  .input_line {
    position: fixed;
    margin-top: rem(310);
  }

  .input_dogSize_dogType_box {
    // margin-bottom: rem(40);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.dogType_list {
  height: rem(80);
}

//////////////////////////////////
// ******** STEP 4. 생일 ********
//////////////////////////////////

.dogBirth_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: rem(430);

  .input_dogBirth_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    ul {
      height: rem(50);
    }

    .date_label_wrap {
      // display: none;
      .date_label_span {
        display: none;
      }
    }
    input {
      width: rem(400) !important;
      height: rem(50) !important;
      border-radius: rem(10) !important;
    }

    // 노령견 여부 label
    .oldDog {
      padding: rem(40) 0 rem(50) rem(10);
      display: flex;
      width: 100%;
      justify-content: flex-start;
    }
  }
}

.year_month_btn {
  background-color: white;
  width: rem(400);
  height: rem(50);
  border: rem(1) solid #dddddd;
  border-radius: rem(10);
}

.year_month_btn:hover {
  background-color: #ffe0e1;
  color: #af3d3d;
  border: rem(2) solid #852024;
  transition: 0.3s all;
  font-weight: bold;
}

.birth_text_wrapper {
  position: relative;
  height: rem(300);
}

.birth_text {
  background-color: rgba(242, 242, 242, 0.6);
  color: #be1a21;
  padding: rem(10);
  width: rem(400);
  font-size: rem(14.3);
  border-radius: rem(10);
  position: absolute;
  left: 50%;
  top: -20%;
  transform: translate(-50%, -50%);

  a {
    display: inline-block;
    text-decoration: underline;
    font-weight: bold;
  }
}

//////////////////////////////////
// ******** STEP 5. 몸무게 ********
//////////////////////////////////
.input_weight_container {
  height: rem(250);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input_weight_box {
  position: relative;
  width: rem(400);
  input {
    margin-bottom: rem(50);
  }
}
.weight_unit {
  color: #be1a21;
  position: absolute;
  right: rem(11);
  top: rem(11);
}

//////////////////////////////////
// ******** STEP 6. 현재 상태 ********
//////////////////////////////////
.status_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input_target_weight_box {
  position: relative;
  width: rem(400);
  margin: auto;
}
.input_status_box {
  .inputRadio-wrap {
    display: grid;
    grid-template-columns: repeat(2, 190px);
    grid-template-rows: repeat(2, 170px);
    column-gap: rem(20);
    row-gap: rem(16);
    margin-bottom: rem(20);
  }
  .inputRadio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: rem(15);
    gap: rem(15);
  }
}

.specific_status_container {
  width: rem(400);
  margin: rem(20) 0;
  font-size: rem(18);

  .sepcific_title {
    margin: rem(20) 0;
    span {
      font-size: rem(16);
      color: rgb(96, 96, 96);
    }
  }
  .input_specific_status_box {
    display: flex;
    justify-content: center;
    ul {
      flex-direction: row;
      label {
        width: rem(125);
        height: rem(50);
        padding: rem(5);
      }
    }
  }
  .input_name {
    margin-top: rem(20);
  }
}

.pregnancy_date_container {
  input {
    width: rem(400) !important;
    height: rem(50) !important;
  }
}

.pregnancy_date_title {
  margin: rem(20) 0;
  span {
    font-size: rem(13);
    color: rgb(96, 96, 96);
  }
}

.lactating_count_container {
  margin-top: rem(20);
  ul {
    display: flex;
    gap: rem(10);
    label {
      width: rem(92.5);
      height: rem(50);
      padding: rem(10);
    }
  }
}

//////////////////////////////////
// ******** STEP 7. 활동량 ********
//////////////////////////////////
.input_activity_box {
  .inputRadio-wrap {
    // width: rem(400);
    // height: rem(150);
    display: flex;
    flex-wrap: wrap;
    gap: rem(14);
    label {
      width: rem(155);
      height: rem(138);
      padding: rem(10) 0;
      display: flex;
      justify-content: space-between;
      gap: rem(12);
    }
  }
}
.activityLevel {
  display: flex;
  // align-items: flex-start;
  width: rem(330);
  // max-width: rem(400);
  // padding-bottom: rem(80);
  // justify-content: center;

  // li {
  //   display: inline-flex;
  //   flex-direction: row;
  //   justify-content: center;
  //   width: 20%;
  // }
  label {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    //   align-items: center;
    //   input {
    //     margin-bottom: rem(16);
    //   }
  }
}

//////////////////////////////////
// ******** STEP 8. 산책량 ********
//////////////////////////////////
.walk_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.walk_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: rem(380);
  margin: rem(10) 0 rem(30) 0;

  .input_walk {
    display: flex;
    align-items: center;
    gap: rem(10);

    input {
      background-color: white;
      border: rem(1) solid #dddddd !important;
      border-radius: rem(10);
      height: rem(40);
    }
  }
}

//////////////////////////////////
// ******** STEP 11. 영양제 ********
//////////////////////////////////
.supplement_text {
  color: #be1a21;
  text-align: center;
  padding-bottom: rem(20);
  width: rem(400);
}

.input_supplement_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: rem(10) 0 rem(40) 0;
  label {
    width: rem(190);
    height: rem(50) !important;
  }
}

.supplement_select_container {
  .inputRadio-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: rem(30);

    label {
      width: rem(120);
      height: rem(50);
    }

    .input_supplement_brand {
      border: none;
      border-bottom: rem(1) solid #ccc;
      width: rem(200);
      margin-left: rem(13);
      border-radius: 0;

      &::placeholder {
        color: rgba(0, 0, 0, 0.25);
        font-size: rem(12);
      }
    }

    .input_supplement_brand:focus {
      border: none !important;
      border-bottom: rem(1) solid #be1a21 !important;
    }
  }
}

//////////////////////////////////
// ******** STEP 12. 현재 먹고 있는 식사 ********
//////////////////////////////////

.currentMeal_select_container {
  .inputRadio-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: rem(30);

    label {
      width: rem(120);
      height: rem(50);
      padding: rem(6);
    }

    .input_supplement_brand {
      border: none;
      border-bottom: rem(1) solid #ccc;
      width: rem(200);
      margin-left: rem(13);
      border-radius: 0;

      &::placeholder {
        color: rgba(0, 0, 0, 0.25);
        font-size: rem(12);
      }
    }

    .input_supplement_brand:focus {
      border: none !important;
      border-bottom: rem(1) solid #be1a21 !important;
    }
  }
}

//////////////////////////////////
// ******** STEP 13. 못 먹는 음식 ********
//////////////////////////////////
.inedibleFood_text_box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inedibleFood_text {
  color: #be1a21;
  background-color: rgba(242, 242, 242, 0.6);
  padding: rem(20) rem(40);
  border-radius: rem(10);
  width: rem(480);
  margin: rem(30) 0;
}

.inedibleFood_select_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .inputRadio-wrap {
    width: rem(400);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: rem(16);

    li {
      width: rem(150);
      label {
        width: rem(140);
        height: rem(50);
        padding: rem(6);
      }
    }

    .input_etc {
      border: rem(1) solid #ccc;
      border-radius: rem(8);
      background-color: white;
      margin: rem(20) 0 0 rem(-330);
      width: rem(475);
      height: rem(40);
      display: flex;

      &::placeholder {
        color: rgba(0, 0, 0, 0.25);
        font-size: rem(15);
      }
    }

    .input_supplement_brand:focus {
      border: none !important;
      border-bottom: rem(1) solid #be1a21 !important;
    }
  }
}

//////////////////////////////////
// ******** STEP 14. 질병 ********
//////////////////////////////////
.step14Page {
  .modal_consult_wrapper {
    background-color: #af3d3d;
  }
}
.caution_text_box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.caution_text {
  color: #be1a21;
  background-color: rgba(242, 242, 242, 0.6);
  padding: rem(20) rem(60);
  border-radius: rem(10);
  width: rem(540);
  margin-bottom: rem(30);

  a {
    font-weight: bold;
    display: inline-block;
    text-decoration: underline;
  }
}
.caution_select_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .inputRadio-wrap {
    width: rem(400);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: rem(30);
    gap: rem(20);
    li {
      width: rem(120);
      label {
        width: rem(120);
        height: rem(58);
        padding: rem(6);
      }
    }

    .input_etc {
      border: rem(1) solid #ccc;
      border-radius: rem(8);
      background-color: white;
      margin: rem(20) 0 0 rem(-420);
      width: rem(540);
      height: rem(40);
      display: flex;

      &::placeholder {
        color: rgba(0, 0, 0, 0.25);
        font-size: rem(14);
      }
    }

    .input_supplement_brand:focus {
      border: none !important;
      border-bottom: rem(1) solid #be1a21 !important;
    }
  }
}

//////////////////////////////////
// ******** STEP 15. 고민 우선순위 3가지 ********
//////////////////////////////////
.recommendRecipeId_select_container {
  .inputRadio-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: rem(30);

    label {
      width: rem(200);
      height: rem(50);
      padding: rem(6);
    }
  }
}
.priority_concerns_container {
  display: flex;
  justify-content: center;
  padding-bottom: rem(30);

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(10);
    div {
      margin: rem(6) 0;
      width: rem(160);
      height: rem(30);
      border-bottom: rem(1) solid #000;
      text-align: center;
    }
  }
}
.input_mealCountPerOneDay_box {
  margin: rem(10) 0 rem(40) 0;
  .mealCountPerOneDay {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(20);
  }
  label {
    width: rem(120);
    height: rem(50) !important;
  }
}

// //////////////////////////////////
// // ******** STEP 17. 좋아하는 재료 ********
// //////////////////////////////////

// .input_fav_container {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;

//   .input_fav_box {
//     margin-bottom: rem(20);
//     position: relative;
//   }

//   .tag_button_box {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//     gap: rem(16);

//     .tag_button {
//       position: relative;
//       cursor: pointer;
//     }
//     p {
//       background-color: white;
//       padding: rem(6) rem(28) rem(6) rem(14);
//       border: rem(2) solid #be1a21;
//       border-radius: rem(20);
//     }

//     .tag_button_close {
//       display: flex;
//       position: absolute;
//       top: rem(9);
//       right: rem(6);
//       width: rem(22);
//       height: rem(20);
//       fill: #7d7d7d;
//     }

//     p:hover {
//       background-color: #ffe0e1;

//       .tag_button_close {
//         fill: #be1a21;
//       }
//     }
//   }
// }

// //////////////////////////////////
// // ******** STEP 18. 전하고 싶은 말 ********
// //////////////////////////////////
// .input_title_message {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
//   font-size: rem(24);
//   padding: rem(20) 0;

//   span {
//     font-size: rem(16);
//     padding-left: rem(10);
//     color: #383838;
//   }
// }

///////////////////////////////

// ----------- INPUT STYLE

.survey-page {
  input:hover {
    background-color: #f2f2f2;
    transition: 0.5s all;
  }

  .input-wrap {
    position: relative;
    input {
      width: 100% !important;
    }
  }
  input.focus-underline {
    font-size: rem(16);
    border: {
      top: 0 !important;
      left: 0 !important;
      right: 0 !important;
    }
    border-radius: 0;
    border-bottom: rem(1) solid var(--color-line-02) !important;
    cursor: pointer;

    &:focus {
      border: {
        top: 0;
        left: 0;
        right: 0;
        border-bottom: rem(1) solid;
      }
      border-color: var(--color-main) !important;
    }
    + .unit {
      position: absolute;
      cursor: default;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: rem(16);
    }
  }
}

.survey-page {
  .step3page {
    .input-row {
      .inputRadio {
        span {
          font-weight: 500;
        }
      }
    }
  }
}

.input_title {
  text-align: center;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  // @include char(l20);
  // font-weight: 600;
  font-size: rem(24);
  padding: rem(20) 0;
}

.display-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: rem(30) !important;
}

// ---------- 1페이지
.step1Page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.input_underLine {
  text-align: center;
  width: rem(360);
  border: rem(0);
  border-radius: rem(0);
  border-bottom: rem(1) solid var(--color-disabled);
}

.radio_gender {
  display: flex;
  column-gap: rem(17);
  @include char(l18);
  font-weight: 600;
}

//반려견성별
.flex_box {
  display: flex;
  column-gap: rem(20);
  .inner {
    width: rem(120);
    display: flex;
    align-items: center;
    text-align: center;
    input {
      border: rem(0);
      width: rem(100);
      text-align: center;
    }
    border-bottom: rem(1) solid var(--color-disabled);
  }
}

.oldDog {
  @include char(l16);
  padding-top: rem(30);
  text-align: center;
  justify-content: center;
  label {
    align-items: center;
    font-size: rem(16);
    line-height: 1.2;
  }
  > * {
    display: inline-flex !important;
  }
}

.dogBirth {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(20);
  font-size: rem(16);

  > li {
    > div {
      > input {
        font-size: rem(16);
      }
    }
  }
}

.dog_choice {
  padding: 0 rem(60);
  display: flex;
  justify-content: center;
  column-gap: rem(20);
  @include char(l18);
}

.inner_kg {
  max-width: rem(360);
  width: 100%;
  display: flex;
  align-items: center;
  text-align: right;
  position: relative;
  input {
    border: rem(0);
    width: rem(360);
    text-align: center;
  }
}

.dogStatus {
  padding: 0 rem(60);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: rem(12);
}

// * ------- 2페이지  ------- * //

.step2page {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.flex_box2 {
  display: flex;
  column-gap: rem(20);
  padding-bottom: rem(80);
  align-items: center;
  @include char(l18);
  .inner_flex_box {
    display: flex;
    column-gap: rem(10);
    align-items: center;
  }
  .inner {
    width: rem(120);
    display: flex;
    align-items: center;
    justify-content: space-between;
    input {
      border: rem(0);
      width: rem(80);
      text-align: center;
    }
  }
}

// * ------- 3페이지  ------- * //

.step3page {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .input_box_1 {
    text-align: center;
    width: rem(360);
    border: rem(0);
    border-radius: rem(0);
    border-bottom: rem(1) solid var(--color-disabled);
  }
}

.inedibleFood {
  display: grid;
  max-width: rem(220);
  grid-template-columns: 1fr 1fr;
  column-gap: rem(17);
  justify-content: center;
  row-gap: rem(12);
  @include char(l18);
  label {
    overflow-y: scroll;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    height: rem(42);
    padding-top: rem(10);
    padding-bottom: 0;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.red_text {
  @include char(b14);
  color: var(--color-primary04);
  text-align: center;
}

.recommendRecipeId {
  display: grid;
  row-gap: rem(14);
  @include char(l18);
}

.caution {
  width: rem(220);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: rem(20);
  justify-content: center;
  row-gap: rem(12);
  @include char(l18);
  // padding-bottom: rem(30);
  label {
    padding: 0;
  }
}

// * ------- 건강상태  ------- * //

.healthStatus {
  display: inline-flex;
  flex-direction: column;
  gap: rem(14);
  @include char(l18);
  span {
    display: flex;
  }
}

.snackCountLevel {
  display: inline-flex;
  flex-direction: row;
  gap: rem(14);
  $descHeight: rem(40);
  $descBottomPos: rem(10);
  padding-bottom: rem(20);
  // padding-bottom: calc(#{$descHeight} + #{$descBottomPos});
  .desc {
    position: absolute;
    width: 100%;
    height: $descHeight;
    bottom: -$descBottomPos;
    transform: translateY(100%);
    color: #878787;
    font-size: rem(14);
  }
  label {
    position: relative;
  }
}

// * ------- Custom Input 공통 ------ *
.inputRadio-wrap {
  text-align: center;
  label {
    max-width: rem(320);
    cursor: pointer;
    font-size: rem(16);
  }
}
.inputRadio {
  cursor: pointer;
  border-radius: rem(10);
  background-color: #fff;
  width: 100%;
  min-height: rem(42);
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
  padding: rem(10) rem(25);
  box-sizing: border-box;
  border: rem(2) solid var(--color-line-03);
  transition: border-color 0.2s var(--transition-cubic);
  // font-weight: 600; // 굵음
  max-width: rem(320);
  white-space: normal;
  word-break: keep-all;
  line-height: initial;
  &.checked {
    border-color: var(--color-main);
    color: var(--color-main);
    background-color: #ffe0e2;
  }
  input {
    position: absolute;
    display: none;
    overflow: hidden;
    width: 0;
    height: 0;
    line-height: 0;
    opacity: 0;
    text-indent: rem(-9999);
  }
}

// * ------- 견종선택 Selct Tag  ------- * //

.selectDogBreed {
  position: relative;
  z-index: 1;
  .viewer {
    cursor: pointer;
    background-color: #f1f1f4;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-font-def);
    border-radius: rem(16);
    height: rem(50);
    max-width: rem(360);
  }
}

.modal-selectDogBreed {
  background-color: #fff;
  border-radius: rem(8);

  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);
  font-size: rem(16);
  overflow: hidden;
  transition-timing-function: cubic-bezier(0.69, 0.06, 0.38, 0.96);
  transition-duration: 0.25s;
  transition-property: height, margin, padding, box-shadow;

  height: 0;
  margin: 0;
  padding: 0 rem(5);
  box-shadow: 0 0 rem(0) rgba(0, 0, 0, 0);
  border: 0;
  pointer-events: none;
  &.active {
    height: rem(200);
    margin: auto;
    padding: rem(10) rem(5);
    border: rem(1) solid var(--color-line-04);
    box-shadow: 0 0 rem(25) rgba(0, 0, 0, 0.1);
    pointer-events: all;
  }

  .search {
    display: flex;
    height: rem(44);
    width: 100%;
  }

  p {
    transition-timing-function: ease;
    transition-duration: 0.1s;
    transition-property: color, background-color;
    padding-left: rem(10);
    font-size: inherit;
    height: rem(38);
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      background-color: var(--color-main) !important;
      color: #fff !important;
    }
    &.searchResult:first-child {
      background-color: #ddd;
    }
  }
  .scrollContainer {
    background-color: #fff;
  }
}

.btn-section.in-mypage {
  display: flex;
  align-items: center;
  justify-content: center;
  button.submit {
    background-color: var(--color-main);
    font-size: rem(16);
    color: #fff;
    border-radius: rem(8);
    width: 100%;
    max-width: rem(435);
    height: rem(60);
  }
}

@media (max-width: rem(650)) {
  // * ------- Custom Input 공통 ------ *
  .inputRadio-wrap {
    width: auto;
  }
  .survey-page {
    .step3page {
      .input-row:last-child {
        width: rem(250);
      }
    }
  }

  .survey-page {
    input.focus-underline {
      width: 100%;
      max-width: rem(226);
      margin: rem(30) auto 0;
      display: block;
    }
  }

  .dog_choice {
    padding: 0;
    column-gap: rem(10);
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    li {
      > .inputRadio {
        padding: rem(12) rem(20);
      }
    }
  }

  .flex_box2 {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: rem(25);
    transform: translateX(rem(-8));
    .inner_flex_box {
      justify-content: flex-end;
    }
  }

  .dogStatus {
    gap: rem(14);
  }

  .inputRadio {
    padding: rem(10) rem(20);
  }
}
