$browser-context: 16;
@function rem($px, $context: $browser-context) {
  @return #{$px / $context}rem;
}

@mixin insertBackgroundImage {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}


.swiperSurvey{
  padding: rem(55) 0 0 !important;

  .swiper-pagination{
    $transitionAttr: .1s linear; 
    $margin-bottom: rem(25);
    position:relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom:0 !important;
    max-width: rem(364);
    width: auto !important;
    margin:0 auto;
    margin-bottom:$margin-bottom !important;

    .swiper-pagination-bullet{
      box-shadow: none;
      opacity:1;
      padding:0;
      width:rem(26); height:rem(26);
      box-sizing: border-box;
      margin: 0 !important;
      border: rem(5) solid var(--color-line-04);
      background-color: #fff;
      position: relative;

      &:before, &:after{
        content:'';
        position: absolute;
        top:50%;
        left:50%;
        width: 100%;
        height: 100%;
        border: rem(2) solid transparent;
        transform:translate(-50%,-50%);
        border-radius:50%;
      }
      &:after{
        width: 100%;
        height: 100%;
        opacity: 0;
        @include insertBackgroundImage;
        background-image: url('./icon_checked.png');
      }
      
      .desc{
        font-size:rem(15);  color:var(--color-font-sub2);
        position: absolute;
        bottom: -$margin-bottom;
        left:50%;
        transform:Translate(-50%,100%);
        color:var(--color-font-sub2);
        font-size:rem(15);
        width: rem(200)
      }
    }
    .swiper-pagination-bullet-active{
      &:before{
        border-width: rem(2);
        border-color:  var(--color-main);
        transition: transform $transitionAttr;
        transition-delay: .1s;
        transform:translate(-50%,-50%)scale(2);
        background-color: #fff;
        border-color:var(--color-main);
        @include insertBackgroundImage;
        background-image: url('./pagination-logo.png');
      }

      .desc{color:var(--color-font-def);}
    }

    // * -- indicator Animation
    &:before, &:after{
      content:'';
      position: absolute;
      top:50%;
      left: 0;
      transform:translateY(-50%);
      height: rem(4);
    }
    &:before{width: 100%;background-color: var(--color-line-04);z-index: -2;}
    &:after{width: 0%;background-color: var(--color-main);z-index: -1;}
    &[data-step='1'] {
      .swiper-pagination-bullet:nth-child(1){
        
        border-color:var(--color-main);background-color: var(--color-main);
      }
      &:after{width: 0%;}
    }
    &[data-step='2'] {
      .swiper-pagination-bullet:nth-child(1){border-color:var(--color-main);background-color: var(--color-main);&:after{opacity: 1;}}
      .swiper-pagination-bullet:nth-child(2){border-color:var(--color-main);background-color: var(--color-main);}
      &:after{width: 50%;}
    }
    &[data-step='3'] {
      .swiper-pagination-bullet:nth-child(1){border-color:var(--color-main);background-color: var(--color-main);&:after{opacity: 1;}}
      .swiper-pagination-bullet:nth-child(2){border-color:var(--color-main);background-color: var(--color-main);&:after{opacity: 1;}}
      .swiper-pagination-bullet:nth-child(3){border-color:var(--color-main);background-color: var(--color-main);}
      &:after{width: 100%;}
    }

  }
}

