$browser-context: 16;
@function rem($px, $context: $browser-context) {
  @return #{$px / $context}rem;
}
@import 'styles/global/guide.scss';

.step1Page {
  padding: rem(60) 0 ;
  margin-bottom: 20vh;
}
.step2page {
  padding: rem(60) 0 ;
  margin-bottom: 20vh;
}
.step3page {
  padding: rem(60) 0 ;
  margin-bottom: 20vh;
}

.input_title {
  text-align: center;
  @include char(l20);
  font-weight: 600;
  padding-bottom: rem(30);
}


.step1Page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
    
  .input_box_1 {
    text-align: center;
    width: rem(360);
    border: rem(0);
    border-radius: rem(0);
    border-bottom: rem(1) solid var(--color-disabled) ;
  }
}

.radio_gender {
  display: flex;
  column-gap: rem(17);
  @include char(l18);
  font-weight: 600;
}

.item_box {
  padding-bottom: rem(60);
}


//반려견성별
.flex_box {
  display: flex;
  column-gap: rem(20);
  .inner {
    width: rem(120);
    display: flex;
    align-items: center;
    text-align: center;
    input {
      border : rem(0);
      width: rem(100);
      text-align: center;
    }
    border-bottom: rem(1) solid var(--color-disabled);
  }
}


.radio_check {
  @include char(l16);

  padding-top :rem(30);
  padding-bottom: rem(60);
  .radio {
    display: flex;
    column-gap: rem(8);
    justify-content: center;

  }
}

.selectDogBreed {
  width: rem(360);
}
.dog_choice {
  padding: rem(60);
  display: flex;
  justify-content: center;
  column-gap: rem(20);
  @include char(l18);
}


.inner_kg {
  width: rem(360);
  display: flex;
  align-items: center;
  text-align: right;
  border-bottom: rem(1) solid var(--color-disabled);
  margin-bottom: rem(60);
  input {
    border : rem(0);
    width: rem(350);
    text-align: center;
  }
}

.left_side_btn {
  .left_btn {
    display: flex;
    justify-content: center;
    column-gap: rem(4);

    border: rem(1) solid var(--color-main);
    width: rem(120);
    @include char(l16);
    font-weight: 600;
    color : var(--color-main);
    text-align: center;
    padding : rem(19) 0;
    border-radius: rem(4);
    .image_box {
      .image {
        width: rem(12);
        aspect-ratio: 1/1;
      }
    }
  }
}

.right_side_btn {
  .right_btn {
    display: flex;
    justify-content: center;
    column-gap: rem(4);

    border: rem(1) solid var(--color-main);
    width: rem(120);
    @include char(l16);
    font-weight: 600;
    background-color: var(--color-main);
    color : #fff;
    text-align: center;
    padding : rem(19) 0;
    border-radius: rem(4);
    .image_box {
      .image {
        width: rem(12);
        aspect-ratio: 1/1;
      }
    }
  }
}

.swiper_main_outerWrap {
  position: relative;
  z-index: 100;
  .left_side_btn {
  // .swiper_navigation_container {
    position: absolute;
    bottom: 20%;
    left: 300px;
  }
  .right_side_btn {
    position: absolute;
    bottom: 20%;
    right: 300px;
    
  }
}
.swiper_navigation_container{display: block;
  .left_side_btn {
    // .swiper_navigation_container {
      position: relative;
      // bottom: 20%;
      // left: 300px;
    }
    .right_side_btn {
      position: relative;
      // bottom: 20%;
      // right: 300px;
      
    }
}


// * ------- 2페이지  ------- * //

.step2page {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.flex_box2 {
  display: flex;
  column-gap: rem(20);
  padding-bottom: rem(80);
  align-items: center;
  @include char(l18);
  .inner_flex_box {
    display: flex;
    column-gap: rem(10);
    align-items: center;
  }
  .inner {
    width: rem(120);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    input {
      border : rem(0);
      // background: rosybrown;
      margin-left: rem(5);
      width: rem(80);
      text-align: center;
    }
    .input_1 {
      border : rem(0);
      // background: red;
      margin-left: rem(10);
      width: rem(80);
      text-align: center;

    }
    text-align: right;
    border-bottom: rem(1) solid var(--color-disabled);
  }
}

// * ------- 3페이지  ------- * //

.step3page {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .input_box_1 {
    text-align: center;
    width: rem(360);
    border: rem(0);
    border-radius: rem(0);
    border-bottom: rem(1) solid var(--color-disabled);
  }
}

.food_check {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: rem(20);
  justify-content: center;
  row-gap: rem(12);
  @include char(l18);
  padding-bottom: rem(30);
}

.red_text {
  @include char(b14);
  color : var(--color-primary04);
  text-align: center;
  padding-bottom: rem(80);
}

.take_care {
  display: grid;
  row-gap: rem(14);
  @include char(l18);
  padding-bottom:rem(80);
}

.disease_check {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: rem(20);
  justify-content: center;
  row-gap: rem(12);
  @include char(l18);
  padding-bottom: rem(30);
}
// * ------- 활동량  ------- * //
.activity {
  display: flex;
  align-items: start;
  width: rem(410);
  // max-width: rem(400);
  padding-bottom: rem(80);

  @include char(l18);
  li {
    display: inline-flex;
    flex-direction: row;
    justify-content:center;
    width: 20%;

  }
  label {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input{ margin-bottom:rem(16);}
  }
  // display:inline-flex;
  // flex-direction: row;
  // gap: rem(14);
}

// * ------- 건강상태  ------- * //

.healthStatus {
  display: inline-flex;
  flex-direction: column;
  gap: rem(14);
  @include char(l18);
  span {
    display: flex;
  }
}

.numberOfSnacks{
  display: inline-flex;
  flex-direction: row;
  gap: rem(14);
  label{position:relative;}
  padding-bottom: rem(123);
  .desc{
    position:absolute;
    width: 100%;
    bottom:rem(-10);
    transform:translateY(100%);
    color: #878787;
    font-size: rem(14);
  }

}







// * ------- Custom Input 공통 ------ *
.inputRadio-wrap {
  text-align: center;
}
.inputRadio {
  cursor: pointer;
  border-radius: rem(50);
  background-color: #fff;
  height: rem(42);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: rem(12) rem(25);
  box-sizing: border-box;
  border: rem(2) solid var(--color-line-03);
  transition: border-color 0.1s ease;

  &.checked {
    border-color: var(--color-main);
  }
  input {
    position: absolute;
    display: none;
    overflow: hidden;
    width: 0;
    height: 0;
    line-height: 0;
    opacity: 0;
    text-indent: -9999px;
  }
}

// * ------- 견종선택 Selct Tag  ------- * //

.selectDogBreed {
  position: relative;
  z-index: 1;
  max-width: rem(360);
  .viewer {
    cursor: pointer;
    background-color: #f1f1f4;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-font-def);
    border-radius: rem(16);
    height: rem(50);
    max-width: rem(360);
  }
}
.modal-selectDogBreed {
  border-radius: rem(8);
  box-shadow: 0 0 rem(25) rgba(0, 0, 0, 0.1);
  padding: rem(5);
  border: rem(1) solid var(--color-line-04);
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  font-size: rem(18);

  .search {
    display: flex;
    height: rem(44);
    width: 100%;
  }
  p {
    transition-timing-function: ease;
    transition-duration: 0.1s;
    transition-property: color background-color;
    padding-left: rem(10);
    font-size: inherit;
    height: rem(38);
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      background-color: var(--color-main) !important;
      color: #fff !important;
    }
    &.searchResult:first-child {
      background-color: #ddd;
    }
  }
  .scrollContainer {
    background-color: #fff;
  }
}
