@import '/styles/global/rem';
@import '/styles/global/guide';

section.title { padding : rem(40) 0 rem(30);}


.title {
  > p {
    @include char(t24);
  }
}
.event-wrap{
  padding: rem(40);
}

.event_box {
  margin-bottom: rem(10);
  ul li:not(:last-child){margin-bottom: rem(10);}
  a {
    position: relative;
    width: 100%;
    height: 220px;
    aspect-ratio: 5.27/1;
    .text_box {
      position: absolute;
      left: calc(100% / 5.8);
      top: rem(52);
      color: #fff;
      @include char(d32);
      font-weight: 300;
      line-height: 120%;
      > p {
        font-weight: 600;
        line-height: 120%;
      }
    }
  }
}



@media (max-width: rem(800)) {


  .event_box {
    a {
      height: 160px;
      .text_box {
        position: absolute;
        top: rem(26);
        left: calc(100% / 10.8);
      }
    }
  }

}

@media (max-width: rem(600)) {

  section.title { padding : rem(70) 0 rem(30);}


  // width: 600사이즈용 이미지 별도로 필요
  .event_box {
    a {
      .text_box {
        top: rem(32);
        font-size: rem(28);
      }
    }
  }
}