$browser-context:16; // html font-size
@function rem($px, $context: $browser-context){
  @return #{$px / $context}rem;
}
@import '../../../../styles/global/guide';


section.title {padding : rem(60) 0 rem(60)}
section.announcement {padding : 0 0 rem(20)}
section.list_gotosee {padding : 0 0 rem(40)}
section.before_after {padding : 0 0 rem(110)}

.title {
  .text {
    text-align: center;
    @include char(t24);
  }
}

.announcement {
  .content {
    .flex_box {
      display: grid;
      grid-template-columns: (13.8% 58.6% 13.8% 13.8%);
      border-top: 1px solid var(--color-line-01);
      border-bottom: 1px solid var(--color-line-04);
      > * {
        padding: rem(18) 0 rem(18) rem(24);
        @include char(b15);
      } 
      > p {
        background-color: var(--color-bg-footer);
      }
      > span {
        color : var(--color-font-sub);
      }
    }
  }

  .content_text {
    border-bottom : 1px solid var(--color-line-04) ;

    padding: rem(20);

    
  }
}


.list_gotosee {
  display: flex;
  justify-content: center;
  align-items: center;
  .btn {
    width: 40%;
    height: rem(44);
    max-width: rem(200);
    background-color: var(--color-main);
    border-radius: 2px;
    
    display: grid;
    place-items: center;

    @include char(l15);
    font-weight: 500;
    color: #fff;
  }
}


.before_after {
  border-top: 1px solid var(--color-line-01);
  .grid_box {
    display: grid;
    grid-template-columns: 9% 5% 86.2%;
    > * {
      padding: rem(16) 0 rem(16) rem(20);
      border-bottom: 1px solid var(--color-line-04);
      color : var(--color-font-sub);
      @include char(l15);
    }
    
    div {
      color: var(--color-font-sub);
    }
    .image{
      width: rem(12);
      aspect-ratio: 1/1;
    }
  }
}