@import '/styles/module/itemList.module';

.cont_viewer {
  .table {
    .table_header,
    .item {
      grid-template-columns:
        rem(60)
        rem(95)
        rem(160)
        rem(220)
        rem(220)
        minmax(rem(180), rem(240))
        rem(160)
        minmax(rem(120), rem(240))
        rem(120);
      span {
        justify-content: center !important;
      }
    }
  }
}

.search_row {
  display: grid;
  align-items: center;
  grid-template-columns: 10rem calc(100% - 10rem);
  justify-content: flex-start;
  border-bottom: 0.0625rem solid var(--color-line-04);
  padding-bottom: 0.9375rem;
  gap: 0.625rem 0;
}
