@import '/styles/global/guide';
@import '/styles/global/rem.scss';

section.kit_top {
  padding: rem(80) 0;
}

section.kit_intro {
  padding: rem(80) 0;
  background-color: rgba(241, 241, 241, 0.2);
}

section.kit_bottom {
  padding: rem(80);
}

//////////////////

//*------ TOP ------*
.kit_top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(80);
  .kit_left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .kit_title {
      display: flex;
      margin-bottom: rem(20);
      gap: rem(20);

      h1 {
        font-weight: bold;
        font-size: rem(42);
      }

      .img_wrap {
        width: rem(250);
      }
    }

    .kit_text {
      background-color: #f1f1f1;
      padding: rem(10) rem(24);
      border-radius: rem(4);
      font-size: rem(20);

      span {
        font-weight: bold;
      }
    }
  }

  .kit_right {
    width: rem(500);
  }
}

//*------ INTRO ------*
.kit_intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // 1. NEEDS
  .needs_title {
    font-size: rem(30);
    padding-bottom: rem(40);
    span {
      font-weight: bold;
    }
  }

  .needs_content {
    display: flex;
    flex-direction: column;
    gap: rem(100);
  }

  .needs_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .img_wrap {
      width: rem(200);
      height: rem(200);
      position: relative;
      position: absolute;
      left: 0;
    }

    .img_wrap::after {
      content: '';
      position: absolute;
      top: 0%;
      left: 0%;
      width: rem(200);
      height: rem(200);
      border-radius: 50%;
      box-shadow: 15px 10px 0px 0px #d0cdcd;
      z-index: 1;
    }

    .needs_text_box {
      border: rem(1) solid #cccccc;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: rem(22);
      padding: rem(20) rem(40) rem(20) rem(150);
      width: rem(900);
      margin-left: rem(100);

      .needs_text_title {
        display: flex;
        align-items: center;

        font-weight: bold;
        font-size: rem(28);
        p {
          font-size: rem(40);
          padding-right: rem(10);
        }

        .text_highlight {
          background-color: #ffd749;
          font-size: rem(28);
        }
      }

      .text_sub_content {
        font-size: rem(26);
        padding-left: rem(50);
        width: rem(680);
      }
    }
  }
  .line_wrap {
    margin: rem(60);
  }

  // 2. SOLUTION
  .solution_content {
    display: flex;
    gap: rem(50);
    .solution_text_box {
      display: flex;
      flex-direction: column;
      width: rem(260);

      .solution_text_title {
        font-weight: bold;
        font-size: rem(25);
        border-bottom: rem(1) solid black;
        padding-bottom: rem(20);
        margin-bottom: rem(20);
      }
    }
  }
}

//*------ BOTTOM ------*
.kit_bottom {
  display: flex;
  flex-direction: column;

  // 1. 상단
  .bottom_title_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: rem(30);

    .title {
      width: rem(500);
      padding: rem(10) 0;
      border-bottom: rem(1) solid black;
    }

    .title_sub {
      padding: rem(10) 0;
      font-weight: bold;
      span {
        color: #ca1010;
      }
    }

    .title_result {
      font-size: rem(16);
      background-color: #f1f1f1;
      border-radius: rem(4);
      width: rem(500);
      padding: rem(10);
    }
  }

  // 2. 하단
  .bottom_content_container {
    font-size: rem(20);
    display: flex;
    flex-direction: column;
    gap: rem(50);
    align-items: center;
    .hash_tag_wrap {
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      gap: rem(20);

      .hash_tag {
        border: rem(1) solid #f1f1f1;
        width: rem(150);
        padding: rem(5);
        color: #6a6a6a;
        font-size: rem(20);
        border-radius: rem(22);
      }
    }

    .content_box {
      background-color: #f1f1f1;
      padding: rem(10) rem(40);
      width: rem(700);
      text-align: center;

      span {
        font-weight: bold;
      }
    }
    .red_text {
      color: #be1a21;
    }
  }
}

//*------ SWIPER --------*
.swiper_report_outerWrap {
  width: 100%;
  .swiper_report {
    width: 100%;
    .swiper-wrapper {
      transition-timing-function: linear !important;
    }
    .swiper-button-next {
      content: '>';
    }
  }
}

.report {
  .inner {
    text-align: center;

    > p {
      padding: rem(12) 0 rem(77);
      color: #636363;
      font-size: rem(16);
    }
  }
}

// ****** SWIPER : REPORT *******

.swiper-button-next,
.swiper-button-prev {
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%) translateY(rem(-25));
  top: 50%;
  z-index: 2;

  opacity: 0.2;
}

.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}

.swiper_main_outerWrap {
  position: relative;

  .swiper_navigation_container {
    width: 75rem;
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    z-index: 3;
  }

  // .swiper-button-next{
  //   right:rem(-80);
  // }
  // .swiper-button-prev{
  //   left:rem(-80);
  // }
}

.swiper_kit_outerWrap {
  // padding:0 rem(50) 0;
  position: relative;

  // .swiper_kit{
  //   padding:rem(60) 0 rem(70);
  // }

  .swiper-button-prev,
  .swiper-button-next {
    opacity: 0.5;
    // box-shadow: rem(3) rem(3) rem(5) rgba(255, 255, 255, 255);
    box-shadow: rem(1) rem(1) rem(10) rgba(0, 0, 0, 0.15);
    border-radius: 100%;
    width: rem(40);
    height: rem(40);
    transition: opacity 0.1s ease;

    &:hover {
      opacity: 1;
    }

    .arrow_left,
    .arrow_right {
      border-radius: 100%;
      filter: invert(1);
    }
  }

  a {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(-100% + #{rem(8)});
    content: '더보기';
    color: #fff;
    font-size: rem(14);
    width: 100%;
    white-space: nowrap;
  }
  .swiper-pagination__kitSection {
    bottom: rem(22) !important;
    span {
      width: rem(10);
      height: rem(10);
    }
  }
}

.swiper_sns_outerWrap {
  position: relative;
  .swiper-button-prev,
  .swiper-button-next {
    width: rem(28);
    height: rem(28);
  }

  .swiper-button-prev {
    left: rem(-14);
  }
  .swiper-button-next {
    right: rem(-14);
  }
}

@media (max-width: rem(1230)) {
  .kit_top {
    flex-direction: column;

    .kit_title {
      align-items: flex-end;
    }

    .kit_text {
      font-size: rem(17) !important;
    }

    .img_wrap {
      width: rem(180) !important;
    }
  }

  .hash_tag_wrap {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr); /* 2줄 */
    gap: 10px;
  }
  .solution_content {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr); /* 2줄 */
    gap: 10px;
  }
}

@media (max-width: rem(1200)) {
  .kit_top {
    flex-direction: column;

    .kit_title {
      align-items: flex-end;
    }

    .kit_text {
      font-size: rem(17) !important;
    }

    .img_wrap {
      width: rem(180) !important;
    }
  }

  .hash_tag_wrap {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr); /* 2줄 */
    gap: 10px;
  }
}

@media (max-width: rem(1060)) {
  .kit_left {
    width: 100% !important;
  }

  .needs_content {
    width: rem(700);
    .needs_text_box {
      width: rem(600) !important;
      padding-left: rem(130) !important;
      text-align: center;
      .text_sub_content {
        flex-direction: column;
        padding-top: rem(4);
        width: rem(400) !important;
        font-size: rem(18) !important;

        span {
          display: flex;
          justify-content: center;
        }
      }
      .needs_text_title {
        display: flex;
        flex-direction: column;
        p {
          font-size: rem(26) !important;
        }

        .text_content,
        span {
          font-size: rem(22) !important;
        }
      }
    }
  }
}

@media (max-width: rem(750)) {
  .needs_content {
    width: rem(600);
    .needs_text_box {
      width: rem(500) !important;
      padding-left: rem(130) !important;
      text-align: center;

      .text_sub_content {
        font-size: rem(14) !important;
        width: rem(300) !important;
        padding-left: rem(20) !important;

        span {
          display: flex;
          justify-content: center;
        }
      }
      .needs_text_title {
        display: flex;
        flex-direction: column;
        p {
          font-size: rem(24) !important;
        }

        .text_content,
        span {
          font-size: rem(18) !important;
        }
      }
    }
  }
}

@media (max-width: rem(700)) {
  .content_box {
    width: rem(600) !important;
    padding-left: rem(140) !important;
    padding-right: rem(140) !important;
  }
}

@media (max-width: rem(600)) {
  .swiper_solution_outerWrap {
    width: 100%;

    .swiper_solution {
      width: 100%;
      .swiper-wrapper {
        transition-timing-function: linear !important;
      }

      .swiper-button-next {
        content: '>';
      }
    }
  }

  // ****** SWIPER : SOLUTION *******

  .swiper_solution_outerWrap {
    padding: 0 rem(50);
    position: relative;
    width: rem(420);

    .swiper_solution {
      position: relative;
      height: rem(330);
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;

      display: flex;
      gap: rem(50);
      justify-content: center;
      align-items: center;

      .solution_text_box {
        background-color: white;
        margin: rem(10);
        box-shadow: 0 0 rem(5) rgba(0, 0, 0, 0.3);
        border-radius: rem(20);
        text-align: center;
        padding: rem(20);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: rem(300);
        height: rem(260);

        .solution_text_title {
          width: 100%;
          font-weight: bold;
          font-size: rem(25);
          border-bottom: rem(1) solid black;
          padding-bottom: rem(20);
          margin-bottom: rem(20);
        }
      }
    }

    .swiper_solution_box {
      width: rem(240);
      height: rem(500);
    }

    .swiper_solution_txt {
      margin: rem(20) auto;
      max-width: rem(14);
    }

    .swiper-button-prev,
    .swiper-button-next {
      opacity: 1;
      width: rem(38);
      height: rem(38);
      box-shadow: rem(1) rem(1) rem(10) rgba(0, 0, 0, 0.15);
      background-color: #a3a3a3;
      border-radius: 50%;
      &:hover {
        opacity: 0.9;
      }
    }

    .swiper-button-prev {
      left: rem(-30);
    }

    .swiper-button-next {
      right: rem(-30);
    }

    .swiper-pagination__solutionSection {
      bottom: rem(-10);
      height: rem(30);

      span {
        width: rem(80);
        height: rem(4);
        margin: 0 !important;
        border-radius: 0;
      }
    }
  }
}

@media (max-width: rem(550)) {
  .kit_top {
    h1 {
      font-size: rem(30) !important;
    }

    .kit_text {
      font-size: rem(14) !important;
    }
  }
  .needs_title {
    font-size: rem(24) !important;
  }

  .needs_content {
    width: rem(440);
    .img_wrap {
      width: rem(140) !important;
      height: rem(140) !important;
    }

    .img_wrap::after {
      width: rem(140) !important;
      height: rem(140) !important;
    }
    .needs_text_box {
      width: rem(300) !important;
      padding-left: rem(40) !important;

      .text_sub_content {
        // font-size: rem(14) !important;
        width: rem(250) !important;
        padding-left: 0 !important;

        span {
          display: flex;
          justify-content: center;
        }
      }
      .needs_text_title {
        display: flex;
        flex-direction: column;
        p {
          font-size: rem(24) !important;
        }

        .text_content,
        span {
          font-size: rem(18) !important;
        }
      }
    }
  }

  .kit_bottom {
    .bottom_title_container {
      font-size: rem(24);
      .title {
        width: rem(400) !important;
      }
      .title_sub {
        width: rem(400);
      }
      .title_result {
        width: rem(400);
      }
    }
  }
}
