@import '/styles/global/rem';
@import '/styles/module/zIndex.module';

#site_header {
  background-color: #fff;
  position: relative;
  z-index: $site_header;
  // border-bottom: rem(1) solid var(--color-line-03);
  box-shadow: 0 rem(5) rem(15) rgb(0 0 0 / 8%);
  svg {
    display: block;
  }
}

.account_area {
  padding: rem(10) rem(22) rem(10) 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  > ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    > button {
      font-size: rem(14);
      // margin-left: rem(10);
    }

    > li {
      font-size: rem(14);
      position: relative;
      display: flex;
      align-items: center;
      > span {
        margin-left: rem(6) !important;
      }

      &:not(:last-child) {
        // margin-right: rem(25);
        // padding-right: rem(25);
      }

      &:nth-last-child(2) {
        margin: 0 rem(25);
        padding: 0 rem(25);
      }

      // &:not(:last-child):after {
      //   content: '';
      //   position: absolute;
      //   right: 0;
      //   top: 50%;
      //   transform: translateY(-50%);
      //   width: rem(1);
      //   height: rem(26);
      //   background-color: var(--color-line-03);
      // }
      &:nth-last-child(2):after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: rem(1);
        height: rem(26);
        background-color: var(--color-line-03);
      }
      &:nth-last-child(3):after {
        content: '';
        position: absolute;
        right: rem(-25);
        top: 50%;
        transform: translateY(-50%);
        width: rem(1);
        height: rem(26);
        background-color: var(--color-line-03);
      }
      // &:nth-last-child(2):before {
      //   content: '';
      //   position: absolute;
      //   left: 0;
      //   top: 50%;
      //   transform: translateY(-50%);
      //   width: rem(1);
      //   height: rem(26);
      //   background-color: var(--color-line-03);
      // }

      > *:first-child {
        display: inline-block;
        padding: rem(8) rem(0) rem(8) 0;
        height: auto;
        font-size: inherit;
        font-weight: 400;
        //margin-right:rem(31);
      }
      &:last-child > * {
        // padding-right: rem(6);
      }
      &:last-child {
      }

      .userClass {
        font-size: rem(14);
        color: var(--color-font-sub);
        padding: rem(2) rem(14);
        line-height: 1.5;
        box-sizing: border-box;
        border-radius: rem(30);
        border: rem(1) solid var(--color-line-02);
        cursor: pointer;
        margin-right: rem(20);
        overflow: hidden;
        position: relative;
        top: rem(-1);
      }
      .username {
        cursor: pointer;
        em {
          font-weight: 500;
          margin-right: rem(3);
        }
      }
    }
  }
}

.service-center {
  cursor: pointer !important;
}

.logo_area {
  display: flex;

  justify-content: space-between;
  align-items: center;
  // padding: rem(50) 0 rem(30);
  padding: rem(20);

  a {
    max-width: rem(220);
  }
}

.gnb_area {
  position: relative;
  height: rem(62);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .gnb_nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    > ul {
      display: inline-flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      > li {
        &:not(:last-child) {
          margin-right: rem(58);
        }
        &.subscribe {
          cursor: pointer;
          position: relative;
          width: rem(133);
          height: rem(41);
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='133' height='41' fill='none'%3E%3Cmask id='a' fill='%23fff'%3E%3Cpath fill-rule='evenodd' d='M.152.219h132v4.05a2.502 2.502 0 0 0-3 2.45 2.5 2.5 0 0 0 3 2.45v4.1a2.501 2.501 0 1 0 0 4.9v4.1a2.501 2.501 0 1 0 0 4.9v4.1a2.501 2.501 0 1 0 0 4.9v4.05h-132v-4.05a2.5 2.5 0 1 0 0-4.9v-4.1a2.5 2.5 0 1 0 0-4.9v-4.1a2.5 2.5 0 1 0 0-4.9v-4.1a2.5 2.5 0 1 0 0-4.9V.219Z' clip-rule='evenodd'/%3E%3C/mask%3E%3Cpath fill='%23CA1010' d='M132.152.219h1.8v-1.8h-1.8v1.8Zm-132 0v-1.8h-1.8v1.8h1.8Zm132 4.05-.358 1.764 2.158.438V4.269h-1.8Zm0 4.9h1.8V6.967l-2.158.438.358 1.764Zm0 4.1-.358 1.764 2.158.438v-2.202h-1.8Zm0 4.9h1.8v-2.202l-2.158.438.358 1.764Zm0 4.1-.358 1.764 2.158.438v-2.202h-1.8Zm0 4.9h1.8v-2.202l-2.158.438.358 1.764Zm0 4.1-.358 1.764 2.158.438v-2.202h-1.8Zm0 4.9h1.8v-2.202l-2.158.438.358 1.764Zm0 4.05v1.8h1.8v-1.8h-1.8Zm-132 0h-1.8v1.8h1.8v-1.8Zm0-4.05.358-1.764-2.158-.438v2.202h1.8Zm0-4.9h-1.8v2.202l2.158-.438-.358-1.764Zm0-4.1.358-1.764-2.158-.438v2.202h1.8Zm0-4.9h-1.8v2.202l2.158-.438-.358-1.764Zm0-4.1.358-1.764-2.158-.438v2.202h1.8Zm0-4.9h-1.8v2.202l2.158-.438-.358-1.764Zm0-4.1L.51 7.405l-2.158-.438v2.202h1.8Zm0-4.9h-1.8V6.47L.51 6.033.152 4.269Zm132-5.85h-132v3.6h132v-3.6Zm1.8 5.85V.219h-3.6v4.05h3.6Zm-2.3 1.75c.051 0 .098.005.142.014l.716-3.528a4.3 4.3 0 0 0-.858-.086v3.6Zm-.7.7a.7.7 0 0 1 .7-.7v-3.6a4.3 4.3 0 0 0-4.3 4.3h3.6Zm.7.7a.7.7 0 0 1-.7-.7h-3.6a4.3 4.3 0 0 0 4.3 4.3v-3.6Zm.142-.014a.704.704 0 0 1-.142.014v3.6c.293 0 .58-.03.858-.086l-.716-3.528Zm2.158 5.864v-4.1h-3.6v4.1h3.6Zm-2.3 1.75c.051 0 .098.005.142.014l.716-3.528a4.305 4.305 0 0 0-.858-.086v3.6Zm-.7.7a.7.7 0 0 1 .7-.7v-3.6a4.3 4.3 0 0 0-4.3 4.3h3.6Zm.7.7a.7.7 0 0 1-.7-.7h-3.6a4.3 4.3 0 0 0 4.3 4.3v-3.6Zm.142-.014a.705.705 0 0 1-.142.014v3.6c.293 0 .58-.03.858-.086l-.716-3.528Zm2.158 5.864v-4.1h-3.6v4.1h3.6Zm-2.3 1.75c.051 0 .098.005.142.014l.716-3.528a4.305 4.305 0 0 0-.858-.086v3.6Zm-.7.7a.7.7 0 0 1 .7-.7v-3.6a4.3 4.3 0 0 0-4.3 4.3h3.6Zm.7.7a.7.7 0 0 1-.7-.7h-3.6a4.3 4.3 0 0 0 4.3 4.3v-3.6Zm.142-.014a.705.705 0 0 1-.142.014v3.6c.293 0 .58-.03.858-.086l-.716-3.528Zm2.158 5.864v-4.1h-3.6v4.1h3.6Zm-2.3 1.75c.051 0 .098.005.142.014l.716-3.528a4.305 4.305 0 0 0-.858-.086v3.6Zm-.7.7a.7.7 0 0 1 .7-.7v-3.6a4.3 4.3 0 0 0-4.3 4.3h3.6Zm.7.7a.7.7 0 0 1-.7-.7h-3.6a4.3 4.3 0 0 0 4.3 4.3v-3.6Zm.142-.014a.705.705 0 0 1-.142.014v3.6c.293 0 .58-.03.858-.086l-.716-3.528Zm2.158 5.814v-4.05h-3.6v4.05h3.6Zm-133.8 1.8h132v-3.6h-132v3.6Zm-1.8-5.85v4.05h3.6v-4.05h-3.6Zm2.3-1.75a.712.712 0 0 1-.142-.014l-.716 3.528c.279.056.566.086.858.086v-3.6Zm.7-.7a.7.7 0 0 1-.7.7v3.6a4.3 4.3 0 0 0 4.3-4.3h-3.6Zm-.7-.7a.7.7 0 0 1 .7.7h3.6a4.3 4.3 0 0 0-4.3-4.3v3.6Zm-.142.014a.712.712 0 0 1 .142-.014v-3.6c-.292 0-.579.03-.858.086l.716 3.528Zm-2.158-5.864v4.1h3.6v-4.1h-3.6Zm2.3-1.75a.712.712 0 0 1-.142-.014l-.716 3.528c.279.056.566.086.858.086v-3.6Zm.7-.7a.7.7 0 0 1-.7.7v3.6a4.3 4.3 0 0 0 4.3-4.3h-3.6Zm-.7-.7a.7.7 0 0 1 .7.7h3.6a4.3 4.3 0 0 0-4.3-4.3v3.6Zm-.142.014a.712.712 0 0 1 .142-.014v-3.6c-.292 0-.579.03-.858.086l.716 3.528Zm-2.158-5.864v4.1h3.6v-4.1h-3.6Zm2.3-1.75a.712.712 0 0 1-.142-.014l-.716 3.528c.279.056.566.086.858.086v-3.6Zm.7-.7a.7.7 0 0 1-.7.7v3.6a4.3 4.3 0 0 0 4.3-4.3h-3.6Zm-.7-.7a.7.7 0 0 1 .7.7h3.6a4.3 4.3 0 0 0-4.3-4.3v3.6Zm-.142.014a.712.712 0 0 1 .142-.014v-3.6c-.292 0-.579.03-.858.086l.716 3.528Zm-2.158-5.864v4.1h3.6v-4.1h-3.6Zm2.3-1.75a.712.712 0 0 1-.142-.014l-.716 3.528c.279.056.566.086.858.086v-3.6Zm.7-.7a.7.7 0 0 1-.7.7v3.6a4.3 4.3 0 0 0 4.3-4.3h-3.6Zm-.7-.7a.7.7 0 0 1 .7.7h3.6a4.3 4.3 0 0 0-4.3-4.3v3.6Zm-.142.014a.712.712 0 0 1 .142-.014v-3.6c-.292 0-.579.03-.858.086L.51 6.033ZM-1.648.219v4.05h3.6V.219h-3.6Z' mask='url(%23a)'/%3E%3Cpath fill='%23CA1010' d='M66.455 19.523h-2.74v-1.625h2.74v1.625Zm1.47 3.359h-1.989v-8.453h1.989v8.453Zm-4.862.315c1.01 0 1.882.108 2.619.326.736.217 1.3.532 1.69.944.395.41.592.9.592 1.47s-.197 1.06-.592 1.47c-.39.408-.954.721-1.69.939-.737.22-1.61.331-2.619.331-1.01 0-1.88-.11-2.613-.331-.73-.218-1.291-.53-1.685-.94a2.023 2.023 0 0 1-.586-1.469c-.004-.57.192-1.06.586-1.47.394-.412.957-.727 1.69-.944.733-.218 1.602-.326 2.608-.326Zm0 1.514c-.634 0-1.166.046-1.597.138-.43.088-.757.224-.977.408a.847.847 0 0 0-.326.68c0 .269.108.493.326.674.22.18.546.317.977.409.431.088.963.133 1.597.133s1.166-.045 1.597-.133c.434-.092.762-.229.983-.409a.848.848 0 0 0 .343-.674.853.853 0 0 0-.343-.68c-.22-.184-.549-.32-.983-.408-.431-.093-.963-.139-1.597-.139Zm-2.166-7.918c0 .925-.149 1.79-.447 2.597a5.846 5.846 0 0 1-1.348 2.127c-.6.611-1.341 1.068-2.221 1.37l-1.033-1.58c.758-.25 1.395-.613 1.911-1.088a4.575 4.575 0 0 0 1.144-1.591c.247-.59.372-1.201.376-1.835v-.933h1.618v.933Zm.41-.016c0 .585.117 1.149.353 1.69a4.31 4.31 0 0 0 1.094 1.47c.49.435 1.097.772 1.823 1.011l-.984 1.57c-.858-.28-1.58-.71-2.165-1.288a5.606 5.606 0 0 1-1.315-2.011 6.868 6.868 0 0 1-.431-2.442v-.917h1.624v.917Zm2.833.121h-7.712v-1.602h7.712v1.602Zm17.894 11.763h-2.016V14.429h2.016V28.66Zm-4.26-12.735c-.003 1.525-.21 2.91-.618 4.155-.409 1.24-1.1 2.38-2.072 3.42-.969 1.038-2.273 1.944-3.912 2.718l-1.038-1.586c1.363-.648 2.458-1.376 3.287-2.182.832-.807 1.437-1.713 1.812-2.718.376-1.01.566-2.164.57-3.465v-.342h1.972Zm-1.055 1.563h-5.823v-1.563h5.823v1.563Zm18.01-.635h-9.005V15.27h9.005v1.585Zm2.481 6.072H84.238v-1.608H97.21v1.608Zm-5.547 5.746h-2.01V22.44h2.01v6.232Zm4.022-12.061c-.003.678-.014 1.27-.033 1.779a19.69 19.69 0 0 1-.155 1.751c-.08.66-.206 1.372-.375 2.139l-1.978-.227c.17-.73.293-1.41.37-2.044.081-.637.13-1.197.15-1.68.021-.486.034-1.064.038-1.735v-1.326h1.983v1.343Zm15.673 6.298H98.386v-1.585h12.972v1.585Zm-5.497-1.06h-2v-2.835h2v2.835Zm3.95 6.85h-1.967v-3.237h-8.022v-1.57h9.989V28.7Zm.149-8.64H99.955v-1.603h10.005v1.602Zm-.138-3.481h-7.873v2.757h-1.994v-4.326h9.867v1.569Z'/%3E%3Ccircle cx='27.152' cy='28.219' r='2' stroke='%23CA1010' stroke-width='2'/%3E%3Ccircle cx='40.152' cy='28.219' r='2' stroke='%23CA1010' stroke-width='2'/%3E%3Cpath fill='%23CA1010' fill-rule='evenodd' d='M39.152 18.219h3.04l2.96 3.701v4.299h-6v-8Zm0-2h4l4 5v7h-6a1 1 0 1 0-2 0h-2v-12h2Z' clip-rule='evenodd'/%3E%3Cpath stroke='%23CA1010' stroke-width='2' d='M29.152 17.219h-8'/%3E%3Cpath fill='%23CA1010' fill-rule='evenodd' d='M23.152 14.219h14v12h-14v-1h-2v3h5a1 1 0 0 1 2 0h11v-16h-18v3h2v-1Zm-2 10h2v-2h-2v2Zm2-5v2h-2v-2h2Zm-2-1h2v-2h-2v2Z' clip-rule='evenodd'/%3E%3Cpath stroke='%23CA1010' stroke-width='2' d='M27.152 20.219h-8M27.152 23.219h-8'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-size: cover;
        }
        &.subscribe:hover {
          background-color: #ff00001f;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.gnb_my {
  height: 100%;
  display: flex;
  align-items: center;

  ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      &:not(:last-child) {
        margin-right: rem(14);
      }
      a {
        display: inline-block;
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .mypage_wrap {
    position: relative;
    width: rem(28);
    height: rem(28);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' fill='none'%3E%3Ccircle cx='14' cy='9.547' r='4.2' stroke='%23000' stroke-width='2.1'/%3E%3Ccircle cx='14' cy='9.547' r='4.2' stroke='%23000' stroke-opacity='.2' stroke-width='2.1'/%3E%3Cpath stroke='%23000' stroke-width='2.1' d='M5.25 25.297c0-4.2 3.15-10.5 8.75-10.5s8.75 6.3 8.75 10.5'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
  }
  // .mypage_wrap:hover {
  //   background-color: #ff00001f;
  // }
  .shop_wrap {
    position: relative;
    width: rem(28);
    height: rem(28);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' fill='none'%3E%3Cpath fill='%23000' d='M0 1.625A.875.875 0 0 1 .875.75H3.5a.875.875 0 0 1 .849.663l.708 2.837h20.318a.875.875 0 0 1 .86 1.036l-2.626 14a.876.876 0 0 1-.859.714H7a.875.875 0 0 1-.86-.714L3.519 5.312l-.7-2.812H.874A.875.875 0 0 1 0 1.625ZM5.428 6l2.298 12.25h14.298L24.32 6H5.428ZM8.75 20a3.5 3.5 0 1 0 0 7 3.5 3.5 0 0 0 0-7ZM21 20a3.5 3.5 0 1 0 0 7 3.5 3.5 0 0 0 0-7ZM8.75 21.75a1.75 1.75 0 1 1 0 3.5 1.75 1.75 0 0 1 0-3.5Zm12.25 0a1.75 1.75 0 1 1 0 3.5 1.75 1.75 0 0 1 0-3.5Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;

    .gnb_shop_count {
      position: absolute;
      transform: translate(-50%, calc(-100% + rem(2)));
      margin: auto 0;
      background-color: var(--color-main);
      border-radius: 50%;
      color: #fff;
      line-height: 1;
      font-weight: bold;
      width: rem(20);
      height: rem(20);
      font-size: rem(12);
      display: flex;
      justify-content: center;
      align-items: center;
      top: rem(10);
      left: auto;
      right: calc(-50% - #{rem(2)});
      z-index: 1;
    }
  }
  // .shop_wrap:hover {
  //   background-color: #ff00001f;
  // }
  .category_wrap {
    position: relative;
    padding: 0 rem(5);
    svg {
      width: rem(24);
      height: rem(24);
    }
  }
}

.mobile-container-onMyapge {
  display: grid;
  align-items: center;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  height: rem(62);

  > * {
    display: flex;
    align-items: center;
    height: rem(50);
  }
  > *:nth-child(1) {
    justify-content: flex-start;
  }
  > *:nth-child(2) {
    justify-content: center;
  }
  > *:nth-child(3) {
    justify-content: flex-end;
  }
  .title-wrap {
    font-size: rem(18);
    font-weight: 500;
    word-break: keep-all;
  }
  .movepage-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(30);
    height: rem(30);
  }
}

.tobox {
  position: fixed;
  top: rem(50);
  left: 50%;
  width: rem(47);
  height: rem(65);
  transform: translateX(-50%);
  opacity: 0;
  -webkit-tap-highlight-color: transparent !important;
  animation: top 0.4s ease-in-out 0.25s 1 forwards;
  transition: top 0.25s ease;
  // &:hover {
  //   bottom: rem(110);
  // }

  svg {
    filter: drop-shadow(0 0 rem(16) rgba(0, 0, 0, 0.16));
  }

  &:active {
    top: rem(55);
  }
}

/* --------- TEST For comparison with 'react-device-detect' -------- */
.custom {
  margin-right: 4px;
  path {
    fill: seagreen;
  }
}
/* --------- TEST For comparison with 'react-device-detect' -------- */
.toboxm {
  position: fixed;
  top: rem(20);
  left: 50%;
  width: rem(32);
  height: rem(40);
  transform: translateX(-50%);
  opacity: 0;
  -webkit-tap-highlight-color: transparent !important;
  animation: top 0.25s ease-in-out 0.25s 1 forwards;
  transition: top 0.25s ease;

  button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  svg {
    transform: scale(0.8);
    filter: drop-shadow(0 0 rem(16) rgba(0, 0, 0, 0.16));
  }

  &:active {
    top: rem(25);
  }
}

@keyframes top {
  0% {
    transform: translateX(-50%) translateY(rem(10));
    opacity: 0;
  }
  40% {
    transform: translateX(-50%) translateY(rem(-20));
  }
  100% {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}
@media (max-width: rem(900)) {
  .gnb_area .gnb_nav > ul > li:not(:last-child) {
    margin-right: rem(0);
  }
}

@media (max-width: rem(500)) {
  //   #site_header {
  //     border-bottom: none;
  //     box-shadow: none;
  //   }

  //   .headerContainer {
  //     display: grid;
  //     grid-template-columns: 1fr 1fr;
  //     align-items: center;
  //     justify-content: space-around;
  //   }
  .logo_area {
    //     padding: 0;
    a {
      max-width: rem(180);
    }
  }
  //   .gnb_area {
  //     justify-content: flex-end;
  //     .gnb_my .shop_wrap .gnb_shop_count {
  //       top: rem(10);
  //       left: auto;
  //       right: calc(-50% - #{rem(2)});
  //       z-index: 1;
  //     }
  //   }
}
