@import '/styles/global/rem';
@import '../../../styles/module/zIndex.module';

$mobileMenuHeight: rem(48);
.mobileNav {
  position: fixed; // [수정] 하단바 고정
  z-index: $mobileNav;
  // position: relative;
  // top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  .scroll-container {
    justify-content: flex-start !important;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 0 rem(10);
    box-sizing: border-box;
    > * {
      width: auto !important;
    }
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  .mobile-menu-wrap,
  .mobile-submenu-wrap {
    display: flex;
    align-items: center;
    //height: $mobileMenuHeight;
    background-color: #fff;
    z-index: $mobileNav;
    position: relative;
  }

  .mobile-menu,
  .mobile-submenu {
    box-shadow: 0 rem(5) rem(12) 0 rgba(0, 0, 0, 0.5);
    font-size: rem(15);
    gap: rem(20);
    color: var(--color-font-light);
    * {
      font-size: inherit;
    }
  }

  .mobile-menu-wrap {
    border-bottom: rem(1) solid var(--color-line-03);
    box-sizing: border-box;

    .mobile-menu {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: end;
      padding: rem(15) rem(5);
      height: rem(100);

      li {
        text-align: center;
        cursor: pointer;
        display: flex;
        align-items: stretch;
        height: rem(70);

        a {
          display: flex;
          flex-direction: column;

          li {
            margin-top: rem(5);
            height: rem(22);
          }
        }

        button {
          text-align: center;
        }
      }

      li a,
      li button {
        // height: $mobileMenuHeight;
        // height: rem(20);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #535353;
        justify-content: space-around;
        // gap: rem(10);

        white-space: nowrap;
      }
    }
  }

  .mobile-submenu-wrap {
    z-index: 99;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    background-color: var(--color-bg-02);
    transition-property: height, padding-top;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    box-sizing: border-box;
    padding: 0;
    height: 0;
    border: 0;
    display: grid;
    align-items: flex-start;
    justify-content: space-between;
    gap: rem(20);
    grid-template-columns: 1fr rem(16);
    box-shadow: 0 rem(3) rem(8) 0 rgba(0, 0, 0, 0.1);
    overflow-y: hidden;
    overflow-x: inherit;
    transform: translate(-50%, 100%);

    &.active {
      height: $mobileMenuHeight;
      align-items: center;
      padding-right: rem(16);
      .mobile-submenu {
        height: 100%;
      }
      .activeWidemodeButton {
        display: flex;
      }
    }
    &.widemode {
      height: auto;
      padding: rem(14) rem(16);
      align-items: flex-start;

      .mobile-submenu.active {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
      }
      .activeWidemodeButton {
        transform: rotate(-180deg);
      }
    }

    .mobile-submenu {
      display: none;
      &.active {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
    }

    .activeWidemodeButton {
      align-items: center;
      justify-content: center;
      transition: transform 0.3s ease;
      height: rem(24);
      display: none;
      -webkit-tap-highlight-color: transparent;
      svg {
        fill: var(--color-line-02);
      }
    }
  }

  //   *[data-current-page='depth1'] {
  //     color: var(--color-main);
  //     font-weight: 500;
  //     position: relative;
  //     // &:before {
  //     //   content: '';
  //     //   position: absolute;
  //     //   bottom: 0;
  //     //   left: 50%;
  //     //   transform: translateX(-50%);
  //     //   width: 100%;
  //     //   height: rem(3);
  //     //   background-color: var(--color-main);
  //     // }
  //   }
  //   *[data-current-page='depth2'] {
  //     color: var(--color-main);
  //     font-weight: 500;
  //   }
}
