@import '/styles/global/rem';
@import '/styles/module/zIndex.module';

$main-padding: rem(20);
$closeButtonSectionHeight: rem(16);
$bottom-menu-list-height: rem(140);

#sidr {
  // position: fixed;
  position: absolute;
  // right: -100vw;
  right: -100%;
  // height: 100vh;
  width: rem(600);
  top: 0;
  transition: right 0.6s ease;
  z-index: 50;
  // z-index: $mobileSidr;

  &.open {
    right: 0;
    // transition: right 0.3s ease;
  }
  &.member {
    // width: 100vw;
    // width: 75vw;
  }
  &.non-member {
    // width: 75vw;
  }
  @media (max-width: rem(300)) {
    &.non-member {
      // width: 100vw;
    }
  }
}

.block_sidebar {
  position: absolute;
  left: 100%;
  top: 0;
  width: rem(600);
  height: 100vh;
  z-index: 50;
  background-color: #fff;
}

// background-color
#sidr {
  background-color: #fff;

  // .main .row {
  //   // background-color: #fff;
  // }
  // .main section {
  //   // background-color: #fff;
  // }
  .scroll-container {
    // background-color: var(--color-bg-ghostWhite);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.user_name {
  color: white;
  background-color: #cb1010;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 rem(30) rem(20);
  span {
    font-size: rem(22);
    font-weight: bold;
    text-decoration: underline;
  }
  p {
    font-size: rem(18);
  }
}

// layout
#sidr {
  .close-btn-section {
    // background-color: #cb1010;
    padding-top: $main-padding;
    margin: 0 rem(20);
    height: rem(80);

    .row {
      display: flex;
      justify-content: space-between;
      align-items: center !important;
    }

    .cart_close {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // margin-right: rem(6);

      // 장바구니
      // .icon_cart {
      //   width: rem(30);
      //   height: rem(30);
      // }
      #gnb_cart {
        // width: rem(30);
        // height: rem(30);
        position: relative;
      }

      .shop_wrap {
        position: relative;
      }

      .gnb_shop_count {
        position: absolute;
        transform: translate(-50%, calc(-100% + rem(2)));
        margin: auto 0;
        background-color: red;
        border-radius: 50%;
        color: #fff;
        line-height: 1;
        font-weight: bold;
        width: rem(20);
        height: rem(20);
        font-size: rem(12);
        display: flex;
        justify-content: center;
        align-items: center;
        top: rem(8);
        left: auto;
        right: calc(-50% - #{rem(10)});
      }

      // 닫기 버튼
      button {
        width: rem(20);
        height: rem(20);

        &:before,
        &:after {
          border: rem(0.1) solid #636363;
        }
      }
    }
  }
  .scroll-container {
    height: calc(100vh - #{$main-padding}* 1 - #{$closeButtonSectionHeight});
    box-sizing: border-box;
    // padding-bottom: $bottom-menu-list-height; // rem(140);
    padding-bottom: rem(130);

    overflow-x: hidden;
  }
  .login-section {
    padding-top: rem(44);
    padding-bottom: rem(60);
    background-color: #fff;
  }
  .mypage-section {
    padding: rem(16) 0;
    margin-top: rem(16);
  }
}

.background {
  z-index: $mobileSidrBackground;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.main {
  height: 100%;
  box-sizing: border-box;
  // .row {
  //   // padding: 0 rem(20);
  // }
}

.close-btn-section {
  .row {
    display: flex;
    align-items: center;

    // justify-content: flex-end;

    .logo_img {
      display: flex;
    }
  }
}

.login-section {
  li:not(:last-child) {
    margin-bottom: rem(10);
  }
  .btn {
    width: 100%;
    height: rem(50);
    border: rem(1) solid var(--color-main);
    border-radius: rem(4);
    font-size: rem(15);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    &.btn.line {
      background-color: var(--color-main);
      color: #fff;
    }
    &.btn.solid {
      background-color: #fff;
      color: var(--color-main);
    }
  }

  .divider {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-top: rem(40);
    margin-bottom: rem(20);
    .text {
      text-align: center;
      padding: 0 rem(20);
      color: var(--color-font-sub);
      font-size: rem(14);
      white-space: nowrap;
    }
    i {
      border-bottom: rem(1) solid var(--color-line-03);
    }
  }

  .sns {
    display: flex;
    justify-content: center;
    gap: rem(10);
    button {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: rem(72);

      &.kakao .desc b {
        color: #ffda2f;
      }
      .desc {
        position: absolute;
        animation: upAndDown ease 3s infinite;
        z-index: 99;
        left: 50%;
        bottom: rem(-12);
        transform: translate(-50%, 100%);
        background-color: #3b1e1e;
        box-shadow: rem(4) rem(4) rem(6) 0 rgba(0, 0, 0, 0.2);
        border-radius: rem(6);
        white-space: nowrap;
        padding: rem(6) rem(9);
        font-size: rem(11);
        color: #fff;
        &:before {
          content: '';
          position: absolute;
          left: 50%;
          bottom: rem(20);
          transform: translate(-50%, -100%);
          border-left: rem(6) solid transparent;
          border-right: rem(6) solid transparent;
          border-bottom: rem(8) solid #3b1e1e;
        }
      }
    }
  }
}

.dashboard-section {
  color: var(--color-font-def);
  .userInfo {
    font-size: rem(13);
    display: grid;
    grid-template-columns: rem(60) 1fr;
    column-gap: rem(10);
    align-items: center;
    margin-bottom: rem(5);
    .innerRow {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      &:not(:last-child) {
        margin-bottom: rem(-1);
      }
      > *:not(:last-child) {
        margin-right: rem(6);
      }
    }
    .image {
      background-color: var(--color-bg-ghostWhite);
      position: relative;
      aspect-ratio: 1/1;
      border-radius: 50%;
      overflow: hidden;
      background-image: url('../../.././public/img/mypage/Dog_basic.png');
      background-repeat: no-repeat;
      background-size: rem(30);
      background-position: center;
    }
    .dogName {
      margin-right: rem(2);
      font-weight: 500;
    }
    .userName {
      font-size: rem(16);
      font-weight: 500;
    }
    .grade {
      font-size: rem(10);
      color: var(--color-font-sub2);
      padding: rem(0) rem(4);
      border-radius: rem(20);
      box-sizing: border-box;
      border: rem(1) solid var(--color-line-02);
      cursor: default;
      font-weight: 600;
      // height: rem(16);
      line-height: 1.4;
    }
    .email {
      color: var(--color-font-medium);
      font-size: rem(12);
      word-break: break-all;
    }
  }

  .dashboard {
    ul {
      $listGap: rem(10);
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      // column-gap: $listGap;

      li a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        margin: rem(17) rem(0);
        border-right: rem(1) solid var(--color-main);

        &:not(:last-child):after {
          content: '';
          position: absolute;
          right: calc(-#{$listGap} / 2);
          top: 50%;
          transform: translateY(-50%);
          height: rem(20);
          background-color: var(--color-line-04);
          width: rem(1);
        }
        .num {
          font-size: rem(16);
          font-weight: 500;
        }
        .text {
          font-size: rem(12);
          color: var(--color-font-sub);
        }
      }

      li {
        &:last-child {
          a {
            border: 0;
          }
        }
      }
    }
  }

  .unit {
    margin-left: rem(2);
    font-size: inherit;
    font-weight: initial;
  }
}

.mypage-section {
  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: rem(10);
    row-gap: rem(7);
    li {
      padding: rem(10) 0;
    }
  }
  a {
    text-align: center;
    i {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .text {
      font-size: rem(14);
      color: var(--color-font-medium);
    }
  }
}

.banner-section {
  // - 임시로 넣은 값 : 어드민에서 생성한 마이페이지 배너 '이미지' 삽입할 것
  background-color: var(--color-main) !important;
  color: #fff;
  height: $bottom-menu-list-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .row {
    background-color: transparent !important;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  span {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
  }
  b {
    margin-left: rem(8);
  }
}

.menu_end_empty {
  height: rem(300);
}

.bottom-menu-section {
  background-color: #fff;
  // height: rem(390);

  .row {
    border-top: rem(0.5) solid rgba(0, 0, 0, 0.3);
    border-bottom: rem(0.5) solid rgba(0, 0, 0, 0.3);
    margin: 0 rem(20);

    .main_menu_title {
      border-top: rem(0.35) solid rgba(0, 0, 0, 0.2);
      border-bottom: rem(0.35) solid rgba(0, 0, 0, 0.2);
    }

    .menu_list_container {
      a,
      button {
        font-weight: normal !important;
        font-size: rem(18);
      }
    }
  }

  .menu_end_line {
    width: auto;
    height: rem(1);
    background-color: rgba(0, 0, 0, 0.2);
  }

  ul {
    @keyframes formopen {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    .submenu_container {
      transition: max-height 0.4s ease, opacity 0.4s ease;
      overflow: hidden;
      max-height: 0;
      background-color: #d9d9d943;

      display: grid;
      padding: 0 rem(10);
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;

      li {
        border: none !important;
        a {
          font-size: rem(16) !important;
        }
      }
    }

    .submenu_container.active {
      opacity: 1;
      max-height: 500px;
      transition-delay: 0s;
      animation: formopen 0.5s ease-out forwards;
    }

    li {
      display: grid;
      grid-template-columns: 1fr rem(16);
      align-items: center;
      justify-content: space-between;
      height: $bottom-menu-list-height;
      box-sizing: border-box;
      color: var(--color-font-sub);
      max-height: rem(60);
      // margin: 0 rem(8);
      padding: rem(15) rem(20) rem(15) rem(15);

      .arrow_icon {
        cursor: pointer;
        transition: transform 0.5s ease;
      }

      * {
        height: 100%;
        display: flex;
        align-items: center;
        text-align: left;
        font-size: rem(20);
        font-weight: bold;
      }
      &:not(:last-child) {
        // border-bottom: rem(1) solid var(--color-line-03);
      }
      &:nth-last-child(2) {
        border-bottom: 0;
      }
      svg {
        fill: var(--color-line-02);
      }
      &:last-child {
        position: relative;

        // &::after {
        //   content: '';
        //   position: absolute;
        //   top: 0;
        //   left: 50%;
        //   width: 100vw;
        //   height: 100%;
        //   transform: translateX(-50%);
        //   // background-color: var(--color-bg-ghostWhite);
        //   background-color: #fff;
        // }
      }
    }
  }
}

.sns_container {
  // background-color: #d9d9d943;
  padding: rem(20) rem(30);
  height: rem(110);

  ul {
    display: flex;
    gap: rem(24);
    li {
      cursor: pointer;
    }
  }
}
.top_menu_wrap {
  display: flex;
  gap: rem(20);
  margin-right: rem(20);
  align-items: center;
}
.mypage_wrap {
  position: relative;
  // width: rem(28);
  // height: rem(28);
  // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' fill='none'%3E%3Ccircle cx='14' cy='9.547' r='4.2' stroke='%23000' stroke-width='2.1'/%3E%3Ccircle cx='14' cy='9.547' r='4.2' stroke='%23000' stroke-opacity='.2' stroke-width='2.1'/%3E%3Cpath stroke='%23000' stroke-width='2.1' d='M5.25 25.297c0-4.2 3.15-10.5 8.75-10.5s8.75 6.3 8.75 10.5'/%3E%3C/svg%3E");
  // background-repeat: no-repeat;
  // background-size: cover;
}
// .mypage_wrap:hover {
//   background-color: #ff00001f;
// }
.shop_wrap {
  position: relative;

  width: rem(24);
  height: rem(24);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' fill='none'%3E%3Cpath fill='%23000' d='M0 1.625A.875.875 0 0 1 .875.75H3.5a.875.875 0 0 1 .849.663l.708 2.837h20.318a.875.875 0 0 1 .86 1.036l-2.626 14a.876.876 0 0 1-.859.714H7a.875.875 0 0 1-.86-.714L3.519 5.312l-.7-2.812H.874A.875.875 0 0 1 0 1.625ZM5.428 6l2.298 12.25h14.298L24.32 6H5.428ZM8.75 20a3.5 3.5 0 1 0 0 7 3.5 3.5 0 0 0 0-7ZM21 20a3.5 3.5 0 1 0 0 7 3.5 3.5 0 0 0 0-7ZM8.75 21.75a1.75 1.75 0 1 1 0 3.5 1.75 1.75 0 0 1 0-3.5Zm12.25 0a1.75 1.75 0 1 1 0 3.5 1.75 1.75 0 0 1 0-3.5Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;

  .gnb_shop_count {
    position: absolute;
    transform: translate(-50%, calc(-100% + rem(2)));
    margin: auto 0;
    background-color: var(--color-main);
    border-radius: 50%;
    color: #fff;
    line-height: 1;
    font-weight: bold;
    width: rem(18);
    height: rem(18);
    font-size: rem(12);
    display: flex;
    justify-content: center;
    align-items: center;
    top: rem(10);
    left: auto;
    right: calc(-50% - #{rem(2)});
    z-index: 1;
  }
}
// .shop_wrap:hover {
//   background-color: #ff00001f;
// }

@keyframes upAndDown {
  0%,
  50%,
  95%,
  100% {
    transform: translate(-50%, 100%);
  }
  80% {
    transform: translate(-50%, calc(100% + rem(6)));
  }
}

// @media (max-width: rem(730)) {
//   .contact_container {
//     .contact_bottom {
//       flex-direction: column;
//       gap: rem(10);
//     }
//   }
// }

// @media (max-width: rem(410)) {
//   .contact_container {
//     .contact_bottom {
//       width: rem(300);
//     }
//   }
// }

// @media (max-width: rem(290)) {
//   .contact_container {
//     .contact_bottom {
//       width: rem(250);
//     }
//   }
// }
