@import '/styles/global/rem';

$parentHeight: rem(32);
$parentWidth: rem(150);

.menu_wrapper {
  display: inline-block;
  position: relative;
  box-sizing: border-box;

  a.submenu_title {
    cursor: pointer !important;
  }
  .submenu_title {
    height: $parentHeight;
    font-size: rem(18);
    font-weight: bold;
    padding: rem(15) rem(30);
    cursor: default;
  }

  img {
    transition: transform 0.3s ease-out 0.1s;
  }

  &:hover {
    .submenu {
      opacity: 1;
      pointer-events: all;
    }
    img {
      transform: rotate(180deg);
    }
  }

  .submenu {
    &:hover {
      opacity: 1;
      pointer-events: all;
    }
    position: absolute;
    z-index: 10;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 100%);
    background-color: #fff;
    box-shadow: 0 0 0.9375rem rgb(0 0 0 / 15%);
    min-width: rem(150);
    padding: rem(10) 0 !important;
    transition: opacity var(--ani-default);
    opacity: 0;
    pointer-events: none;
    li {
      &:hover > * {
        background-color: #f3f4f5;
      }

      > * {
        display: block;
        box-sizing: border-box;
        padding: rem(4) rem(30);
        text-align: center;
        font-size: rem(15);
        color: #000;
        white-space: nowrap;
        text-transform: uppercase;
        letter-spacing: rem(0.2);
        cursor: pointer;
        transition: background-color var(--ani-default);

        &:hover {
          color: var(--color-main);
        }
      }
    }
  }
}
