$browser-context:16;
@function rem($px, $context: $browser-context){
  @return #{$px / $context}rem;
}

.chk_box {
  display: inline-flex; 
  cursor: pointer; 
  font-size: rem(14); 
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none; 

  .label{position:relative; top:rem(-2);} /* TEXT */

  input[type='checkbox']{
    display:none;
    
  } /* 기본 체크박스 숨기기 */ 

  .on{ /* 선택된 체크박스 스타일 꾸미기 */ 
    width: rem(20); 
    height: rem(20);
    margin-right: rem(8); 
    background: #ddd; 
    border-radius: rem(2);
    position: relative;
    display: block;
    top: 0; 
    left: 0; 
  }
  .noLabel{margin-right:0;}
}

// .chk_box input[type='checkbox'] { 
//   display: none; 
// } /* 선택되지 않은 체크박스 스타일 꾸미기 */ 

// .chk_box .on {
//   width: rem(20); 
//   height: rem(20);
//   margin-right: rem(8); 
//   background: #ddd; 
//   border-radius: rem(2);
//   position: relative;
//   display: block;
//   top: 0; 
//   left: 0; 
// } /* 선택된 체크박스 스타일 꾸미기 */ 

.chk_box input[type="checkbox"]:checked + .on {
  background:var(--color-main); 
  &:after{display: block;}
} 

.on:after {
  content: ""; 
  position: absolute; 
  width: rem(6); 
  height: rem(10); 
  border: solid #fff; 
  border-width: 0 rem(2) rem(2) 0; 
  -webkit-transform: rotate(45deg); 
  -ms-transform: rotate(45deg); 
  transform: rotate(45deg); 
  left: rem(6); 
  top: rem(2); 
}


// .chk_box input[type="checkbox"]:checked + .on:after {
//   display: block; 
// }


// * -------------------------------------------- * //
// * -------------------------------------------- * //
// * -------------------------------------------- * //




//타이틀
.title{
  font-weight: 500;
  text-align: center;
}


// 버튼
.btn_group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .btn {
    width: 100%;
    height: 50px;
    border: 1px solid var(--color-main);
    border-radius: 3px;
    font-size: 15px;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    display: flex;
    box-sizing: border-box;
  }
  .btn.white{
    background-color:#fff;
    color: var(--color-main);
  }
  .btn.red {
    background-color: var(--color-main);
    color: #fff;
  }
  
}