@import '/styles/global/rem';

$bannerHeight: rem(40);
.topLineBanner {
  position: relative;
  height: $bannerHeight;
  background-color: var(--color-main);
  transition-property: height, top;
  transition-timing-function: ease-out;
  transition-duration: 0.3s;
  // width: 100vw;
  &.invisible {
    animation: moveToTop 0.3s ease-in-out 1s forwards;
    height: 0;
    a,
    button {
      display: none;
    }
  }

  .close-button {
    position: absolute;
    transition: right 0.3s ease;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    width: rem(20);
    height: rem(20);
  }

  a {
    height: rem(40);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: rem(18);
    color: #fff;
    padding: rem(6) 0;
    white-space: nowrap;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }
}

.bottom_close_button {
  position: absolute;
  transition: right 0.3s ease;
  left: rem(100);
  // top: 40%;
  // transform: translateY(-50%);
  // transform: translateX(200%);
  width: rem(16) !important;
}

.isMobile {
  width: 100vw !important;
}

@keyframes moveToTop {
  from {
    top: 0;
  }
  to {
    top: -$bannerHeight;
  }
}

@media (max-width: rem(600)) {
  .bottom_close_button {
    left: rem(20);
  }

  // }

  // @media (max-width: rem(600)) {
  //   .topLineBanner a {
  //     font-size: rem(14);
  //   }
  //   .topLineBanner .close-button {
  //     width: rem(16);
  //     height: rem(16);
  //   }
}
