$browser-context:16; // html font-size
@function rem($px, $context: $browser-context){
  @return #{$px / $context}rem;
}
@import '../../../../styles/global/guide';

section.image_box { padding: rem(60) 0 rem(40); }
section.text_box { padding: 0 0 rem(40); }
section.order_box { padding: 0 0 rem(64); }
section.btn_box {padding: 0 0 rem(217) ;}

.image_box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, rem(120));
  justify-content: center;
  column-gap: rem(40);

  .image {
    width: rem(120);
    aspect-ratio: 1;
  }
}

.text_box {
  text-align: center;
  .row_1 {
    @include char(t24);
    font-weight: 700;
    padding-bottom: rem(25);
  }
  .row_2 {
    font-size: rem(16);
    line-height: 130%;
    letter-spacing: -0.02em;
    color: #4d4d4d;

    .br {
      display: none;
    }
  }
}

.grid_box {
  display: grid;
  grid-template-columns: rem(70) 1fr;
  max-width: rem(380);
  padding: rem(30) rem(48);
  margin: 0 auto;
  border: rem(1) solid var(--color-line-03);
  grid-gap: rem(20) rem(40);
  letter-spacing: -0.02em;

  .row_3 {
    font-weight: 600;
  }
}

.btn_box {
  display: flex;
  justify-content: center;
  @include char(l15);
  font-weight: 400c;
  .flex_box {
    display: flex;
    justify-content: center;
    text-align: center;
    column-gap: rem(10);

    .left_btn {
      width: rem(200);
      border: rem(1) solid var(--color-main);
      border-radius: rem(4);
      box-sizing: border-box;
      color: var(--color-main);
      height: rem(50);
    }
    .right_btn {
      width: rem(200);
      border: rem(1) solid var(--color-main);
      background-color: var(--color-main);
      color: #fff;
      border-radius: rem(4);
      box-sizing: border-box;
      height: rem(50);
    }
  }
}

@media (max-width: rem(600)) {

  
  section.image_box { padding: rem(30) 0 rem(30); }
  section.text_box { padding: 0 0 rem(40); }
  section.order_box { padding: 0 0 rem(30); }
  section.btn_box {padding: 0 0 rem(217) ;}

  .image_box {
    grid-template-columns: repeat(3, rem(80));
    column-gap: rem(20);
  
    .image {
      width: rem(80);
      aspect-ratio: 1;
    }
  }

  
  .text_box {
    .row_2 {
      .br {
        display: block;
      }
    }
  }

  .grid_box {
    padding: rem(20);
    grid-gap: rem(20) rem(30);
    max-width: rem(293);
  }

  .btn_box {
    justify-content: center;

    .flex_box {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      row-gap: rem(10);

      .left_btn, .right_btn {
        width: 100%;
        max-width: rem(335);
        margin: 0 auto;
      }

      .left_btn {
        order: 2;
      }
    }
  }
    
}