$browser-context:16;
// convert px to rem
@function rem($px, $context: $browser-context){
  @return #{$px / $context}rem;
}
.inner {
  padding : rem(10) rem(10) rem(100);

  .title {
    padding : rem(30) rem(20);
    margin-bottom: rem(20);
    text-align: center;
    font-size: rem(26);
    font-weight: 600;
  }
  
  .content {
    font-size: rem(16);
    font-weight: 400;
    p {
      font-size: rem(18);
      line-height: rem(14.4);
      margin-bottom: rem(23.4);
      font-weight: 500;

    }
    .bold {
      margin-bottom: rem(20);
      b{display: block;}

      p{
        line-height: 120%;
      }
    }
  }
}

