@import '/styles/global/guide';
@import '/styles/global/rem.scss';

section.vet_top {
  padding: rem(80) 0;
}

section.membership_alarm {
  padding: rem(80) 0;
  background-color: rgba(241, 241, 241, 0.2);
}

//////////////////

//*------ TOP ------*
.vet_top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(80);
  .vet_left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .vet_title_wrap {
      display: flex;
      gap: rem(20);

      .vet_title {
        font-weight: bold;
        font-size: rem(40);
        line-height: rem(60);
        p {
          font-size: rem(60);
        }

        .img_wrap {
        }
      }
    }

    .vet_text {
      background-color: #f1f1f1;
      margin-top: rem(30);
      padding: rem(10) rem(20);
      border-radius: rem(4);
      font-size: rem(20);

      span {
        font-weight: bold;
      }
    }
  }

  .vet_right {
    width: rem(500);
  }
}

.membership_alarm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .alarm_title {
    font-size: rem(26);
    font-weight: bold;
    border-bottom: rem(1) solid black;

    margin-bottom: rem(40);
  }

  .alarm_text {
    text-align: center;
    margin-bottom: rem(40);
  }
}

@media (max-width: rem(1200)) {
  .vet_top {
    flex-direction: column;

    .vet_left {
      align-items: normal;
      width: rem(570);
    }

    .vet_title_wrap {
      display: flex;
      align-items: normal;
      justify-content: space-between;
      padding: 0 rem(10);

      .vet_title {
        display: flex;
        align-items: center;
        gap: rem(10);
        p {
          font-size: rem(44) !important;
        }
      }

      .img_wrap {
        width: rem(200);
      }
    }

    .vet_text {
      width: rem(570);
    }
  }
}

@media (max-width: rem(650)) {
  .vet_top {
    .vet_left {
      width: rem(450);

      .vet_title {
        font-size: rem(30);
      }
      .vet_text {
        font-size: rem(15);
        width: rem(450);
      }
    }
  }
}

@media (max-width: rem(480)) {
  .vet_top {
    .vet_left {
      width: rem(350);
      .vet_title {
        width: rem(200);
        p {
          font-size: rem(30) !important;
        }
        font-size: rem(30) !important;
        .img_wrap {
          width: rem(50) !important;
        }
      }
      .vet_text {
        font-size: rem(12);
        width: rem(345);
        padding: rem(10) rem(12);
      }
    }
    .vet_right {
      width: rem(350);
    }
  }
}
