@import '/styles/global/rem';
@import '/styles/module/zIndex.module';


$bottom-menu-list-height: rem(50);

.routing-menu-section {
  padding-bottom: calc(100vh - #{$bottom-menu-list-height}*4);
  ul {
    li {
      display: grid;
      grid-template-columns: 1fr rem(16);
      align-items: center;
      justify-content: space-between;
      height: $bottom-menu-list-height;
      box-sizing: border-box;
      color: var(--color-font-sub);
      max-height: rem(50);
      padding: 0 rem(20);
      border-bottom: rem(1) solid var(--color-line-04);

      * {
        height: 100%;
        display: flex;
        align-items: center;
        text-align: left;
      }
      svg {
        fill: var(--color-line-02);
      }
    }
  }
}

