@import '/styles/global/guide';
@import '/styles/global/rem.scss';

section.review_title {
  padding: rem(40) 0 rem(20);
}
.swiper_review_outerWrap {
  padding: 0 0 rem(70);
}
section.notice_text {
  padding: rem(43) 0 rem(14) 0;
}

.review_title {
  display: flex;
  justify-content: center;
  text-align: center;

  > div {
    font-size: rem(30);
    font-weight: bold;

    br {
      display: none;
    }
  }
}

// .swiper_box css
.swiper_review_outerWrap {
  width: 100%;

  .swiper_review {
    // padding: rem(10);

    width: 100%;
  }
  .slide {
    width: rem(134 * 1.8) !important;
    height: rem(215 * 1.8);
    background: #ffffff;
    box-shadow: 0 0 rem(20) rgba(0, 0, 0, 0.08);
    margin-bottom: rem(30);
    border: rem(1) solid #d9d9d9;
    > * {
      cursor: pointer;
    }
    .mid_box {
      // padding: rem(20) rem(20) 0;
      text-align: center;
      -webkit-tap-highlight-color: transparent;
      .image {
        display: inline-block;
        width: 100%;
        // width: rem(320);
        aspect-ratio: 1/1;
        border-radius: rem(3);
      }
    }
    .swiper_review_box {
      display: flex;
      flex-direction: column;
      padding: rem(8) rem(16);
      color: #878787;
      font-size: rem(14);
      .swiper_review_top {
        display: flex;
        justify-content: space-between;
      }
    }
    .swiper_review_name {
      border-top: rem(1) solid #d9d9d9;
      padding: rem(6);
      text-align: center;
    }
    p {
      font-size: rem(14);
      color: #878787;
      // padding-bottom: rem(6);
      // max-height: rem(70);
      // height: rem(64);
      display: -webkit-box;
      -webkit-line-clamp: 3; // 말줄임표 표시할 줄 수
      -webkit-box-orient: vertical;
      text-overflow: ellipsis; // 말줄임표
      overflow: hidden; // 넘침 숨김
      -webkit-tap-highlight-color: transparent;
      &:last-child {
        margin: rem(2) 0 rem(8) 0;
      }
    }
  }
}

.review_write_ad {
  .red_box {
    position: relative;
    overflow: hidden;
    border-radius: rem(4);

    // &:hover {
    //   &::before {
    //     //width: 100%;
    //     //clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    //     opacity: 1;
    //     transform: scale(2);
    //     transition: opacity 1s ease, transform 1s ease;
    //   }
    //   .content_box {
    //     .text_box {
    //       .top_text {
    //         color: #000;
    //         transition: color 0.2s ease;
    //       }

    //       .bot_text {
    //         color: #000;
    //         transition: color 0.2s ease;
    //       }
    //     }
    //   }
    // }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      border-radius: 100%;
      // height: calc(100% - rem(2));
      aspect-ratio: 1/1;
      transform: scale(0);
      background-color: var(--color-main);
      z-index: -1;
      // clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
      // transition: opacity .3s ease, height .3s ease, widht .3s ease;
      transition: opacity 0.25s 0s ease, transform 0s 0.25s ease;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      // height: calc(100% - #{rem(3)});
      height: 100%;
      // outline: rem(2) solid var(--color-main);
      box-sizing: border-box;
      // border: rem(2) solid var(--color-main);
      border-radius: rem(4);
      // background-color: #4b4b4b;
    }

    .content_box {
      width: 100%;
      display: grid;
      grid-template-columns: rem(90) rem(380) rem(70);
      justify-content: center;
      align-items: center;
      background-color: #4b4b4b;
      color: #fff;

      .image_left {
        width: 100%;
        max-width: rem(96.57);
        aspect-ratio: 1.09/1;
        padding-top: 4px;
      }

      br {
        display: none;
      }

      .text_box {
        margin: 0 rem(20) 0 0;
        text-align: center;
        span {
          color: #ffe500;
        }
      }
      .top_text {
        font-weight: 700;
        font-size: rem(22);
        line-height: 120%;
        letter-spacing: -0.02em;
        padding: rem(17) 0 rem(10);
        transition: color 0.25s 0s ease;
      }
      .bot_text {
        @include char(b15);
        color: var(--color-font-sub);
        padding-bottom: rem(10);
        transition: color 0.25s 0s ease;
      }

      .image_right {
        // width: 100%;
        width: rem(47);
        max-width: rem(47);
        aspect-ratio: 0.81/1;
      }
    }
  }
}

//후기공지
.notice_text {
  .notice {
    @include char(b14);
    color: var(--color-font-sub2);
    word-break: keep-all;
    border-bottom: rem(1) solid #a6a4a4;
    padding-bottom: rem(20);
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-size: rem(26);
      color: #000;
      font-weight: bold;
    }

    select {
      min-width: rem(100);
      padding-left: rem(10);
    }

    span {
      color: transparent;
      width: rem(8);
      height: rem(1);
      transform: translateY(rem(-5));
      background-color: #909090;
      display: inline-block;
    }

    .notice_br {
      display: none;
    }
  }
}

.tab_slide_box {
  .flex_box {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: rem(15) rem(10) rem(20);

    background-color: var(--color-bg-02);
    .content {
      .title {
        padding: rem(20) 0 rem(7);
        @include char(l16);
      }
      .grade {
        padding-bottom: rem(3);
        @include char(d32);
        > span {
          padding-left: rem(8);
          color: var(--color-font-sub2);
        }
      }
      .star_box {
        display: flex;
        flex-wrap: wrap;
        gap: 0 rem(3);
        padding-bottom: rem(20);
        .image {
          padding-bottom: rem(0);
          width: rem(29);
          aspect-ratio: 1.04/1;
        }
      }
    }
  }

  //
  .notice_board {
    width: 100%;
    .flex_title {
      display: grid;
      grid-template-columns: rem(60) rem(60) rem(100) 1fr rem(130) rem(100);
      border-top: rem(1) solid var(--color-line-02);
      border-bottom: rem(1) solid var(--color-line-02);
      align-items: center;
      div {
        display: inline;
        text-align: center;
        @include char(l15);
        color: #4d4d4d;

        //넘버
        &:nth-child(1) {
          padding: rem(18) 0;
        }
        &:nth-child(4) {
          text-align: start;
          font-size: rem(16);
          padding-top: rem(1);
          padding-left: rem(15);
        }
      }
    }

    .grid_box {
      position: relative;
      display: grid;
      grid-template-columns: rem(60) rem(60) rem(100) 1fr rem(130) rem(100);
      cursor: pointer;
      border-bottom: rem(1) solid var(--color-line-04);
      .mid_box {
        display: flex;
        justify-content: center;
        .image_product {
          width: 100%;
          max-width: rem(60);
          aspect-ratio: 1/1;
        }
      }
      > * {
        text-align: center;
        display: inline-grid;
        //border-bottom: rem(1) solid var(--color-line-04);
        align-items: center;
        // height: auto;
        min-height: rem(72);
        // padding: rem(4) 0;
        @include char(l15);
        height: 100%;

        .content {
          display: flex;
          text-align: start;
          font-size: rem(16);

          .image {
            width: rem(20);
            aspect-ratio: 1.25/1;
          }
        }
      }

      .star_box {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0 rem(3);
        .image {
          width: rem(14);
          aspect-ratio: 1/1;
        }
      }
      .content {
        display: flex;
        text-align: start;
        font-size: rem(16);
        padding-left: rem(10);
        line-height: normal;
        .image {
          width: rem(20);
          min-width: rem(20);
          aspect-ratio: 1.25/1;
          margin-bottom: rem(2);
          margin-right: rem(4);
        }
        .text {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          overflow: hidden;
        }
      }

      .grid_name {
        text-overflow: ellipsis;
        -webkit-line-clamp: 1; // 말줄임표 표시할 줄 수
        -webkit-box-orient: vertical;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }

  //< 1 2 3 4 5 6... 11 >
  .pagination_box {
    display: flex;
    justify-content: center;
    padding-top: rem(40);
    padding-bottom: rem(44);
    .content {
      width: 23%;
      display: flex;
      justify-content: space-between;
      @include char(l16);
      color: var(--color-font-sub);
    }
  }
}

.review_box {
  @include char(b16);
  .text_box {
    display: none;
    padding: rem(20) rem(100);
    background-color: var(--color-bg-02);
    // transition: all 0s !important;
    .text {
      color: #4d4d4d;
      height: 100%;
    }
    .images {
      background-color: var(--color-bg-02);
      display: flex;
      flex-direction: column;

      .img-wrap {
        position: relative;
        margin-top: rem(10);
        max-width: rem(500);

        span {
          > img {
            width: 100% !important;
            max-width: rem(500) !important;
          }
        }
      }
    }
  }
}

// *********************************************

.swiper-button-next,
.swiper-button-prev {
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%) translateY(rem(-25));
  top: 50%;
  z-index: 2;

  opacity: 0.2;
}

.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}

.swiper_main_outerWrap {
  position: relative;

  .swiper_navigation_container {
    width: 75rem;
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    z-index: 3;
  }

  // .swiper-button-next{
  //   right:rem(-80);
  // }
  // .swiper-button-prev{
  //   left:rem(-80);
  // }
}

.swiper_review_outerWrap {
  // padding:0 rem(50) 0;
  position: relative;

  // .swiper_review{
  //   padding:rem(60) 0 rem(70);
  // }
  // .swiper_scrollbar {
  //   background-color: green !important;

  // }

  .swiper-button-prev,
  .swiper-button-next {
    opacity: 0.5;
    // box-shadow: rem(3) rem(3) rem(5) rgba(255, 255, 255, 255);
    box-shadow: rem(1) rem(1) rem(10) rgba(0, 0, 0, 0.15);
    border-radius: 100%;
    width: rem(40);
    height: rem(40);
    transition: opacity 0.1s ease;

    &:hover {
      opacity: 1;
    }

    .arrow_left,
    .arrow_right {
      border-radius: 100%;
      filter: invert(1);
    }
  }

  a {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(-100% + #{rem(8)});
    content: '더보기';
    color: #fff;
    font-size: rem(14);
    width: 100%;
    white-space: nowrap;
  }
  .swiper-pagination__reviewSection {
    bottom: rem(22) !important;
    span {
      width: rem(10);
      height: rem(10);
    }
  }
}

.swiper_sns_outerWrap {
  position: relative;
  .swiper-button-prev,
  .swiper-button-next {
    width: rem(28);
    height: rem(28);
  }

  .swiper-button-prev {
    left: rem(-14);
  }
  .swiper-button-next {
    right: rem(-14);
  }
}

@media (max-width: rem(800)) {
  .tab_slide_box {
    margin-top: rem(20);
    .notice_board {
      border-top: rem(1) solid var(--color-line-02);

      .flex_title {
        display: none;
      }

      li {
      }

      .grid_box {
        padding-top: rem(10);

        grid:
          'mid_box grid_name grid_name'
          'mid_box star_box grid_date'
          'content content content' / rem(40) rem(90) 1fr;

        > * {
          height: auto;
          min-height: rem(10);
          border: none;
        }

        .grid_num {
          display: none;
        }

        .mid_box {
          grid-row: 1 / span 2;
          .image_product {
            max-width: rem(40);
          }
        }

        .grid_name {
          order: 2;
          grid-column: 2 / span 2;
          text-align: left;
          padding-left: rem(10);
          font-size: rem(12);
        }

        .star_box {
          order: 3;
        }

        .grid_date {
          order: 4;
          text-align: left;
          font-size: rem(13);
          color: #4d4d4d;
        }

        .content {
          letter-spacing: -0.02em;
          font-size: rem(15);
          order: 5;
          grid-column: 1 / span 3;
          min-height: rem(40);
          padding-left: 0;
          // border-bottom: rem(1) solid var(--color-line-04);
        }
      }
    }
  }
}

@media (max-width: rem(700)) {
  .notice_text {
    .notice {
      .notice_br {
        display: block;
      }
    }
  }
}

@media (max-width: rem(600)) {
  section.review_title {
    padding: rem(40) 0 rem(20);
  }

  .review_title {
    > div {
      font-size: rem(20);

      br {
        display: block;
      }
    }
  }

  .swiper_review_outerWrap {
    padding: 0 0 rem(45);

    .swiper_review {
      width: 100%;
      transform: translateX(rem(-20));
    }

    .slide {
      .mid_box {
        // padding: 0;
      }
      .content_title {
        font-size: rem(18);
      }
      > p {
        font-size: rem(15);
      }
    }
  }

  .swiper-button-next {
    right: rem(-20);
  }
  .swiper-button-prev {
    left: rem(-20);
  }

  .review_write_ad {
    .red_box {
      &:hover {
        // &::before{
        //   width: 0%;
        // }
        .content_box {
          .text_box {
            color: #000;
            .bot_text {
              color: var(--color-font-sub);
            }
          }
        }
      }

      // &::after {
      //   height: calc(100% - #{rem(2)});
      // }

      .content_box {
        grid-template-columns: rem(60) 1fr rem(60);

        br {
          display: block;
        }

        .text_box {
          margin: 0 rem(10) 0 0;
          text-align: center;
        }

        .top_text {
          font-size: rem(16);
          padding: 0;
        }

        .bot_text {
          display: none;
        }

        .image_right {
          // width: 100%;
          width: rem(38);
        }
      }
    }
  }

  .notice_text {
    display: none;
  }

  .review_box {
    .text_box {
      padding: rem(20) rem(20);
    }
  }
}
