@import '/styles/module/itemList.module';

.cont_viewer {
  .table {
    .table_header,
    .item {
      grid-template-columns:
        rem(50)
        rem(60)
        rem(95)
        rem(200)
        rem(200)
        rem(240)
        rem(200)
        rem(160)
        rem(160)
        minmax(rem(160), 1fr);
    }
  }
}
