@import '/styles/module/itemList.module';

.cont_viewer {
  .table {
    .table_header {
      min-width: 100%;
      width: auto;
    }
    .table_header,
    .item {
      grid-template-columns:
        rem(60)
        rem(600)
        rem(160)
        rem(160)
        rem(120)
        rem(160);
    }
  }
}

.title {
  justify-content: flex-start !important;
  a {
    display: flex;
    align-items: center;
    gap: rem(16);
    width: 100%;
    em {
      text-decoration: underline;
      font-weight: 300;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
.icon.answer {
  background-color: var(--color-main);
  color: #fff;
  padding: rem(1) rem(13);
  border-radius: rem(20);
}

.answerStatus {
  display: flex;
  flex-direction: column;
  gap: rem(4);
}
