$browser-context: 16;
@function rem($px, $context: $browser-context) {
  @return #{$px / $context}rem;
}

#site_footer {
  font-size: rem(15);
  color: white;
}

.main_footer_area {
  display: flex;
  padding: rem(70) rem(0) rem(60) rem(0);
  justify-content: space-between;

  .main_footer_left {
    display: flex;
    flex-direction: column;
    gap: rem(10);

    h2 {
      font-size: rem(24);
      font-weight: 500;
      color: white;
    }

    .contact_container {
      display: flex;
      flex-direction: column;
      gap: rem(10);
      margin-bottom: rem(100);

      .contact_box {
        display: flex;
        gap: rem(10);

        span {
          width: rem(70);
        }

        .contact_line {
          border-left: rem(1) solid white;
          width: rem(1);
          height: rem(20);
        }
      }
    }

    .sns_area {
      ul {
        overflow: hidden;
        margin: 0 auto;
        display: inline-block;
        li {
          float: left;
          position: relative;
          &:not(:last-child) {
            margin-right: rem(22);
          }
          svg {
            width: rem(30);
            height: auto;
            display: block;
            fill: white;
            transition: fill 0.1s ease;
            path {
              transition: inherit;
            }
          }

          &:hover {
            svg {
              fill: var(--color-main);
            }
          }
        }
      }
    }
  }

  .main_footer_right {
    ul {
      display: flex;
      gap: rem(50);

      li {
        .menu_title {
          font-size: rem(20);
          font-weight: bold;
          padding-bottom: rem(20);
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: rem(20);
          li {
            .menu_sub_title {
            }
          }
        }
      }
    }
  }

  a {
    max-width: rem(204);
    margin: 0 auto;

    span {
      filter: grayscale(100);
      opacity: 0.6;
      position: relative;
      overflow: hidden;
      transition: filter 0.3s ease;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background-color: rgba(255, 255, 255, 0.3);
        transition: background-color 0.3s ease;
      }

      &:hover {
        filter: grayscale(0);
        transition: filter 0.3s ease;

        &::after {
          // background-color: rgba(255, 255, 255, 0);
          transition: background-color 0.3s ease;
        }
      }
    }
  }
}

// * ----- SUB-FOOTER ----- *
.sub_footer_area.mypage {
  margin-bottom: 0 !important;
}
.sub_footer_area {
  padding: rem(20) rem(40) rem(70) rem(30);
  color: #fff;
  display: flex;
  flex-direction: column;
  // margin-bottom: rem(70);

  .sub_footer_top {
    display: flex;
    gap: rem(30);

    h3 {
      font-weight: bold;
    }

    .arrow_icon {
      cursor: pointer;
      transition: transform 0.5s ease;
    }
  }

  @keyframes formopen {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .sub_footer_container.active {
    opacity: 1;
    max-height: 500px;
    transition-delay: 0s;
    animation: formopen 0.5s ease-out forwards;
  }

  .sub_footer_container {
    display: flex;
    justify-content: space-between;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    overflow: hidden;
    max-height: 0;
    margin: rem(20) 0;

    .sub_footer_left {
      .companyInfo_area {
        display: flex;
        flex-direction: column;

        ul {
          li {
            display: flex;
            justify-content: flex-start;
            overflow: hidden;
            // margin-bottom: rem(5);
            line-height: 1.5;
            cursor: default;
            gap: rem(9);
          }
        }
        .info_title {
          // color: #717171;
          // font-weight: 500;
          font-weight: bold;
        }
        .info_cont {
          // color: #b7b7b7;
        }
        .info_cont_mobile {
          // color: #b7b7b7;
          display: none;
        }
        .info_site {
          text-decoration: underline;
          // transition: color var(--ani-default);
          padding-left: rem(6);
        }
        .info_site:hover {
          // color: var(--color-main);
        }
      }

      .policy_area {
        margin: rem(25) 0;
        ul {
          margin: 0 auto;
          display: inline-block;
          overflow: hidden;
          li {
            float: left;
            position: relative;
            &:not(:last-child) {
              margin-right: rem(16);
              padding-right: rem(16);
            }

            &:not(:last-child):before {
              content: '';
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              background-color: var(--color-line-03);
              width: rem(1);
              height: rem(15);
            }
            a {
              transition: color var(--ani-default);
              // color: #b7b7b7;
            }
            a:hover {
              // color: var(--color-main);
              color: #000;
            }
          }
        }
      }
    }

    .sub_footer_right {
      margin-top: rem(80);
      // margin: auto;
    }
  }
}

//**------- RESONSIVE -------**//
// @media (max-width: rem(1350)) {
//   .main_footer_area {
//     padding: rem(70) rem(60) rem(60) rem(30);
//   }

//   .sub_footer_area {
//     padding-left: rem(30);
//     padding-right: rem(100);
//   }
// }

// @media (max-width: rem(1200)) {
//   .main_footer_area {
//     padding: rem(70) rem(70) rem(60) rem(50);
//   }

//   .sub_footer_area {
//     padding-left: rem(50);
//     padding-right: rem(100);
//   }
// }

// @media (max-width: rem(600)) {
//   .companyInfo_area {
//     ul {
//       li {
//         &:nth-child(5),
//         &:last-child {
//           .info_cont {
//             display: none;
//           }
//         }
//         .info_cont_mobile {
//           display: block;
//         }
//       }
//     }
//   }
// }
