$browser-context: 16;
@function rem($px, $context: $browser-context) {
  @return #{$px / $context}rem;
}



#site_footer {
  padding: rem(50) 0 rem(60);
  font-size: rem(15);
  background-color: var(--color-bg-ghostWhite);
 
}

.logo_area {
  margin-bottom: rem(20);
  a {
    max-width: rem(204);
    margin: 0 auto;
  }
}

.policy_area {
  margin-bottom: rem(25);
  text-align: center;
  ul {
    margin:0 auto;
    display:inline-block;
    overflow: hidden;
    li {
      float: left;
      position:relative;
      &:not(:last-child){
        margin-right: rem(16);
        padding-right: rem(16); 
      }
      
      &:not(:last-child):before{
        content:"";
        position:absolute;
        right:0;
        top:50%;
        transform: translateY(-50%);
        background-color:var(--color-line-03);
        width:rem(1);
        height:100%;
        height:rem(15);
      }
        a{transition:color var(--ani-default); color:#717171;}
        a:hover{color:var(--color-main);}
    }
  }
}

.sns_area {
  margin-bottom: rem(28 );
  text-align:center;
  ul{
    overflow:hidden;
    margin:0 auto;
    display:inline-block;
    li{
      float: left;
      position:relative;
      &:not(:last-child){
        margin-right: rem(22);
      }
      svg{
        width:rem(30); height:auto;display: block; transition: fill 0.1s ease;
        path{transition: inherit;}
      }

      &:hover{
        svg {fill:var(--color-main)}

      }
      

    }
  }
}

.companyInfo_area {
  text-align:center;
  ul{
    display:inline-block;
    margin:0 auto;
    li{
      display:flex;
      justify-content:center;
      overflow:hidden;
      margin-bottom: rem(9);
      line-height:1.5;
      cursor: default;
      & > *:nth-child(1){float:left;margin-right:rem(9)}
      & > *:nth-child(2){float:left;}
    }
  }
 
  .info_title{ color:#717171; font-weight:500}
  .info_cont{color:#b7b7b7;}
}
