@import '/src/components/admin/adminMenu.module.scss';

$browser-context:16;
// convert px to rem
@function rem($px, $context: $browser-context){
  @return #{$px / $context}rem;
}

$menuPadding: 20;

.title{
  color: #000;
  font-size: rem(28);
  font-weight: 400;
  margin-bottom: rem(15);
}

.menu {
  border: rem(1) solid var(--color-line-04);
  box-sizing:border-box;
  width: rem(200);
  
  .menu_title{
    color: #717171;
    &[data-current-page]{
      > p ,> a, a[data-current-page] {color:var(--color-main);}
      svg{fill: var(--color-main)}
    }
    


    
    &:not(:last-child) a, &:not(:last-child) 
    p{border-bottom: 1px solid var(--color-line-04);}

    > ul{
      background-color:#f4f4f4;
      a {padding: rem(12) rem($menuPadding + 10);}
    }

    .submenu_title > *{ cursor: default;}

    a, p{
      cursor:pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: rem(12) rem(20);
      font-size: rem(15);
      color:inherit;
      transition: color var(--ani-short);
      svg{
        float:right; fill:#ababab; width:rem(17); height:rem(17);
        transition-duration: .3s;
        transition-timing-function: ease-out;
        transition-property: fill, transform;
        transform:rotate(0)
      }

      &:not(.submenu_title > *):hover{
        color: var(--color-main) !important;
        svg{fill:var(--color-main)}
      }


    }
    &.open{
      svg{transform:rotate(90deg) !important}
    }



  }



  .submenu{
    display:none;
  }
  // .submenu.open{display:block;}
  .submenu_title{
    font-size: rem(16);
    font-weight: 500;
    & ~ li:not(.submenu_title){
      > * {
        position: relative;
        &:before{
          content: "";
          position: absolute;
          left: rem($menuPadding + 30);
          top: calc(50% - 2px);
          width: 5px;
          height: 5px;
          transform: translateY(-50%);
          border-left: 2px solid #333;
          border-bottom: 2px solid #333;
          transition: border-color var(--ani-short);
        }

      }
      & > *:hover:before{
        border-color: var(--color-main);
      }
      
    }
  }

}





/* ADMIN */
.admin-site-setting{
  .menu_title{
    a svg, p svg{fill: #ababab;}
    a[data-current-page] {color:var(--color-main);}
  }
  .open{
    p svg{transform:rotate(90deg) !important}
  }
}