@import '/src/components/admin/adminMenu.module.scss';
@import "/styles/global/rem";

.wrap {
  border-top: 1px solid var(--color-line-03);
  .grid_box {
    display: grid;
    grid-template-rows: repeat(2, rem(50));
    align-items: center;
    
    li {
      height: 100%;
      display: grid;
      align-items: center;
      grid-template-columns: rem(160) 1fr;
      border-bottom: 1px solid var(--color-line-04);
      color : var(--color-font-sub);

      p, button{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 rem(20);
      }

      p {
        cursor: default;

        &:nth-child(2) {
          cursor: pointer;
        }
      }

      button {
        color: #4d4d4d;
        width: 100%;
      }

      .image{
        width: rem(12);
        aspect-ratio: 1/1;
        cursor: pointer;
      }
    }
  }
}



@media (max-width: rem(600)) {

  .wrap {
    .grid_box {
      display: grid;
      grid-template-rows: repeat(2, rem(50));
      align-items: center;
      
      li {
        font-size: rem(15);
        grid-template-columns: rem(80) 1fr;

        p, button{
          justify-content: flex-start;
          padding: 0 0 0 rem(10);
          column-gap: rem(10);
        }

        p {
          cursor: default;

          
          &:nth-child(1) {
            cursor: pointer;
          }
        }
      }
    }
  }
}