$browser-context: 16;
@function rem($px, $context: $browser-context) {
  @return #{$px / $context}rem;
}

#site_footer {
  position: fixed;
  font-size: rem(15);
  color: white;
  bottom: 0;
  // left: 0;
  width: rem(600);
  // background-color: white;
  height: rem(110);
  z-index: 10;
}

// * ------- Navigation Button  ------- * //
.swiper-navigation-container {
  width: rem(600);
  position: fixed;
  bottom: 0;
  // left: 0;
  z-index: 10;
  background-color: white;
  box-shadow: 0 rem(5) rem(15) rgb(0 0 0 / 8%);
  height: rem(100);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(40);
  // margin: 0 auto 0;

  // button {
  //   display: flex;
  //   justify-content: center;
  //   column-gap: rem(4);
  //   border: rem(1) solid var(--color-main);
  //   width: rem(120);
  //   // @include char(l16);
  //   font-weight: 600;
  //   color: var(--color-main);
  //   text-align: center;
  //   padding: rem(19) 0;
  //   border-radius: rem(4);

  //   transition-timing-function: ease-out;
  //   transition-duration: 0.4s;
  //   transition-property: background-color, box-shadow;

  //   .image_box {
  //     position: relative;
  //     width: rem(12);
  //     aspect-ratio: 1/1;
  //     img {
  //       transition: inherit;
  //     }
  //   }
  // }
  // .swiper-button-prev {
  //   border-color: var(--color-main);
  //   background-color: #fff;
  //   color: var(--color-main);
  //   box-shadow: 0 rem(2) rem(10) 0 rgba(0, 0, 0, 0.1);
  //   &[disabled] {
  //     border-color: var(--color-disabled);
  //     color: var(--color-disabled);
  //     box-shadow: none;
  //     img {
  //       filter: grayscale(100);
  //       opacity: 0.5;
  //     }
  //   }
  // }

  // .swiper-button-next {
  //   border-color: transparent;
  //   background-color: var(--color-main);
  //   color: #fff;
  //   box-shadow: 0 rem(2) rem(10) 0 rgba(202, 16, 16, 0.6);
  // }
  // .swiper-button-submit {
  //   border-color: transparent;
  //   background-color: var(--color-main);
  //   color: #fff;
  //   box-shadow: 0 rem(2) rem(10) 0 rgba(202, 16, 16, 0.6);
  //   display: none;
  // }
}

.footer_area {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem(30);
  gap: rem(40);
}

.swiper-button-prev {
  width: rem(50);
  height: rem(50);
  border: rem(2) solid rgba(194, 40, 47, 0.45);
  // box-shadow: rem(1) rem(1) rem(10) rgba(0, 0, 0, 0.15);
  // background-color: #ca1010;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  &:hover {
    opacity: 0.9;
    transition: all 0.3s;
    background-color: #ca1010;
    border: rem(1) solid #ca1010;

    svg {
      fill: white;
    }
  }
  svg {
    width: rem(24);
    height: rem(24);
    fill: rgba(194, 40, 47, 0.45);
  }
}

.swiper-button-next {
  width: rem(130);
  height: rem(50);
  background-color: rgba(194, 40, 47, 0.45);
  // box-shadow: rem(1) rem(1) rem(10) rgba(0, 0, 0, 0.15);
  // background-color: #ca1010;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: rem(40);
  font-size: rem(20);
  gap: rem(10);

  &:hover {
    opacity: 0.9;
    transition: all 0.3s;
    background-color: #ca1010;
    border: rem(1) solid #ca1010;

    svg {
      fill: white;
    }
  }
}

//**------- RESONSIVE -------**//
@media (max-width: rem(1350)) {
  .main_footer_area {
    padding: rem(70) rem(60) rem(60) rem(30);
  }

  .sub_footer_area {
    padding-left: rem(30);
    padding-right: rem(100);
  }
}

@media (max-width: rem(1200)) {
  .main_footer_area {
    padding: rem(70) rem(70) rem(60) rem(50);
  }

  .sub_footer_area {
    padding-left: rem(50);
    padding-right: rem(100);
  }
}

@media (max-width: rem(860)) {
  .main_footer_area {
    padding: rem(40) rem(20) rem(30) rem(20);
    display: flex;
    flex-direction: column;

    .main_footer_left {
      display: flex;
      .contact_container {
        margin-bottom: rem(60);
      }
    }

    .sns_area {
      position: absolute;
      top: 10%;
      right: 3%;
      width: rem(120);

      li {
        margin: rem(5) rem(2);
      }
    }

    .main_footer_right {
      ul {
        gap: rem(44);

        .menu_title {
          font-size: rem(18) !important;
          width: rem(70);
        }
      }
    }
  }

  .sub_footer_area {
    padding: rem(30) rem(20) rem(0) rem(20);

    .sub_footer_container {
      margin-bottom: rem(20);

      .sub_footer_right {
        margin-right: rem(40);
        // position: absolute;
        // bottom: 32%;
        // right: 10%;
      }
    }
  }
}

@media (max-width: rem(680)) {
  .sub_footer_area {
    padding: rem(30) rem(20) rem(70) rem(20);
  }

  .sub_footer_area {
    padding: rem(30) rem(20) rem(0) rem(20);

    .sub_footer_container {
      margin-bottom: rem(10);
      display: flex;
      flex-direction: column;
      .sub_footer_left {
        .info_cont {
        }
      }
    }

    .sub_footer_right {
      width: rem(100);
      margin-bottom: rem(20);
      // position: absolute;
      // bottom: 32%;
      // right: 10%;
    }
  }
}
