$browser-context:16; // html font-size:
@function rem($px, $context: $browser-context){
  @return #{$px / $context}rem;
}


.container_outer{
  display:flex;
  justify-content: center;
  align-items: center;
  .container{
    max-width: rem(1900);
    width: rem(1200);
    &.fullWidth{
      width:100vw; //width: 100%; 을 수정
    }
    .row{
      padding: 0; //padding: 0 rem(0); 을 수정
    }
  }
}




/* RESPONSIVE */
@media (max-width:1200px){
    
  .container_outer{
    .container{
      width: 100%;
      &.fullWidth{
        width: 100vw;
      }
      .row{
        padding: 0 rem(20);
      }
    }
  }

}
@media (max-width:1080px){

}

@media (max-width:768px){

}

@media (max-width:600px){
  .container_outer{
    .container{
      .row{
        padding: 0 rem(20);
      }
    }                                                               
  }


}



@media (max-width:320px){

}

