@import '/styles/global/guide';
$browser-context:16; // html font-size
@function rem($px, $context: $browser-context){
  @return #{$px / $context}rem;
}

section.title { padding : rem(5) 0 rem(18) }
section.content { padding : rem(30) 0 rem(40)}
// section.reward_state { padding: 0 0 rem(100)}

.title {
  @include char(t24);
}


.reward_state {
  .box {
    border: rem(1) solid var(--color-line-03);
    display: flex;
    justify-content: center;
    padding: 0 rem(40);
  
    .flex_box {
      display: flex;
      //justify-content: space-between;
      //max-width: rem(840);
      width: 100%;
      .left_box {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        //max-width: rem(353);
        @include char(l16);
        padding: rem(45) 0 rem(45) 0;
        span {
          @include char(t24);
          color: var(--color-main);
        }
      }

      .mid_box {
        position: relative;
        .line {
          border: rem(1) solid var(--color-line-03);
          position : absolute;
          top : 50%;
          left : 50%;
          transform : translate(-50%, -50%) rotate(90deg);
          width : rem(80);
        }
      }

      .right_box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 43%;
        max-width: rem(353);
        @include char(l16);
        padding: rem(44) 0 rem(44) 0;
        span {
          @include char(t24);

        }
      }
    }
  }
}

.content {
  padding-top: rem(30);
  
  .flex_box {
    display: grid;
    grid-template-columns: 1fr rem(100); // 적립금액 3자리 이상일 경우 대응 (22.07.29)
    width: 100%;
    align-items: center;
    border-bottom: rem(1) solid var(--color-line-03);
    padding: rem(30) 0;

    &:last-child {
    border-bottom: rem(0);
    }

    .grid_box{
      display: grid;
      grid-template-columns: rem(80) 1fr;
      gap: rem(10);
      align-items: center;
      justify-content: flex-start;
      width: 100%;
    }


    .day_text {
      //width: rem(70);
      @include char(l14);
      color: #909090;
    }
    .content_text {
      width: 100%;
      @include char(l16);
    }
    .price_text {
      text-align: right;
      @include char(l18);
      color: #50A057;
    }
    .price_text_grey {
      text-align: right;
      @include char(l18);
      color: var(--color-font-sub);
    }
  }
}


@media (max-width: rem(800)) {

  .reward_state {
    .box {
      .flex_box {
        width: 100%;
        .left_box, .right_box{
          display: grid;
          grid-template-columns: 1fr;
          text-align: center;
          width: 100%;
          max-width: 100%;
          grid-gap: rem(20);
        }

        .mid_box {
          .line {
            width : rem(70);
          }
        }
      }
    }
  }

  .content {
    .flex_box {
      .grid_box{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: rem(20);
      }
    }
  }  
}

@media (max-width: rem(600)) {
  
  .title {
    display: none;
  }
  
  .reward_state {
    margin-top: rem(30);
  }

  section.content { padding : 0 0 rem(40)}

}