@import '/styles/global/guide';
$browser-context:16; // html font-size
@function rem($px, $context: $browser-context){
  @return #{$px / $context}rem;
}

section.title { padding : rem(5) 0 rem(18) }
section.content { padding : rem(30) 0 rem(40)}
// section.reward_state { padding: 0 0 rem(100)}

.title {
  @include char(t24);
}


.reward_state {
  .box {
    border: rem(1) solid var(--color-line-03);
    display: flex;
    justify-content: center;
  
    .flex_box {
      display: flex;
      justify-content: space-between;
      width: 92%;
      max-width: rem(840);
      .left_box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 43%;
        max-width: rem(353);
        @include char(l16);
        padding: rem(45) 0 rem(45) 0;
        span {
          @include char(t24);
          color: var(--color-main);
        }
      }

      .mid_box {
        position: relative;
        .line {
          border: rem(1) solid var(--color-line-03);
          position : absolute;
          top : 50%;
          left : 50%;
          transform : translate(-50%, -50%) rotate(90deg);
          width : rem(80);
        }
      }

      .right_box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 43%;
        max-width: rem(353);
        @include char(l16);
        padding: rem(44) 0 rem(44) 0;
        span {
          @include char(t24);

        }
      }
    }
  }
}

.content {
  padding-top: rem(30);
.flex_box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: rem(1) solid var(--color-line-03);
  &:last-child {
  border-bottom: rem(0);
  }
  .day_text {
    width: 9%;
    @include char(l14);
  }
  .content_text {
    width: 81%;
    @include char(l16);
    padding: rem(31) 0;
  }
  .price_text {
    width: 10%;
    text-align: right;
    @include char(l18);
    color: #50A057;
  }
  .price_text {
    width: 10%;
    text-align: right;
    @include char(l18);
    color: #50A057;
  }
  .price_text_grey {
    width: 10%;
    text-align: right;
    @include char(l18);
    color: var(--color-font-sub);
  }
}
}