 
/* Lay-out */
.container__outer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .container{
        width:1200px; margin:0 auto;
        .row{
            padding:0 20px;
            .container-inner{position:relative;}
        }
    }
}

