@import '/styles/global/guide';
@import '/styles/global/rem.scss';

@keyframes show {
  from{opacity:0; pointer-events: none;}
  to{opacity:1; pointer-events: all;}
}
section.top{padding-top: rem(40); padding-bottom: rem(60);}
section.tab_menu{padding-top: 0; padding-bottom: 0;}
section.body_top_content{padding: rem(120) 0 rem(109);}
section.body_image{padding-bottom:rem(140);}
section.why_barf{padding-bottom: rem(116);}
section.barf_note{padding-bottom: rem(199);}
section.barf_guide{padding-bottom: rem(180);}
section.barf_tip{padding-bottom: rem(180);}
section.barf_subscription{padding:rem(100) 0 rem(140)}
section.tab_slide_box{padding: rem(50) 0 rem(130)}
section.tab_slide_box2{padding: 0 0 rem(130)}

#content{
  .cont_list{
    animation: show var(--ani-default);
    display:none;
    &.active{display:block;}
  }
}


.section.body_top_content{}
.top {
  .inner {
    .top_box {
      display: grid;
      // grid-template-columns: repeat(2, minmax(rem(375), 1fr));
      grid-template-columns: 50% 1fr;
      gap: rem(40);
      .left_box {
        .mainSwiper{
          aspect-ratio: 1/1;
        }
        @supports not (aspect-ratio: 1/1) {
          .mainSwiper {
            padding-top: 100%;
          }
        }
        position: relative;
        max-width: rem(560);
        .image {
          width: 100%;
          height: 100%;
          position: relative;
          // aspect-ratio: 1/1;
          span{
            //aspect-ratio: 1/1;
          }
        }
      }
      .right_box {
        // width: 100%;
        .content_title {
          @include char(t24);
          font-weight: 700;
        }
        .price_box {
          padding: rem(25) 0 rem(15); 
          .price {
            @include char(t28);
          }
          .won {
            padding-left: rem(4);
            @include char(l18);
            font-weight: 500;
            margin-right: rem(10);
          }

          .originPrice{
            position: relative;
            font-size:rem(16);
            color:var(--color-font-light);
            letter-spacing: 0;
            margin-right: rem(12);
            white-space: nowrap;
            &:after{
              content:'';
              position:absolute;
              width: calc(100% + #{rem(4)});
              height: rem(1);
              background-color: var(--color-font-light);
              transform:translate(-50%,-50%);
              left:50%;
              top:50%;
            }
          }

          .discount{
            font-size: rem(16);
          }

        }
        .mid_box {
          border-top: rem(1) solid #EFEFEF;
          border-bottom: rem(1) solid #EFEFEF;
          display: grid;
          grid-template-columns: minmax(rem(40),rem(100)) minmax(rem(250),auto);
          row-gap: rem(28);
          width: 100%;
          padding-top : rem(20);
          padding-bottom: rem(28);
          word-break: keep-all;
          //팁
          >div:nth-child(1){
            @include char(l16);
            padding-top: rem(3);
            font-weight: 700;
            color: var(--color-main); 
          }
          //생식을 처음
          >div:nth-child(2){
            @include char(b16);
          }
          //배송 정보
          >div{
            @include char(l16);
            .text {
              @include char(b14);
              color :#636363;
              padding-top: rem(8);
            }
          }

          .del_br{
            display: none;
          }

          > div:nth-child(3), div:nth-child(5) {
            font-weight: 600;
          }
          
          div:nth-child(5) {
            height: rem(40);
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
          //6번째 박스 숫자버튼
          .count_box {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            border : rem(1) solid #909090;
            border-radius: rem(4);
            

            >div:nth-child(1){
              display: flex;
              justify-content: left;
              align-items: center;
              padding-left: rem(30);
              flex-grow: 0;
              background-color: rosybrown;
              color: #636363;
              font-size: rem(30);
              cursor: pointer;
            }
            >div:nth-child(2){
              display: flex;
              justify-content: center;
              flex-grow: 2;
              input {
                width: 100%;
                text-align: center;
                align-items: center;
              }
            }
            >div:nth-child(3){
              display: flex;
              justify-content: right;
              align-items: center;
              padding-right: rem(30);
              flex-grow: 0;
              background-color: rosybrown;
              color: #636363;
              font-size: rem(20);
              cursor: pointer;
            }
          }
        }
      }

      //총 상품 금액
      .total_price {
        padding: rem(12) 0 rem(20);
        overflow: hidden;
        > div{
          float: right;
        }
        //총 상품 금액
        .left_text{
          padding-right: rem(10);
          @include char(l16);
          color: #636363;
        }
        //가격
        .mid_text {
          @include char(d32);
          padding-right: rem(5);
          letter-spacing: 0.02em;
        }
        //원
        .last_text {
          @include char(t20);
        }
      }
      .btn-section{
        display: flex;
        .cart{
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50%;
          height: rem(50);
          background: #FFFFFF;
          border: rem(1) solid var(--color-main);
          color:var(--color-main);
          box-sizing: border-box;
          border-radius: rem(4); 
          font-size: rem(16);
        }
        .buy{
          cursor: pointer;
          margin-left: rem(10) ;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50%;
          background: var(--color-main);
          border-radius: rem(4);
          @include char(l16);
          color: #fff;
        }
      }
    }
  }
}

//******************텝메뉴********
.tab_menu{
  .tab_menu_box {
    display: flex;
    justify-content: center;
    > li {
      width:100%;
      transition: background-color 0.3s ease;
      background-color: var(--color-bg-02);
      border : rem(1) solid #F0F2F5;

      &:hover{
        background-color: #fcfdfe;
      }

      &.active{
        background-color: #FFFFFF;
      }
      
      button {
        cursor: pointer;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: rem(60);
        transition: inherit;
        font-size: rem(16);
      }
    }


    //상세정보 탭
    // .left_box{
    //   width:100%;
    //   .no1 {
        // width: 100%;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // height: rem(60);
        // border: rem(1) solid #F0F2F5;
        
        // &:hover{
        //   border: rem(1) solid #F0F2F5;
        //   background-color: var(--color-bg-02);
        // }
    //   }
    // }

    //반품 교환정보 탭
    // .mid_box {
    //   width: 100%;
      // .no2 {
        // width: 100%;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // height: rem(60);
        // background-color: var(--color-bg-02);
        // border : rem(1) solid #F0F2F5;
        // &:hover {
        //   border: rem(1) solid #F0F2F5;
        //   background: #fff;
        // }
    //   }
    // }
    
    //리뷰 탭
    // .right_box {
    //   width: 100%;
    //   .no3{
        // width: 100%;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // height: rem(60);
        // background-color: var(--color-bg-02);
        // border : rem(1) solid #F0F2F5;
        // &:hover {
        //   border: rem(1) solid #F0F2F5;
        //   background: #fff;
        // }
  //     }
  //   }
  }
}


//  *************바프독 텝 반품/교환정보 ************* //


.tab_slide_box {
  padding-bottom: rem(74);

  .flex_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: rem(54);
    background-color: var(--color-bg-02);
    margin-bottom: rem(40);
    .title {
      @include char(l18);
    }
  }
  .flex_box2 {
    height: 100%;
    display: grid;
    grid-template-columns: rem(150) 1fr;
    width: 100%;
    grid-gap: rem(30);
    align-items: flex-start;
    border-top: rem(1) solid #EFEFEF;;
    padding : rem(30) 0 rem(30) 0;
    &:nth-child(2) {
      border-top: 0;
      padding: 0 0 rem(30) 0;
    }
    &:nth-child(6){
      border-bottom: rem(1) solid #EFEFEF;;
    }
    .left {
      font-weight: 600;
      font-size: rem(17);
      line-height: 152%;
    }
    .right {
      @include char(b16);
      color : var(--color-font-sub);
      height: 100%;
    }
  }
}

.tab_slide_box2 {
  .flex_box {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin : rem(15) rem(10) rem(20);
    padding: rem(20) 0;

    background-color: var(--color-bg-02);
    .content {
      .title {
        @include char(l16);
      }
      .grade {
        padding-bottom: rem(5);
        @include char(d32);
        >span {
          padding-left: rem(8);
          color: var(--color-font-sub2);

        }

      }
      .star_box {
        display: flex;
        flex-wrap: wrap;
        gap: 0 rem(3);
        padding-bottom: rem(20);
        .image{
          padding-bottom: rem(0);
          width: rem(29);
          aspect-ratio: 1.04/1;
        }
      }
    }

  }

  .button_box{
    width: 100%;
    text-align: right;
    padding-bottom: rem(10);

    .write_button{
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: rem(140);
      height: rem(44);
      background-color: var(--color-main);
      border-radius: rem(4);
      color: #fff;
      font-size: rem(16);
    }
  }

  //
  .notice_board {
    width: 100%;
    .flex_title {
      display: grid;
      grid-template-columns : rem(60) rem(100) 1fr rem(130) rem(100);
      border-top: rem(1) solid var(--color-line-02);
      border-bottom: rem(1) solid var(--color-line-02);
      align-items: center;
      div{
        display: inline;
        text-align: center;
        @include char(l15);
        color: #4d4d4d;

        //넘버
        &:nth-child(1) {
          padding : rem(18) 0;
        }
        // 제목
        &:nth-child(3) {
          text-align: start; 
          font-size: rem(16);
          padding-top: rem(1);
          padding-left: rem(15);
        }
      }
    }
    .grid_box {
      position: relative;
      display: grid;
      grid-template-columns : rem(60) rem(100) 1fr rem(130) rem(100);
      cursor: pointer;
      > * {
        text-align: center;
        display: inline-grid;
        border-bottom: rem(1) solid var(--color-line-04);
        align-items: center;
        height: auto;
        min-height: rem(76);
        padding: rem(4) 0;
        @include char(l15);
        .content {
          display: flex;
          text-align: start;
          font-size: rem(16);
          .image{
            width: rem(20);
            aspect-ratio: 1.25/1;
          }
        }
      }
      
      .star_box {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0 rem(3);
        .image{
          width: rem(14);
          aspect-ratio: 1/1;
        }
      }
      .content {
        display: flex;
        text-align: start;
        font-size: rem(16);
        padding-left: rem(10);
        .image{
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: rem(24);
          margin-bottom: rem(2);
          margin-right: rem(4);
          max-width: rem(24);
        }
      }
    }
  }

  //< 1 2 3 4 5 6... 11 > 
  .pagination_box {
    display: flex;
    justify-content: center;
    padding-top: rem(40);
    .content {
      width: rem(280);
      display: flex;
      justify-content: space-between;
      @include char(l16);
      color: var(--color-font-sub);
    }
  }
}


// 리뷰 클릭시 슬라이드
.review_thead{
  .image{margin-right:rem(4) !important;}
  .title{
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
}
.review_tbody{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg-02);
  @include char(b16);
  padding: rem(20) rem(60);
  //height: rem(66);
  // > *:not(:last-child){margin-bottom:rem(10)}
  .text{
    width: 100%;
    color: #4d4d4d;

  }
  .images{
    width: 100%;
    > li{
      
      display: flex;
      justify-content: center;
      width: 100%;
      aspect-ratio: 1;
      margin: rem(10) auto 0;
      max-width: rem(720);
      &:not(:last-child){margin-bottom:rem(10)}
    }
    image{
      width: 100%;
    }
  }
}






//***********바디 탑 내용문 바프독 15도**************
.body_top_content {
  text-align: center;
  .top_content {
    color: #636363;
    @include char(b16);
    padding-bottom: rem(116);
  }
  .line {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: rem(117);
    >hr {
      min-width: rem(80);
      border-top: rem(1) solid var(--color-line-02);
    }
  }

  .red_title {
    
    @include char(t20);
    color: var(--color-main);
    font-weight: 700;
  }


  .title_box {
    padding-top: rem(10);
    font-family: 'GmarketSansBold';
    font-weight: 700;
    font-size: rem(50);
    line-height: rem(50);
    color: #202020;
    padding-bottom: rem(60);
  }
  .title_contnet {
    color: var(--color-font-sub);
    @include char(b16);
  }
}

// 바디부분 스타터프리미엄 사진
.body_image{
  .image_box {
    text-align: center;
    .image {
      width: 100%;
      max-width: rem(760);
      aspect-ratio: 1/3.76;
    }
    .image2{
      width: 100%;
      max-width: rem(1000);
      aspect-ratio: 1.6/1;
    }
    p {
      padding-top: rem(100);
      padding-bottom: rem(60);      
      @include char(d32);
    }
  }
}

///*************왜 바프독 일까요************
.why_barf {
  text-align: center;
  >p{
    @include char(d32);
    padding-bottom: rem(96);
  }
  .why_content_box{
    margin: 0 rem(70) 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    //왜 바프독일까요? 3가지박스 글자들 속성

    .title_num{
      @include char(d28);
      color: var(--color-main);
      padding-bottom: rem(18);
    }
    .title {
      @include char(d28);
      padding-bottom: rem(10);
    }
    p {
      @include char(l15);
      color: var(--color-font-sub);
      padding-bottom: rem(37);
      font-weight: 400;

    }
    .title_content{

      @include char(t20);
      padding: 0 0 rem(28);
    }
    .left_box_content{
      display: grid;
      grid-template-columns: 1fr;
      padding: 0 rem(10) rem(9);
      width: rem(225);
      margin: 0 auto;
      row-gap: rem(20) ;
      >div{
        @include char(l18);
        font-weight: 500;
        color: #4d4d4d;
        text-align: left;
      }
    }

    .last_contain {
      padding:rem(20) rem(5) 0;
      color: #4D4D4D;
      @include char(b16);
    }
    .last_contain {
      box-sizing: border-box;
    }
    
    //3박스 크기조절
    .left{
      width: 100%;
      padding: rem(17) rem(30) rem(36) rem(30);
      border-right: rem(1) solid var(--color-line-03);
    }
    .mid{
      width: 100%;
      padding: rem(17) rem(30) rem(36) rem(30);
      border-right: rem(1) solid var(--color-line-03);
      >.last_contain {
        padding: rem(10) rem(0) 0;
      }
    }
    .right{
      width: 100%;
      padding: rem(17) rem(30) rem(36) rem(30);
      >.last_contain {
        padding: rem(10) rem(5) 0;
      }
    }
  }
}



.barf_note {
  text-align: center;
  .title {
    padding-top: rem(100);
    @include char(d32);
    font-family: 'GmarketSansBold';
    font-weight: 700;
  }
  >p {
    padding-top: rem(32);
    
    @include char(l18);
    // color: #717171;
    color: var(--color-font-sub);
    padding-bottom: rem(125);

    
    br{
      display: none;
    }
  }

  .content_box {
    border: rem(1) solid #C4C4C4;
    // 색깔 체크
    box-sizing: border-box;
    position: relative;
    width: 100%;
    margin-bottom: rem(108);
    &:last-child{
      margin-bottom: 0;
    }
    
    .box_title {
      width: rem(410);//퍼센트로 하니 같이 일그러짐 아래침범
      left: 50%;
      transform: translateX(-50%);
      top:rem(-15);

      position: absolute;
      @include char(t24);
      background-color: #fff;
    }

    .image_box {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: rem(40);
      gap: rem(40);
      .image {  
        width: 100%;
        aspect-ratio: 1.49/1;
      }
    }
    .image2_box {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      padding: rem(80) rem(70);
      gap : rem(46);
      
      .image {
        width: 100%;
        aspect-ratio: 0.75/1;
      }
    }
  }
}


// ************* 바프 가이드 ***************
.barf_guide {
  text-align: center;

  .title {
    font-family: 'GmarketSansBold';
    font-weight: 700;
    font-size: rem(32);
    line-height: rem(32);
    padding-bottom: rem(56);
    letter-spacing: rem(1);
  }

  br {
    display: block;
  }

  .p_br {
    display: none;
  }

  >p {
    color: #717171;
    @include char(l18);
    line-height: 160%;

  }
  .red_word {
    font-weight: 700;
    @include char(l20);
    color: var(--color-main);
    padding: rem(80) 0 rem(45);
  }
  
  .mid_box{
    display: flex;
    justify-content: center;
    width: 100%;
    .guide_box{
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: rem(560);
      border-top: rem(1) solid var(--color-line-02);
      .image_slide {
        width: 100%;
        aspect-ratio: 0.36/1;
      }
      .image_slide2 {
        width: 100%;
        aspect-ratio: 0.31/1;
      }
      .box_wrap{
        border-bottom: rem(1) solid var(--color-line-02);
        .guide{
          cursor:pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          height: rem(76);
          padding: rem(20) 0;
          box-sizing: border-box;
          .box_text {
            width: 85%;
            text-align: start;
            font-weight: 700;
            @include char(l20);
          }
          .image {
            width: rem(38);
            aspect-ratio: 1/1;
          }
        }
        &.active .image{
          transform:rotate(90deg);
        }
        .box_cont{padding: rem(20) 0;}
      }
      
    }
  }
}


.barf_tip {
  text-align: center;
  margin:0 rem(200) 0;
  .title{
    font-family: 'GmarketSansBold';
    font-weight: 500;
    font-size: rem(32);
    line-height: rem(32);
  }
  .content_box {
    display: flex;
    justify-content: center;
    padding-top: rem(77);
    gap: rem(40);
    .left_box {
      width: 100%;
      .text_box{
        @include char(t20);
        font-weight: 700;
        letter-spacing: -0.06em;
        padding-bottom: rem(34);
        >span {
          color: var(--color-main);
        }
      }
      .image {
        width: 100%;
        aspect-ratio: 4.5/1;
      }
      .last_contain{
        padding-top: rem(40);
        color: var(--color-font-sub);
        @include char(b16);
        text-align: start;
      }
    }
    .right_box{
      width: 100%;
      .image {
        width: 100%;
        aspect-ratio: 0.71/1 ;
      }
    }
  }
}

.mid_box {
  display: flex;
  justify-content: center;
  .line {
    width: 82%;
    color: var(--color-line-02);
  }
}



.barf_subscription {
  text-align: center;
  .title {
    @include char(t24);
    color: var(--color-font-sub);
  }
  .title2 {
    padding: rem(25) 0 rem(140);
    font-family: 'GmarketSansBold';
    font-size: rem(50);
    line-height: rem(50);
  }
  .image {
    width: rem(320);
    aspect-ratio: 5.3/1;
    cursor: pointer;
  }
}


$animationDuration : 0.2s;
// 급여가이드 추가내용 섹션
.bot {
  display:none;
  animation: show $animationDuration ease-out forwards;
  text-align: center;
  &.active{
    display:block;
  }
  .title_box{
    width: 80%;
    display: flex;
    justify-content: center;
    
    padding-bottom: rem(60);
    .title {
      font-family: 'Noto Sans';
      font-weight: 500;
      font-size: rem(30);
      // line-height: rem(41);
      text-align: center;
      width: 80%;//임의로 지정함
      border-top: rem(1) solid var(--color-main);
      border-bottom: rem(1) solid var(--color-main);
      padding: rem(10) 0 rem(10);
    }
  }
  
  .content_title_box{
    display: flex;
    justify-content: flex-start;
    .title {
      background-color: var(--color-main);
      font-family: 'Noto Sans';
      font-style: normal;
      font-weight: 500;
      font-size: rem(19);
      line-height: rem(27);
      color: #FFFFFF;   
    }
  }

  .content {
    .grid{
      display: grid;
      grid-template-columns: 20% 80%;
      grid-template-rows: repeat(3,1fr) ;
      border-top: rem(1) solid var(--color-main);
      border-bottom: rem(1) solid var(--color-main);
    }
   padding-bottom: rem(60); 
  }
  
  .content2 {
    padding-bottom: rem(60);
    .image_box {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #edecec ;
      align-items: center;
      gap: rem(18);
      border-top: rem(1) solid var(--color-main);
      .left_box {
        width: 30%;
        .image{
          display: flex;
          float: right;
          width: rem(75);
          aspect-ratio:1/1;   
        }
      }
      .image_text {
        text-align: start;
        width: 100%;
        color: var(--color-main);
      }
    }
    .content_text {
      text-align: center;
      border-bottom: rem(1) solid var(--color-main);
    }
  }

  .content3 {
    border-top: rem(1) solid var(--color-main);
    border-bottom: rem(1) solid var(--color-main);
    .grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(2, 1fr);
      .image {
        width: rem(107);
        aspect-ratio: 1.13/1;
      }
    }
  }
  .content4 {
    .content {
      .grid {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 1fr;

          .image {
  
            width: rem(88);
            aspect-ratio: 1/1;
          }
      }
    }
  }

  .content5 {
    display: flex;
    justify-content: center;
    align-items: center;
    .left_box {
      .image {
        width: rem(67);
        aspect-ratio: 1.11/1;
  
      }
    }
  }
}
























// // // // // // // // // // // // // // // // 
// // // // // // // // // // // // // // // // 
// // // // // // // // // // // // // // // // 
@media (max-width:rem(1200)){

  .top {
    .inner {
      .top_box {
        gap: rem(20);
      }
    }
  }

  .why_barf {
    .why_content_box{
      margin: 0;

      .left_box_content{
        padding: 0 0 rem(9);
        column-gap: rem(20);
      }
    }
  }
}




@media (max-width:rem(1000)){

  .why_barf {
    .why_content_box{
      .left, .mid, .right{
        padding: rem(17) rem(10) rem(36) rem(10);
      }
    }
  }

  .barf_tip {
    margin: 0;
  }

  
  .mid_box {
    .line {
      width: 100%;
    }
  }
}




@media (max-width:rem(900)){

  .why_barf {
    >p{
      padding-bottom: rem(40);
    }

    .why_content_box{
      display: grid;
      grid-template-columns: 1fr;
      text-align: left;
      padding: 0 rem(20);

      br {
        display: none;
      }

      .left_box_content{
        width: 100%;
      }

      .mid{
        text-align: right;
      }

      .left, .mid, .right{
        border: none;
        padding: rem(17) rem(0) rem(36) rem(0);
      }
    }
  }

}




@media (max-width:rem(800)){

  .top {
    .inner {
      .top_box {
        .right_box {
          .mid_box {
            grid-template-columns: 1fr;

            .del_br{
              display: block;
            }
            
            > div:nth-child(3), div:nth-child(5) {
              margin-bottom: rem(-20);
            }
          }
        }
      }
    }
  }

  .barf_note {
    .content_box{
      .image_box{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(100%,1fr));

        .image{
          width: 100%;
        }
      }
      .image2_box{
        display: grid;
        grid-template-columns: repeat(3,minmax(33%,1fr));
        gap:rem(20);
        padding: rem(100) rem(90);
        .image{
          width: 100%;
        }
      }
    }
  }
}




@media (max-width:rem(600)){

  .top {
    .inner {
      .top_box {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(100%,1fr));
        
        .left_box {
          width: 100%;
          
          .image {
            width: 100%;
            aspect-ratio: 1/1;
          }
        }
        .right_box{
          width: 100%;
          padding-left: rem(0);

          .content_title {
            font-size: rem(20);
          }

          .mid_box {
            grid-template-columns: rem(55) 1fr;
            column-gap: rem(20);
            
            > div:nth-child(3), div:nth-child(5) {
              margin-bottom: rem(-20);
            }
          }
        }
      }
    }
  }

  .tab_menu {
    .tab_menu_box{
      display: flex;
      justify-content: space-around;
      .left_box {
        width: 34%;
      }
      .mid_box {
        width: 34%;
      }
      .right_box {
        width: 34%;
      }
    }
  }

  .why_barf {
    .why_content_box {
      display: grid;
      grid-template-columns: repeat(auto-fill,minmax(100%,1fr));
    }
    .left, .mid {
      border-right:0 !important;       
      ////////////////// ! 원인: 선택자 우선순위에서 밀려서 안 먹혔음
    }
  }

  .barf_note {
    .content_box{
      .box_title {
        width: rem(320);
        font-size: rem(20);
      }
  
      .image_box {
        padding: rem(20);
        margin-top: rem(30)
      }

      .image2_box{
        padding: rem(40) rem(35);
      }
    }
  }



  section.body_top_content{padding: rem(50) 0 rem(25);}

  .body_top_content {
    .top_content {
      padding-bottom: rem(40);
      font-size: rem(14);
    }

    .line {
      padding-bottom: rem(40);
    }

    .red_title {
      font-size: rem(16);
    }

    .title_box {
      font-size: rem(38);
      padding-bottom: rem(40);
    }

    .title_contnet {
      font-size: rem(14);
    }
  }



  section.body_image{padding-bottom:rem(40);}

  .body_image{
    .image_box {
      p {
        padding-top: rem(60);
        padding-bottom: rem(30);      
        font-size: rem(24);
      }
    }
  }



  section.why_barf{padding-bottom: rem(80);}

  .why_barf {
    >p{
      font-size: rem(24);
      padding-bottom: rem(20);
    }

    .why_content_box{
      text-align: center;

      br {
        display: block;
      }

      .title_num{
        font-size: rem(18);
        padding-bottom: rem(10);
      }

      .title {
        font-size: rem(28);
        padding-bottom: rem(10);
      }

      .left_box_content{
        width: rem(225);
      }

      .mid{
        text-align: center;
      }
    }
  }




  section.barf_note{padding-bottom: rem(100);}

  .barf_note {
    .title {
      padding-top: 0;
      font-size: rem(24);
    }
    
    >p {
      padding-top: rem(30);
      padding-bottom: rem(50);

      br{
        display: block;
      }
    }
  }


  
  section.barf_guide{padding-bottom: rem(100);}
  
  .barf_guide {
    .title {
      font-size: rem(24);
      padding-bottom: rem(30);
    }

    .p_br {
      display: block;
    }

    >p {
      font-size: rem(16);
    }
    
    .red_word {
      padding: rem(30) 0;
    }
    
    .mid_box{
      .guide_box{
        .box_wrap{
          .guide{
            .box_text {
              font-size: rem(16);
            }

            .image {
              width: rem(28);
            }
          }

          .box_cont{padding: 0 0 rem(20);}
        }
      }
    }
  }



  section.barf_tip{padding-bottom: rem(50);}

  .barf_tip {
    .title{
      font-size: rem(24);
    }

    .content_box {
      display: grid;
      grid-template-columns: 1fr;
      padding-top: rem(30);
      gap: rem(20);

      .left_box {
        width: 100%;
        .text_box{
          font-size: rem(18);
        }
      }
    }
  }



  section.barf_subscription{padding:rem(100) 0 rem(140)}

  .barf_subscription {
    text-align: center;
    .title {
      font-size: rem(20);
    }
    .title2 {
      padding: rem(15) 0 rem(50);
      font-size: rem(40);
    }
    .image {
      width: rem(320);
      aspect-ratio: 5.3/1;
    }
  }


  
  section.tab_slide_box{padding: rem(20) 0 rem(130)}

  .tab_slide_box {
    .flex_box {
      margin-bottom: rem(30);
    }
    .flex_box2 {
      grid-template-columns: 1fr;
      border: none;
      grid-gap: rem(5);
      padding : rem(30) 0 0 0;

      &:nth-child(2) {
        padding: 0;
      }

      
      &:nth-child(6){
        border: none;
      }
    }
  }



  .tab_slide_box2 {
    .button_box{
      width: 100%;
      text-align: right;
      padding-bottom: rem(10);
  
      .write_button{
        width: 100%;
        height: rem(44);
        background-color: var(--color-main);
        border-radius: rem(4);
        color: #fff;
      }
    }

    .notice_board {
      .flex_title {
        display: none;
      }

      .grid_box {
        grid-template-columns : 2fr 1fr;
        border-bottom: rem(1) solid var(--color-line-04);

        > * {
          border: none;
          min-height: rem(20);
        }

        .number{
          display: none;
        }

        .star_box{
          padding-top: rem(20);
          order: 1;
          justify-content: flex-start;
        }

        .content {
          min-height: rem(20);
          padding-left: 0;
          padding-bottom: rem(20);
          order: 3;
        }

        span {
          text-align: right;
          color: var(--color-font-sub2);
          font-size: rem(14);
        }

        .name {
          order: 2;
          padding-top: rem(20);
        }

        .date {
          order: 4;
          padding-bottom: rem(20);
        }


      }
    }
  }

  .review_tbody{
    padding: rem(10) rem(20);
    height: auto;
  }

  
}


@media (max-width:rem(400)){
  .barf_note {
    .content_box{
      .box_title {
        width: rem(280);
        font-size: rem(18);
      }

      
      .image_box {
        padding: rem(10);
        margin-top: rem(20)
      }
      
    }
  }
}