@import '/styles/global/rem';
@import '/styles/global/guide';
@import '/styles/legacy/create.module';




/* ------- ADMIN 전용 Inputs ------- */

.form {
  .formGuide {
    max-width: rem(920);
    display: grid;
    gap: rem(15);
    label {
      font-size: rem(18) !important;
    }
  }
  .addedCategory {
    position: relative;
    margin-left: rem(10);
    i {
      position: absolute;
      right: rem(10);
      top: 50%;
      transform: translateY(-50%);
      font-size: rem(14);
      color: var(--color-font-sub);
      pointer-events: none;
    }
  }
}

.inp_box {
  &:not(:last-child) {
    margin-right: rem(10);
  }
  position: relative;
  display: inline-block;
  input {
    border-radius: 0;
  }
  .inp_unit {
    position: absolute;
    right: rem(10);
    top: 50%;
    transform: translateY(-50%);
  }
}

.inp_box.date {
  input {
    width: rem(200);
    margin-right: rem(10);
    font-size: rem(14);
  }
}



