$browser-context:16;
// convert px to rem
@function rem($px, $context: $browser-context){
  @return #{$px / $context}rem;
}


$animationDuration : 0.2s;


.cont{
  padding: rem(60) 0 rem(47);
  .top{margin-bottom:rem(60)}
  // .top{padding:rem(60) 0 rem(60)}
  .mid{padding: 0 0 rem(30)}
  // .bot{padding: 0 0 rem(47)}
}


.top {
  .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    .title {
      font-family: 'Pretendard Variable';
      font-style: normal;
      font-weight: 700;
      font-size: rem(24);
      line-height: 120%;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

.menu {
  .inner {
    .boxes {
      display: flex;
      justify-content: center;
      align-items: center;
      .box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(180);
        height: rem(60);
        background-color :#fff;
        border: rem(1) solid #EFEFEF;
        box-sizing: border-box;
        margin-left: rem(-1);
        transition-property: background-color, color;
        transition-timing-function: ease;
        transition-duration: $animationDuration;
        cursor: pointer;

        &:last-child {
          display: none;
        }

        &.active{
          background-color: var(--color-main) !important;
          color: #fff;
          &:hover{
            background-color: inherit;
          }
        }
        &:hover {
          width: rem(180);
          height: rem(60);
          background-color: #f4f5f6;
        }
      }  
    }
  }
}


.bot {
  display:none;
  animation: show $animationDuration ease-out forwards;
  &.active{
    display:block;

  }
  
  // .whatsraw {
  //   .bot_boxes {
  //     margin: 0 rem(20) 0;
  //     .title_box {
  //       padding: rem(29) rem(10) rem(29);

  //       font-family: 'Pretendard Variable';
  //       font-style: normal;
  //       font-weight: 700;
  //       font-size: rem(16);
  //       line-height: 140%;
  //       letter-spacing: -0.02em;
  //       color: #202020;
  //       &:hover {
  //         cursor: pointer;
  //         font-family: 'Pretendard Variable';
  //         font-style: normal;
  //         font-weight: 700;
  //         font-size: rem(16);
  //         line-height: 140%;
  //         letter-spacing: -0.02em;
  //         color: #CA1010;
  //       }
  //     }
  //     .text_box {
  //       padding: rem(15) rem(20) rem(15);
  //       // box-sizing: border-box;
  //       background-color:#F5F5F5 ;
  //       .text{
  //         font-family: 'Noto Sans';
  //         font-style: normal;
  //         font-weight: 400;
  //         font-size: rem(15);
  //         line-height: 190%;
  //         letter-spacing: -0.02em;
  //         color: #202020;
  //       }
  //     }
  //   }
  // }
}



.bot_box { 

  &.on{
    .title_box{
      color: var(--color-main);
    }
    .arrow{
      svg {
        transform: rotate(270deg);
      }
    }
  }

  .inner_box{
    margin: 0 rem(20) 0;
    border-bottom : rem(1) solid var(--color-line-03); 
    cursor:pointer;
    transition: color, transform var(--ani-default);
    &:hover {
      cursor: pointer;
      font-weight: 700;
      font-size: rem(16);
    }
  }

  .title_box {
    float :left;
    padding:rem(29) rem(20) rem(25) rem(9);
    font-family: 'Pretendard Variable';
    font-style: normal;
    font-weight: 700;
    font-size: rem(16);
  }

  .arrow {
      float:right;
      margin-right: rem(11);
      padding-top: rem(28);
      
      svg {
        transition: transform var(--ani-default);
        transform: rotate(90deg);
      }
    }
  // .line{
  //   margin: 0 rem(20) 0;
  //   border: rem(1) solid #DDDDDD;
  //   }
  .text_box {
    display:none;
    margin: 0 rem(20) 0;
    border-bottom : rem(1) solid var(--color-line-03); 
    // clear:both;
    padding: rem(15) rem(20) rem(15);
    // box-sizing: border-box;
    background-color:#F5F5F5 ;
    
    .text{
      font-size: rem(15);
      line-height: 190%;
      letter-spacing: -0.02em;
    }
  }
}


@keyframes show {
  from{opacity:0; pointer-events: none;}
  to{opacity:1; pointer-events: all;}
}



@media (max-width: rem(600)) {
  .menu {
    .inner {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 33.4%;
        height: 50%;
      }

      .boxes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0;
        .box {
          width: 100%;
          border-top: 0;
          border-right: 0;
          &:first-child, &:nth-child(2) {
            border-top: rem(1) solid #EFEFEF;
          }
          &:nth-child(3) {
            border-top: rem(1) solid #EFEFEF;
            border-right: rem(1) solid #EFEFEF;
          }
          &:last-child {
            display: block;
            border-bottom: 0;
          }

          &.active{
            width: 100%;
          }
          &:hover {
            width: 100%;
          }
        }
      }
    }
  }

  .bot {
    margin-top: rem(20);
      
    .bot_box { 
      .title_box {
        padding:rem(20) 0 rem(20);
        font-size: rem(16);
      }
    }
    
  }

}